[2019-06-12 19:50] kgriffs commented on #1358
Hi, for those interested, here is a gist demonstrated the proposed interface. Feedback is welcome. In the meantime, I'm prototyping the implementation and should have some code to share soon.

https://gist.github.com/kgriffs/4f99da6dde2266201ddddc42784e5aee

[2019-06-12 21:14] jmvrbanac commented on #1555
Thanks for reporting this! This issue is currently due to the fact that we're currently surfacing uncaught errors to the WSGI server and a number of WSGI servers (such as Gunicorn) return an html error by default. We're currently investigating a way to deal with this as a part of PR #1527 . If you need an immediate workaround, you can add a custom error handler to your falcon app to handle generic

[2019-06-13 02:47] pushshift opened #1556 "Include "SameSite" keyword parameter option for the set_cookie() method"
There is a somewhat new option for cookies to have the SameSite parameter set which helps protect against CSRF attacks (More information here: https://www.netsparker.com/blog/web-security/same-site-cookie-attribute-prevent-cross-site-request-forgery/)

Adding this keyword option for the set_cookie method would be a great addition.

[2019-06-13 02:55] pushshift commented on #1556
Thanks @kgriffs for the fast action on this! Much appreciated.

[2019-06-13 05:39] jceresini commented on #1555
Thanks, I'll keep an eye on that PR. For now we are using the suggestion we found here, which works really well: https://github.com/falconry/falcon/issues/948#issuecomment-379366891

[2019-06-17 05:43] faustind commented on #1554
HI @monsieurTut, I am having the same problem.
Could you figure out a solution?

[2019-06-18 16:40] monsieurTut commented on #1554
Hi @faustind, no I just skipped this test :-/

[2019-06-18 17:45] vytas7 commented on #1554
Hi @faustind and @monsieurTut !
I agree this is indeed embarrassing, very obviously we have to automate testing of these documentation examples and tutorial steps.

Some work has already been done by our fantastic contributors at PyCon US 2019 sprints, see, for instance:
* https://github.com/falconry/falcon/pull/1526
* https://github.com/falconry/falcon/pull/1536

I have created a broader umbrella

[2019-06-19 06:06] KalidindiMounika commented on #1551
I have use waitress on top of Falcon for enabling multiple session simultaneously. It's working fine

[2019-06-19 06:06] #1551 closed

[2019-06-20 13:44] 5onic commented on #1556
@kgriffs @vytas7 Is someone working on it? otherwise I can pick up this issue.

[2019-06-21 09:18] sandys commented on #1407
hi guys,
just my $0.02 .

I come from a standpoint of considerable pain around configuring sqlalchemy within flask. Here's my opinion on the perfect recipe you can build.

how does one configure  sqlalchemy  in falcon so that:

1. each endpoint does not have to open session, scope session, etc. This is a people+team issue - i want to reduce possibility of errors made by multiple engineers working

[2019-06-21 17:05] vytas7 commented on #1556
@5onic I don't think anyone is working on this. You're welcome to grab it :+1:

[2019-06-21 17:31] kgriffs commented on #321
Just a quick update on this, we are hoping to get it into 3.0 if we have time, but if not it will be a fast-follow feature in 3.1. Regardless, 3.0 will support server-sent events (SSE) when using the new ASGI interface, as an alternative to sending events via WebSocket (which does not work for HTTP/2).

The plan is to add support via ASGI for sure, and possibly also via uWSGI's native WebSocket su

[2019-06-24 20:04] jimbobhickville commented on #1547
I'm hitting this as well. The biggest pain point for me is that the testing client serializes GET params as CSV when you pass in a list, so this change breaks basic behavior in our unit tests. IMO, if you're explicitly requesting a list, and the method says it parses CSV values into a list, then it should do that, regardless of some unrelated setting elsewhere in the code.

[2019-06-27 08:00] JerryKwan commented on #1484
@vytas7,
I encountered the same issue on CentOS 7 + Python3.7 + Cython 0.29.7 + gunicorn 19.9.0 + Falcon 2.0.0
The post data size if almost 1.8M, but the delay between gunicorn and Falcon is almost 45 seconds. Any suggestions about what caused this? thank you

[2019-06-27 08:07] vytas7 commented on #1484
Hi @JerryKwan !
And no, I have no clue what is causing this. I have never been able to reproduce the issue myself. As said above, I would risk a guess it is **not** a Falcon issue _per se_ but rather an issue with the WSGI mechanics such as the WSGI server, front-end proxy server/load balancer (if any) etc.

@JerryKwan Could you try running my example from this comment: https://github.com/falconry

[2019-06-27 09:19] JerryKwan commented on #1484
Hi @vytas7 , thank you for looking into this.
This is how to reproduce this problem.
1, I use the following application,let's call it test_delay.py
[code]
2, run gunicorn
[code]
3, use curl to post data
[data.txt](https://github.com/falconry/falcon/files/3333862/data.txt)

[code]
And you will see something like this
[code]

[2019-06-27 14:15] metazool commented on #1554
I've just come across this exact same issue in a set of falcon tests which hadn't been run for quite a few months, where any reference to `stream `or `stream.read()` in the application was raising the AssertionError.

I can confirm that changing all references to `stream` to `bounded_stream` passed the wsgiref validation.
I wish i'd found this issue before the headscratching trial and error rather

[2019-06-27 14:31] JerryKwan commented on #1484
Hi @vytas7,
I think I have found the root cause of the poor performance, It was caused by the function named decode(encoded_uri, unquote_plus=True) which locates in /falcon/util/uri.py. I will fix it and send you to review

[2019-06-28 01:12] JerryKwan commented on #1484
Hi @vytas7,
the decode() function should be like the following
[code]
As you can see, the main difference is we use BytesIO other than byte concatenation

[2019-06-29 19:50] cravindra commented on #1554
Hello!

I have raised a [PR](https://github.com/falconry/falcon/pull/1558) which updates the test to check for the stream to be an instance of `wsgiref.validate.InputWrapper`

If anyone else has this problem before (and if) it's merged, here are the changes:
https://github.com/falconry/falcon/pull/1558/files

[2019-07-06 09:22] goodmami commented on #690
Sorry to revive an old issue, but I didn't want to create a duplicate. Can this issue be repurposed as a feature request to add support for RPC architectures (in general, not necessarily XML-RPC or JSON-RPC)? I understand the benefits of RESTful APIs well enough but sometimes it doesn't fit. To simplify things, consider an API for a calculator: `/add?x=5&y=8` seems a better fit than something like

[2019-07-12 05:20] goodmami commented on #1264
I agree. Perhaps this issue could be renamed if it is about generating the URLs for resources?

Given how much weight [Roy Fielding puts on link-driven APIs](https://roy.gbiv.com/untangled/2008/rest-apis-must-be-hypertext-driven) I'm surprised that a REST-focused framework like Falcon does not have a way to create a URL for a resource.

E.g, for some hypothetical API, if I query `/products` I woul

[2019-07-17 18:48] dstromberg opened #1559 "Is there a way of adding a REST API call that causes falcon to cleanly shut down?"
Hi.

I'm working on getting coverage information out of a REST API written using Python+Falcon.

To do this, I'm using coverage.py.  It appears that coverage.py doesn't like to do its analysis on processes that never terminate; I think it wants to write the .coverage file on process exit.

Also, it seems like falcon doesn't want to shut down.  To deal with that, I'd like to add an API call that cl

[2019-07-17 19:15] dstromberg commented on #1559
We're starting the API with:
[code]

[2019-07-17 19:55] dstromberg commented on #1559
It looks kinda like serve_forever() is coming from /usr/lib/python2.7/SocketServer.py (on CPython 2.7, on a Linux Mint 19.1 system), which has a __shutdown_request boolean that is set True by a shutdown() method.  I may experiment with that.

[2019-07-17 20:10] kgriffs commented on #1559
Hi @dstromberg, since Falcon simply exposes a WSGI callable that the server calls for each request, lifecycle management of the server process is something the framework can not influence. In the case of wsgiref, you can see how we do that for one of Falcon's own tests here:

https://github.com/falconry/falcon/blob/master/tests/test_wsgi.py

Alternatively, you can use Falcon's testing framework to

[2019-07-21 07:46] HannaJohn commented on #584
@mumrau thanks for the explanation  I am still trying to understand, how would you send the suffix in the curl for example

[2019-07-22 08:32] mumrau commented on #584
@HannaJohn The suffix doesn't have anything to do with the way you query it but with the way you bind it to your code, it links the appropriate responder.
If you re-use the above example:
- `api.add_route('/route/', route_resource, suffix='whatever')` which bind the `on_get_whatever` responder
- I could add `api.add_route('/route/{id}', route_resource, suffix='id_query') which would bind to `on_ge

[2019-07-22 10:05] HannaJohn commented on #584
I had two routes with two responders respectively

api.add_route('/route', route_resource)
api.add_route('/route', route_resource, suffix='whatever')

and this always led to the base responder.
I managed to use and route to two different responders after changing to

api.add_route('/route', route_resource)
api.add_route('/route/**whatever**', route_resource, suffix='whatever')

and this what was m

[2019-07-23 01:18] dstromberg commented on #1559
I managed to get a shutdown request working by duplicating a little bit of:
`/usr/lib/python2.7/SocketServer.py`'s `SockerServer.BaseServer.serve_forever` to add my own shutdown flag.

The chief disadvantage was that I needed to call `self._handle_request_noblock()`, which of course is a "hands mostly off" method.

So I'm only doing this when we want to collect test coverage data, not in productio

[2019-07-23 19:39] graemedouglas commented on #947
I too am having issues getting `set_cookies` to work.

Here is my very simple code:

[code]

It's run with gunicorn: `gunicorn --bind 0.0.0.0:8888 path.to.file:app`.

I've done a lot of experimentation with `set_cookie` parameters and binding to `localhost` etc. yet nothing has worked. Using falcon 2.0.0 and gunicorn 19.9.0

[2019-07-23 20:21] Sushi2all commented on #1358
+1. Same as @julioasotodv.

[2019-07-23 21:50] tjb-wiley opened #1561 "Falcon Test Client throws ValueError when response handler raises HTTPNotFound"
I refactored an app to raise `falcon.HTTPNotFound` exception, but now the functional tests fail with a `ValueError: need more than 1 value to unpack` error. I'm using v2.0.0.

In the code below, if I comment out the the line that `raise`'s the exception and just set `resp.media` and `resp.status` manually, the test passes.

I've tried tracking this down using pdb, and ended up digging all the way

[2019-07-23 23:39] julioasotodv commented on #1358
@kgriffs I have just looked at your gist. I really like the style: very clean and “asyncionic” (I believe that word does not exist).

With an implementation like that, I would really never look back to aiohttp 😊

[2019-07-25 16:31] omwbennett opened #1562 "request.get_param() defaults don't get stored in store"
One would expect that if we set a default value on any of request's get_param_*() methods that these would be stored if a store is also specified.
Instead you have to explicitly store the return value into your desired store.

[2019-07-25 17:36] vytas7 commented on #1562
Hi @omwbennett !
And thanks for this design proposal, I will mark it accordingly.

FWIW, the current behaviour is clearly documented to work against your expectation:

[2019-07-25 17:48] vytas7 commented on #1561
Hi @tjb-wiley , and thanks for the bug report!

Although I can indeed reproduce the issue, I would be inclined to close this as duplicate of https://github.com/falconry/falcon/issues/777 .

The problem is that currently, as opposed to the desired structure laid in https://github.com/falconry/falcon/issues/777, not all HTTP error classes accept parameters in the same fashion. Classes inheriting fro

[2019-07-25 17:53] vytas7 commented on #1561
Duplicates https://github.com/falconry/falcon/issues/777

[2019-07-25 17:53] #1561 closed

[2019-07-26 08:41] vytas7 commented on #1550
Hi @fengyong !
And thanks for the bug report.
Indeed, Falcon router is recompiling all the routes upon adding a new one, and as such it has at least **O**(n^2) complexity.

In my test, adding 400 routes takes about 4 seconds, which could probably be still acceptable for some cases? I realize that may render unit test unusable slow, as well as one would hit the limit of what is reasonable with even

[2019-07-26 16:55] graemedouglas commented on #947
Well this is very derpy/embarrassing. Last few frameworks I used didn't set `http_only` to `True` by default, and this one does. I just misread the Chrome cookie inspector the first few times before I realized my mistake. Sorry for the trouble.  🤦‍♂

[2019-07-26 21:34] tjb-wiley commented on #1561
@vytas7 thanks for pointing this out. Makes sense and the workaround is good enough for now. :-)

[2019-07-30 13:49] xorb0ss commented on #1552
You can use Zappa to package the function for you

[2019-07-31 17:24] philipaconrad commented on #1547
This bug is breaking a production system at my workplace that uses `req.get_param_as_list` on a URL that processes data for analysis.

Sanitized example shown below, with the current (inconvenient) workaround:

-----

Parameters (and the code used to parse them):

 - `calibration`:  `req.get_param("calibration")`
 - `events`: `req.get_param_as_list("events", transform=int)`

Example (failing) inpu

[2019-08-05 11:18] ashpekvs commented on #648
Voting for this feature as well

[2019-08-09 18:11] vishalrp commented on #1544
Hello, we experienced this issue as well. We were on version 1.4.1 and one of the routes was defined with a / in the end. It used to work with and without the slash when queried. However, after upgrading, querying with a / returns a 404.

[2019-08-12 11:42] Cylkal opened #1564 "Can Falcon first response to request then execute other code?"
I'm sorry that I can't find a method to response immediately and then execute other time consuming cods.

[2019-08-12 20:00] kgriffs commented on #1564
Hi @Cylkal, Falcon does not (yet) support this directly. However, you can try using Python's standard multiprocessing module to enqueue background jobs to a local worker pool. If you need to scale up from localhost processing, you might consider using a queueing service ala SQS with a set of worker boxes. The use case of processing background tasks is a very general one, and so there are many diff

[2019-08-13 01:23] Cylkal commented on #1564
@kgriffs Thanks for reply, I will try multiprocessing.

[2019-08-13 01:23] #1564 closed

[2019-08-19 09:35] b3g00d opened #1565 "request.stream.read() doesnt receive any data from simulate_post"
I have example code in a test file

[code]

and a handler for it is

[code]
And it keep producing AssertionError because of req.stream.read().
I already test with requests lib and handler working fine.
What did I do wrong in the test file?

[2019-08-27 09:41] Hanaasagi commented on #1553
Hello, I think pylint could recognize the `from falcon.status_codes import *` if we import from a Python source file instead of shared library. And I find that if we install the falcon from pypi, it will get some `.so` file which was compiled by cython.

Run following command

[code]

will get
[code]

If remove those file, pylint will not complain E1101.

The manylinux whl in pypi is already inclu

[2019-08-31 18:27] vytas7 commented on #1565
Hi @b3g00d !
I can indeed reproduce your issue.

However, [`req.stream`](https://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Request.stream) behaviour, as detailed in the docs (linked), is very dependent upon the WSGI server implementation. When emulating requests with the Falcon testing framework, the server is effectively Python standard [`wsgiref`](https://docs.python.o

[2019-09-01 20:52] vytas7 opened #1567 "Use pattern hints from converters when matching fields"
At the time of writing, the `CompiledRouter` is first matching fields, and then subsequently using converters to validate/adapt them to parameters that are sent to a responder.

However, information such as allowed characters, desired length of a field etc is completely ignored when building routing code and/or regexps. In complex URI patterns with multiple fields in a single path segment, a user

[2019-09-01 20:59] vytas7 commented on #1567
I also added the **documentation** label -- even if we don't properly fix this in the foreseeable future, documentation should clearer reflect the current limitations.

[2019-09-03 08:11] Jithinqw commented on #1548
I am not able to reproduce issue, I am able to use multiple hooks on the same route.
`@falcon.before(is_token_valid)
    @falcon.before(is_token_in_db)
    @falcon.before(is_user_active)`

[2019-09-03 08:18] Jithinqw opened #1568 "Not able to override the default falcon.HTTPInternalServerError"
I have written a falcon middleware to check for 500 status code and return a message to user. But the server still gives the generic XML format of error code, instead of the message I have given. If there is an error sometimes this middleware returns a stacktrace to the user.

Reproduce the error:
[code]

[2019-09-03 09:32] b3g00d commented on #1565
@vytas7 thanks for the help.

[2019-09-03 09:32] #1565 closed

[2019-09-05 22:49] rex-sang commented on #648
Voting for this feature as well + 1

[2019-09-06 17:22] vytas7 commented on #1568
Hi @Jithinqw ,
May I guess you have probably meant `resp.status == "500 Internal Server Error"`?

In Python, operator `is` means that two Python objects are the **same** / **identical**, i.e. under the hood their pointers point to the same memory location. If you assigned one with `falcon.HTTP_500`, that would be equal to `"500 Internal Server Error"`, but it wouldn't be the same string in the mem

[2019-09-06 17:23] #1568 closed

[2019-09-09 08:35] atMari commented on #947
I was having the same issue @graemedouglas.  Thanks for writing this, as it helped me resolve it.

[2019-09-13 01:21] anfreita opened #1569 "app hanging on request.stream.read()"
I must be doing something wrong but can't for the life of me figure out what it is. I've created this simple test program that (at least for me) shows the behavior I'm seeing:

[code]

Making GET or POST requests don't return until the client hangs up (ctrl+c on curl, X on browser). Debugging the application shows `req.stream.closed = False`, not sure if that means anything. Please let me know if

[2019-09-13 14:15] anfreita commented on #1569
Thanks @vytas7! Both for the quick reply and the solution. `bounded_stream` worked perfectly.

[2019-09-13 14:15] #1569 closed

[2019-09-18 02:51] up1and commented on #621
It's quiet simple, you can use self-signed certificates on development environment.

[code]

app is an instance of `falcon.API()`.

[2019-09-18 06:29] fengyong commented on #1550
i fixed this by add a patch, it works great, but ugly, i wish there will be a better official version
1 preseve origin falcon_compile and set_error_serializer
2 nullify the compile action.
2  wait until a proper time : after calling 'set_error_serializer' , then original falcon compile:

it only takes 2 line if directly modify falcon's source code, but it need to deliberate the side-affects.
-----

[2019-09-18 06:59] fengyong commented on #1550
4 seconds for 400 routes is acceptable in  fact.
It just weaken the reputation of python or hug or falcon.  somebody who is not familar with python/falcon will say " python/hug is so slow, we should consider migrate to other languages/framework, like golang".
this kind of misunderstanding really happened a lot.

4 seconds is acceptiable

[2019-09-26 09:33] xiaodi007 opened #1572 "missing a params in quickstart's JSONTranslator"
def process_response(self, req, resp, resource, params):
        if not hasattr(resp.context, 'result'):
            return

[2019-09-26 21:33] drunckoder commented on #1572
I think he means middleware receives an empty dict (`<class 'dict'>: {}`) as `params` argument. I got the same problem with hooks. You can use `req.params` to get what you're looking for.

[2019-09-27 01:45] xiaodi007 commented on #1572
tks, I will check out. I just thought maybe in quickstart add the params will be nice.

[2019-10-06 01:01] kgriffs commented on #1358
OK everyone, please take a look at #1573

[2019-10-06 01:12] kgriffs commented on #1358
Note that falcon.testing has been updated to handle ASGI. The event loop is handled behind the scenes to make it a lot easier for app developers to write their functional test cases.

[2019-10-07 17:27] kgriffs opened #1576 "Testing: End-to-End SSE & WebSocket"
Create an end-to-end Server-Sent Events test using the new ASGI interface. The test should involve an HTML page with an embedded script to log received events to the DOM.

[2019-10-07 17:29] kgriffs opened #1577 "Testing: self.resp_options.default_media_type"
Test that setting self.resp_options.default_media_type overrides the default media type passed into the falcon.API() and falcon.wsgi.App() initializers.

[2019-10-07 17:43] kgriffs opened #1578 "Rename resp.body to resp.text"
For both the WSGI and ASGI interfaces, rename Response.body to Response.text to provide a better contrast to Response.data. Response.body should then be made a deprecated alias.

Don't forget to also grep the docstrings and /docs for references to 'body' and update them accordingly.

NOTE: It may be best to wait to implement this issue until #1573 is merged to avoid conflicts.

[2019-10-07 17:46] kgriffs opened #1579 "Rename the API class to App"
API can be confusing in that it is unclear that the class represents a WSGI "app", not the Falcon "api". Therefore, we have decided to rename the class and module. `falcon.API` should continue to be available as a deprecated alias. The docs will need to be updated accordingly.

[2019-10-07 17:59] kgriffs opened #1580 "Revisit RequestOptions.auto_parse_form_urlencoded"
Create a media handler for `application/x-www-form-urlencoded` that can be used via `req.media`. As part of this work, deprecate the use of the `auto_parse_form_urlencoded` (which merges form params into query string params) by adding a note to the docs to that effect.

The implementation can be patterned after `Request._parse_form_urlencoded()`

[2019-10-07 18:08] kgriffs opened #1581 "Implement and additional middleware on_finalize() method"
Implement an additional `on_finalize()` middleware method for ASGI and WSGI that is called immediately before the response body is returned to the server. This can be used by apps to implement protocol extensions (e.g., server push).

[2019-10-07 18:09] kgriffs opened #1582 "In docker/*.Dockerfile remove "<2" from the django dep"
The qualifier is no longer necessary because we are only testing recent Python 3.x versions.

[2019-10-07 18:19] kgriffs opened #1583 "Move falcon.request_helpers.BoundedStream to its own module"
The ASGI version is in it's own module, so let's do the same thing on the WSGI side. It should make it a bit more on-topic to have it in a separate module, and make it easier for contributors to track it down. This will also let us "privatize" request_helpers in the future without affecting BoundedStream (which is obviously part of the public interface).

This is a breaking change, but shouldn't c

[2019-10-08 03:27] DollofCuty commented on #1582
I'd like to do this

[2019-10-09 12:36] fojetin commented on #1572
The problem has already been resolved in [lattest docs version](https://github.com/falconry/falcon/blob/master/docs/user/quickstart.rst)
But stable docs version keep linked to [old docs release](https://github.com/falconry/falcon/blob/2556abce9afd9e0ea55d6aada09c64c311ca688e/docs/user/quickstart.rst)

@kgriffs i think you can close this issue, because problem will be automatically solved with the

[2019-10-09 15:58] kgriffs commented on #1572
The names here are admittedly a bit confusing; it sounds like we may need to clarify the docs for the `params` argument passed to `process_resource()` and hooks to make it clear that they only contain values from the URI path, not the query string, and point the reader to `Request.params`.

In the future, we should probably either rename the `params` argument to make it more clear how it differs f

[2019-10-14 13:08] suola commented on #1547
In Falcon v2 the default value of [`falcon.RequestOptions.auto_parse_qs_csv`](https://falcon.readthedocs.io/en/stable/api/api.html#falcon.RequestOptions.auto_parse_qs_csv) was changed from `True` to `False`, therefore comma-separated values are no longer split unless you set the option explicitly.

[2019-10-16 03:15] KixPanganiban commented on #648
Any updates to this?

[2019-10-16 06:07] #1582 closed

[2019-10-17 11:38] #1572 closed

[2019-10-18 18:50] vytas7 opened #1587 "Official support for CPython 3.8"
CPython 3.8.0 was [released Oct 14, 2019](https://www.python.org/downloads/release/python-380/).

Make Falcon offically support CPython 3.8:
- [ ] README
- [ ] Docker images
- [ ] Docs
- [ ] Tox
- [ ] Travis
- [ ] setup.py

[2019-10-23 06:10] ckanesan commented on #1553
FYI, another workaround is to add `falcon` to the `extension-pkg-whitelist` configuration parameter to pylint. The `no-manylinux` package instructs pip to ignore any manylinux binaries and is a bit overkill in some cases.

[2019-10-23 06:26] kgriffs commented on #1426
I addressed the requested changes and merge conflicts in #1588

[2019-10-23 06:26] #1426 closed

[2019-10-25 18:01] vytas7 opened #1589 "Media handlers do not get a chance to deserialize zero-length payload"
At the time of writing, `Request.media` property implementation starts this way:
[code]

If media in question is serialized to an empty (byte)string, i.e. the request `Content-Length` is zero, the `bounded_stream` is automatically considered exhausted. Hence `Request.media` automatically reduces to `None` without even resolving media handlers for the submitted content type.

While this is the corr

[2019-10-25 18:17] #1194 closed

[2019-10-25 18:52] kgriffs commented on #1589
I agree that now would be a good time to address this long-standing issue while we can make some breaking changes for 3.0.

Based on my understanding of the discussion so far, this is what I propose in terms of requirements:

- [ ] Provide a more explicit way for the call chain and the app to distinguish between an empty body and a failure by a handler to parse the body. See also the next requirem

[2019-10-26 11:13] mikeyusko commented on #1579
@kgriffs I'll pick up that one.

[2019-10-27 00:29] sonvt8 commented on #648
I am looking for the best way to handle this case. Any updates here?

[2019-10-27 08:00] vytas7 commented on #648
Hi everyone,
as @kgriffs pointed out, Falcon now already has a few features (including the new ones in 2.0) which may or may not fit the bill in this case.
To reiterate, it would be good to understand where we stand right now, and what is not covered by Falcon 2.0 (or is covered but perceived too "ugly" / too much extra work to do).

Although probably not exactly what was requested in this issue,

[2019-10-27 09:25] vytas7 commented on #950
Hi @gregj1 !
And sorry for somewhat delayed response (only 3 years... :grimacing: )

I'm afraid not setting the `Content-Length` header (when it is known) sounds suboptimal. It is not unreasonable _per se_, but setting `Content-Length` when you know it should not put you at disadvantage.
Without knowing the details, I would first of all suspect a bug in the mentioned uWSGI plugin. It might be wort

[2019-10-27 09:25] #950 closed

[2019-10-28 03:55] JerryKwan opened #1594 "Low performance in req._parse_form_urlencoded()"
It's really slow when invoking req._parse_form_urlencoded() if the form body is huge.
And after digging deeper, I found it was caused by the function named decode(encoded_uri, unquote_plus=True) defined in falcon/util/uri.py. The root cause is the low performance of list concatenation.
A little refactor can improve performance greatly.
The code before:
[code]

The code optimized:
[code]
And the ti

[2019-10-28 04:05] JerryKwan commented on #1594
@vytas7 Do you get a chance to look at this?  thank you.
If anything I can help, feel free to leave me a message, thank you

[2019-10-28 04:15] kgriffs commented on #1594
Hi @JerryKwan, thanks for looking into this. How does this change affect small form bodies? I want to make sure that the final solution is performant for both small and large forms. Esp. since this function is also used for query strings which typically only include a few fields.

[2019-10-28 07:02] JerryKwan commented on #1594
Hi @kgriffs
Most of the time, It will have better performance compared with the old version.
You can use the following snippets to do some tests.
[code]
And this is the results from my end
python3.7 test_encode.py
test short normal values using decode_old()
0.00038655800744891167
test short normal values using decode_new()
0.00035922101233154535
test long normal values using decode_old()
0.0004725

[2019-10-28 07:38] vytas7 commented on #1594
Thanks @JerryKwan for investigation and benchmarks!
 I'll take a look at it too since I was working at modernizing form handling.

I agree our current approach is questionable since it may perform poorly under PyPy. CPython, on the other hand, is very optimized for string `+=` against a local variable, but as I understand that probably hits the wall the going above Python allocator pool sizes, or

[2019-10-28 17:46] vytas7 commented on #1532
While it is always tempting to add new cool features, it would be interesting to hear which use cases we address by implementing it (I'm not implying it is necessarily a bad idea).

Alternatively we could start off by creating a recipe (or a Falcon add-on) illustrating how one can shim `falcon.API` (under consideration to be renamed to `falcon.App`) in case this functionality is important to have.

[2019-10-28 17:53] kgriffs commented on #1532
Assigning this to 3.1 just so we don't forget to make a decision on it.

[2019-10-28 17:54] kgriffs commented on #1532
Adding to what @vytas7 said, we should also consider what patterns this will encourage/discourage and whether those are good things in the long run for the community.

[2019-10-28 18:00] kgriffs commented on #1594
If necessary, we could try to check the size of encoded_uri and switch the algorithm based on that.

For small numbers of chunks, concatenation (+=) tends to be more performant vs `b''.join()`. IIRC, this was the case even for 2.6 and 2.7, before a lot of optimization was done in the runtime around that. Regardless, it would be interesting to benchmark the `BytesIO` approach against `b''.join()`.

[2019-10-28 19:20] vytas7 commented on #1594
I was benchmarking generic bytestring concatenation along the lines:
[code]

The output
[code]

Some takes from it, based on the amount of items (short English words in this case):
* For a small amount of items (up to 60-70) `local_var += ` performs best
* For larger amount, bytestring list concatenation performs best
* For very large amount (10-100K+), `local_var +=` starts blowing up clearly wor

[2019-10-28 19:32] vytas7 commented on #1594
Here comes the same benchmark for PyPy3.6:
[code]

On PyPy, an iterator works worse, and a list pays off earlier. `local_var +=` blows even worse. What is even more interesting, `BytesIO` (as suggested by @JerryKwan ) gets pretty performant quite early on, something I was not expecting on PyPy.

[2019-10-28 20:38] vytas7 commented on #1532
Another reaction off the top of my head: when deciding on this, we might want to compare and contrast the deliverables to what already is available in the Falcon ecosystem. For instance, if the goal is to easily expose a bunch of arbitrary functions on HTTP, one can just plop Hug (https://github.com/hugapi/hug) decorators on them, and so on.

[2019-10-28 20:45] vytas7 commented on #1587
@waghanza started work on this.

[2019-10-29 05:20] kgriffs commented on #1514
Where did we end up on this issue? Is https://github.com/falconry/falcon/pull/1527 still waiting on this?

[2019-10-29 05:44] kgriffs opened #1595 "Docs should demonstrate returning early in a responder"
New Falcon users may not realize they can simply `return` anywhere in a responder. This is useful for complicated nested logic paths. We should make sure examples of this are sprinkled throughout the docs in a few places.

[2019-10-29 05:48] kgriffs opened #1596 "Improve docs re suffixed responders"
- [ ] Add an example to the `suffix` kwarg docstring for `add_route()`
- [ ] Add a section about suffixed responders to the [routing](https://falcon.readthedocs.io/en/stable/api/routing.html) page

[2019-10-29 07:44] waghanza commented on #1587
`PR` https://github.com/falconry/falcon/pull/1593

[2019-10-29 08:03] vytas7 commented on #1594
Regarding `decode` and `parse_query_string`, I'll look into reimplementing them in Cython.

Regarding concatenating bytestrings, I found an interesting note on newest 3.x CPython docs, they recommend `bytearray_var += item`, although mention `BytesIO` too as a good all-rounder. I'll check that out too.

[2019-10-29 08:05] waghanza commented on #1587
@vytas7 what do you mean by
+ `README`
   + is there any version requirements on `README` ?
+ `Docker images`
   + is the an **official** `falcon` docker image ?
+ Docs
   + ?

[2019-10-29 08:17] vytas7 commented on #1587
@waghanza I think I ripped this from @kgriffs ' checklist for 3.7 :slightly_smiling_face:

The checklist should nevertheless be relevant for 3.8 too:
* `README`, Docs -- yes, we mention which CPython / PyPy versions Falcon runs on. We need to extend those advertisements to mention CPython 3.8
* Docker images -- we have Docker images for replicating framework overhead benchmark results showcased on

[2019-10-29 08:46] vytas7 commented on #1594
FWIW, `bytearray_var +=` approach outdoes anything else on CPython 3.7 indeed (except for low count of items).
It is less clear on PyPy though. I'll post results later.

[2019-10-29 16:13] vytas7 commented on #1514
@kgriffs this is, strictly speaking, not blocking #1527 .
But it would make the implementation more straightforward and consistent, but not having to care the default bare handler is invoked last.

[2019-10-30 01:27] JerryKwan commented on #1594
@vytas7 Would you please share the test code? thank you

[2019-10-30 06:42] vytas7 commented on #1594
@JerryKwan the test is inlined in of my earlier comments. I'll update it to reflect the `bytearray` test too.

[2019-10-30 19:44] vytas7 opened #1597 "RequestOptions.auto_parse_qs_csv documentation is misleading for the True case"
[`uri.parse_query_string`](https://falcon.readthedocs.io/en/stable/api/util.html#falcon.uri.parse_query_string) supports splitting parameter values on comma, however, only the first occurrence is actually split:
[code]

This is a known and documented limitation of `uri.parse_query_string`:

However, documentation for [`RequestOptions.auto_parse_qs_csv`](https://falcon.readthedocs.io/en/stable/api/

[2019-10-31 04:49] kgriffs commented on #1594
Thanks @JerryKwan @vytas7 for digging into this!

[2019-10-31 04:58] #1587 closed

[2019-10-31 06:46] vytas7 opened #1600 "uri.parse_query_string() incorrectly parses an empty string"
cf
[code]

The good ol' _an empty string splits to a list with one empty string item_ trick is biting us here as I understand.

[2019-10-31 06:59] vytas7 commented on #1600
Note that I left a `TODO` in `falcon/media/urlencoded.py`, remove short-circuiting to `{}` when fixing this.

[2019-10-31 07:00] JerryKwan commented on #1594
@vytas7 , what I mean is the bytearray test codes. And I can change my codes to do some tests in my environment using real data.

[2019-10-31 07:02] vytas7 commented on #1594
Ah, sorry, here you are (the updated version)!
[code]

[2019-10-31 07:11] vytas7 commented on #1580
Work remaining after https://github.com/falconry/falcon/pull/1537:
* Decide whether we want to add this to default handlers (@nZac expressed support for this in another discussion IIRC, I agree)
* Deprecate `auto_parse_form_urlencoded` in the docs

[2019-10-31 07:53] JerryKwan commented on #1594
@vytas7 , thank you for providing the snipptes.
Here is my testing result
[code]
As you can see, bytesarray is the most performant way for processing huge items concatenation

[2019-10-31 08:15] vytas7 commented on #1594
@JerryKwan I have some proof of concept implementations almost working in Cython, I hope to create a PR sometime soon. If that works we can optimize the non-Cythonized version to be a good all-rounder that also performs on PyPy.

[2019-10-31 09:05] vytas7 commented on #1594
@JerryKwan looking at your GH profile, you're from China, right?
How are HTML forms and web APIs normally looking in China? Do you use English URI patterns and query params, or are they normally in Chinese too?
Regardless of details though, I feel this issue highlights that our development/ci/testing is somewhat ASCII-centric. I'll think of how we could improve this. @kgriffs thoughts?

[2019-10-31 09:13] JerryKwan commented on #1594
@vytas7 Yes, I am living in China right now.
Generally speaking, we use English URI patterns, and the query keys are in English too, but the query values maybe Chinese.
Would you please give me your email address? thank you

[2019-11-01 14:02] vytas7 commented on #1594
@JerryKwan
Could I get your form example to run some tests on?

I have rewritten the thing in Cython and it is hopefully starting to shape up, with the following caveats:
* It is not integrated into Falcon yet, so you need to monkey patch yourself, or just test the `falcon.cyutil.uri.parse_query_string` function
* It does not support the `csv` option (yet)
* The `decode()` routine is not exposed s

[2019-11-01 15:56] kgriffs commented on #1514
OK, I'd love to have this smarter ordering implemented for 3.0 if we can swing it, otherwise push to 3.1.

[2019-11-01 15:56] kgriffs commented on #1514
Any volunteers? :)

[2019-11-01 15:57] kgriffs commented on #1514
P.S. When this is implemented, don't forget to update the note under the `add_error_handler()` docstring.

[2019-11-01 16:15] vytas7 commented on #1514
I think Falcon users who (read: me :slightly_smiling_face: but I think @jmvrbanac also uses this pattern and has even advised users to do so) add a custom exception handler for `Exception` may also be re-raising `HTTPError` & `HTTPStatus` which are then caught in a special clause in `API._handle_exception`.

Not sure if we need to do much about this now though. The problematic should be gone once

[2019-11-02 15:35] csojinb commented on #1514
Hi, I put up a draft PR with an implementation for this. I was hoping to get some input on the approach before adding tests, etc.

I went with the simpler implementation because I didn't totally understand @vytas7's first suggestion for managing shared error handlers. Should I do a benchmark comparison or something for this implementation?

[2019-11-02 15:42] vytas7 commented on #1514
Scratch those suggestions. Your proposed approach is way more scalable in the general case I think :+1: (it is only adding complexity traversing the MRO, but the class lookup itself is `dict`-based (O(1)-ish)).

[2019-11-02 17:31] vytas7 commented on #501
Closing this as we have dropped Jython support in Falcon 2.0.

[2019-11-02 17:31] #501 closed

[2019-11-02 17:35] vytas7 commented on #507
Closing this as duplicate of https://github.com/falconry/falcon/issues/1450

[2019-11-02 17:35] #507 closed

[2019-11-02 17:39] vytas7 commented on #1124
See also a newer discussion on https://github.com/falconry/falcon/issues/1594

[2019-11-03 11:25] vytas7 commented on #1594
@JerryKwan could you please retest with the Cythonized version of https://github.com/vytas7/falcon/tree/cython-parse-query-string (https://github.com/falconry/falcon/pull/1604) ?

I have not fixed it for the Python version yet.

But you could force cythonization and check if this solves your performances issues:

[2019-11-03 16:48] vytas7 commented on #1484
Hi again @madewild and @JerryKwan !
And sorry I didn't understand you were trying to parse a URL-encoded form for which we indeed have an issue with very large keys/values. I was assuming an ordinary `POST` of binary data which you would read from the input stream.

Thanks @JerryKwan for providing the test cases!

We are continuing the discussion in a new issue that @JerryKwan filed: https://githu

[2019-11-03 16:57] #1124 closed

[2019-11-03 21:06] vytas7 commented on #852
Hi @pressyfdo ,
Looking at this 2 years later, I cannot really reproduce it with Gunicorn 19.9.0.

The only way I could cram something into `SCRIPT_NAME` was using the envvar `SCRIPT_NAME=/app` specifically for that purpose, but then still everything worked as expected:

[code]

Closing this, but do not hesitate to reopen if you are still seeing this with Falcon+recent Gunicorn.

Test program I us

[2019-11-03 21:06] #852 closed

[2019-11-03 21:16] vytas7 commented on #1315
Hi @timc13 ,
We are maintaining the semi-official `falcon-print-routes` which is accessible in the environment you install Falcon in.

I would need to check if that tool only uses officially documented public compiled router APIs, but looking at the source code it doesn't seem to look like too horrible sorcery either. And as said above, we are trying to maintain that tool, I think, it even has a c

[2019-11-03 21:16] #1315 closed

[2019-11-03 21:30] vytas7 commented on #1548
@alekhrycaiko @ryanisnan I'm closing this hoping you've solved the issue one or another way, but do not hesitate to reopen if this is still a problem!

If you are still experiencing that hooks are overriding each other, could you ideally post the following:
* Your Falcon version
* Your Python version
* If possible, a simple isolated source code example illustrating the issue
* If possible, `pip fr

[2019-11-03 21:30] #1548 closed

[2019-11-03 21:38] vytas7 commented on #1507
Resolved in https://github.com/falconry/falcon/pull/1527 [Merged]

[2019-11-03 21:38] #1507 closed

[2019-11-03 21:51] vytas7 commented on #1555
Hi @jceresini ,
this has hopefully been addressed in the mentioned PR

I am using the Falcon _master_ at the time of writing:
[code]

I was a testing a simple division-over-HTTP end-point, something along the lines:
[code]

And it was working great until something went wrong with this URI:
[code]

The Gunicorn stderr was:
[code]

I'm thus closing the issue, but let us know if you find this inadequ

[2019-11-03 21:51] #1555 closed

[2019-11-03 22:16] vytas7 commented on #1503
This has been implemented
* https://github.com/falconry/falcon/pull/1522
* https://github.com/falconry/falcon/pull/1540

[2019-11-03 22:16] #1503 closed

[2019-11-04 06:03] JerryKwan commented on #1594
@vytas7 This is the test result from my end, using the same data
1, using
[code]
[code]
2, using
[code]
[code]
As you can see, your new version looks really promising.

[2019-11-04 16:46] jceresini commented on #1555
Awesome, ill check it out. Thanks!

[2019-11-04 18:55] vytas7 commented on #1492
I was testing this briefly, and I cannot get any speedups from the `rstrip` / `lstrip` approach...

One thing that seems to work is to do EAFP this way:
[code]
However, as it is often the case with EAFP, the exception path becomes way more expensive.
But maybe it is a quite unusual case as normally URIs should be encoded in the first place?

Another approach is of course... Cython :slightly_smilin

[2019-11-04 19:26] vytas7 commented on #1492
FWIW, rewriting this in Cython to avoid memory allocation and EAFP doesn't seem to make any difference from the cythonized `path.encode('ascii')`.
However, it works much better compared to the exception path, so maybe worth implementing?
Thoughts @kgriffs ?

[2019-11-04 19:55] vytas7 commented on #418
Although some comments are straying into the territory of `multipart/from-data`, I am primarily reading this issue as concerning decoupling `application/x-www-form-urlencoded` from `req.params`.

As such, the issue has been addressed in https://github.com/falconry/falcon/pull/1537 by allowing to access the submitted URL-encoded form as `req.media`.

Furthermore, `auto_parse_form_urlencoded` is no

[2019-11-04 19:55] #418 closed

[2019-11-04 20:10] kgriffs commented on #1135
An alternative approach to this that I think has worked out pretty well on the ASGI side:

Use the new `falcon.util.misc.http_status_to_code()` method from #1573 to convert the value so that it can be used in the response. It uses `functools.lru_cache` to make it blazing fast.

We'll also need to update the docs to let users know that they can now set `resp.status` to anything that `http_status_to

[2019-11-04 20:58] vytas7 commented on #1135
I'm assigning myself for the time being, if anyone wants to help out, feel free to volunteer!
Otherwise I'll try to squeeze this in for the 3.0 release myself.

[2019-11-04 22:08] kgriffs commented on #1594
When Cython is not available in the environment, I like the idea of branching based on len(encoded_uri) as well as PyPy vs. CPython vs.  (since the threshold is different, and the best-performaing approach is as well).

[2019-11-06 07:47] vytas7 commented on #1135
@kgriffs have you read upon [`functools.lru_cache` thread safety issues](https://bugs.python.org/issue28969) btw?

As I understand the problem is fixed on the newest versions of CPython, and probably backported even to down to 3.5? Might it still be an issue if popular distributions still ship the unpatched variant?

[2019-11-06 16:12] mthri opened #1605 "msgpack.exceptions.ExtraData: unpack(b) received extra data."
I try to learn and deploy sampel code for falcon tutorial in readthedocs. in this [section](https://falcon.readthedocs.io/en/stable/user/tutorial.html#testing-your-application) when testing app by `pytest tests` get 1 failed with this title:

how to solve this problem?

pytest output:

[code]

[2019-11-06 17:05] vytas7 commented on #1605
Hi @mthri !
It's hard to tell without knowing more details. We had issues with these examples being out of date, but I don't think `msgpack` was one of those issues.

Could it be that you happen to have an old `msgpack` version?
Could you run `pip freeze` in your environment and report your package versions?
Also your Python version (`python -V`).

[2019-11-06 17:36] vytas7 commented on #1605
Hmm, I see our recipes and `look` example requirements are actually a bit dated...

It would be still interesting to now which versions you have issues with.

Also, could you try the following...
[code]
... and report whether it solves your issue.

I'll try to get these fixed/modernized.

[2019-11-06 17:47] vytas7 commented on #1423
We have some open PRs that would improve the situation wrt our `look` example, but we still have work to do there:
* Streamline tests, consider implementing that integration test process wrapper
* Revise `requirements` (some of them may be out of date, see https://github.com/falconry/falcon/issues/1605)
* Add tests to CI

[2019-11-07 10:14] mthri commented on #1605
Hi @vytas7
Thanks for trying to fix my problem.

More details:
python version: 3.7.5rc1
os: ubuntu 19.10
pip3 freeze:
[code]
and try to do this

but dosen't fix my problem.

[2019-11-07 13:46] vytas7 commented on #1605
Hi again,
hmm... that sounds a bit strange. I still suspect you might have `msgpack-python` hanging around somewhere... Are you using a `virtualenv`? Could it that your environment allows external site packages?

Just to check, wouldn't you mind to run these commands in your environment, and report the output?
[code]
[code]

[2019-11-07 21:06] mthri commented on #1605
yes, im using `virtualenv`.
how to know environment is configured to also include external system-wide Python site-packages?

[code]

[2019-11-08 06:12] vytas7 commented on #1605
Everything looks fine in the environment @mthri .

Could you show me how your `images.py` looks like?

[2019-11-08 12:47] mthri commented on #1605
To ensure i show you all code:

**app.py:**
[code]

**images.py:**
[code]

**test_app.py:**
[code]

[2019-11-08 13:04] vytas7 commented on #1605
Heh, I think in `images.py`, you are using `json.dumps(...)` instead of `msgpack.pack(...)`. Which then confuses Msgpack when it tries to deserialize JSON media :slightly_smiling_face:

See the updated version of `images.py` just above [_Testing your application_](https://falcon.readthedocs.io/en/stable/user/tutorial.html#testing-your-application).

Let me know if this helps!

[2019-11-08 15:17] mthri commented on #1605
Yes,that work🤦‍♂️

I replace:
[code]
to:
[code]
in images.py

thank for help @vytas7

[2019-11-08 15:17] #1605 closed

[2019-11-08 15:20] vytas7 commented on #1605
Cool that this is understood now :+1:

I also added a note to https://github.com/falconry/falcon/issues/1423 as we also realized our `requirements` in look are a bit dated and may cause issues in the future.

[2019-11-11 19:16] vytas7 opened #1607 "Errors in response serialization are not handled"
I found this when testing @kgriffs' ASGI branch, but this is an issue in all (recent) Falcon version, including the (at the time of writing) stable 2.0.

Errors in response serialization are not handled, for example:
* Missing media handler for the given [response content-type](https://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Response.content_type) results in an [HTTPUn

[2019-11-15 07:38] Jithinqw opened #1608 "Simulating POST request failing to decode json values."
I am using the falcon.testing to simulate a POST request, which is failing to decode my json values send from the tests

This is my test
[code]

I have written a middleware to decode the json values from the user

[code]

This test raises an exception of not able to decode the JSON.

[2019-11-15 08:10] xakiy commented on #1608
Hi @Jithinqw, I think you should pass JSON string in body payload or use json.dumps() to serialize dict for you.

[2019-11-15 09:11] Jithinqw commented on #1608
I tried that still getting a decode error.

[2019-11-15 13:10] xakiy commented on #1608
Maybe you could provide some codes so we can reproduce the error.

[2019-11-15 17:24] vytas7 commented on #1608
@xakiy thanks for helping out!

@Jithinqw indeed, it would be fantastic if could you craft a test case, as small as possible (ideally contained in one file or Gist), illustrating how to reproduce the issue.

As @xakiy pointed out, you should indeed use either `body=json.dumps(your_data)` or just `json=your_data` when simulating requests. If you use `json=`, you don't even need to set up any specia

[2019-11-17 00:18] darwinyip opened #1610 "How to calculate request and response size if content-length is not provided?"
Content-Length is not always provided but it is good to know for monitoring purposes. Is there a way to calculate the responses and request size?

[2019-11-17 06:38] vytas7 commented on #1610
Hi @darwinyip !
The request `Content-Length` should be IIRC always provided by the WSGI application server, i.e. the WSGI standard does not support streaming chunked requests. WSGI servers must handle any supported inbound "hop-by-hop" headers on their own, such as by decoding any inbound `Transfer-Encoding`, including chunked encoding if applicable [1](https://www.python.org/dev/peps/pep-0333/#ot

[2019-11-18 05:18] Jithinqw commented on #1608
@xakiy  The `json` or the `body` is not working.
I am including a gist of my code
https://gist.github.com/Jithinqw/434f3f97baa54841429e0b17000b0f85
Here when I am sending the request, error is raised from the middleware.
`{'title': 'Bad request', 'description': 'Invalid body. Unable to parse the given content'}`

Thank you @xakiy  and @vytas7 for helping out.

[2019-11-18 11:18] vytas7 commented on #1608
Aha, I see... Could it be the same issue as this one https://github.com/falconry/falcon/issues/1569#issuecomment-531106395 ?
See also the related issues linked that comment.

@Jithinqw could you try replacing `json.loads(req.stream.read().decode("utf-8"))` with [`json.loads(req.bounded_stream.read().decode("utf-8"))`](https://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Req

[2019-11-18 14:10] Jithinqw commented on #1608
`json.loads(req.bounded_stream.read().decode("utf-8"))` perfectly. @vytas7 thank you for resolving this issue this fast :smile:

[2019-11-18 14:10] #1608 closed

[2019-11-20 18:56] vytas7 commented on #1556
Implemented in https://github.com/falconry/falcon/pull/1557

[2019-11-20 18:56] #1556 closed

[2019-11-23 10:03] vytas7 commented on #272
@kgriffs IMHO we should close this one, thoughts?

Given the huge amount of TLDs available nowadays, we won't have the financing to buy `falconframework.<anything>`.
As pointed out above, at least falconframework.com is not owned by any real framework. And we are not really a `.com` (commercial) entity anyway :slightly_smiling_face:

[2019-11-23 10:18] vytas7 commented on #468
Hi @sebasmagri !
I'm going to unfortunately close this since the [latest Talons release](https://pypi.org/project/talons/) on PyPi is now 5 years old, and repositories on GitHub are not much ahead either.

I tried cloning them, and they seem to have fallen a fair bit behind both the latest Falcon interfaces, as well as behind the Python tooling ecosystem (`tox`, `pip` etc).

@sebasmagri @jaypipes

[2019-11-23 10:18] #468 closed

[2019-11-23 10:41] vytas7 commented on #469
Hi all involved in the discussion!
I'm going to close this now since the work is primarily tracked as https://github.com/falconry/falcon/issues/953 (within the [Falcon 3.0 milestone](https://github.com/falconry/falcon/milestone/33)).

[2019-11-23 10:41] #469 closed

[2019-11-23 10:46] vytas7 commented on #294
I'm going to close this now since the work is primarily tracked as https://github.com/falconry/falcon/issues/953 (within the [Falcon 3.0 milestone](https://github.com/falconry/falcon/milestone/33)).

[2019-11-23 10:46] #294 closed

[2019-11-23 11:08] vytas7 commented on #1169
FWIW, I have proposed decoding optimizations Cython in https://github.com/falconry/falcon/pull/1604
(The above does not address the encoding part, yet).

[2019-11-23 11:11] vytas7 commented on #997
Hi @arindamchoudhury !
I'm going to close this in the absence of further information, but do not hesitate to retest your example with Falcon 2.0, and reopen if needed!

[2019-11-23 11:11] #997 closed

[2019-11-23 11:36] vytas7 commented on #962
Hi @jdno and @bootrino !
Depending on the middleware order, things can indeed get complicated when different layers morph [`req.body`](https://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Response.body) along the way.
As @jmvrbanac mentioned, that was actually one of the major reasons behind unifying [media handling](https://falcon.readthedocs.io/en/stable/api/media.html).

[2019-11-23 11:36] #962 closed

[2019-11-23 12:32] vytas7 commented on #1554
Hi again @monsieurTut @faustind @cravindra and @metazool !
I'm going to close this issue since it has been resolved as part of https://github.com/falconry/falcon/pull/1558 by @cravindra at least for our master branch. You can find the latest bleeding-edge docs here: https://falcon.readthedocs.io/en/latest/user/tutorial.html#refactoring-for-testability

Furthermore, I added this to Travis so we mak

[2019-11-23 12:32] #1554 closed

[2019-11-23 12:57] vytas7 opened #1617 "Consider supporting req.stream in the testing client"
As of Falcon 2.0, the request stream can be accessed in two ways:
* [`req.stream`](https://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Request.stream) is the input stream provided by the WSGI server
* [`req.bounded_stream`](https://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Request.bounded_stream) is a wrapper around the above, normalizing differe

[2019-11-23 13:14] vytas7 commented on #872
The change has already been made for Falcon 2.0 by https://github.com/falconry/falcon/pull/1318.

[2019-11-23 13:14] #872 closed

[2019-11-23 13:20] vytas7 commented on #1010
This is an interesting proposal.
I'll drop a link to my in-progress issue so I don't forget to revise it later: https://github.com/falconry/falcon/issues/953

[2019-11-23 16:38] vytas7 commented on #1396
This has been resolved in https://github.com/falconry/falcon/pull/1403

[2019-11-23 16:38] #1396 closed

[2019-11-25 16:09] swistakm commented on #468
I don't plan any talons development

[2019-11-25 17:30] kgriffs commented on #272
Yeah, when I originally contacted the domain owner he was hinting at an unreasonable price. I don't want to pay through the nose for something like this on principle, and I really haven't heard anyone even mention this as a problem for a very long time in any case. Plus, now that falconframework.com just goes to a "for sale" page people will quickly realize they got the wrong TLD. I suppose we cou

[2019-11-25 18:05] #1410 closed

[2019-11-25 18:14] jaypipes commented on #468
Yeah, sorry @vytas7 there has not been any development on Talons for many years.

[2019-11-25 18:23] vytas7 commented on #468
Thanks for chiming in guys, I'll leave this closed for the time being then.
It seems Talons was a cool project back in the day :wink:

[2019-11-25 18:37] kgriffs commented on #1607
It does seem like `HTTPUnsupportedMediaType` should be converted to an appropriate 415 response, and in the general case should be caught by the generic handler. I think we ought to fix this for 3.0 or 3.1.

[2019-11-25 22:13] vytas7 commented on #1607
Scheduling this tentatively for 3.0 then, although we may need to push it to 3.1 or 4.0.

[2019-11-27 05:41] mrpycharm commented on #1578
@kgriffs i'll try to do it.

[2019-11-27 08:38] vytas7 commented on #1578
@mrpycharm great :+1:

I added `blocked-by-release` just to reflect upon the relation to merging ASGI branch/the first async alpha release, but you can start working on it in the meanwhile. Just that we'll probably want to merge the mentioned large PR first, and you may have to do a second round of changes if that's OK @mrpycharm .

[2019-11-27 10:47] mrpycharm commented on #1578
@vytas7 sure.

[2019-11-27 18:46] vytas7 commented on #1328
Hi again @iron2414 !
I'm going to close this now hoping you've found the culprit(s).

But do not hesitate to reopen or post a new question if you believe it was Falcon packaging issue! As said in my previous post, things like `pip freeze` and `pip -V` would be really helpful in trying to diagnose this.

[2019-11-27 18:46] #1328 closed

[2019-11-27 18:56] vytas7 commented on #969
I'm going to close this in favour of https://github.com/falconry/falcon/issues/1054 since both issues seem to track the same thing.

@ZelphirKaltstahl thanks for pointing out the said project, I'll add your comment to https://github.com/falconry/falcon/issues/1054

[2019-11-27 18:56] #969 closed

[2019-11-27 18:58] vytas7 commented on #1054
Last comment by @ZelphirKaltstahl from the recently closed duplicate issue https://github.com/falconry/falcon/issues/969#issuecomment-379711610 :

[2019-11-27 20:50] vytas7 commented on #1308
@xgfone you are right in saying that error handlers could be more user-friendly.

The way I (and I think @jmvrbanac was recommending this way too) normally go with the current version of Falcon (2.0) is along the lines:
[code]
There is a special clause catching errors raised by errors handlers, and `HTTPErrors` are understood there.

We have been discussing these error handling issues in general d

[2019-11-27 20:50] #1308 closed

[2019-11-27 21:01] vytas7 commented on #948
We hope to get https://github.com/falconry/falcon/issues/1514 done within the 3.0 release timeframe. There is even an open PR (https://github.com/falconry/falcon/pull/1603) out there implementing the feature.

I'm thus going to close this issue in favour of https://github.com/falconry/falcon/issues/1514 hoping it would offer a reasonably robust solution for the case discussed here too, but do not

[2019-11-27 21:01] #948 closed

[2019-11-29 06:37] vytas7 commented on #1250
Hi @xgfone ,
Does the PR https://github.com/falconry/falcon/pull/1329 address your concerns, or is there still work left according to your proposal?

Thinking if we could close this issue now that https://github.com/falconry/falcon/pull/1329 is merged.

[2019-11-29 06:43] vytas7 commented on #582
@kgriffs given the recent work on ASGI, and the rise of standard `async`, I'm inclined to close this.
But let me know if you object :slightly_smiling_face:

[2019-11-29 06:47] vytas7 commented on #773
Closing this.
We already have issues tracking the ASGI progress as part of the 3.0 release cycle:
* https://github.com/falconry/falcon/issues/1358 (HTTP)
* https://github.com/falconry/falcon/issues/321 (WebSocket)

[2019-11-29 06:47] #773 closed

[2019-11-29 16:14] vytas7 commented on #561
At least all the status codes discussed in this thread seem to have been addressed in https://github.com/falconry/falcon/pull/973.

Closing this, let's create a new issue if needed (if any status exception classes are sill missing).

[2019-11-29 16:14] #561 closed

[2019-11-29 16:23] vytas7 commented on #471
Closing this issue as
* As of recent Falcon 2.0+, I don't think we are reading anything behind user's back by default
* The documentation issue still remains to better clarify how Falcon is dealing with input streams, but let's handle that as part of https://github.com/falconry/falcon/issues/417

[2019-11-29 16:23] #471 closed

[2019-11-29 18:22] csojinb commented on #1308
I can try to get this PR cleaned up this weekend

On Wed, Nov 27, 2019 at 15:50 Vytautas Liuolia <notifications@github.com>
wrote:

[2019-11-30 11:29] vytas7 commented on #668
Hi @yohanboniface ,
I believe this issue got a one more path of solution in Falcon 2.0. If you are mostly after customizing the representation, you can [customize the default error serializer](https://falcon.readthedocs.io/en/stable/api/api.html#falcon.API.set_error_serializer), where you can act accordingly if the `exception` is of type [HTTPNotFound](https://falcon.readthedocs.io/en/stable/api/e

[2019-11-30 11:32] vytas7 commented on #668
Ah, a correction, I happened to miss the documentation aspect of this issue.
Yes, we should improve the docs adding recipes covering the suggestions above.

[2019-12-05 23:12] #582 closed

[2019-12-06 18:57] vytas7 commented on #272
Closing this for now. We could reopen/reconsider/take action in the future in case anyone buys falconframework.com and hosts anything that conflicts with our values and/or impersonates us.

[2019-12-06 18:57] #272 closed

[2019-12-06 19:49] vytas7 commented on #1338
Thanks for this proposal @jgirardet !
First of all, I would like to point out that `params` in the hook are already meant do almost the same what you are trying to achieve. For instance:
[code]

However, it seems that the `params` hook parameter is unfortunately often misunderstood and/or even confused with [`req.params`](https://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon

[2019-12-06 19:52] #1338 closed

[2019-12-06 20:00] vytas7 commented on #1061
Now that as of Falcon 2.0 we have vendored the last remaining dependency, building packages should be easier than ever. Even though the majority of users seem to install packages from PyPi, Anaconda etc, having a PPA could obviously be useful for some cases, it is just a question of focus and available bandwidth.

@jmvrbanac Would you be able to spare some time for working on this yourself?

[2019-12-06 21:11] vytas7 commented on #768
This was addressed in https://github.com/falconry/falcon/pull/1516

[2019-12-06 21:11] #768 closed

[2019-12-06 21:17] vytas7 commented on #772
We'll probably want to close this as Won't Fix in order to focus resources on ASGI.
But maybe we could wait a bit with closing until our ASGI support matures a bit more so we would get a better feeling what advantages/disadvantages `aiohttp` provides vs ASGI.

[2019-12-07 05:35] raisoon opened #1619 "Cannot get the posted parameters from a application/json request."
Hey guys,
    I have set app.req_options.auto_parse_form_urlencoded to True,but when i run a http-post requests, i can only get a empty string with req.params.
   How could i resolve this problem？

（1）requests code:
import requests
headers = {'CONTENT-TYPE': 'application/json'}
r = requests.post('http://127.0.0.1:6280/uback', json={'k1':'v1'}, headers=headers)

（2）falcon code:
    app = falcon.API

[2019-12-07 08:30] vytas7 commented on #1619
Hi @raisoon !
Given the provided snippets, I could guess that the issue lies in you actually sending JSON (`application/json`) request media to your application, not URL-encoded (`application/x-www-form-urlencoded`) request payload.

Using an application similar to your snippets:
[code]
...I can now test both JSON, and URL-encoded requests, respectively:
[code]

I am thus closing this issue hoping

[2019-12-07 11:21] raisoon commented on #1619
Sorry, i mean that i use req.params to get parameters from request, but i can only get a empty string.

[2019-12-07 11:22] raisoon commented on #1619
import falcon

class UCall:
    def on_post(self, req, resp):
        print('params:' + str(req.params))

--------------------------------
the print result is : params:{}

[2019-12-07 11:33] vytas7 commented on #1619
Hi again @raisoon ,
have you had a chance to review my explanation in the comment above?

Enabling [`RequestOptions.auto_parse_form_urlencoded`](https://falcon.readthedocs.io/en/stable/api/api.html#falcon.RequestOptions.auto_parse_form_urlencoded) only parses, as the name suggests, URL-encoded media of type `application/x-www-form-urlencoded `, not JSON:

In order to parse JSON payload, the easies

[2019-12-08 05:36] raisoon commented on #1619
Hi @vytas7 ,
Thanks for your explanation! I have tested it successfully on my machine. But i meet another problem now:
When i use req.media to get the posted parameters that come from someone else's http request, an exception happens:  "Invalid JSON,Could not parse JSON body - Expecting property name enclosed in double quotes: line 1 column 2 (char 1)" .Because i am able to reach them, what can i

[2019-12-08 17:43] vytas7 commented on #1579
This has been addressed in https://github.com/falconry/falcon/pull/1592

[2019-12-08 17:43] #1579 closed

[2019-12-08 18:28] mikeyusko commented on #1546
@tribals @kgriffs

Hm, that's a common use case? in order to satisfy `abc.Mapping` interface, a user should to do something like that:
[code]
If that makes sense, I can send a PR.

[2019-12-08 19:11] vytas7 commented on #1519
Resolved fixed in https://github.com/falconry/falcon/pull/1618

[2019-12-08 19:11] #1519 closed

[2019-12-10 07:26] vytas7 commented on #1619
Hi again @raisoon !
Could you provide an example how your request looks like?
If the request `Content-Type` is `application/json`, then it should be valid JSON payload.

[2019-12-10 09:39] robguinness commented on #1554
I also ran into this bug today. The broken test still shows on the "stable" version of the tutorial, although the fixed test is visible in "latest". Since this is essentially a bugfix, you might consider releasing the fix as 2.0.1. :-)

[2019-12-12 06:20] #1580 closed

[2019-12-15 17:52] vytas7 commented on #1546
@mikeyusko What to you think of @kgriffs' idea to check if the object quacks `items()`?

[2019-12-15 18:00] mikeyusko commented on #1546
@vytas7 Yeah, if it is a use-case it would be better to implement own falcon `mapping`  class.

e.g
[code]

[2019-12-16 00:49] koobs commented on #1281
While we're leveling up cython/packaging with regard to falcon, some additional notes, quoted from Cython documentation [1]

 * It is strongly recommended that you **distribute the generated .c files** as well as your Cython sources, so that users can install your module without needing to have Cython available.

 * It is also recommended that Cython compilation not be enabled by default in the ve

[2019-12-16 22:02] #1600 closed

[2019-12-16 22:37] vytas7 commented on #1514
Resolved in https://github.com/falconry/falcon/pull/1603
Thanks @csojinb ! :tada:

[2019-12-16 22:37] #1514 closed

[2019-12-17 06:16] kgriffs commented on #1135
Ugh, that's awful. Based on some quick tests, it looks like it is fixed as of 3.5.4+, 3.6.1+, 3.7.0+ and 3.8.0. I suppose we could detect the version and then swap out the decorator for a NOP function as needed?

[2019-12-18 23:02] vytas7 commented on #614
Looks like this has been addressed in [Falcon 2.0.0](https://falcon.readthedocs.io/en/stable/changes/2.0.0.html#breaking-changes), if not earlier:

[2019-12-18 23:02] #614 closed

[2019-12-18 23:05] vytas7 commented on #963
Addressed in https://github.com/falconry/falcon/pull/1247

[2019-12-18 23:05] #963 closed

[2019-12-20 19:40] vytas7 commented on #1607
Adding **blocked-by-release** while blocking on the ASGI branch (it makes sense to sync this change for both App flavours).

[2019-12-22 11:44] NeilduToit13 opened #1624 "Can only import API, not App"
I'm not able to call falcon.App. I've seen in the code that API is a compatability patch set to be removed. falcon.API worked. I have no idea why. Looks to me like both are imported in __init__. Maybe something todo with Cython?

Environment:
- Ubuntu 16.04 lts

Steps to reproduce:
    $virtualenv --python=python3.8 venv
    $source venv/bin/activate
    $pip install cython
    $pip install -v --n

[2019-12-22 11:49] vytas7 commented on #1624
Hi @NeilduToit13 !
`falcon.API` will be renamed to `falcon.App` in our next major release, Falcon 3.0.

The current stable version is Falcon 2.0.

[2019-12-22 11:53] NeilduToit13 commented on #1624
Haha okay. Yes it did. Thanks for clarifying.

[2019-12-22 12:05] vytas7 commented on #1624
Heh, sorry for realtime editing of my answer. I happened to push it out via keyboard shortcuts a bit prematurely.

I'm going to close this issue, but I'll create another follow-up for the `README.rst` chicken-and-egg problem.

Besides from just giving it a try, if you're interested in the developmental version of Falcon, you can track our road towards 3.0 in this [Falcon 3.0 Roadmap Gist](https://

[2019-12-22 12:05] #1624 closed

[2019-12-22 12:27] vytas7 opened #1625 "README.rst on GitHub refers to features not found in the stable release"
Since `README.rst` on GitHub reflects our current development version Git master, and thus may refer to features potentially not found in the stable release.

Theoretically we should be in the clear, as
* The Falcon PyPi release pages show `README` that is relevant for the release in question
* Our [RTD docs](https://falcon.readthedocs.io) refer to the stable version, and the latest bleeding edge

[2019-12-22 12:46] vytas7 commented on #1394
Roadmap progress is also tracked in this Gist: [Falcon 3.0 Roadmap](https://gist.github.com/kgriffs/a719c84aa33069d8dcf98b925135da39).

[2019-12-27 23:36] kgriffs commented on #1625
I think we will have to include comments or alternative sample code when we do a breaking change, that shows the "stable release" version and the latest hotness.

[2019-12-29 18:27] vytas7 commented on #1583
NB we'll also need to unify approaches and naming with the `BufferedStream` which was introduced in the multipart form parser proposal.

[2019-12-31 17:11] mikeyusko commented on #1546
@vytas7 I'll work on it.

[2020-01-02 01:54] tribals commented on #1546
@mikeyusko I think, the idea is exactly the opposite: we shouldn't implement our own dict-like class. There are too many of them already. In fact, it seems like every HTTP framework implements its own.

But there is completely no need.

What we want here, is just to iterate over key-value pairs. And this is exactly what .items() do. It's a very stable interface. So, IMO, we can depend on it.

So,

[2020-01-02 11:12] mikeyusko commented on #1546
@tribals Hi,

Based on your initial message, I assumed that you're meant to create some interface, which a user should implement, in order to satisfy conditions.

But now, I understand what do you mean, also you approach means that, we won't check `isinstance` etc.

And it doesn't matter what a type we're retrieving, it should implement `items()` and it should be `iterable`, in general I like it:)

[2020-01-02 13:32] tribals commented on #1546
@mikeyusko

Right. Interface doesn't mean `.isinstance()` checks.

[2020-01-02 13:57] mikeyusko commented on #1546
@tribals Got it, also I'm totally fine to move forward with your approach 👍

cc @vytas7 @kgriffs

[2020-01-02 18:38] vytas7 commented on #1546
@mikeyusko yeah, I think @kgriffs meant just checking whether the object has a callable attribute called `items()`.

Great clarifications @tribals , thanks!

I'm just not a big fan of that all-encompassing EAFP block, i.e. I would prefer to either avoid EAFP altogether or do EAFP just to get the items iterable by attempting to call the said attribute, and do the rest outside of that `try... except

[2020-01-02 22:30] mikeyusko commented on #1546
Ok, cool.

I'm going to rewrite this https://github.com/falconry/falcon/pull/1627 PR as soon as possible.

[2020-01-02 23:18] kgriffs commented on #1589
FWIW the ASGI PR (https://github.com/falconry/falcon/pull/1573) implements these items with the exception of raising specialized error types. That can be done in a follow-up PR along with updating the WSGI side to suit.

[2020-01-03 07:11] cfrademan opened #1628 "Advice needed on API responder."
Greetings,

I am not sure where to post this question? If I should raise it elsewhere please advice.

Building an JSON-restful API with Falcon is pretty straight forward. However what does not fall in the scope of the documentation is backend storage integration and parsing/validation of data. This does not fall within the scope of the Falcon project. The question I have though is how are people v

[2020-01-03 19:27] timc13 commented on #1628
I use https://github.com/marshmallow-code/marshmallow for validation, serialization, and deserialization

[2020-01-03 19:50] timc13 opened #1629 "Include responder in middleware process_resource"
I like the flexibility that responder name suffixes offers - it would be great if this flexibility were extended to the middleware.  For example, when writing middleware, you cannot distinguish between a non-suffixed responder and a suffixed responder for any given HTTP method.

A nice API for this might be to pass down the actual responder callable to the `process_resource` hook

[2020-01-03 20:15] vytas7 commented on #1629
Hi @timc13!
And thank you for this design proposal, I have labeled the issue accordingly.

For the time being, note that the request object already exposes the [`req.uri_template`](https://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Request.uri_template) attribute which could probably in some cases be useful for deriving the _suffix_.

A couple of alternative ideas off the

[2020-01-03 20:42] timc13 commented on #1629
Those seem like fine workarounds - although maybe a bit indirect.  As far as i'm concerned, it's not the suffix that is important or need be exposed, it's the actual responder method itself and perhaps the method name.  As a counterpoint, I think [this proposal - #709](https://github.com/falconry/falcon/issues/709) is also a good idea.  If a custom `get_responder` is ever used, suffixes may be irr

[2020-01-03 21:31] vytas7 commented on #1629
Just adding more parameters to the middleware interface is a bit off trade-off in itself; both from the compatibility point of view (we'll have to provide shims), and well as just keeping the arity reasonably low.
But by that I don't mean that I dislike your proposal. I just wanted to provide some alternatives so we can compare and contrast :slightly_frowning_face:

The mentioned [idea from #709](

[2020-01-05 15:22] kemingy commented on #1628
I'm using https://github.com/0b01001001/spectree for OpenAPI doc and validation. The validation part is based on https://github.com/samuelcolvin/pydantic/

[2020-01-05 15:28] kemingy opened #1631 "Add to FAQ: How to set cookies in simulate request for testing"
Hi, Is there any way to set cookies in `simulate_request` for the testing client?

I didn't find the method to set cookies in the document. Setting `{'Set-Cookie': 'xxx=yyy'}` also does not work.

[2020-01-05 16:00] vytas7 commented on #1631
Hi @kemingy!
There is indeed no explicit parameter to pass cookies to the simulated request, i.e. setting headers is the way to go.

Could it be that you happened to confuse the asymmetric nature of the cookie headers (i.e. [`Cookie` vs `Set-Cookie`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies))?

The following case seems to work for me:
[code]

[code]

Let me know if this helps.

I'

[2020-01-05 16:18] kemingy commented on #1631
Hi @vytas7 , thanks for your help. This method works!

[2020-01-05 16:25] vytas7 commented on #1628
Hi everyone!
Do not hesitate to also add useful third party libraries to [our Wiki: Complementary Packages](https://github.com/falconry/falcon/wiki/Complementary-Packages) :wink:  Thanks!

[2020-01-06 07:25] kemingy commented on #1631
Hi @vytas7 , I just make a PR #1632 for this. Your example is excellent. So I just use it without any changes.

[2020-01-07 10:03] robguinness opened #1633 "Code listing for app.py in "look” Tutorial has a bug"
In the [Serving images](https://falcon.readthedocs.io/en/stable/user/tutorial.html#serving-images) section, the code listing for `app.py` tries to import the `images` module as `import images`. I believe this should be `from look import images` or depending on one's preferences `import look.images` and refactor references to `images` as `look.images`. I prefer the former:

[code]

[2020-01-08 12:24] vytas7 opened #1634 "Asynchronous interaction with the testing client"
Implement support and/or recipes for asynchronous interaction with the testing client, i.e. that the response content would not be computed in a single pass, but one could stream updates.

This is mostly relevant for testing ASGI SSE and WebSocket (when implemented).

It should be possible to simulate receiving SS events or WebSocket messages in response to other parallel simulated requests alteri

[2020-01-08 15:26] kgriffs commented on #1634
I'll schedule for 3.0 for now, but we may need to push to 3.1

[2020-01-09 16:28] joegasewicz commented on #153
Not sure if this is our of date but i tried to reference the config attribute & i got this:

[code]

[2020-01-09 18:31] stevecw opened #1635 "Examples Web Page needs Updating"
On this [web page](https://falcon.readthedocs.io/en/stable/user/quickstart.html#more-features), Line 122 of the example code needs to be changed to:
`def process_response(self, req, resp, resource, req_succeeded):`
_(Added **req_succeeded** parameter)_

Without the parameter gunicorn crashes with this error
[code]

I found the solution to the crash, via StackOverflow, in [issue #1534](https://gith

[2020-01-11 12:30] yarin177 opened #1636 "Falcon get stuck on json.loads while reading req.stream.read()"
Hey, I'm trying to fetch out the data with JSON I've spent way too much time on google and tried every single solution with no success.. when I send the request it just get stuck on that line.
maybe can you help?

`class TextOcrRes:
    def on_post(self, req, resp):
        """Handles Text POST requests"""
        json_data = json.loads(req.stream.read().decode()) # get stuck here.. :(
        pri

[2020-01-11 13:44] vytas7 commented on #1636
Hi @yarin177 !
Your application code looks just fine!
You could simplify it somewhat by using the [Falcon media feature](https://falcon.readthedocs.io/en/stable/api/media.html), but the choice is yours :slightly_smiling_face:

I would guess the problem is that you are sending your request payload as URL-encoded (`application/x-www-form-urlencoded`) instead of JSON.

The following snippet works for

[2020-01-11 13:55] vytas7 commented on #1619
Hi again @raisoon !
Closing the issue hoping you've solved this by now.

We'll try to add illustrations in our docs/FAQ on how to send JSON and URL-encoded requests to an application: https://github.com/falconry/falcon/issues/1636

[2020-01-11 13:55] #1619 closed

[2020-01-11 15:04] yarin177 commented on #1636
Thank you, that solved the issue for me, and yes I'm sure it will be helpful if you can include an example for sending JSON in the tutorial.
I'm just curious, when will you send "data" for the server?

[2020-01-11 15:21] vytas7 commented on #1636
@yarin177 Whenever an applications expect it, or at least supports it, and you want to test it :slightly_smiling_face:

Although newly designed RESTful APIs typically prefer JSON (or YAML, Msgpack etc), `application/x-www-form-urlencoded` is still ubiquitous since it is the default content type for an [HTML `<form>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form) that the web brow

[2020-01-11 15:55] yarin177 commented on #1636
about your other solution using media, I'm basically trying to send over an image from a client to the server and save it. but I don't know if I should send it with JSON or DATA or FILES
I tried this on the client:
[code]
But How do I receive it on the server? do I need to encode it, JSON?

[2020-01-11 17:25] Mice948 opened #1637 "How to send and receive images with Falcon Framework?"
Hello
I am trying to send and receive images with requests library but I can't seem to succeed.
What Is the easiest way to send and receive an image?.
This is How I tried:
[code]

and the server
[code]
How ever I am getting a Json error I'm not sure why, I cannot send JSON data because encoded_image is in bytes

[2020-01-11 18:48] vytas7 commented on #1637
Hello @Mice948.
You can just send it as the request data, something along the lines of the [Streaming Uploads](https://2.python-requests.org//en/master/user/advanced/#streaming-uploads) recipe from the `requests` docs.

You can consume it on the application side as demonstrated in [our "Look" tutorial](https://falcon.readthedocs.io/en/stable/user/tutorial.html#request-and-response-objects), see th

[2020-01-11 18:48] #1637 closed

[2020-01-11 18:50] vytas7 commented on #1636
Answered the sending image question on https://github.com/falconry/falcon/issues/1637.

[2020-01-14 04:00] kgriffs opened #1638 "Codify style for doctring summary lines"
Currently, we ask contributors to strive for consistency with existing code, but it would be helpful to clarify the following regarding docstrings:

- Docstrings should begin with a short (~70 characters or less) summary line that ends in a period.
- The summary line should begin immediately after the opening quotes (do not add a line break before the summary line)
- The summary line should descri

[2020-01-17 21:33] kgriffs commented on #1631
I think it would be great to add a _cookies_ kwarg to `simulate_request()` & friends. That way, you could just pass a mapping object of cookie key-value pairs, and the framework would serialize that out to a `cookie-string` per https://tools.ietf.org/html/rfc6265#section-5.4

In the meantime, however, updating the FAQ seems appropriate. 👍

[2020-01-18 08:26] vytas7 opened #1640 "Add cookies parameter to simulate_request"
Add a new parameter, _cookies_, to our test client's `simulate_request` & its specialized friends `simulate_*`, where applicable.

We can either accept just a mapping object, or also support fallback to an iterable over pairs if the provided mapping doesn't quack `items()`? Compared to just supporting a mapping, this would enable sending multiple cookies with the same name, which is rather uncommo

[2020-01-18 08:47] vytas7 commented on #1631
Yeah, my bad, I thought also creating a new issue for the proper `simulate_request()` parameter, but it never materialized. Until now: https://github.com/falconry/falcon/issues/1640 :slightly_smiling_face:

I thought just updating the FAQ in the meantime would be practical as the testing client is undergoing terraforming wrt the impending ASGI support.

[2020-01-21 00:35] #1577 closed

[2020-01-23 15:15] vytas7 opened #1648 "Make response short-circuiting docs clearer and more visual"
Based on a question from our community (by @amarynets), where one is wondering whether setting `resp.complete = True` in `process_response` will stop any remaining `process_response` methods.

The docs state clearly

The context is, however, setting `resp.complete` from `process_request` & `process_resource`, not `process_response`.
I suggest rewording or improving docs to make it clear that any `

[2020-01-23 17:20] CaselIT opened #1649 "Serve static discard files with a tilde(~) in them even if valid"
The StaticRoute disallows serving files with a tilde (~) in them, even if the file is valid, like `default~module.js`

This is caused by the `_DISALLOWED_CHARS_PATTERN` regexp that contains the `~` char
https://github.com/falconry/falcon/blob/790d4e4f2eb4d0cf49e11faa2ec226ead0a5b314/falcon/routing/static.py#L42

I cannot easily change the name of the file (since it is the output of the build comma

[2020-01-23 22:12] #1546 closed

[2020-01-25 09:55] vytas7 opened #1650 "Get Falcon into the Anaconda default channel"
Anaconda users out there, help needed!

As I understand (sanity check needed!), Anaconda is distributing a [curated list of packages](https://docs.anaconda.com/anaconda/packages/pkg-docs/) which are shipped as a distribution and/or installable using the `conda` package manager.
Falcon is not there.

However, Falcon is present in the [conda-forge repository](https://anaconda.org/conda-forge/falcon)

[2020-01-25 10:20] vytas7 commented on #1649
Hi @CaselIT !
I agree blocking tilde (`~`) is unnecessarily harsh.

To my understanding, at least on Linux, ultimately all filename characters are valid [except '/' and the `NULL` byte (0)](https://en.wikipedia.org/wiki/Filename#Comparison_of_filename_limitations).
Furthermore, although allowed on most Unix filesystems, it is recommended to avoid the following even on Linux: `['&', ':', '<', '>',

[2020-01-25 10:49] vytas7 commented on #1649
@kgriffs I like @CaselIT's suggestion to make it configurable.
How about:
* Allow `~` by default (the downside being, very strictly speaking, a breaking change; only suitable for 3.0 and not 3.1)
* Make the list of allowed characters configurable in the constructor, and `add_static_route()`; or add a static file options class along the lines of request, router & response options
* The list would d

[2020-01-25 10:58] CaselIT commented on #1649
I like you proposal, but I think we can keep the default behaviour as is now, ie disallowing the tilde, so the chance would not need to be in a major release.

Since this is the first time this issue has come up I don't think it's a common problem, I think it's sufficient to have a public api to configure it.

Yes that is my workaround

[2020-01-25 13:09] CaselIT opened #1651 "Setup.py uses the imp module that is deprecated"
while trying to run `python setup.py test` I get the warning
`DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses`

Since python 2 is no longer supported I think we can migrate to `importlib`

[2020-01-25 14:19] CaselIT opened #1652 "Improve test readme. Without setting the proper env variable 300+ failure occur"
If I follow the readme to run the test

I get the following result
` 261 failed, 1819 passed, 20 skipped, 40 warnings, 128 errors`

I've tried with tox and it works correctly.

I've traced the issue to the missing env variable `FALCON_ASGI_WRAP_NON_COROUTINES=Y`

I think the readme should mention it

[2020-01-25 14:25] CaselIT commented on #1651
I can try to fix it @nZac

[2020-01-25 14:40] nZac commented on #1651
Whoops, didn't see you had made the comment @CaselIT and submitted a PR.

[2020-01-25 14:42] CaselIT commented on #1651
same :/

[2020-01-25 14:48] CaselIT commented on #1652
maybe the variable `FALCON_ASGI_WRAP_NON_COROUTINES` should just be set in `conftest` since it is clearly required by the test?

[2020-01-25 15:53] CaselIT commented on #777
I'll try to work on this

[2020-01-25 17:00] vytas7 commented on #1652
We ought to clean this up the 3.0 beta release.

[2020-01-25 19:25] #1651 closed

[2020-01-25 19:47] #1631 closed

[2020-01-26 10:36] CaselIT opened #1656 "Test failure on windows"
Tests on windows have some failures and errors.

The summary is `47 failed, 2094 passed, 79 skipped, 1 warning, 16 errors in 1885.17s (0:31:25)`

The errors output is here:
https://gist.github.com/CaselIT/16792866e7dd2c545b186207976e060e

Some failues are related to asgi, while other are simple stuff like `/` vs `\` in the path.
Probably a skip on the incompatible tests and the use of `os.path.nor

[2020-01-26 15:09] CaselIT commented on #1027
sadly it seems that https://github.com/loanzen/falcon-auth is no longer really maintained.

A supported version in framework would be nice nice.

In the Nice-to-have I would also add beared authentication support

[2020-01-27 20:54] vytas7 commented on #1435
Hi again @Nateyo !
Just wanted to check if you were still working on this tool, or had any code to share that some else could pick up?

[2020-01-27 22:22] CaselIT commented on #1656
I'm working on this, at least partially to solve the path issues.

I'll need to have a better look at the asgi failures. Would a a skip when on windows suffice if I don't find an easy solution?

[2020-01-29 13:04] CaselIT commented on #1435
@vytas7 I think another point to add is a check that the router is the default compiled router, since it will only work with that.

[2020-01-29 18:40] CaselIT commented on #1435
Also maybe moving the actual code that lists the routes in another module, like in `falcon.utils.explore_routes` or `falcon.routing.explore_routes` and make the script import it, would be easier to reuse programmatically.

[2020-01-29 18:54] vytas7 commented on #1435
Thanks for these suggestions @CaselIT!
I updated the issue description.

[2020-01-29 20:19] CaselIT commented on #1652
This can be solverd by placing in `setup.cfg` under the `[tool:pytest]` key
[code]

[2020-01-30 13:21] CaselIT commented on #1435
Other random thought:

Add a `debug` keyword to the `App` (or to `App.add_route`) so that a log is printed every time a route is added to the application. This could be useful when first debugging the application to have an immediate feedback what routes are there and what causes a problem.

Regarding a kw in `App` vs one in `App.add_route` maybe one in `App` could be nicer since there could be si

[2020-01-30 23:11] vytas7 commented on #1435
That would be more fitting a separate issue IMHO, yeah. :arrow_upper_left:

[2020-01-31 12:48] Jithinqw opened #1660 "Falcon middleware is not returning error when in try catch block"
Falcon middleware is not returning HTTP error when the code breaks in try catch block.

Instead of getting` User name does not exist`, I am getting `Some thing went wrong`
[code]

[2020-01-31 20:56] CaselIT commented on #1660
the error `raise falcon.HTTPBadRequest(title="Bad Request", description="User name does not exist"           )` is intercepted by the except cause that you have placed ` except Exception as err:`
This is the default python behavior.
Try adding
[code]
before the other exception, so that falcon errors are reraised as is

[2020-02-01 10:02] CaselIT commented on #1581
Could you expand how would this would work? In particular:
- What would the parameters be?
- Should it be called in case of errors? If we decide only when the request has success, maybe the name should `on_success`?
- Should it respect the `independent_middleware` flag?
- Can a middleware send a custom response to the server, allowing it to short circuit the rest of the normal processing of the ap

[2020-02-01 10:05] vytas7 commented on #1581
@kgriffs @CaselIT Is it the same issue as https://github.com/falconry/falcon/issues/1505, or is the intent different here?

[2020-02-01 10:10] CaselIT commented on #1581
I had not seen the other one, and I'm not sure what the objective of this should be, so the questions.
If it's more a "clean-up" method than it's maybe similar to the other issue.
If it's more a "allow sending custom responses to the server" then I guess not

[2020-02-01 10:14] CaselIT commented on #1505
Maybe a callback attached to the response object would be better in this case? Like a `after_stream_closed` or something?
Otherwise a middleware hook that runs only when there is a stream response could be it a bit strange?
Ideally you could use `process_response ` to add the callback when appropriate and the application would call it if needed?

[2020-02-01 17:33] vytas7 commented on #1660
@Jithinqw does @CaselIT's answer shed some light on the subject, or would you still like to suggest an improvement how the framework could be helpful in this scenario?

[2020-02-03 05:26] Jithinqw commented on #1660
Thank you @CaselIT and @vytas7 for your response. Your solution have worked.
@vytas7  don't you think we could make this implementation cleaner. People reading code will think I am doing some kind of hacking.

[2020-02-03 16:36] CaselIT commented on #1435
I'm working on this in #1661

[2020-02-05 18:04] kgriffs opened #1664 "Cythonize generated router code"
Let's consider using `cython.inline()` to compile the generated router code. If we do this, we will need to be very transparent about what it is doing, and also fall back if the compilation fails due to a missing compiler, etc. Also we would need to solve #1550 first.

By default, `cython.inline()` behaves as follows (according to @vytas7's testing):

* Saves the snippet to a temporary file (e.g.,

[2020-02-05 18:12] kgriffs commented on #1550
I think it would be reasonable to set a flag that delays code generation until the first call to `find()`. It seems unlikely that a large number of routes would be added after the first attempt to match a route, except perhaps once in a while in a testing context.

[2020-02-05 19:37] kgriffs commented on #1664
Note that even once #1550 is solved, we will still need to document that compiling it could take a few moments, slowing down the first request (if that is how we implement #1550).

[2020-02-05 20:03] CaselIT commented on #1550
As an alternative the every time a new route is added to the router `self._find` could be set to
[code]
so that it will compile only on the first call. This would also avoid the condition to check if a compilation is need in the `find` method

[2020-02-05 21:38] CaselIT commented on #1550
I've tried adding a poc at #1665. By delaying compilation 400 routes are added in 50 ms

[2020-02-06 02:35] kgriffs commented on #1358
FWIW, we've been tracking progress here: https://gist.github.com/kgriffs/a719c84aa33069d8dcf98b925135da39

[2020-02-10 07:25] timgates42 opened #1668 "Fix simple typo: walkthough -> walkthrough"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine docs/api/routing.rst.
2. Search for `walkthough`.

# Expected Behaviour

1. Should read `walkthrough`.

[2020-02-10 22:08] #1668 closed

[2020-02-11 17:17] #1656 closed

[2020-02-13 18:54] CaselIT commented on #1028
The current website does not have a link to the documentation. I think it would be very useful to have one, both in the top menu and below the example. (Maybe something like "See quickstart documentation")

[2020-02-13 21:42] kgriffs commented on #1028
The "Get Started" link goes to the docs, but it sounds like we need to reword to make it more obvious, and add a few additional links elsewhere.

[2020-02-13 21:57] CaselIT commented on #1028
I totally missed it. I was searching for it on the top bar.

On Thu, 13 Feb 2020, 22:42 Kurt Griffiths, <notifications@github.com> wrote:

[2020-02-15 16:32] mikeyusko commented on #1640
@vytas7 Hm, I'll take a look into it.

[2020-02-15 16:46] zubairakram opened #1671 "[pylint E1101] [E] Module 'falcon' has no 'HTTP_200' member (no-member)"
pylint is not recognizing falcon status codes. e.g HTTP_201

[code]

[2020-02-15 19:39] #777 closed

[2020-02-16 12:23] vytas7 commented on #953
Resolved in https://github.com/falconry/falcon/pull/1590

I'll create a follow-up issue for ASGI+multipart.

[2020-02-16 12:23] #953 closed

[2020-02-16 13:07] vytas7 opened #1674 "ASGI+multipart/form-data"
Add ASGI support to [MultipartFormHandler](https://falcon.readthedocs.io/en/latest/api/media.html#falcon.media.MultipartFormHandler).

The parsing interface could look similar to the [WSGI flavour](https://falcon.readthedocs.io/en/latest/api/multipart.html), just async:
[code]

There's an open question what to do with properties that would become async, such as [`part.text`](https://falcon.readthe

[2020-02-16 14:12] vytas7 commented on #1671
Hi @zubairakram !
And thanks for reporting this issue!

However, I do believe it is already tracked in our system: https://github.com/falconry/falcon/issues/1553

Closing this one as duplicate, but don't hesitate to provide more information if you believe this is a separate problem!

[2020-02-16 14:12] #1671 closed

[2020-02-18 18:41] suola opened #1676 "FAQ item "How do I consume a query string that has a JSON value?" is outdated"
The default value of `falcon.RequestOptions.auto_parse_qs_csv` was changed to `False` in v2.0 and handled in https://github.com/falconry/falcon/issues/842 and https://github.com/falconry/falcon/pull/1318.

The FAQ item https://falcon.readthedocs.io/en/stable/user/faq.html#how-do-i-consume-a-query-string-that-has-a-json-value assumes the old default value and needs an update.

[2020-02-19 01:56] MasterSoft24 opened #1677 "Can I disable http logging to stdout if I run app without gunicorn"
I've run the falcon app simply run serve_forever() and got to stdout many records like a
127.0.0.1 - - [19/Feb/2020 08:54:00] "GET /queue/collected HTTP/1.1" 200 70

Can I disable this?

[2020-02-19 07:54] vytas7 commented on #1677
Hi @MasterSoft24 !
As Falcon does not ship any WSGI server, I presume you are using `wsgiref.simple_server` or similar, e.g., as shown in [`wsgiref` examples](https://docs.python.org/3.8/library/wsgiref.html#examples).

Falcon is not logging requests itself, so this sounds more like a Python stdlib question.

Maybe something along the lines of https://stackoverflow.com/a/31904641 could do? (May be

[2020-02-19 08:06] vytas7 commented on #1676
Scheduling for 3.1 since the current FAQ item is not technically wrong _per se_, it is just unaware of the new default value. I.e. one can still follow the recipe and achieve the documented outcome.

[2020-02-19 08:17] vytas7 commented on #1676
Hm, OTOH, the first part is outright contradicting the current behaviour and other docs... :grimacing:

[2020-02-19 08:18] MasterSoft24 commented on #1677
Thanks a lot! Yes, this is it!

[2020-02-19 08:18] #1677 closed

[2020-02-19 08:24] vytas7 commented on #1676
From @suola on Gitter:

We ought to rewrite this FAQ item by linking to [`Request.get_param_as_json`](https://falcon.readthedocs.io/en/latest/api/request_and_response_wsgi.html#falcon.Request.get_param_as_json), and provide an example demonstrating how to do that.

[2020-02-19 13:19] hackedd opened #1678 "Request.forwarded_prefix does not include port when not behind reverse proxy"
When using `forwarded_prefix` to construct absolute URLs, it does not contain the port when the application is not behind a reverse proxy.

This happens because `forwarded_prefix` uses `forwarded_host`, which falls back to the `host` property when the `Forwarded` and `X-Forwarded-Host` HTTP headers are not set.

It seems that falling back to `netloc` (like in `prefix`) would solve the problem.

[2020-02-19 16:11] kgriffs commented on #1676
Let's try to get this into 3.0; should be an easy task.

[2020-02-19 18:25] CaselIT opened #1679 "Unify behavior between asgi and wsgi"
Currently the implementation of the response class for the wsgi and the asgi differ when handling the `data` property. Namely the asgi version does not override data with the media value, while the wsgi version overrides the data with the media serialization data.

In the code on master there are currently these todos
https://github.com/falconry/falcon/blob/c3e91875f1030c68d17efa27cf8df3d18f337761

[2020-02-20 18:49] CaselIT commented on #1679
@vytas7 on gitter pointed out that there are also other differences between wsgi and asgi. Like the `Request.get_media` and the current draft of the async multipart media handler

This is mainly because an async property is odd, and may trick people that are not used to this.

To try and have an api as uniform as possible between asgi and wsgi, maybe an heuristic could be:
- take constant time to

[2020-02-20 18:54] vytas7 commented on #1679
Anything doing I/O is probably better off as a method.
Async makes it crystal clear by requiring you to `await` things.

However, even if we adopt this thinking, we'll have to provide WSGI property compatibility aliases for a long time. Serious interface stability is among the main selling points of Falcon, after all.

[2020-02-20 18:58] CaselIT commented on #1679
If they are just getters, the property would be just `media = property(get_media)`

Maybe the path could be. Alias in v3 (maybe deprecated just in the comments), deprecate in v4, remove v5?

For asgi and multipart, since they are new, the alias would not be there?

[2020-02-23 16:23] vytas7 commented on #1381
I've added an outline (linking to issues) to the description. :arrow_up:

[2020-02-23 17:36] vytas7 commented on #1660
@Jithinqw how could the framework implementation be cleaner in this case?
I'm all ears if you have any concrete suggestions.

To rephrase @CaselIT 's answer, if you had a code block
[code]
The `except` clause will catch any exception inheriting from `Exception`, including Falcon's `HTTPError` & `HTTPStatus`. This is how the Python language works.

Maybe you don't need to catch that exception at al

[2020-02-23 17:36] #1660 closed

[2020-02-23 19:12] vytas7 opened #1683 "Adopt PEP 517"
It is getting increasingly annoying to install Falcon with Cython support using anything but the official stable release wheels.
At some point we'll need to switch the Falcon package build system to use [PEP 517](https://www.python.org/dev/peps/pep-0517/).

- [x] Pick a [PEP 517](https://www.python.org/dev/peps/pep-0517/) compliant build tool
- [x] Support Cython by default on the relevant platfor

[2020-02-24 11:15] CaselIT commented on #452
I think that by default we could do away with the `has_representation` and always return a representation, since I don't think the complexity it introduces are worth the benefit. This would also avoid the problem that the body that is set before the error gets sent back.

If an user wants to customize this behavior he can specify a custom error serializer that do something like this. This custom s

[2020-02-24 20:12] vytas7 commented on #1533
I created a PR to patch up things by hand for 3.0: https://github.com/falconry/falcon/pull/1684

We can automate this for 3.1.

[2020-02-25 01:31] kgriffs opened #1685 "Provide a way to gracefully and securely handle non-percent-encoded query string values"
When the web server allows a non-RFC-compliant query string (i.e., one that includes non-ASCII byte values that were not percent-encoded) to be passed to the app, we should provide a way for the app to at least detect such values. We might also provide an option for automatically rejecting them or perhaps attempting to decode them as UTF8.

[2020-02-25 15:32] kgriffs commented on #1685
@vytas7:

[2020-02-25 15:38] kgriffs commented on #1679
I'd say just alias in v3 but do not deprecated until v4.

For ASGI we are trying to make it as similar as possible to WSGI (minus stuff that is deprecated in WSGI for v3), so I think it would still be a good idea to, for example, add a req.media property alias.

[2020-02-25 16:49] vytas7 commented on #1685
Re Nginx, it's at least obvious if there is invalid percent coding: https://github.com/nginx/nginx/blob/37984f0be1a5d608015517a64927d498888fb7ca/src/http/ngx_http_parse.c#L1532
But I've tested non-ASCII quickly and it seems to yield a 400 as well.

[2020-02-25 20:18] #1648 closed

[2020-02-26 16:37] #1550 closed

[2020-02-27 20:03] gromovadarya90 opened #1689 "[spam]"
[spam]

[2020-02-27 20:11] #1689 closed

[2020-02-28 18:59] vytas7 commented on #1350
Important: it seems that Cython can now pick up and enforce those type annotations.
Which is great if it leads to an even further speed bump, but it is unfortunately not always the case, as demonstrated by @CaselIT.

We'll need to tread carefully when it comes to performance-sensitive parts, and we may need to tell Cython not to actually use those annotations in cases where they only lead to slowd

[2020-02-28 19:03] CaselIT commented on #1350
Here are the relevant bit in the cython docs.
http://docs.cython.org/en/latest/src/tutorial/pure.html#static-typing

Just to specify, I've tried only a very naive test, so I don't think a meaningful conclusion could be drawn from it

[2020-02-28 19:23] CaselIT commented on #1679
I can try working on it. I'll start by unifying the request and response classes

[2020-02-28 19:35] vytas7 commented on #1679
@CaselIT I think you should coordinate this with @kgriffs as we've just merged the PR for ASGI reintroducing the async media property.
It might be worth getting some feedback from the community first, i.e., whether people want to move away from properties at all wrt WSGI Falcon.

[2020-02-28 19:59] CaselIT commented on #1679
Yes, that was the plan for now I think. Have both, at least in the wsgi version.
Then for v4 it can be decided if only one solution should be kept or not, and apply the appropriate deprecations.

[2020-02-29 02:45] #1678 closed

[2020-03-03 16:49] #1492 closed

[2020-03-05 05:51] KennethLim314 commented on #153
Isn't there? The api object has no __dict__ attribute and you can't assign additional attributes to it due to the use of __slots__.

[2020-03-05 15:18] kgriffs commented on #1679
Let's start with a PR and breaking change notes in docstrings and towncrier news for updating WSGI per `render_body()`.

Can you enumerate/add a checklist for any other changes you were considering?

[2020-03-05 21:29] CaselIT commented on #1679
Here is something I've found:
- Request: bounded_stream vs stream. Not sure any change can be made here since in wsgi are two different values, while asgi are aliased
- BodyPart: I guess all properties should be alias of methods `get_X`

[2020-03-11 17:58] zubairakram commented on #1326
can be solved by using tuples instead of string.

[code]

[2020-03-14 20:16] AR4Z commented on #1676
Hi, I'm interested in contributing. Could I help to solver this?

[2020-03-15 09:59] vytas7 commented on #1676
@AR4Z , yes you're very welcome!

[2020-03-16 08:33] leefyi opened #1699 "Update of "Getting started" doc part about falcon.App()"
A tiny normal issue about the verbal part in "Getting started".
I think in version 2.0.0, there is no more
"""
app=falcon.App()
"""
but
"""
app=falcon.API()
"""
![image](https://user-images.githubusercontent.com/8380059/76737453-c6270e80-67a3-11ea-9e00-a60ac1f59d72.png)

Could you please try to update it as to be more friendly to new users such as me.

[2020-03-20 19:27] kgriffs commented on #452
@CaselIT We can go ahead with the approach you outlined, with the caveat that we hard-code the special case of HTTP status codes that are explicitly forbidden by the RFCs to have a body. I don't think we should allow a body regardless of whether or not a custom error serializer is in play.

@vytas7 Thoughts?

[2020-03-20 19:43] CaselIT commented on #452
Is there a list of http statuses that cannot have a body?
Also how do you suggesting disallowing custom serializers from adding a body?
Should be just not call them in case of a status that require no body?

[2020-03-20 21:41] kgriffs commented on #452
TBH, I just realized I was thinking of non-error status codes that would not be applicable in this case. 🤦‍♂

[code]

[2020-03-21 08:49] vytas7 commented on #452
AFAICT we short-circuit the above mentioned "bodiless" status codes in the `App` not to render any body, so it's probably a non-issue either way.
And we do not have any subclasses of `HTTPStatus` for any of the above codes.
We may discuss adding `HTTPNotModified` in the future to simplify processing, however, the `App` clause would still cover it implicitly.

[2020-03-23 12:43] CaselIT commented on #1699
version 3 renames `API` to `App`, so the docs are actually correct for v3, which the master branch is traking.

[2020-03-24 14:57] CaselIT commented on #1683
- setuptools is a valid build tool even with pep517. See example https://github.com/pypa/setuptools/blob/f63c4335178512ad1db730222d54fc0df84ae798/pyproject.toml#L7

[2020-03-25 08:02] vytas7 commented on #1683
Yeah, thanks @CaselIT ! I was actually about to write that too, but it never happened. Fixing now.

[2020-03-25 08:15] CaselIT commented on #1683
Btw, I've tried setuptools pep517 mode for sqlalchemy, and it seems to execute the setup.py as when running in non-pep 517 mode, so it respects the env arguments and/or fallback if the compiler or cython is not found.

[2020-03-29 19:36] jrgp commented on #321
Hey, just curious if there has been any update here?

[2020-03-30 13:29] mcobzarenco commented on #1350
What's the status of this issue? Does anyone have any experience using Falcon with types?

For context, I'm investigating replacing bottle in our product with Falcon. This project looks really exciting 💯, but worried about production readiness in the absence of static type checking

[2020-03-30 21:08] #1435 closed

[2020-03-31 15:32] FerusAndBeyond opened #1707 "There is falcon.after, but is there any way to do middleware after?"
I would like to save each request but at the same time I don't want to insert to a database at each request before the response is returned to the user, now it would be perfect to do so directly after the response have been sent to the client and `falcon.after` seem to do the trick but adding it to every request is a bit annoying. Is there any middleware type functionality that can be performed af

[2020-03-31 16:22] CaselIT commented on #1707
I think you can use the `process_response` if the middleware.
https://falcon.readthedocs.io/en/stable/api/middleware.html

[2020-03-31 17:26] vytas7 commented on #1683
I meant that while at it, it would be great if we could encapsulate cythonization as part of the PEP-517 build system, i.e. the user would only have to `pip install`, even from a source checkout.

[2020-03-31 17:54] FerusAndBeyond commented on #1707
@CaselIT Is that after the response has been sent to the client?

[2020-03-31 18:07] CaselIT commented on #1707
That is before. I think that the `process_response ` happens after the `falcon.after` callback.
I don't think it's possible to execute any action after the message has been sent to the client in wsgi, since the interaction terminates once the message has been returned to the wsgi server.

[2020-03-31 18:28] vytas7 commented on #1707
@FerusAndBeyond ,
as @CaselIT also explains above, `process_response` actually executes after `falcon.after` since a `falcon.after` hook just decorates the responder method, and `process_response` is invoked [after the request has been processed by the routed responder](https://falcon.readthedocs.io/en/stable/api/middleware.html):
[code]

Are you streaming your response by setting [`resp.stream`](

[2020-03-31 18:38] CaselIT commented on #1683
I think you can do something like this with setuptools that works with or without pep517. Take a look at the [setup.py of sqlalchemy](https://github.com/sqlalchemy/sqlalchemy/blob/master/setup.py). It first tries to build the c extension and fallback it that fails

Using pep517 allows a package to specify a list of requirements to install your package, cython could be one of them, I guess. I have

[2020-03-31 20:37] CaselIT commented on #1683
I've tried to adapt the sqlalchemy setup to falcon here:
https://github.com/CaselIT/falcon/commit/bedc2fb06d604bf3e9395a7ad93d5206674e25f3
The tests seen to pass https://travis-ci.org/github/CaselIT/falcon/builds/669415425

Should I open a draft pr so we can discuss / experiment it there?

[2020-03-31 20:41] kgriffs commented on #1683
If we could get this to work, then hopefully we won't need the --no-build-isolation hack

[2020-03-31 20:45] CaselIT commented on #1683
You can add the pyproject.toml to the ignore list when distributing to pypi.
Its absence makes pip not use pep517

[2020-03-31 20:47] CaselIT commented on #1683
Sqlalchemy currently is doing that, since pep517 seems still broken in some cases. Like in debian unstable the system pip has a broken pep517 module.
https://github.com/pypa/pip/issues/7874#issuecomment-606839554

[2020-03-31 21:23] CaselIT commented on #1683
An alternative to this may be to use a ci to build wheels for the various oses.
I've just experimented with using github actions to build wheels for sqlalchemy that has similar requirements, (has optional c modules).
I think I could adapt that github action workflow fairly easily for falcon.

For reference this is the current version of the action https://github.com/CaselIT/sqlalchemy/blob/36b3100

[2020-03-31 22:18] FerusAndBeyond commented on #1707
@CaselIT @vytas7 Okay, thanks for the help, will experiment and see what works.

[2020-03-31 22:18] #1707 closed

[2020-04-02 22:36] nmcbride commented on #321
They have been keeping us pretty up to date here: https://gist.github.com/kgriffs/a719c84aa33069d8dcf98b925135da39

[2020-04-08 14:14] #1679 closed

[2020-04-13 19:54] onecrayon commented on #1589
The 3.0.0a1 release currently throws an HTTPBadRequest when using the default JSON handler on an empty body claiming the JSON is invalid. This surprised me, as I would have expected `req.get_media()` to return None or an empty object `{}` when there's legitimately nothing in the stream. Is this behavior intentional? It makes it difficult to discern the difference between an empty response, and a r

[2020-04-14 07:09] vytas7 commented on #1676
Resolved fixed in #1700

[2020-04-14 07:09] #1676 closed

[2020-04-14 18:03] CaselIT commented on #1589
Technically the current behavior is correct, since an parsing an empty string raised an error.
But I agree that maybe we could raise a subclass of `HTTPBadRequest` (maybe `HTTPEmptyRequest`) so that it's potentially easier to catch that case?

[2020-04-14 20:36] onecrayon commented on #1589
That would be very helpful for my use-case. I ran across this thanks to a decorator that wraps endpoints in order to apply FastAPI-style automatic documentation generation (which was checking for media on everything, but has no way to distinguish between a legitimate JSON parse failure, or a parse failure due to lack of content--which might actually be an expected thing to happen, e.g. on GET requ

[2020-04-14 20:53] CaselIT commented on #1589
Coping from gitter:

An alternative, since we now have both a property and a method, we could add an argument to the `get_media` method to specify what to return when empty? `Request.get_media(when_empty=_default)` where `_default` is an private singleton object that maintains the current behaviour, that depends on the parser. Example json would raise by default, while yaml would return `None`.
Th

[2020-04-15 10:55] myuz commented on #1640
@vytas7 the issue is still relevant? if yes, I'll work on it, and sorry for an extreme delay.

[2020-04-15 14:59] vytas7 commented on #1640
@myuz Sure, feel free to! :+1:

And yes, it is still very relevant.

[2020-04-16 20:09] dambros commented on #153
It seems this doubt has been around for a while and I think @KennethLim314 is correctthat we can't add to the App class because of the `__slots__`. What is the current consensus on how to best approach this problem? Use a "utils-like" module and have it serve the dict everywhere?

[2020-04-16 20:39] jmvrbanac commented on #153
Historically, I've often just inherited from API and put it on there since as I needed to build other things (such as signal handling) around the API anyhow.

[code]
Likewise when creating resource classes or middleware, I often pass in the cfg and usually something to handle db session management.

If you would prefer it to be on a request, you can add it to your request from a middleware using t

[2020-04-16 21:03] dambros commented on #153
@jmvrbanac Thanks for the explanation. The idea behind it fits my needs :)

[2020-04-16 21:49] vytas7 commented on #153
Adding to what @jmvrbanac said, in some simplistic scenarios you may even get away with just passing the configuration object down to resources and middleware, i.e., as showcased by above, but without even storing it on the `API` / `App` instance. Our upcoming ASGI tutorial could serve as [an example](https://github.com/vytas7/falcon-asgi-example/blob/master/asgilook/asgilook/app.py). This way, it

[2020-04-17 22:46] leandroluk opened #1713 "quart to falcon"
before anything, sorry my english, google helped me =D

I have an application in [quart](https://pgjones.gitlab.io/quart/) (async flask) and would like to migrate to falcon. is there any example of how to use falcon with async?

[2020-04-19 16:37] vytas7 commented on #1713
Hi, @leandroluk !
Firstly, note that, at the time of writing this, Falcon async support is still in alpha, so you'd need to `pip install falcon==3.0.0a1`.

You can find the latest bleeding edge docs here: [The Falcon Web Framework, Release v3.0a1](https://falcon.readthedocs.io/en/latest/).
Async examples are still scarce there, but we have a couple more coming up in the open pull requests.

I also

[2020-04-22 09:13] adsahay opened #1717 "Custom media handlers: Unexpected issue when providing custom json handler"
This is in falcon-2.0

Look at the documentation [here][1] for using rapidjson for encoding/decoding json. By providing:

`extra_handlers={'application/json': json_handler}` we are still left with the default handler for content-type `application-json; charset=UTF-8`. This results in an unexpected behaviour when some client library (e.g. Retrofit for Android) includes the charset in the header.

W

[2020-04-22 17:07] kgriffs commented on #1717
I agree we should make this better since it violates the principle of least-surprise. Scheduled for 3.0 in case someone wants to tackle it right away, otherwise it will need to be pushed to 3.1.

[2020-04-26 13:38] lon91ong opened #1718 "text/xml; charset=utf-8 is an unsupported media type"
Client request raw:
[code]
Server response raw:
[code]

source code:
[code]

HELP PLEASE .... !

[2020-04-26 19:12] vytas7 commented on #1718
Hi @lon91ong !
I'm assuming you are attempting to use [Falcon Media](https://falcon.readthedocs.io/en/stable/api/media.html) to consume the submitted XML document.

Out of the box, Falcon 2.0 only supports JSON media (Falcon 3.0 will add HTML form support).
Which means you need to either read the request stream, and parse it in your responders/hooks/middleware, or implement a new [custom Media han

[2020-04-27 01:00] lon91ong commented on #1718
@vytas7 Thank you very much, your code work well.
but when I add `waitress` as server , then got `HTTP/1.1 500 Internal Server Error`
test code:
[code]

[2020-04-27 07:39] vytas7 commented on #1718
@lon91ong The above solution should roughly translate to the response media as well.

See that `XMLHandler.serialize`? We could either extend that to be able to serialize XML, or just serialize it in the responder, and set the response content to it.
See also here (from the unstable 3.0.0 alpha docs, but it should apply verbatim to Falcon 2.0 too): [When would I use media, data, and stream?](https

[2020-04-27 08:52] lon91ong commented on #1718
@vytas7 Thanks a lot！
`resp.data` confused with `media` and `stream`，I need read the manual carefully.
Thanks !

[2020-04-27 11:06] vytas7 commented on #1718
Heh, no worries, `resp.stream` vs `resp.data` vs `resp.data` vs `resp.media` were admittedly causing some confusion, particularly among new Falcon users. That's exactly why we've added [the said FAQ item](https://falcon.readthedocs.io/en/latest/user/faq.html#when-would-i-use-media-data-and-stream) to the upcoming Falcon 3.0 docs.

I'm going to close this issue, but don't hesitate to reopen or crea

[2020-04-27 11:06] #1718 closed

[2020-04-28 07:43] vytas7 commented on #1027
As discussed with @CaselIT , I think one possible way is wrapping https://github.com/oauthlib/oauthlib.
Its architectural style is not exactly Falcon-like, but it looks great code quality and feature-wise IMHO, so we could potentially create a `falcon-oauthlib` add-on wrapping it.

[2020-04-29 22:14] CaselIT commented on #1027
I was looking a bit into it, and to support oauth2 and its extension, open id connect, it's not really sufficient to use a middleware, since multiple routes must be registered by the auth provider to support the different stages of the authentication.

That makes it quite different compared to other authentication types, like basic or bearer (like jwt) authentications, that do not require the defi

[2020-05-04 20:12] CaselIT opened #1719 "Additional options to the internal cors middleware"
The current cors middleware is a bit too limited for use in anything other than the most simple setups.

As discussed on gitter, I think we could add a bit more options, without complicating it too much.
In particular I think that the `App.cors_enable` flag should still add the middleware configured as is, but when manually adding it to the application more options should be exposed.
Options:
- `A

[2020-05-05 14:06] MirkoRossini opened #1720 "Updating to Falcon 2.0 breaks my tests with simulate_post"
Hello,

I started working on a project that I shelved some time ago. I upgraded to falcon 2 but many of my tests are now broken.

When I try to use simulate_post with json like this (using pytest):

[code]

I get this error:

[code]

I found some related bugs but they seem to be resolved except https://github.com/AndreiRegiani/falcon-jsonify/issues/13, although I don't know if this library is used

[2020-05-05 15:50] vytas7 commented on #1720
Hi @MirkoRossini !
Falcon 2.0 has no hard dependencies itself. It is not using `falcon-jsonify` by any means out of the box, unless you choose to install the said middleware yourself.

It seems you have decorated your `on_post` responder with a hook, could you post the source code for that hook?

Another change that may be of interest here is that as of 2.0, [Falcon is no longer shimming `req.stre

[2020-05-05 21:27] MirkoRossini commented on #1720
Hi Vytautas,
Thank you so much for your help, modifying the hook to use bounded_stream solved the issue!

Sorry for wasting your time, I'm a bit rusty on Falcon.

Thanks again for the prompt response!

Mirko

[2020-05-06 06:53] vytas7 commented on #1720
Heh, no worries.
Although ostensibly simple and well documented, this change has easily been among the most confusing ones.
We do believe it was a necessarily evil though, because we want to provide the raw `req.stream` for users that do not need this (`req.bounded_stream`) layer of abstraction.

E.g.,
* https://github.com/falconry/falcon/issues/951
* https://github.com/falconry/falcon/issues/1469

[2020-05-06 06:53] #1720 closed

[2020-05-12 16:26] CaselIT opened #1721 "Remove warning in unset_cookie"
Currently unset cookie returns this warning on firefox when used in http:
`Cookie “<name-here>” will be soon rejected because it has the “sameSite” attribute set to “none” or an invalid value, without the “secure” attribute. To know more about the “sameSite“ attribute, read https://developer.mozilla.org/docs/Web/HTTP/Headers/Set-Cookie/SameSite`

This particular cookie was set with `secure=False,

[2020-05-19 12:22] Spenhouet commented on #1350
@mcobzarenco My static type checker tells me:

[code]

and using `falcon.Request` as type annotation does not really help the static type checker.

So I guess the state is that falcon does not yet support static type checkers like MyPy or PyRight.

[2020-05-20 22:05] Vorashil commented on #1457
Hey, I would like to take this issue if it's still open.

[2020-05-25 13:17] CaselIT commented on #1721
The unset cookies method should also accept a path and a domain. Otherwise cookies set with a particular path / domain cannot be unset.

[2020-05-27 04:02] carlwgeorge opened #1724 "CPython 3.9 support"
Last week CPython 3.9 had it's first beta release.  The final release is scheduled for 2020-10-05.  Fedora has already packaged 3.9 and is working on rebuilding all packages for 3.9.  The falcon test suite fails when run on 3.9.

https://bugzilla.redhat.com/show_bug.cgi?id=1793129

If you can point me to any relevant pull requests or commits that resolve the failures, I can include them in the pac

[2020-05-27 06:37] vytas7 commented on #1724
Hi @carlwgeorge !
And first of all, let me thank you for your awesome work in maintaining Falcon packages for Fedora Linux :+1:

Regarding the stable Falcon version (2.0.0) and the 2.x series on 3.9 in general... I'm afraid we might be unable to spare resources to make that happen... Any contributions in that direction are very welcome though.

However, I'm fairly confident Falcon 3.0 should see a

[2020-05-27 14:53] carlwgeorge commented on #1724
That's great news.  Currently CPython 3.9 is only in Fedora Rawhide (the development branch), so it's perfectly acceptable for me to update the Rawhide python-falcon package to an alpha release.  I'll need to create packages for uvicorn and daphne first in order to update it, but it's good to hear confirmation that Falcon 3.0 is expected to work.

[2020-05-29 07:02] vytas7 commented on #1552
Posting for reference what I previously googled before:

Their examples from that book appear to be open source: https://github.com/PacktPublishing/Building-Serverless-Python-Web-Services-with-Zappa/tree/master/Chapter07

[2020-05-29 07:08] dmproia opened #1725 "kgriffs"
Should I reveal the original source code with the original author and his license or do you want to pay some respect? This is ludicrous as you stole my code and then kept blocking me out of my server. You know what you did and the hacks to try and keep a secret as I’m not going away. You never had permission to use my code and it was licensed and registered to me. I made this fucking product not y

[2020-05-29 07:26] vytas7 commented on #1725
Hello @dmproia ,
AFAIC Falcon development has been carried out fully in the open since 2013, so the alleged code appropriation must have happened prior to that date. I seriously doubt @kgriffs had superpowers to keep you blocking for 7 years, unless you were imprisoned in some basement.

TL;DR [Who you jiving with that Cosmik Debris? Don't you waste your time on us.](https://www.youtube.com/watch?

[2020-05-29 07:26] #1725 closed

[2020-05-29 14:40] dmproia opened #1726 "No way"
He took the code beginning of 2017, not 7 years ago. Don’t be a dick as the source code was stolen at that point and implemented on this.

[2020-05-29 15:39] vytas7 commented on #1726
Hi again,
please be civilized and refrain from profanities as required by our [Code of Conduct](https://github.com/falconry/falcon/blob/master/CODEOFCONDUCT.md), or I'll ban you from all Falconry projects. This is the last warning.

If you are claiming that some of your code (that was proprietary or open source with a license that is incompatible to [ours](https://github.com/falconry/falcon/blob/m

[2020-05-29 16:06] jmvrbanac commented on #1725
Falcon has a well known open-source track record since 2013. Back then it was built and primarily used by Rackspace for internal projects and was licensed as Apache v2 for open-source development. Outside of this repository, you can also find discussion back from 2013, on the Openstack mailing lists regarding the potential usage of Falcon in Openstack projects as well.

If you have specific concer

[2020-05-29 16:33] dmproia commented on #1726
While that may be true, I started it using a baremetal Rackspace hack I created locally around beginning of Jan 2017 using Ubuntu 12 and updating to Ubuntu’s 16 from an msige72-6qf laptop where I have comodo certificates linked to my original source code. If you require me to get a lawyer I can but this was legally registered to me and from what it appears kgriffs did a few major overhauls to his

[2020-05-29 16:52] kgriffs commented on #1726
We simply can not address unsubstantiated claims. Regardless, this appears to be bot spam.

[2020-05-29 16:54] dmproia commented on #1726
I’m not a bot but if you wish to ignore me go ahead and I’ll get a lawyer

[2020-05-29 16:56] dmproia commented on #1726
![image](https://user-images.githubusercontent.com/62180168/83285129-5a99ee00-a1a3-11ea-9e0c-143817c4a476.jpeg)

Proof and your name is tied to it which is tied to my source code and certificates.

[2020-05-29 17:49] vytas7 commented on #1726
Getting a lawyer sounds like a smart idea, particularly when one is involved in questionable activities such as operating spam bots.

In any case, this is a technical bug tracker, and we cannot resolve legal disputes here. Closing this issue.

[2020-05-29 17:49] #1726 closed

[2020-05-31 01:41] kgriffs commented on #1721
So should unset cookie simply wrap set_cookie except force blank value and -1 expires?

[2020-05-31 08:54] CaselIT commented on #1721
This could be an option. But other than path and domain I'm not sure if any other options can effect the unset cookie. Same site can be set to a fixed value, since it's only used to make the browser accept the cookie.

Still, it may be simpler to just offer the same controls, so that if in the future browser implement other restrictions there is no need to modify this again.

[2020-06-02 10:36] rphes commented on #1553
I have also run into this issue when using http errors. Specifically, `HTTPNotFound` using either `from falcon import HTTPNotFound` or `from falcon.errors import HTTPNotFound`. The cause is likely the same as above, so maybe the title should be changed to something more general to reflect that.

Additionally, I've tested this on macOS Mojave and it is not an issue there. This might be obvious to t

[2020-06-02 22:25] jhuitema opened #1727 "Add support for getting the routes and resources set on a falcon.API instance"
Can we get a publicly exposed way of getting the resources that have routes on a falcon.API object?

Currently I'm only aware of one way to do this, which does not seem clean or safe:

[code]

The use case I want to be able to support is auto-generating the "/info" endpoint based on the currently added routes. The example above is a simplified version of what [falcon-apispec](https://github.com/al

[2020-06-03 06:03] vytas7 commented on #1727
Hi @jhuitema !
We have recently merged some improvements on that front, mainly thanks to @CaselIT .

Could you try installing the latest version from Git `master`, and check whether the new [Inspect Module](https://falcon.readthedocs.io/en/latest/api/inspect.html) fits your bill?

[2020-06-03 07:17] CaselIT commented on #1727
Currently the inspect module only saves the string info of most things, but it should not be too hard to also save the actual object alongside them, so that they could be further used for additional analysis.

[2020-06-03 17:53] jhuitema commented on #1727
That's looks like it will solve my problems nicely. I'll have a play and let you kknow how it goes.

Thanks

[2020-06-03 18:13] CaselIT commented on #1721
I've updated the pr. I've opted for adding `path` and `domain` to `unset_cookie`

[2020-06-04 10:18] frad00r4 commented on #1597
Also I found another bug with `auto_parse_qs_csv`

If a http client send quoted query string it doesn't work

for example
[code]
but
[code]

[2020-06-07 04:33] #452 closed

[2020-06-15 21:55] jhuitema commented on #1547
Can the TestClient be updated to _not_ specify list arguments as CSV then? Currently there is no way I can find to allow the TestClient to work with get_param_as_list without setting ``auto_parse_qs_csv``.

Having to set ``auto_parse_qs_csv`` for the tests isn't great since that changes the behaviour of the entire app.

[2020-06-16 07:53] vytas7 commented on #1547
Hi @jhuitema ,
just to make sure I understand you correctly, are you talking about the `params` parameter of the `TestClient` `simulate_*()` methods, i.e.:
[code]

That does sound inconsistent with the new `auto_parse_qs_csv` default in Falcon 2.0.
I'll create a new issue for this.

[2020-06-16 07:55] vytas7 opened #1730 "params_csv should default to False in TestClient.simulate_request()"
Values of the [`TestClient.simulate_request()`](https://falcon.readthedocs.io/en/stable/api/testing.html#falcon.testing.simulate_request) **params** parameter are converted to a comma-delimited string of values by default, although this behaviour can be overridden by setting the `params_csv` parameter to `False`.

Although the behaviour is documented, it is not consistent with [`RequestOptions.aut

[2020-06-16 08:27] vytas7 commented on #1547
@jhuitema Note that although this may be infeasible for your test suite, you can also explicitly specify `params_csv=False` in your `simulate_*` calls as a workaround for the time being.

I created https://github.com/falconry/falcon/issues/1730 to change the default to match the [`RequestOptions.auto_parse_qs_csv`](https://falcon.readthedocs.io/en/stable/api/api.html#falcon.RequestOptions.auto_par

[2020-06-18 08:45] CaselIT opened #1731 "[docs] Improve nginx example configuration in the deploy FAQ"
The example [nginx configuration](https://falcon.readthedocs.io/en/latest/deploy/nginx-uwsgi.html#id3 ) in the `Deploying Falcon on Linux with NGINX and uWSGI` article could probably be improved to include https configuration and redirect of http to https, since I believe it's the most common configuration now.

Maybe we could use a configuration from this great [Mozilla site](https://ssl-config.m

[2020-06-20 07:21] bibekjoshisrijan commented on #1583
@vytas7 @kgriffs I can take this issue to work with.

[2020-06-20 07:24] bibekjoshi54 commented on #1583
@vytas7 @kgriffs I can work on this.

[2020-06-22 16:53] jhuitema commented on #1547
Ah, the params_csv keyword arg on the simulate_* method was what I was asking for. I didn't notice there was a way to change the list params output by the TestClient.

Feel free to ignore me :)

[2020-07-01 17:49] vytas7 commented on #1578
@mrpycharm thought just checking if you were still working on this?
And sorry for not removing the label earlier. This is no longer blocked on any issues as #1573 landed some months ago.

[2020-07-01 18:19] vytas7 commented on #1457
Hi @Vorashil !
Yeah, you are very welcome to!
Let us know if you are still interested in working on this though so that we do not duplicate efforts.

[2020-07-01 18:33] vytas7 commented on #1506
@kgriffs :ping_pong: Friendly ping checking if this is still on your radar.
Looks like we now have [`create_req()`](https://falcon.readthedocs.io/en/latest/api/testing.html#falcon.testing.create_req) and [`create_asgi_req()`](https://falcon.readthedocs.io/en/latest/api/testing.html#falcon.testing.create_asgi_req), although they probably don't fully live up to @hynek 's requirements yet :thinking:

[2020-07-01 18:35] mrpycharm commented on #1578
Hi @vytas7, apologies for not updating here. I might not be able to complete it because I am caught up in some urgent things these days.

[2020-07-01 18:40] vytas7 commented on #1578
No worries! I'm then leaving the `needs contributor` label for now, but don't hesitate to let us know if you wish to grab this (or another) issue again!

[2020-07-01 18:42] mrpycharm commented on #1578
Sure @vytas7 I'll pick it up again if I get a chance to :)

[2020-07-01 22:04] Vorashil commented on #1457
Hi @vytas7 . Yes, I am still keen to do it. Please assign it to me. Thanks in advance.

[2020-07-02 12:18] vytas7 commented on #1457
We don't assign in any particular way :slightly_smiling_face: Your confirmation here is enough.
Looking forward to your PR!

[2020-07-04 16:48] vytas7 commented on #1008
Hello everyone!
We have since decided to standardize our async efforts on [ASGI](https://asgi.readthedocs.io/en/latest/).

I'm closing this issue as a duplicate of our ongoing ASGI work, see also:
* ASGI+HTTP https://github.com/falconry/falcon/issues/1358
* ASGI+WebSocket https://github.com/falconry/falcon/issues/321

Our road to Falcon 3.0 (supporting ASGI, among other things) is tracked here: ht

[2020-07-04 16:49] #1008 closed

[2020-07-04 17:15] vytas7 commented on #1717
FWIW, our media type negotiation machinery seems to automatically choose the `application/json` handler for requests sent as `application-json; charset=UTF-8`. In that light, could we remove the explicit `application-json; charset=UTF-8` handler from our codebase and the docs now that we are defaulting to just `application/json` ourselves. As a bonus, that would eliminate confusion in situations l

[2020-07-06 05:22] adsahay commented on #1717
Yes this sounds great.

Also, it might be a stylistic preference, but in such situations if we can have a constant for all handlers (falcon.MIME_JSON) or something it will have the additional benefit of discoverability of available handlers in documentation / code completion, and avoid typos.

[2020-07-06 05:25] adsahay commented on #1717
If you want I can fix and send PR for this (my first falcon contribution!)

[2020-07-06 06:17] vytas7 commented on #1717
Hi again @adsahay ,
We do have such constants (the stable version already has), maybe we just haven't updated all the docs with them yet. Or, we may have left explicit strings in selected places for clarity.

[code]

@adsahay PRs are always welcome :slightly_smiling_face: :+1:
To be honest, I haven't fully explored the ramifications of removing the explicit `UTF-8` JSON handler, it's just a quick

[2020-07-06 19:23] humblewolf opened #1738 "Suggestion : Request body shall be available throughout the lifecycle of a request"
I am new to falcon and I may be missing something.

If in a responder I read body from request object, it seems I cannot read it again, (there is no seek(0)).

This is troublesome If i want to log the entire request(body included) in case of some exception after reading body via global exception handler.

[2020-07-06 20:11] vytas7 commented on #1738
Hi @humblewolf !
Falcon does not buffer or spool the request body by design.

In order to provide `seek()`, the request body should first need to be buffered in memory, or in a temporary file. We do not consider this approach suitable for general usage -- think of huge multi-gigabyte requests that are filtered, proxied, or otherwise processed on-the-fly by a Falcon application.

That said, if you

[2020-07-06 20:58] humblewolf commented on #1738
I got your point. I was also thinking of doing this via middlewares, but I think it will add latency to the process. My entire point of using flacon instead of flask is because of its fastness/performance. Anyways I am leaving body out of logs as of now.

Thanks for your swift communication. Love to Sweden (huge fan of olofmeister !!!)

[2020-07-06 21:32] kgriffs commented on #1717
It could be that the key including the charset was left in to speed up the selection algorithm... regardless, I agree that it is not worth maintaining it since in most cases the charset will not be present in the string to begin with.

[2020-07-07 09:07] vytas7 commented on #1505
I do not think `finalize_response` or whatever name we settle on should be only called for streamed responses.
For a "normal" bytestring response body, we should still run it, just after `process_response`. Or we could wrap the bytestring in a one-item iterable with `.close()` to make it closer follow the PEP-3333 spirit.

Of course, ASGI is a different story as it has more explicit flow control s

[2020-07-07 10:33] CaselIT commented on #1505
I think it would be called after the body has been serialized, so if media is used, after the media handlers have run.

Regarding how to behave in a stream vs bytestring body, the idea of wrapping the bytestring in a stream is interesting, if it does not impact performance in a significant way.
That would make both type of body behave in the same way, meaning that the callback would not be called

[2020-07-07 10:43] vytas7 commented on #1505
FWIW, `process_response` is also called after the media handlers have run.

Re wrapping the response body in a stream, it is hard to assess performance across WSGI servers, but one could benchmark the most popular ones. Anyway, it is probably not a big deal since we would only be wrapping if any `finalize_response`s are present in the middleware stack.

That's the idea, at least it is as close to

[2020-07-07 11:17] CaselIT commented on #1505
I think they are called just before.

[2020-07-07 11:25] vytas7 commented on #1505
Doh, sorry... My bad.
Anyway, `finalize_response` would very obviously be executed after everything in the request-response cycle.

[2020-07-07 21:26] CaselIT commented on #1738
Note that if the body has a content type you can use [Request.media](https://falcon.readthedocs.io/en/stable/api/media.html) to access it, and the media will be cached.

[2020-07-09 13:29] myuz commented on #1027
@CaselIT @vytas7 I would happy to start work on the package in 2-3 weeks if it makes sense, and the issue is still relevant.

[2020-07-09 15:37] CaselIT commented on #1027
I've started on an implementation, but it's currently stalled since I've not had much time to work on it.
I'll update this issue if I find some time to make progress on it

[2020-07-12 21:33] CaselIT commented on #1027
I've managed to work a bit on the auth project. Still a lot of things missing. And very alpha stuff :)
https://github.com/CaselIT/falcon-auth2

[2020-07-13 21:57] vytas7 commented on #1250
Hi again @xgfone !
Closing this issue since the main problem (custom routers needing to reimplement method mapping) seems to be addressed, and well tested as part of Falcon 2.0 released last year.

[2020-07-13 21:57] #1250 closed

[2020-07-13 22:05] vytas7 commented on #1738
The question itself is not new, it seems.
Merging this issue with https://github.com/falconry/falcon/issues/417

[2020-07-13 22:05] #1738 closed

[2020-07-13 22:15] vytas7 commented on #212
Closing this, it does not seem to be feasible/worth the effort to do anything like that on the WSGI side when the standard explicitly forbids it.

Furthermore, ASGI is now getting more and more mature and widespread, and ASGI supports streaming requests out of the box (along with other goodies useful for streaming interaction with the service such as WebSocket etc). Falcon 3.0 will support ASGI.

[2020-07-13 22:15] #212 closed

[2020-07-13 22:33] vytas7 commented on #1372
Hi @johnnyman727 !
And sorry for the somewhat delayed response... better late than never, hopefully.

The documentation states that

A static route is also a route, so it does sounds like a bug, either in logic or documentation.

[2020-07-13 22:38] vytas7 commented on #1552
I have recently heard from our community (@zacharyabresch) that this package also gets the job done: https://github.com/truckpad/aws-lambda-wsgi .
Maybe we should consider adding a couple of snippets to our Recipes or FAQ sections.

[2020-07-13 23:55] zacharyabresch commented on #1552
Ya know, I found this issue early on in my research and forgot _all_ about it.

Can confirm, this module is working in my project to send AWS Lambda events (from API Gateway) to Falcon. This comes with one caveat ... my project is only working with incoming requests. Currently, API Gateway responses are timing out but I have not determined the cause of this. As this app involves a lot of file uplo

[2020-07-14 12:49] vytas7 commented on #1552
Hi again @zacharyabresch ,
regarding functions timing out, you might want to check [Configuring functions in the AWS Lambda console](https://docs.aws.amazon.com/lambda/latest/dg/configuration-console.html) and [AWS Lambda limits](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html).

The default timeout is only 3 seconds, which may not be enough to handle file uploads:

Further

[2020-07-14 16:39] nZac commented on #1372
@vytas7 I would think a static route would take priority.

Looking at [`_get_responder`](https://github.com/falconry/falcon/blob/master/falcon/app.py#L841-L855) it is rather obvious that a static route is taken after a sink. Since that code is so close in proximity I wonder if it was by choice. [Here is the commit](https://github.com/falconry/falcon/commit/c17372fa34e6488a9222a51a6659fbbec0bef3b3#

[2020-07-14 23:09] kgriffs commented on #321
UPDATE: I have completed an alpha-quality implementation in my fork. Hoping to get it into 3.0.0a2. Docs and full test coverage will then be the focus for getting WebSocket scope support ready for 3.0.0b1.

[2020-07-14 23:25] Camilo-HG commented on #321
Wow! Really ?? ... I was waiting for this!!

[2020-07-16 13:22] zacharyabresch commented on #1552
Good call but, in this case, it's the API Gateway timeout I'm hitting which is locked at 30 seconds max. After further debugging, I was able to prove that my issue is unrelated to the WSGI adapter so this can be considered a viable solution. In that process I swapped out `aws-lambda-wsgi` for the one it was based on, [`awsgi`](https://github.com/slank/awsgi) and _both_ worked. I only mention this

[2020-07-17 12:35] PriyatamNayak opened #1742 "Multiprocessing pool map not working"
Hi,
 Anyone knows any trick how we can use multiprocessing pool map inside falcon app?
Fastapi am able to use pathos.multiprocessing ,the same code is not working inside falcon app
Any idea?

Fyi..it is not giving any error,just ending automatically

[2020-07-17 13:00] vytas7 commented on #1742
Hi @PriyatamNayak !
Could you post a code example, preferrably as limited as possible, how your prototype looks like?
Furthermore, how are you deploying this, i.e. the WSGI/ASGI app server, and its relevant settings such as the amount of worker processes, threads, greenlets etc if applicable.

Thinking normally things like multiprocessing pools are not directly related to the framework of choice,

[2020-07-17 15:41] PriyatamNayak commented on #1742
On Fri, 17 Jul 2020 at 9:00 PM, Vytautas Liuolia <notifications@github.com>
wrote:

Could you post a code example, preferrably as limited as possible, how your
prototype looks like?
Furthermore, how are you deploying this, i.e. the WSGI/ASGI app server, and
its relevant settings such as the amount of worker processes, threads,
greenlets etc if applicable.

Thinking normally things like multiproces

[2020-07-17 15:54] vytas7 commented on #1742
Hi again @PriyatamNayak ,
I cannot reproduce your issue.

Here is my test case (`test.py`):
[code]

Running with `gunicorn test:app`, and `POST`ing some numbers:
[code]

Could it be that you need to take care of a pool, and store & manage [its reference persistently](https://docs.python.org/3/library/multiprocessing.html#multiprocessing.pool.Pool), not instantiating ad-hoc as you do? Note that it

[2020-07-17 16:16] vytas7 commented on #1742
@PriyatamNayak
Here is my attempt with uWSGI, deliberately using 4 worker processes this time.

We take care to only initialize pool only after that uWSGI has forked its workers, and add an `atexit` cleanup handler to gracefully wait for pools:
[code]

Running the whole thing:
[code]

Sending requests still works, now with uWSGI:
[code]

As you can see above, I simply cannot reproduce anything con

[2020-07-17 16:33] PriyatamNayak commented on #1742
Also on linux am using gynocorn and gevent

On Sat, 18 Jul 2020 at 12:16 AM, Vytautas Liuolia <notifications@github.com>
wrote:

--

*Regards*
*Priyatam Nayak+6584584608*

[2020-07-17 16:47] vytas7 commented on #1742
Hi again,
I do not use Windows to deploy applications, so it is hard to comment on Waitress. Maybe you can try reporting a bug against it if you believe it is not working correctly. Multiprocessing is in general tricky on Windows though, because you cannot fork the same way as on Unix-like OSes.

Regarding `gevent`, vanilla multiprocessing is unfortunately known not play nicely with `gevent`. See

[2020-07-17 16:47] #1742 closed

[2020-07-17 17:06] PriyatamNayak commented on #1742
Can you give me best configuration to run with uwsgi with 1000 requests
handle per second
Note :am thinking to test and use with uwsgi instead of Gini corn

Note:you can also provide best configuration for gunicorn without gevent

On Sat, 18 Jul 2020 at 12:47 AM, Vytautas Liuolia <notifications@github.com>
wrote:

--

*Regards*
*Priyatam Nayak+6584584608*

[2020-07-17 17:09] vytas7 commented on #1372
@nZac Good point regarding a breaking change. I'll reschedule to the upcoming 3.0 release, and if it doesn't make it, we'll have to push to the next major version.

[2020-07-17 18:19] vytas7 commented on #25
Normally, it would be unclear if this provides much value over just using Gunicorn (autoreload is supported) or similar as a debugging server.

However, now that we are going to support both WSGI and ASGI, could it be worth revisiting this?
We could combine `wsgiref` and `asgiref` into one tool that would automatically recognize which flavour of Falcon (or a non-Falcon app, for that matter) we're

[2020-07-17 18:29] vytas7 commented on #259
@kgriffs I'm thinking to close this once we re-enable the Hug gate. Hug does fit the bill of a large 3rd-party project.

[2020-07-17 18:37] vytas7 commented on #446
This is now documented as a recipe: [Request ID Logging](https://falcon.readthedocs.io/en/latest/user/recipes/request-id.html).
However, I'm leaving this open as a proposal to something about this in the framework itself (and probably making it configurable).

Maybe we could do something along the lines of our "simple CORS" solution, where we append a middleware if requested.

[2020-07-17 18:50] vytas7 commented on #724
This has been fixed at some point.

[2020-07-17 18:50] #724 closed

[2020-07-17 19:04] vytas7 commented on #690
Hi @goodmami !
As of Falcon 2.0, your example does actually work as-is! We realize that the docs could better expose this feature: https://github.com/falconry/falcon/issues/1596

Regarding XML-RPC, that's usually only one end point, no routing involved :slightly_smiling_face:

Given the above mentioned suffixes, and other new features in Falcon 2.0+, IMHO it makes sense to first of all tackle this

[2020-07-17 19:25] vytas7 commented on #772
As we have now jumped on the ASGI bandwagon, I am going to close this for now.

`aiohttp` seems to have evolved into sort of a framework on its own, interestingly even bearing some similarities to Falcon. However, at the same time it does not look very suitable for layering another framework (such as Falcon atop) it. Indeed, one doesn't really find (m)any higher level frameworks in that vein: http

[2020-07-17 19:25] #772 closed

[2020-07-17 19:35] vytas7 commented on #1056
Merging with the older #25 .

[2020-07-17 19:35] #1056 closed

[2020-07-17 19:40] vytas7 commented on #932
Adding the `documentation` label too. We could add a [recipe](https://falcon.readthedocs.io/en/latest/) demonstrating how to do it along the lines of the above discussion.

[2020-07-17 19:45] vytas7 commented on #1169
Removing `breaking-change`. Using a faster library should not affect the percent coding behaviour, which is well defined both in RFCs and in the Python std library.

[2020-07-17 19:49] vytas7 commented on #1155
It looks like this has already been done. We do reference Django 2.2.1 on https://falconframework.org/#sectionBenchmarks .

[2020-07-17 19:49] #1155 closed

[2020-07-17 19:56] vytas7 commented on #1367
Indeed, that sounds like a logical suggestion.

FWIW, we vendored `python-mimeparse` into Falcon as part of the 2.0 release as it was the last dependency.
In that light, a question arises what to do with your PR if we agree to go ahead with it. Maybe we should ask @dbtsai to take over maintenance of the project :thinking: Or whether we should fork our version.

[2020-07-17 19:57] vytas7 commented on #1367
Note that I'm reluctant to label this as a breaking change, as we don't seem to provide exact guarantees how subtypes are chosen.

[2020-07-17 20:01] vytas7 commented on #1326
Falcon 3.0 will support [http_status_to_code](https://falcon.readthedocs.io/en/3.0.0a1/api/util.html#falcon.http_status_to_code) exactly as described by @JamesMessinger .

[2020-07-17 20:01] #1326 closed

[2020-07-17 20:06] vytas7 commented on #1225
Merging with #833

[2020-07-17 20:06] #1225 closed

[2020-07-17 20:07] vytas7 commented on #833
@shimakaze-git are you still interested in providing the Japanese documentation?

[2020-07-17 20:12] vytas7 commented on #833
Adding to what @kgriffs said on https://github.com/falconry/falcon/issues/1225#issuecomment-387612675 :arrow_up: , I believe we would need to somehow categorize the documentation into core and additional parts, where only the core would be required for other languages (they could of course opt into translating everything). If that is allowed by Sphinx intl stuff.

[2020-07-17 20:19] vytas7 commented on #1610
Hi again @darwinyip ,
I am going to close this, assuming the above has answered your question, however, do not hesitate to reopen if you would like to further discuss the topic.

Adding to my previous answer, this type of monitoring is more common on the WSGI application server and/or the front-end proxy server (such as Nginx) side.

[2020-07-17 20:19] #1610 closed

[2020-07-17 20:24] vytas7 commented on #1633
Indeed, well spotted!

[2020-07-17 20:48] vytas7 commented on #1309
Hi again @fgimian ,
I am going to close this issue by merging it with the mentioned #1369 .

A word on benchmarks. It is true that they are not representative of a "real" network server throughput -- the focus is instead on illustrating the overhead that different frameworks are adding, sort of the theoretical maximum of what is possible, and when network is taken into account, the real throughput

[2020-07-17 20:48] #1309 closed

[2020-07-17 20:52] vytas7 commented on #1552
Aha, sorry!
It would be awesome if could share a post on this.

I'm thinking whether we should actually document Falcon on AWS Lambda as a Deployment article :thinking:

[2020-07-17 21:04] fgimian commented on #1309
No worries at all @vytas7, thank you so much for the information too 🥘

[2020-07-17 21:06] vytas7 commented on #1413
Hi @czelsa !
Yes, raising an instance of `HTTPStatus` is a perfectly fine way of implementing redirects.

See also:
* [How do I implement redirects within Falcon?](https://falcon.readthedocs.io/en/stable/user/faq.html#how-do-i-implement-redirects-within-falcon) (FAQ)
* [Redirection](https://falcon.readthedocs.io/en/stable/api/redirects.html#redirects) (Framework Reference)

I'm closing this issue

[2020-07-17 21:06] #1413 closed

[2020-07-17 22:23] vytas7 commented on #1371
Hi @nsonic001 !
The FAQ item you are linking to does, IMHO, a pretty good job explaining this framework behaviour choice.

On the other hand, yeah, this could probably be made configurable. I'll mark your proposal as such.

FWIW, note that [`parse_qs()`](https://docs.python.org/3/library/urllib.parse.html#urllib.parse.parse_qs) in the Python std lib behaves the same way, decoding pluses to spaces.

[2020-07-18 00:58] goodmami commented on #690
@vytas7 thanks!

Yes, I believe it worked when I wrote it. My question is if that is an anticipated use of the suffix feature, or if it is too much a hack that it might be a discouraged pattern (and if so, why?).

Is there a different pattern to enable this architecture within Falcon? To be clear, I'm using Falcon already for a RESTful service, but I have an endpoint that is decidedly more RPC-lik

[2020-07-18 07:33] vytas7 commented on #690
Hi again @goodmami !
And sorry for the somewhat hastily written response. I was trying to skim through all open issues we have.

Let me first clarify this one. It is perfectly fine to continue the conversation rolling here. What I meant was suggesting new issues in case new Falcon features were proposed to facilitate the RPC architectural style.

Indeed, it was already released when you wrote this

[2020-07-18 08:14] vytas7 commented on #1370
I would tend to agree with @anekix , adding support for arbitrary values in `get_param_as_int` would actually make it somewhat less `_as_int`, so to say.

@dannyhajj Normally it is more common to accept `PATCH` changeset as a JSON payload, although that is of course up to you.

@dannyhajj With JSON payload in mind, could [`Request.get_param_as_json`]
(https://falcon.readthedocs.io/en/stable/api/re

[2020-07-18 08:21] vytas7 commented on #1699
Hi @leefyi !
Indeed, this became a bit of a time warp; as also explained by @CaselIT , `App` is actually newer than `API`.

I am going to close this by merging with https://github.com/falconry/falcon/issues/1625 though, as the underlying problem is the same.

[2020-07-18 08:21] #1699 closed

[2020-07-18 08:28] vytas7 commented on #1717
@adsahay just checking, would you like to work on this by removing `application-json; charset=UTF-8` from the default handlers?

As we proceed to remove it though, I would like to see a note added to the docs regarding speeding up the selection algorithm (needs to be verified with a benchmark!), so that people could duplicate their handlers for a specific parameter set, if they expect that to be t

[2020-07-18 08:37] vytas7 commented on #1367
Related:
* Vendoring `python-mimeparse` (implemented as of Falcon 2.0) https://github.com/falconry/falcon/issues/1420
* Discussion re contributing back to `python-mimeparse` / its maintenance https://github.com/falconry/falcon/issues/1183

[2020-07-18 11:00] vytas7 commented on #733
This has been done as part of [Falcon 2.0](https://falcon.readthedocs.io/en/latest/changes/2.0.0.html#breaking-changes):

[2020-07-18 11:00] #733 closed

[2020-07-18 12:03] vytas7 commented on #1544
@vishalrp You can easily bring back the 1.4.1 behaviour by setting [`strip_url_path_trailing_slash`](https://falcon.readthedocs.io/en/stable/api/api.html#falcon.RequestOptions.strip_url_path_trailing_slash) to `True` in your application's [request options](https://falcon.readthedocs.io/en/stable/api/api.html#falcon.RequestOptions).

It is a much bigger issue when the new default behaviour is desir

[2020-07-18 12:28] vytas7 commented on #1544
Added to the excellent analysis by @laurent-chriqui , we seem to always strip trailing slashes inside [`CompiledRouter.add_route`](https://falcon.readthedocs.io/en/stable/api/routing.html#falcon.routing.CompiledRouter.add_route):
[code]

When fixing this, have the special `/` case in mind (there cannot be a route without a trailing slash for `/`) though.

Also watch out for conflicts between `/hom

[2020-07-18 13:15] vytas7 commented on #1499
Hi @sisp ,
adding to what @nZac said, I would like to comment on your second point, Golang middlewares.

Python [PEP-3333 WSGI Middleware](https://www.python.org/dev/peps/pep-3333/#middleware-components-that-play-both-sides) acts exactly the same way as you describe. You can use generic WSGI middleware with Falcon.

[2020-07-20 14:43] zacharyabresch commented on #1552
I started a draft for this post last night. Hoping to work on it over the week and get an example posted soon.

[2020-07-20 22:10] kgriffs commented on #1634
Here is an initial stab at designing the interface. Thoughts?

[code]

[2020-07-20 22:58] #1719 closed

[2020-07-20 23:27] onecrayon commented on #1634
This makes sense to me as far as testing ASGI concurrent behavior (since you need to be able to run both read/write events simultaneously to emulate how the system works). It seems like overkill for testing of random endpoints where internal state matters less, though (like simple CRUD). Will it also be possible to run a synchronous `simulate_*()` call against an ASGI endpoint without setting up a

[2020-07-21 09:34] mansonami opened #1743 "Why the examples need to modify, or it can run"

[2020-07-21 09:35] mansonami commented on #1743
Why the examples need to modify, or it can not run

[2020-07-21 09:35] #1743 closed

[2020-07-21 09:35] mansonami opened #1744 "Why the examples need to modify, or it can not run"

[2020-07-21 10:26] vytas7 commented on #1744
Hi @mansonami !
You'll need to be more specific.
Do you mean that some of our examples are buggy, and don't run unmodified?
If so, which examples do you mean specifically, and which errors are you seeing?

Could it be the same issue as https://github.com/falconry/falcon/issues/1534 ?

[2020-07-21 10:47] adsahay commented on #1717
Ok sure.

[2020-07-21 17:27] vytas7 commented on #1634
@onecrayon: I would let @kgriffs confirm, but I don't think any of this means that "normal" `simulate_*`s are going away.

My understanding is that they would continue to work with both sync and async _as-is_, this is just a bonus feature for people that actually _need_ this (as I wrote, I could imagine this being useful for testing WebSocket and, to a degree, SSE).

[2020-07-21 19:30] brad-ncu commented on #1595
I've recently been using Falcon a lot and spend a lot time referring to the docs.  I would like to tackle this and perhaps #1596.

[2020-07-22 17:43] vytas7 commented on #1595
@brad-ncu That's awesome news. I'll remove `needs contributor` from this one since you're starting on this.

[2020-07-23 01:55] zacharyabresch commented on #1552
Got sample code repository up (https://github.com/zacharyabresch/falcon-on-aws-lambda) and have tested it in AWS. Learned something too ... the API Gateway must be using the 1.0 payload version which is only available, AFAICT, with HTTP APIs, not REST. Explains some things I was seeing when hooking my work project up. Post forthcoming.

[2020-07-23 12:28] PriyatamNayak commented on #1742
@vytas7 Can we use "eventlet " instead of gevent

[2020-07-23 23:15] kgriffs commented on #1634
That's correct; I was thinking about adding this in addition to the synchronous `simulate_*()` interface. Although the conductor will probably be the only way to test WebSocket.

[2020-07-24 01:53] onecrayon commented on #1634
Yeah, that makes total sense; you can't really test a Websocket connection without some level of persistent connection handling. This all sounds good to me!

[2020-07-24 15:43] vytas7 commented on #1634
A thought on the proposed design btw.
That's looking good, but maybe we could add a convenience shortcut to simply enter a [`TestClient`](https://falcon.readthedocs.io/en/latest/api/testing.html#falcon.testing.TestClient) as an async context manager:
[code]

[2020-07-29 07:45] CaselIT opened #1746 "Add ability to cache the stream"
It is sometimes useful to have the ability to use both the raw stream and the media in a request. Examples of this may be to implement a cache on graphql and similar apis that use POST to implement a querying endpoint. Something like

[code]
In the example above if the cache misses, there is transparent way of inspecting the data stream in without preventing use of `Request.media`.

To aid this us

[2020-07-29 07:57] vytas7 commented on #1746
(Pasting my input from Gitter)

Related community requests:
* falconry/falcon#417
* falconry/falcon#471
* falconry/falcon#1738

Personally, the cleanest solution IMHO would be
* Rename [`Request.bounded_stream`](https://falcon.readthedocs.io/en/latest/api/request_and_response_wsgi.html#falcon.Request.bounded_stream) to something more fitting (yeah, naming is hard... maybe just `Request.reader`?)
*

[2020-07-30 21:33] #1594 closed

[2020-07-30 21:57] #1730 closed

[2020-07-31 07:22] vytas7 commented on #1744
Hi again @mansonami ,
just checking whether you had a chance to look at my counterquestion, and whether it is still an issue for you?

[2020-07-31 08:23] #1135 closed

[2020-07-31 10:23] vytas7 commented on #578
Worth noting that the [ASGI spec](https://asgi.readthedocs.io/en/latest/index.html) also mandates that headers [must be lowercased](https://asgi.readthedocs.io/en/latest/specs/www.html#response-start-send-event). Which sort of adds even more weight on the Won't fix side.

[2020-07-31 11:39] ilietrasca commented on #1552
I just created a PR for you repo, when I tried to run the example that you provided in Lambda I got the error::
**module initialization error: module 'falcon' has no attribute 'App'**

I replaced App with API() and now everything is working properly, I have an API function in front of a Lambda falcon API and everything is working (y)

[2020-07-31 11:42] vytas7 commented on #1552
@ilietrasca Just to clarify `App` vs `API`: Falcon 2.0 has only `API`, which will be renamed to `App` in Falcon 3.0 (currently the first alpha is available). `API` will be maintained as a compatibility alias.
@zacharyabresch was testing the unstable version.

[2020-07-31 19:18] BenjamenMeyer commented on #578
@vytas7 folks still need to be able to manage bad clients that they have no control over. Guess it'll get done when someone cares enough to do it; but it'd probably be good to at least maintain what the desired implementation should be should someone want to

[2020-07-31 19:24] vytas7 commented on #578
@BenjamenMeyer yeah, that is a fair point.
I was just pointing out that it was impossible to emit anything but lower case header names from an async ASGI app. I.e., in the ASGI flavour of Falcon, we would be unable to preserve the case even if we wanted to.

[2020-08-01 11:41] CaselIT commented on #1746
Not really convinced by reader, since it looses the "stream" from the name. Other random alternatives `reader_stream` | `stream_reader` | `wrapped_stream`.

[2020-08-01 12:03] vytas7 commented on #1746
Indeed, `stream_reader` or `body_reader` would probably be most fitting.

[2020-08-01 16:29] vytas7 opened #1749 "Response.downloadable_as does not follow RFC 6266 recommendations for UTF-8"
At the time of writing, [Response.downloadable_as](https://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Response.downloadable_as) always uses the `attachment; filename="filename.ext"` form regardless of the provided filename. However, [RFC 6266](https://tools.ietf.org/html/rfc6266) specifies that a quoted `filename` shall be interpreted as ISO-8859-1 (although some agents a

[2020-08-03 15:47] zacharyabresch commented on #1552
@ilietrasca Thanks for the heads up! As @vytas7 mentioned, I'm using the new API but I'll make a note of that in the README on my project.

[2020-08-04 18:15] vytas7 commented on #1547
@jimbobhickville @jhuitema I have now merged the fix for https://github.com/falconry/falcon/issues/1730 , so at least the testing client will now be consistent with the default [`RequestOptions.auto_parse_qs_csv`](https://falcon.readthedocs.io/en/stable/api/api.html#falcon.RequestOptions.auto_parse_qs_csv) setting.

[2020-08-04 18:24] vytas7 commented on #1547
The question what to do with `get_param_as_list()` still remains open.

There is a bit of an ugly issue what to do with escaped commas.
In case we decide that `get_param_as_list()` should split on commas regardless of the [`RequestOptions.auto_parse_qs_csv`](https://falcon.readthedocs.io/en/stable/api/api.html#falcon.RequestOptions.auto_parse_qs_csv) value (either by default, or controlled by an o

[2020-08-04 18:27] vytas7 commented on #1589
An important note on the ASGI side, before I forget again: in ASGI, in case it is a streamed request, it is hard to distinguish empty payload without actually trying to consume it, so we would probably need assistance from media handlers for a bullet-proof solution? :thinking:

[2020-08-04 18:38] CaselIT commented on #1746
After thinking a bit about this, I think that extending the stream is probably the most expandable option.
I think that maybe we could provide a `CachedStream` alongside the `BoundedStream`.
Regarding where this parameter would go, `request_options` is an alternative or maybe like the `Context`
https://github.com/falconry/falcon/blob/113eea113844058816ed745d8dc9cb197e75cb95/falcon/request.py#L435

[2020-08-04 18:52] vytas7 commented on #1746
I wrote `request_options` without thinking too much tbh. But it might indeed make more sense to follow the `context_type` pattern, and define something like `body_reader_type`.

[2020-08-04 19:16] CaselIT commented on #1746
I still think `stream` should be in the name tbh.

[2020-08-04 19:39] CaselIT opened #1752 "Provide a way of using Resource header functions from HttpStatus and HttpError"
Resource has a series of utility methods for setting complex headers, like [`Set-Cookie`](https://falcon.readthedocs.io/en/3.0.0a1/api/request_and_response_wsgi.html#falcon.Response.set_cookie) or [`Link`](https://falcon.readthedocs.io/en/3.0.0a1/api/request_and_response_wsgi.html#falcon.Response.add_link).

It would be nice to have a similar ability also in the `HttpStatus` and in the `HttpError`

[2020-08-04 20:22] #1674 closed

[2020-08-04 20:26] vytas7 commented on #1381
Closing as all the dependencies are now complete.

[2020-08-04 20:26] #1381 closed

[2020-08-04 21:02] CaselIT commented on #1589
Should we try to wrap up a reasonable proposal? My take

- Make the media try to parse an empty body. If it does not error, great, use that value.
- If it errors, check if the stream was empty. Use the content_length for wsgi. Not sure if it is possible in the async part, but it should still be possible to know if at least something was read after the fact.
- If it was empty check the `when_empty`

[2020-08-05 21:55] kgriffs commented on #1634
Update: I have a draft of this in my fork...hoping to put up a PR soon.

See also: https://github.com/kgriffs/falcon/blob/feat/test-conductor/falcon/testing/client.py

[2020-08-06 10:26] vytas7 commented on #1281
Discussion from https://github.com/falconry/falcon/pull/1753 (see also other comments therein)

@CaselIT said

[2020-08-06 10:38] vytas7 commented on #206
Duplicates #1281

[2020-08-06 10:46] vytas7 commented on #1281
Thanks for your feedback @koobs !
We'll think of shipping the generated `.c` files; that's an interesting idea.

When it comes to not enabling Cython by default, I'm admittedly not sure I'm following the reasoning, particularly if we follow the `.c` file advice.
Regardless, this issue is mostly about binary wheels, and that is where you obviously do want to compile whatever possible.

[2020-08-06 11:03] CaselIT commented on #1281
I can take a look at adapting the release workflow used in sqlalchemy for falcon, if the plan is to migrate to use github actions

[2020-08-06 11:13] vytas7 commented on #1281
Re shipping `.c` files, I would be reluctant littering Git with them, and more importantly, having the burden of keeping them in sync with `.py` & `.pyx`.

Which means, if we pursue this, we'd probably have to
* Accommodate `setup.py` to be able to use these `.c` files, if present
* Generate them in GH release Actions (similarly to building wheels) when generating `sdist`, before uploading `sdist`

[2020-08-06 17:19] CaselIT commented on #1281
So the plan could be:
- The action runs when a release is created

### For wheels:
- generate the wheel compiling the parts to compile
- install the created wheel. On linux this would use the manylinux docker image to generate correct linux images
- check that the compiled parts are properly setup.
   - [ ] if there is currently a way for falcon to detect this. Maybe a flag somewhere may be useful

[2020-08-06 17:30] vytas7 commented on #1281
Summarizing some thoughts from Gitter as well.

### Wheels
* It might be possible to run `tox` with `skipsdist` set to `True`, and somehow injecting the newly produced wheel file into `deps`.
* Source files are not an issue with `tox` / `pytest`; I have solved this by simply removing `tests/__init__.py`: https://github.com/falconry/falcon/issues/1400
* No 32 bit systems are priority; in fact, it m

[2020-08-06 17:55] CaselIT commented on #1281
Regarding wheels macos and windows, they are super easy to do, just run `pip wheel` and you are basically done :).

Regarding signing for the sdist, I don't think there is a need to sign it. Is the current source distribution signed?

[2020-08-07 00:58] kgriffs commented on #1281
Re signing, I currently use twine to do that, although it is more of a nice-to-have, since most people never bother to check the sig.

[2020-08-07 01:16] kgriffs commented on #1281
Also, as we look into more fully automating the build/release process don't forget that we must check that that README will render on PyPI before publishing a new version. This is currently done with `twine check` (see also: `tools/build.sh`)

[2020-08-07 04:52] koobs commented on #1281
Note that the upstream (Cython) recommendation, as it seems your comment/interpretation above eludes to, is not for the source repository to contain the generated C files, but for those to be provided in/by the sdist (as they are, the 'source' distribution)

[2020-08-07 06:24] CaselIT commented on #1281
Yes, the current master has an error in the readme: https://github.com/falconry/falcon/pull/1754/files#diff-88b99bb28683bd5b7e3a204826ead112

I think we should probably add a test for it in the normal ci that @vytas7 is working on

[2020-08-07 18:04] kgriffs commented on #321
Tracking progress on this gist: https://gist.github.com/kgriffs/023dcdc39c07c0ec0c749d0ddf29c4da

[2020-08-07 18:55] vytas7 commented on #1724
@carlwgeorge As part of migration to GitHub actions, we are now running CPython 3.9 gates for both pure-Python and Cython builds for every commit and PR.

I will leave this issue open for now though, we'll add proper CPython 3.9 support when it is released.

[2020-08-07 21:51] CaselIT commented on #1372
I actually don't mind the current logic.
I think at least some use cases for static_routing is as catch all after all the other routes have been tried. This is especially true when using [`fallback_filename`](https://falcon.readthedocs.io/en/stable/api/api.html#falcon.API.add_static_route)

Maybe a setting could be added to the App constructor to specify the precedence? This would enable moving it

[2020-08-07 22:01] vytas7 commented on #1372
I would vote on not over-complicating things too much by adding such a setting, however, it is true that we could afford making a non-breaking change in that case.

Agreed regarding the preference. FWIW, if I was given a task to build this alone, I would have probably gone for something like `add_file_sink()`, where it would add a specialized sink, but the order would be equal to other sinks (i.e.

[2020-08-08 11:50] CaselIT commented on #1372
I think how the `App` interacts with the sinks and static files could bi unified to have a single for loop, The two arrays can be simply chained one way or the other according to the setting (this could also be done statically, each time a sink/static file route is added).

[2020-08-09 12:58] CaselIT commented on #1589
NOTE: The current behavior on wsgi is to return `None` in case of an empty body and to raise an exception of asgi :\

[2020-08-11 10:43] vytas7 commented on #1589
This is known; @kgriffs has stated it above:

[2020-08-11 10:56] vytas7 commented on #1589
@CaselIT great that you started the ball rolling with the PR, that looks good for the most of it.

I have some misgivings about the API for providing the fallback value though:
* For users of Falcon 2.0 that desire to get `None` in case of a missing body, needing to change every reference of `req.media` to `req.get_media(None)` is an almost equally breaking change as needing to surround it with `t

[2020-08-12 07:13] sisp opened #1760 "Express-style middlewares"
This issue summarizes a discussion with @CaselIT and @vytas7 at https://gitter.im/falconry/dev on August 10 about adding an Express-style (see also [`chi`](https://github.com/go-chi/chi) and [Negroni](https://github.com/urfave/negroni) in Golang) API for Falcon middlewares. This issue is related to several others:

- https://github.com/falconry/falcon/issues/624
- https://github.com/falconry/falco

[2020-08-15 16:08] FerusAndBeyond opened #1762 "Is it possible to access the route that the data will be forwarded to inside a middleware (process request)?"
I have a middleware where I want to process some data depending on what route it will be forwarded to, thus I'm wondering if it's possible to obtain any information on what route the data will be forwarded to.

[2020-08-15 18:00] vytas7 commented on #1762
Hi @FerusAndBeyond !

It depends on which [middleware stage](https://falcon.readthedocs.io/en/stable/api/middleware.html) you are processing at:
* In `process_request`, you have **no access** to the routing decision; it is yet to be made. In fact, you can even rewrite `req.path` at this stage to redirect internally.
* In `process_resource`, you are provided with the routed `resource` object, as we

[2020-08-15 18:10] vytas7 commented on #1744
Hi again @mansonami ,
In the absence of further information, I am going to close this issue now.

Do not, however, hesitate to reopen it or file a new one in case you would like to share more details.

[2020-08-15 18:10] #1744 closed

[2020-08-15 18:18] vytas7 commented on #1760
Hi @sisp ,
and thank you for reaching out to us on Gitter!

Could you add some concrete examples how the proposed changes would translate to Falcon (and Python)?
(Thinking not everyone is necessarily familiar with the mentioned Golang and Node.js frameworks; neither do concepts always map exactly between different languages).

[2020-08-15 23:35] FerusAndBeyond commented on #1762
Okay, I should use `process_resource` instead of `process_request` 👍  Thanks!

[2020-08-15 23:35] #1762 closed

[2020-08-17 16:07] danilito19 commented on #1259
Hello! Was looking to contribute to this issue, but I believe it's already been addressed [here](https://github.com/falconry/falcon/blob/master/falcon/request.py#L178). Should this issue be closed?

[2020-08-17 17:13] vytas7 commented on #1259
Indeed, this has already been tackled by @brooksryba in https://github.com/falconry/falcon/pull/1374 !

[2020-08-17 17:13] #1259 closed

[2020-08-17 17:49] danilito19 commented on #1638
@kgriffs I can help in updating CONTRIBUTING.md

[2020-08-17 18:27] vytas7 commented on #1638
Hi @danilito19 ,
Awesome, thanks for your contribution :exclamation:

Could you attempt the second part too? It shouldn't be too hard either, mostly mechanical `grep`ping plus some touch ups in case people (for instance, me :smiling_imp: ) happened to merge non-conforming docstrings.

[2020-08-18 12:41] danilito19 commented on #1638
Absolutely! I thought I needed a bit more understanding on the functions but I can grep and update without changing the wording / meaning.

[2020-08-25 16:57] guongle-ssense opened #1765 "falcon + gunicorn + gevent SSL monkey_patch crash loop"
I have already raised this with the Datadog maintainers of dd-trace-py:
https://github.com/DataDog/dd-trace-py/issues/1624

Hoping to see if anyone has encountered this from the falcon front and would be able to have some guidance/solution instead.

### Which version of falcon are you using?
2.0.0
### Which version of the libraries are you using?

attrs==19.3.0
boto3==1.12.39
botocore==1.15.39
fal

[2020-08-25 17:06] vytas7 commented on #1765
Hello @guongle-ssense ,
FWIW I have seen this recently in both a Falcon service, and a service using another framework, and indeed, monkey-patching as early as possible helped in both cases.

Unfortunately I don't think Falcon can do much more here... Probably the issue happens well before `falcon` is even imported.

Could you try peeling off any other modules, arriving at a some sort of MRE, or a

[2020-08-25 17:12] vytas7 commented on #1765
@guongle-ssense ,
adding to my previous answer, have you checked related Gunicorn issues like https://github.com/benoitc/gunicorn/issues/1056 (an old one but still has interesting Gevent discussions regarding patching as early as possible). See also an idea by @jamadden within: https://github.com/benoitc/gunicorn/issues/1056#issuecomment-115428187 , as well as worker hooks discussed in the issue.

[2020-08-25 17:33] guongle-ssense commented on #1765
@vytas7
thanks for responding and offering some suggestions.
I will try a minimal approach to falcon and see what is the root cause. if at the root even a hello world falls we can go from there.

As far as i can describe before `import falcon` I have attempted to load everything (geven + monkeypatch) and the executing command is:

[code]
so folder structure is simple: `src/api/api.py` with
[code]

[2020-08-25 17:46] vytas7 commented on #1765
Hi again @guongle-ssense ,
Both Gunicorn and uWSGI are pretty popular choices to run Falcon WSGI applications, and I'm unaware of any specific gotchas, at least nothing specific to just Falcon. uWSGI, itself, can be a bit daunting at times given the number of available configuration options, but you should be fine by sticking to the basics. In fact, we even have an NGINX+uWSGI deployment guide by

[2020-08-25 17:48] jmvrbanac commented on #1765
Running Gunicorn programmatically via it's own entrypoint does solve this issue as this is what my team does; The only real downside to this approach is that you also will need to wrap the WSGI app with your monitoring tool programmatically as well.

[2020-08-25 19:11] guongle-ssense commented on #1765
@vytas7
thanks for the links. No PyPy here.

@jmvrbanac
So basically something of this setup:
http://pypi.datadoghq.com/trace/docs/web_integrations.html#falcon

instead of letting `ddtrace-run ...` right? (or is there more...)

[2020-08-25 19:14] vytas7 commented on #1765
@guongle-ssense That's right; regardless of the chosen solution, you simply cannot use `ddtrace-run` because it may execute Python code before you even have a chance to monkey-patch anything.

[2020-08-25 19:57] #1544 closed

[2020-08-26 10:28] sisp commented on #1760
Sorry for the delay.

This is an example inspired by [`go-chi`](https://github.com/go-chi/chi#middleware-handlers):

[code]

I'd avoid raising HTTP exceptions for creating error responses like `raise HTTPUnauthorized()` altogether and rather set the proper response directly. Exceptions should be handled by the user and converted to proper HTTP responses. If an unexpected exception occurs, it shoul

[2020-08-28 05:46] Kyle-Verhoog commented on #1765
:wave: @guongle-ssense @vytas7 this appears to indeed be an issue with `ddtrace-run` importing a module which ultimately results in the `ssl` module being imported before any gevent monkey patching can be done, which was a known issue with `ddtrace-run`. I've put up a fix here: https://github.com/DataDog/dd-trace-py/pull/1629.

Feel free to close this issue 🙂

[2020-08-28 07:12] vytas7 commented on #1765
Thanks @Kyle-Verhoog :+1: :rocket:

@Kyle-Verhoog , needless to say, should DataDog need any advice, tips or opinions on the Falcon integration, do not hesitate to reach out to us either by creating an issue in this tracker, or simply dropping a message on our [Gitter channels](https://falconframework.org/#sectionCommunity)!

[2020-08-28 07:12] #1765 closed

[2020-08-29 12:03] CaselIT opened #1767 "Configure json dumps in a single place"
Falcon lets the user customize the json serializer used to serialize the media property of a response, but HttpError and SSEvent do not use the user provided serializer, using instead the default python json one.

[2020-08-29 15:42] #1634 closed

[2020-08-29 16:00] CaselIT commented on #1372
I've added a pr #1769 to invert the precedence of the sinks and static routes via a configuration parameter of the app.

By default the behavior is the same as the current one, so no breaking change was added

[2020-08-31 10:34] CaselIT commented on #1760
Thanks for the examples!

Express.js is very similar, but IIRC `next` does different things depending on the number of arguments (or what are the argument).
Does `next` returns something in `go-chi`? I don't remember if it did in `express`.

[2020-08-31 10:49] sisp commented on #1760
In `go-chi`, `next` is of type [`http.Handler`](https://golang.org/pkg/net/http/#Handler):

[code]

When in my example `next(req, resp)` is called, in `go-chi` `next.ServeHTTP(w, r.withContext(ctx))` is called and it doesn't return anything. See [an example in the `go-chi` README](https://github.com/go-chi/chi#middleware-handlers).

[2020-09-01 08:47] GunjanGupta-unisys opened #1773 "URL Encoding and decoding of query string parameters in swagger"
have a rest URL and i am trying to hit the URL using the swagger editor online.In the URL there is query param "....../Location_Address?Location%21ID=92b913cbeafb1000136edb3ea6df1349!6ec4cb72635310000ea06db19466001c" In the query param name "%21" is used, it should ideally decode %21 to "!".But it is converting as "%2521". It means it decoded "%" symbol with "%25". I want to make the Query param l

[2020-09-01 09:53] #1773 closed

[2020-09-08 06:39] #947 closed

[2020-09-14 10:28] CaselIT commented on #1749
I believe we have to escape a comma `,` because chrome does not like this.

The following example breaks on chrome, (but works on firefox)
[code]

[2020-09-16 17:13] #1749 closed

[2020-09-22 06:03] vytas7 commented on #1638
Fixed by @danilito19 in https://github.com/falconry/falcon/pull/1763

[2020-09-22 06:03] #1638 closed

[2020-09-27 23:36] Khazbs commented on #302
Looks like Firefox prefers XML by default... Well, we'll have to live with it

[2020-09-28 14:25] CaselIT commented on #302
This is common also to chrome when using the browser to make the request.

I think it's because, at least for me, the `Accept` header is something like `text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8`. xml is listed before */*, while json is not, so that's what is returned by falcon.

If you were to use only `*/*` in `Accept` json is preferred. Not sure if both are list

[2020-10-02 15:37] bradleydamato commented on #1457
@vytas7 @kgriffs do the helper functions include those shown here? https://github.com/falconry/falcon/blob/105c56db6a727da7231512c43fd4974a53fc960c/falcon/util/sync.py

If so, I'd like to fix these specifically.

[2020-10-02 16:52] vytas7 commented on #1457
Hi @bradleydamato !
Do you have any specific function from `sync.py` in mind? Most of these functions are meant to be available as utilites in the public API by design: https://falcon.readthedocs.io/en/latest/api/util.html#async . Furthermore, all this sync-async stuff is not a part of any stable release, as it was introduced only as part of the 3.0.0 release cycle, and we are, at the time of writ

[2020-10-15 20:28] vytas7 commented on #1054
Recently authored by @zoltan-fedor: https://github.com/zoltan-fedor/falcon-limiter.

[2020-10-28 08:00] vytas7 opened #1779 "Parameters unexpectedly captured from field expressions in multiple routes"
Based on a report by @tim-clipchamp on Gitter.

Consider the following example
[code]
which produces the following output (tested with Falcon 1.4.1, 2.0 and 3.0.0a2; the 3.0 series also emit the expected `API` deprecation warning):
[code]

The expectation is that only field expressions from the matched route should be used.
Instead, the observed result here is that the `{project_id}` field express

[2020-10-28 08:23] CaselIT commented on #1779
This is the find src generated. The issue is obvious looking at it, but I'm not sure how to best solve it

[code]

[2020-10-28 08:29] CaselIT commented on #1779
I've traced this issue since at least falcon 1.1 (and is probably even older, but falcon 1.0 does not have a test client)

[2020-10-28 18:09] vytas7 commented on #1779
It might be easier said than done, but one possible path of solution is trying to unroll conditional branches to reflect the routing decision tree first, and only assign to params inside the last block just before `return`.

This could slightly increase the bytecode size (and thus CPU cache locality), but it should not otherwise affect the compiled code speed.

[2020-10-28 19:24] CaselIT commented on #1779
The easy alternative is probably to add `del param['key']` if the return is missed, but it incurs a performance hit

[2020-10-28 22:34] CaselIT commented on #1779
nevermind. this does not work every time, since the params could come from a regexp.

I've gone for @vytas7 suggestion of delaying param setting until the return is reached.
The code is bigger, but i think we could also gain something in terms of speed, since we may avoid dick key set while descending branched that are not taken

[2020-10-29 00:18] tim-clipchamp commented on #1779
Thanks for looking into this so quickly. Do you think you will be making a bugfix release for version 2 after you have a fix?

[2020-10-29 07:52] vytas7 commented on #1779
@tim-clipchamp that is unfortunately not the highest priority right now, we will be focusing at getting 3.0 out the door as soon as possible.
Do you need 2.x for Python 2 support, or can you migrate to 3.x when it's out?

As a workaround, you can add a dummy keyword argument for the affected route until this is fixed.

[2020-10-29 11:24] tim-clipchamp commented on #1779
Thanks for your response @vytas7.

It's a bit of extra effort for us to change the paths of the endpoints so that we don't hit this issue, but it shouldn't be too big a deal for us.

We need Python 2 support at least temporarily. Migrating to `falcon` is one of the steps in our migration to Python 3. Doing it all in one go would not be ideal.

[2020-10-29 12:11] CaselIT commented on #1779
You may also use a middleware to remove thw unwanted params by implementing the `process_resource` method. This was there would be no need to change the responder code.

Take a look at the docs here https://falcon.readthedocs.io/en/stable/api/middleware.html

[2020-11-09 09:46] dangtoanphat commented on #1547
I have upgraded from 1.4.1 to 2.0.0 and I came up with 2 workarounds:
- Option 1: using auto_parse_qs_csv = True in RequestOption
- Option 2: get the params as a string and then split by commas

[2020-11-11 16:53] #1370 closed

[2020-11-11 16:55] dannyhajj commented on #1370
I agree @vytas7. I was assuming that `get_param_as_int` would work on the request body. Which is not the case.

My initial proposal is wrong. Thanks for the feedback though!

[2020-11-11 17:56] ruimlopes commented on #1746
I stumbled on this limitation while developing an app that required me to store the raw request body it receives (`falcon==2.0.0`).

The workaround I found was to develop a [`middleware`](https://falcon.readthedocs.io/en/stable/api/middleware.html) class that "adds" the property `request.body`.

However, this approach renders `request.media` unusable and impacts the long term maintenance of the ap

[2020-11-12 08:47] CaselIT commented on #1746
The goal is similar in allowing multiple accesses to the body.
But I think that allowing a way to override how the stream behaves has the least impact on the behaviour of falcon. Meaning that you could retain the current logic as default, ie the stream is not cached, but also allow different behaviours if the user wishes.

Introducing a `body` would mean that the stream would be cached, and that m

[2020-11-12 10:07] vytas7 commented on #1746
Yes (well OK, I'm partial cause it was my suggestion :smiling_imp: ), the request body may be way too large to be stored in memory in the general case.

@ruimlopes Your approach, although admittedly handy for simple JSON cases, would also impair the multipart form handler (to be released in Falcon 3.0), and other custom handlers that people may be using to consume arbitrary streams without bufferi

[2020-11-12 11:55] ruimlopes commented on #1746
How is that caching behavior ultimately different than what already happens for `request.media`?
Indeed, there is a memory overhead by storing `request.media` and `request.body` together. A possible deviation would be to use `request.body` and `request.media` in a mutually exclusive way, solving the memory overhead.
Also, I would say it would work for anything that implements `BaseHandler`, not on

[2020-11-12 13:08] CaselIT commented on #1746
This mostly depends on the media handler. Like the multipart form handler may not cache all the stream.

But I agree with you, that it would be nice to have the ability to not lose the body once accessed, but I'm personally not sure if `body` is the best option here.

Here were you referring the body or the media? or both?

[2020-11-12 17:35] SyedMHashim commented on #645
+1
API versioning in falcon would definitely be great!

[2020-11-12 18:12] vytas7 commented on #1746
@ruimlopes, just purely practically, if we added support for plugging another reader factory type, would `req.stream_reader.data` or `req.stream_reader.get_data()` be so much inferior? Particularly if we shipped an optional cached reader class as part of Falcon.

I haven't explored all the ramifications, but my gut feeling is that building this directly into the standard `Request` object would get

[2020-11-13 19:17] vytas7 commented on #645
@TheMushrr00m and @SyedMHashim ,
unfortunately there hasn't been much progress on this issue.

See also a more specific discussion (versioning by `Accept`) here: https://github.com/falconry/falcon/issues/932

As I wrote on that one, maybe we could start off with a recipe employing a custom router... It looks like the required framework building blocks were laid out here: https://github.com/falconr

[2020-11-17 07:06] vytas7 commented on #1717
@adsahay just checking again :slightly_smiling_face: Have you had a chance to do any work on this one?

[2020-11-17 07:24] vytas7 opened #1784 "Deployment Guide: ASGI apps with Uvicorn"
See also:
* Umbrella issue https://github.com/falconry/falcon/issues/462
* NGINX + uWSGI https://github.com/falconry/falcon/pull/1280
* Gunicorn, Gunicorn + PyPy https://github.com/falconry/falcon/issues/1369

[2020-11-18 17:06] vytas7 commented on #1717
Awesome, looking forward to!

[2020-11-19 20:55] CaselIT commented on #1717
As an alternative, can't we just add the handler to the dict once we have found it?  I mean before the return here
https://github.com/falconry/falcon/blob/820c51b5f0af8d1c6e9fb8cccb560b6366f97332/falcon/media/handlers.py#L51-L58

we could cache the resolved media type as `self.data[media_type] = self.data[resolved]`.

The drawback to this is that it would break the changing of the options after th

[2020-11-20 08:42] vytas7 commented on #1717
@CaselIT that would probably be a bit of a can of worms regarding [thread safety](https://falcon.readthedocs.io/en/latest/user/faq.html#is-falcon-thread-safe).

However, to that end, we could use [`functools.lru_cache`](https://github.com/falconry/falcon/blob/master/falcon/util/misc.py#L90) (as we already do for [HTTP Status conversions](https://falcon.readthedocs.io/en/latest/api/util.html#http-s

[2020-11-20 09:53] CaselIT commented on #1717
Well you could do the call more than once, but the end result would still be correct (ie at the end the dict has the correct cached value).

[2020-11-21 20:34] vytas7 commented on #1746
Related https://github.com/falconry/falcon/pull/493#discussion_r40822962

[2020-11-21 23:28] #1281 closed

[2020-11-22 02:33] CrashLaker opened #1786 "Sharing Lock among resources"
Hi all,

This is my first attempt trying to build an app using falcon so I don't really know If I'm doing it right.
My app consists of 2 routes:
* /recv - receive payload and add to list
* /send - prints and clears the list

I'm using multiprocessing Lock to avoid any concurrencies.
Am I doing it right? I haven't even tried using wsgi yet.

### Problem
The process is hanging after some recvs.
Time

[2020-11-22 09:55] vytas7 commented on #1786
Hi @CrashLaker !
I cannot reproduce your issue. I do not have access to your `aux` middleware though, could you also try commenting them out?

Which Python version (simply run `python -V`) are you using? I am not sure about `wsgiref.simple_server`, but I remember similar issues in the possibly related `SimpleHTTPServer` module in Python 2.7.
Just to rule any `wsgiref.simple_server` glitches out, c

[2020-11-22 10:49] CaselIT commented on #1786
Also note that using a multiprocessing server, like `gunicorn` will not work with the provided example, since each process will have update and modify it's own version of  `alerts`

[2020-11-22 11:27] CrashLaker commented on #1786
Hi all.

thank you for your reply.
about my env
[code]
about `gunicorn test:api` it also didn't work.
Strangely this seems not to be working even without the mutex.
[code]

The CORS I'm using I just copied from the [example](https://falcon.readthedocs.io/en/stable/user/faq.html#how-do-i-implement-cors-with-falcon).
[code]

Yea @CaselIT i thought it might come to it. As of now 1 process is enough.

[2020-11-22 12:03] vytas7 commented on #1786
Hi again,
That sounds odd. Your Linux kernel is very old (more than 7 years), but not sure if this contributes in any way.
Are you able to run Docker? The kernel would be the same under Docker (your kernel), but it would be interesting if you could retest using another userspace, like a recent Ubuntu or Fedora image.

Could you try continuing to peel off layers of complexity, i.e., try arriving at

[2020-11-22 12:28] CrashLaker commented on #1786
Ok. Just tested on plain Amazon EC2 Linux from scratch.
Got the same behaviour

[code]

requirements.txt
[code]

[code]

**Test for send**
Via browser chrome hit `/send`

**Test for recv**
[code]

[2020-11-22 12:36] CrashLaker commented on #1786
One thing I noticed.
It doesn't hangs and return.
It reaches a timeout:
[code]

Also after I start the POST python script which remains hanging.
By the time I refresh the page on the browser the POST request completes

[2020-11-22 12:46] vytas7 commented on #1786
Are you sure you have commented out the `wsgiref` part before running `gunicorn` (or made it conditional via `__name__`)?

Could you try the very basic WSGI `test.py` below in your environment (no Falcon involved):
[code]
Run it as `python test.py`, and `gunicorn test:api`, respectively.
Then test against `http://<ip>:8000/whatever`.

[2020-11-22 13:06] CrashLaker commented on #1786
your example works.

i've recorded a part.
3 screens:
left: GET
middle: falcon
right: POST

after running the right window it only continues after I refresh the browser page

![falcon-hang-v2](https://user-images.githubusercontent.com/4432491/99904529-1bf47480-2caa-11eb-883c-5a0dc5121bb3.gif)

[2020-11-22 14:04] vytas7 commented on #1786
Thanks for the screencast.

Just to give you a couple of further ideas
* Your code above has a lot of trace `print(...)`s, why don't you run this version on EC2 instead (you were only showing one basic `receive`/`send` instead)?
* Could you add ` --access-logfile -` to your `gunicorn` command line? I.e., `gunicorn --access-logfile - app:api --bind ...`.
* Are you _really_ sure a version without (n