[2017-10-03 15:39] kgriffs commented on #1055
Related #1121

[2017-10-03 15:39] kgriffs commented on #321
(We'll probably want to label this as "experimental" in the first iteration since there will likely be feedback and perhaps immature dependencies.)

[2017-10-03 15:40] kgriffs opened #1122 "Mature support for WebSocket"

[2017-10-03 15:40] kgriffs opened #1123 "Mature support for asyncio"

[2017-10-10 15:33] thatsafunnyname opened #1124 "falcon.util.uri.decode CPU and realloc calls when POST body is large and heavily encoded."
Hello and thank you for Falcon,

I noticed when POSTing a large and heavily urlencoded body that the `falcon.util.uri.decode` function uses a lot of user CPU and performs many memory reallocations.  This was noticed as the service using Falcon was running in a memory constrained environment.

I have a reproducer, it may be considered somewhat extreme, but does demonstrate the behaviour when compar

[2017-10-13 16:25] ezegusmargl opened #1126 "Internal Server Error"
Hi. Any Falcon example that I try on my server with
Waitress responds me a 500 Internal Server Error always

This is my app.py

[code]

Im running on Windows Seven x64 & python 2.7.4 x64

![image](https://user-images.githubusercontent.com/14821271/31555934-48e8a382-b019-11e7-9afb-ee804959c362.png)

![image](https://user-images.githubusercontent.com/14821271/31556022-a682d792-b019-11e7-821e-e6b4fe8

[2017-10-13 23:46] kgriffs commented on #462
OK, I'm assuming this one is fair game for anyone else who would like to pick it up. :)

[2017-10-14 23:59] nZac commented on #462
I have some examples of working with uWSGI & NGINX. What would be most helpful? An example configuration file and maybe a wsgi.py file for how to attach an app to an uWSGI master?

[2017-10-16 14:09] Iflier opened #1127 "How to implement redirection?"
Hello, I am a newer to Falcon. Does Falcon  has a way to redirect ? Such as:  self.redirect in Tornado or redirect() in Falsk ?

[2017-10-16 15:05] karmux commented on #1127
You just raise `falcon.HTTPMovedPermanently(location)` or `falcon.HTTPFound(location)`.
See http://falcon.readthedocs.io/en/stable/api/redirects.html for more info.

[2017-10-20 08:51] montao commented on #998
I used Gunicorn when this issue appeared, but I could reconfigure and resolve the issue. You may close this issue because I have no more problem. Thanks

[2017-10-20 08:51] #998 closed

[2017-10-28 03:03] Iflier commented on #1127
@karmux , thanks for your reply, I will have a try.

[2017-10-28 09:36] hugovk commented on #1037
How about dropping Python 3.3 as well? It went EOL and is little used.

Here's the pip installs for falcon from PyPI for the last month:
[code]

[2017-10-31 10:39] raphael0202 opened #1132 "Add a get_param_as_uuid method to `falcon.Request`"
It would be great to be able to get a parameter and to cast it to an UUID, raising a HTTPBadRequest otherwise.

[2017-11-04 03:05] kgriffs commented on #1051
Just got a request for this feature via the Gitter channel, copying here for the record:

[2017-11-07 03:37] dabo02 commented on #1102
Why don't you take a look at the flask socketio extension? It is way better than django channels and much easier to use

[2017-11-07 09:46] navyad commented on #1054
@kgritesh  any update on this ?

[2017-11-08 07:41] floqqi opened #1135 "Support http.HTTPStatus"
It would be great to support [`http.HTTPStatus`](https://docs.python.org/3/library/http.html#http.HTTPStatus) from the standard library (3.5+).

Could possibly look like:

[code]

[2017-11-09 07:45] santeyio commented on #584
@kgriffs I can have a go at this if someone isn't working on it.

[2017-11-11 22:47] phoenix911 commented on #1051
I'm working on something similar. [falacon_setup](https://github.com/phoenix911/falacon_setup) . M planning to add cli later.

[2017-11-15 18:23] kchomski-reef commented on #1126
@ezegusmargl you've passed module `app` to `waitress` instead of `wsgi_app`.
Instead of this:
`waitress-serve --port=8000 ezAPI:app`
you should run:
`waitress-serve --port=8000 ezAPI:app.wsgi_app`
Then you can access your endpoint at `http://whatever:8000/things`:
![falcon](https://user-images.githubusercontent.com/32264853/32853042-44c14080-ca3a-11e7-9251-ff2f8876a66f.png)

[2017-11-16 12:00] hugovk commented on #1037
Please see PR #1129, feedback welcome!

[2017-11-16 19:21] gdude2002 opened #1137 "Ability to remove routes"
It would be nice if it was possible to programmatically remove routes that have been added previously. This would aid myself (and other users) that are writing microkernel webapps, as it would help situations where an application has a plugin system that may support unloading/reloading plugins.

[2017-11-20 17:57] holic-cl opened #1138 "How to run example"
Hi, i want to try the example code but have a problem:

I try to run on this way:
`$ gunicorn3 look.app:get_app`

the server is running and listening but when i try to access by the browser y get this error:
`TypeError: get_app() takes no arguments (2 given)`

I am using:
gunicorn3 (version 19.7.1)
Python 3.6.3

What i am doing wrong?

Regards.

[2017-11-21 18:14] #667 closed

[2017-11-21 18:14] kgriffs commented on #667
[Implemented]

[2017-11-22 17:12] se4rch3r commented on #672
Problem in the client. Request library automatically making json.dumps for json argument.
A problematic piece of client code is looks like:
`request.post(host, json=json.dumps(data))`
Need:
`request.post(host, json=data)`

[2017-11-25 09:13] im-auld commented on #1138
From the tutorial (scroll down from [here](https://falcon.readthedocs.io/en/stable/user/tutorial.html#refactoring-for-testability))

[2017-11-25 18:05] holic-cl commented on #1138
Um, thanks for answer, i am very noob, but i am lerning.

It worked, thanks

[2017-11-25 18:05] #1138 closed

[2017-11-26 09:31] slavaspirit opened #1139 "ImportError: cannot import name UserDict"
Just install Falcon and tried to launch examples. And got an error right from the start:

`
[2017-11-26 12:26:59 +0300] [1362] [INFO] Starting gunicorn 19.7.1
[2017-11-26 12:26:59 +0300] [1362] [INFO] Listening at: http://127.0.0.1:8000 (1362)
[2017-11-26 12:26:59 +0300] [1362] [INFO] Using worker: sync
[2017-11-26 12:26:59 +0300] [1365] [INFO] Booting worker with pid: 1365
[2017-11-26 12:26:59 +0

[2017-11-27 18:07] kgriffs opened #1141 "Support passing args to hooks"
See also: https://stackoverflow.com/questions/27028029/how-to-pass-arguments-to-falcon-before-hook

[2017-11-28 16:49] kgriffs opened #1142 "Drop support for Python 3.3"

[2017-11-29 17:03] kgriffs commented on #1141
Please review https://github.com/falconry/falcon/pull/1145

[2017-11-29 17:14] kgriffs commented on #1054
Since we haven't heard back from @kgritesh I'd be happy to get another volunteer to take this on and submit a proposal/POC.

[2017-11-29 17:23] kgriffs commented on #734
This is already done

[2017-11-29 17:23] #734 closed

[2017-11-29 17:34] kgriffs commented on #1139
Hmm, that may be caused by having an outdated version of six that was already installed before installing falcon. You might try running `pip install --upgrade six`.

[2017-11-29 17:36] kgriffs commented on #574
FWIW, I just discovered this can cause OS-dependent issues. See also:

* https://github.com/falconry/falcon/issues/1139
* https://github.com/yhat/ggpy/issues/560

[2017-11-29 17:38] kgriffs commented on #1137
1.4 is on the home stretch, so let's take a look at this for 2.0

[2017-11-29 17:46] kgriffs commented on #1135
Not a bad idea. Since 1.4 is on the home stretch, let's look at this for 2.0. For the sake of backwards-compatibility, we will probably want to allow both the enum and the raw string.

[2017-11-29 18:00] kgriffs commented on #584
@santeyio Nobody has taken this one yet. Would you like to grab it?

[2017-11-29 18:02] kgriffs commented on #423
FWIW, I've heard from a couple people now who are looking for a way to accept forward slashes in a path segment. Most recent query from the gitter channel:

Wondering how to accomplish with Falcon? Thanks!
To expand on the above, the variable "param1" would look something like: "abc:def:ghi:a/798dfldfndk897:9odjlfndl"

[2017-11-29 18:05] santeyio commented on #584
@kgriffs yeah I'll give it a shot

[2017-11-29 18:51] slavaspirit commented on #1139
Kgriffs, thx for respond. I found, that I used different Python versions. My main system Python version is 2, but I’m installed Falcon with pip3. When I created new virtual environment with Python 3 and install falcon under it, all works like a charm.

[2017-11-29 18:51] #1139 closed

[2017-11-30 16:21] kgriffs opened #1147 "Remove Jython support"

[2017-11-30 17:28] jmvrbanac commented on #574
@kgriffs We also could vendor six if that would be any easier first step.

[2017-11-30 18:12] kgriffs opened #1149 "Change TestClient to call self.simulate_request()"
Change TestClient to call self.simulate_request() instead of the free function. This would allow for overriding in a child class.

NOTE: Look into the original use case for calling the free function, to make sure we aren't missing anything.

[2017-12-04 17:23] #1141 closed

[2017-12-07 00:20] kgriffs opened #1155 "Update benchmark to support Django 2.0"

[2017-12-11 17:28] kgriffs commented on #1107
The bulk of this work has been moved to a standalone project:

https://github.com/pyrates/biscuits/

We'll watch this project and add support for it in Falcon once it is mature.

[2017-12-11 20:14] #219 closed

[2017-12-12 15:10] kgriffs commented on #1149
This shouldn't actually be a breaking change, because the simulate_request() method turns around and calls the free function anyway.

[2017-12-12 19:12] fyaretskiyso opened #1161 "datetimes in params of simulate_<http> methods."
If you place a datetime into the params dictionary, it becomes distorted in the req.params. The result is 2017-12-11T18:50:45 00:00 where it should be 2017-12-11T18:50:45+00:00. The missing '+' doesn't allow correct parsing by the dateutil parsing.

[2017-12-13 13:22] nsonic001 opened #1163 "Running with python simple_server, req.stream.read() takes infinte"
Hi,
I am using the following script to start my app
[code]

my app is

[code]
Middleware is

[code]

Resource is

[code]

It works fine except for req.stream.read() statement, if i do req.stream.read() it takes infinite time and stucks there only, but when i cancel that request, it proceed further.

P.S. : I am using python 2.7.11

[2017-12-13 14:53] Spawn opened #1164 "Max file size."
When I try POST multipart/form-data with a file whose size >32 MB I got an 413 error: `Upload limited to 32 megabytes.` I did not find any information about maximum size of downloadable file in Falcon. Any ideas?

[2017-12-13 21:43] samuelrey opened #1166 "Unexpected Internal Server Error"
I have an Item class defined inside of a separate file called user_resource.py.
[code]
I route requests to an instance of the Item class.
[code]
I finally run the server using gunicorn with this command - `gunicorn --reload -b 0.0.0.0:8000 'userservice.app'`. The server runs fine, except on occasion when I send requests to the endpoint.

When I try `GET /users/han%20solo` (who does not exist), I w

[2017-12-14 18:12] #1149 closed

[2017-12-14 22:23] kgriffs opened #1169 "Consider using percentcoding to speed up encoding speeds under CPython"
See also: https://github.com/acg/python-percentcoding

[2017-12-14 22:26] kgriffs commented on #1169
Note: This package hasn't been upgraded for quite a while. We might need to contribute in order to get it ready for prime time.

[2017-12-15 00:00] kgriffs commented on #1124
We may be able to alleviate this somewhat by switching to the ''.join() pattern for large strings. Let me play around with it and see what I can do. It may also make sense to just adopt percentcoding at some point.

[2017-12-15 08:16] yohanboniface commented on #1169
Just had a try on it: it does not seem to be python 3 ready (but it's 7 years old, so…).
So it may need a bit of love yeah to make it ready, as you say.
I may give a hand.
Other option, reimplent the algorithm in cython.

[2017-12-15 18:55] thatsafunnyname commented on #1124
Just to let you know that the reproducer being used that led to this issue being created did not reflect the actual encoding being used in the system.  While the (curl command line) reproducer used a lot of memory and this matched what was being observed, the system was not sent urlencoded POSTs, and the high memory used was from large JSON parsing in python using the "json" lib prior to python 3.

[2017-12-16 00:13] kgriffs commented on #1166
Hi @samuelrey, it sounds like an unhandled exception is bubbling up out of your falcon app. You version of Gunicorn may not be logging errors to the console by default (see http://docs.gunicorn.org/en/stable/faq.html#why-i-don-t-see-any-logs-in-the-console).

In terms of Falcon, one thing you could try is adding a custom error handler for the base ``Exception`` class and then either print/log the

[2017-12-16 00:14] #1166 closed

[2017-12-16 00:16] samuelrey commented on #1166
Hey @kgriffs, I found out why the error was slipping through the cracks! I had accidentally left an import of the sqlite.IntegrityError.  As of this moment, everything is working just fine! Thank you for the help!

[2017-12-16 00:17] kgriffs commented on #1164
Hmm, that sounds like something related to your web server or settings or hosting provider rather than you Falcon app itself. The Falcon framework does not limit the request body length.

[2017-12-16 00:41] kgriffs commented on #1161
Hi @fyaretskiyso, the ``+`` character is often used instead of ``%20`` to represent spaces in query string params, due to the historical conflation of form parameter encoding (``application/x-www-form-urlencoded``) and URI percent-encoding.  Therefore, Falcon, converts ``+`` to a space when decoding the query parameters.

RFC 3986 actually specifies ``+`` as a reserved character, and recommends pe

[2017-12-16 00:53] #1127 closed

[2017-12-16 00:59] kgriffs commented on #1163
Hi @nsonic001, this is an unfortunate artifact of the req body semantics not being fully defined by the WSGI spec (PEP-3333). But Falcon does have a workaround that you can read about here:

http://falcon.readthedocs.io/en/stable/api/request_and_response.html#Request.bounded_stream

[2017-12-18 05:40] kgriffs commented on #1008
(Dropping this here for future reference: https://github.com/django/asgiref/blob/master/specs/asgi.rst)

[2017-12-18 05:40] kgriffs commented on #1055
(See also: (Dropping this here for future reference: https://github.com/django/asgiref/blob/master/specs/asgi.rst))

[2017-12-18 19:48] kgriffs commented on #1164
[Please reopen if we can help you further.]

[2017-12-18 19:48] #1164 closed

[2017-12-18 19:49] kgriffs commented on #1163
[Please reopen if we can help you further.]

[2017-12-18 19:49] #1163 closed

[2017-12-18 19:49] kgriffs commented on #1161
[Please reopen if escaping doesn't work out and we'll explore some other options.]

[2017-12-18 19:49] #1161 closed

[2017-12-18 20:18] nsonic001 commented on #1163
@kgriffs thanks.

[2017-12-18 22:56] AnakTeka opened #1175 ""Object of type 'datetime' is not JSON serializable""
Hi, I'm using `resp.media` as the serializable, but it throws whenever there is a datetime object there. How I'm supposed to handle the datetime ojbect?

[2017-12-19 00:23] kgriffs opened #1176 "Privatize helper methods"
Falcon modules import a number of helper functions that do not begin with an underscore, although such functions are not meant to be part of the public API. Remedy this in the next major version of the framework (as it would be a breaking change).

[2017-12-19 04:23] kgriffs opened #1177 "Remove the deprecated routing.create_http_method_map method"

[2017-12-19 05:24] #1132 closed

[2017-12-20 02:12] #1116 closed

[2017-12-20 20:25] kgriffs opened #1183 "Contribute optimizations to the python-mimeparse project"
Optimizations may include:

- [ ] Cython support (simply compiling and/or *.pyx modules)
- [ ] Algorithms
- [ ] Micro-optimizations

Also consider simply implementing our own media type parsing and removing this dependency, or creating our own standalone project under falconry/*

[2017-12-26 23:22] dlopuch commented on #1013
Hi there, to resurrect this issue that the googlebots brought me to, I ran into this with authorization-vs-custom-404.

Use case:
- Have a custom 404 responder implemented as a sink to respond a custom 404 to any unmatched routes
- Have authorization implemented as a middleware
- I would expect an unmatched route to first hit authorization, then the 404 sink only if authorization succeeds (ie expe

[2017-12-26 23:52] dlopuch commented on #648
Another use case is to get around the fact that middleware isn't applied to sinks b/c sinks are not Resources -- #1013

If we had wildcard-routing, we could refactor sinks to be wildcard-routed Resources, and all of our aspect-oriented middleware stuff could work.

[2018-01-02 20:37] vytas7 commented on #1135
As discussed on Gitter, I can take a stab at this.

Basic design:
* Python 3.5+ ``http.HTTPStatus`` or its subclass in Falcon will be THE way to set status
* Python 3.5+ ``http.HTTPStatus`` will be backported to be used in older Python versions
* Falcon 1.x status constants ``falcon.HTTP_*`` will be aliased to the new enum values to maintain backward compatibility for the most common usecases

Not

[2018-01-03 22:23] vytas7 commented on #1110
I am not a network engineer, but as I understand, there is theoretically no guarantee that your packet will remain intact during transmission anyway. Your packet is only guaranteed to stay intact if it is shorter than the minimum MTU which is only [68 bytes](https://tools.ietf.org/html/rfc791) for IPv4 (now, I know that FAPP MTUs are almost always larger than 500 bytes unless you are on some slow

[2018-01-04 05:53] jp99 commented on #1110
At this stage, i'm not using a frontend at all.
I changed the backend to Tornado, which does return the answer as 1 packet and things seem to work now. I'm a little surprised by this behavior of the client devices and searched with Wireshark for other differences in the conversation, apart from the number of packets the answer is made up of. I did not find any other differences.

@kgriffs and @vyt

[2018-01-04 21:31] kgriffs opened #1192 "Extend falcon.media.JSONHandler to support specifying a ``default()`` type handler"
Per [the docs](https://docs.python.org/3.6/library/json.html#basic-usage):

Also consider providing a way to specify *object_hook* when deserializing to support round-tripping.

In either case, include a note in the docs that specifying one or both of these options will significantly reduce processing speed for JSON documents.

[2018-01-04 21:41] kgriffs commented on #1175
Hi @AnakTeka, the default ``falcon.media.JSONHandler`` only supports the objects and types listed in the table documented under [json.JSONEncoder](https://docs.python.org/3.6/library/json.html#json.JSONEncoder). To handle additional types, you can either serialize them beforehand, or create a custom JSON media handler that sets the *default* param for ``json.dumps()``. When deserializing an incomi

[2018-01-05 01:04] kgriffs commented on #1175
Hope this helps! Sorry for the delayed response.

[2018-01-05 01:04] #1175 closed

[2018-01-05 01:12] kgriffs opened #1194 "Consider adding basic CORS support directly into the framework."
When dealing with APIs, supporting CORS is a common use case. It may make sense to include basic CORS functionality that allows access from any origin to the entire API.

Such a feature might be implemented along the lines of the following middleware component (albeit integrated directly into ``falcon.API``):

[code]

[2018-01-05 01:13] #1126 closed

[2018-01-09 18:34] kgriffs opened #1199 "Migrate MessagePackHandler, tests from msgpack-python to msgpack"

[2018-01-09 18:48] vytas7 commented on #1199
APIs should be compatible for the time being, but ``msgpack`` 0.5.0+ notes that one should explicitly specify *use_bin_type* to avoid surprises in the future, since the default might be changed.

IMHO the above sounds like a good default for practical use in serialization [1], so one could proactively specify it to be ``True``.

1. https://github.com/msgpack/msgpack-python

[2018-01-09 19:53] kgriffs commented on #1199
FWIW, ``falcon.media.MessagePackHandler`` passes ``use_bin_type=True``

[2018-01-09 21:05] kgriffs commented on #1199
Note: For Falcon 2.0, we just need to cleanup the tests to no longer use msgpack-python for py26/33, and adjust the docstring for ``MessagePackHandler``.

[2018-01-09 21:19] vytas7 commented on #1199
Aha, sorry for the false alarm, sounds like that part is already covered. Then it might be just the package name change indeed.

[2018-01-10 19:11] jhildreth commented on #1192
I think I'd like to take a shot at this one, if that's alright.

[2018-01-16 07:26] vytas7 opened #1204 "README.rst formatting is broken on PyPi for 1.4.0"
https://pypi.python.org/pypi/falcon/1.4.0 looks like plaintext markdown dump.

Looks like some tags in ``README.rst`` are not understood by their parser.

The previous https://pypi.python.org/pypi/falcon/1.3.0 renders correctly.

[2018-01-16 10:50] bitdivision opened #1205 "testing.Result.json breaking change in 1.4"
I feel like the change to result.json in 1.4 should have been flagged up in changelog.
[code]

The above was listed in the changelog under new and improved however changing a method to return None rather than raising an exception is a breaking API change.

This broke some code we were using:

[code]

This is the second time a minor API has caught us out: https://github.com/falconry/falcon/blob/ef7

[2018-01-16 16:31] kgriffs commented on #1205
@bitdivision Thanks for the feedback. This should have indeed been considered a breaking change and postponed to 2.0. We'll walk this back and put out a 1.4.1 shortly. Please let me know if you run into any other issues.

[2018-01-16 16:33] kgriffs commented on #1204
Thanks! There was a heading underline that was a few chars short. I'm working on adding a `readme_renderer` check to the build script to avoid this in the future.

See also: https://github.com/pypa/warehouse/issues/2170

[2018-01-16 17:26] hynek opened #1206 "Third party json support"
Congratulations on shipping 1.4!  I’ve noticed you’ve added direct support for ujson which I find unfortunate for at least three reasons:

1. It’s mostly abandoned: latest release was in 2016, latest commit almost a year ago.  Maintainers aren’t very responsive on the bug tracker.
1. It doesn’t allow for customising serialisation (`default` and `object_hook`) – and this is my biggest point.
1. It

[2018-01-16 17:48] kgriffs commented on #1206
Thanks for the feedback and I agree. It would be great to have a more flexible approach and give everyone the ability to choose from any of a number of alternative JSON libraries. The danger of picking one, as you point out, is that it may stop being maintained, or may not support certain features one might need, etc.

Let's explore dropping ujson in 2.0 and looking for a way to make alternative l

[2018-01-16 19:00] kgriffs commented on #1205
[Fixed in 1.4.1]

[2018-01-16 19:00] #1205 closed

[2018-01-16 19:01] kgriffs commented on #1204
[Fixed in 1.4.1]

[2018-01-16 19:01] #1204 closed

[2018-01-16 19:05] hynek commented on #1206
oh and totally related to #1192 – I just forgot to link it :)

[2018-01-16 19:49] bitdivision commented on #1205
Thanks @kgriffs

And thank you for all your hard work on falcon. It's a really cool framework!

[2018-01-16 21:45] vytas7 commented on #1135
@kgriffs on Gitter, we agreed that a lookup table to speed things up is a reasonable approach to proceed.

You also indirectly implied it could be a status property:

Another alternative I had in my mind was having the lookup table on the API side.
The drawback is that should one desire to use some completely nonstandard type (yes, we are going to maintain 7XX, teapots and coffee machines), it wil

[2018-01-18 19:42] totaki opened #1209 "KeyError: 'wsgi.errors'"
I try use https://unit.nginx.org/.

I get error
[code]

[2018-01-18 20:10] vytas7 commented on #1209
The below is not to say that your report is invalid, and yes, I agree it would be cool getting Falcon to run on Nginx Unit, but IMHO one shall point out that ``wsgi.errors`` variable in mandated by the WSGI specification -- https://www.python.org/dev/peps/pep-0333/#environ-variables reads:

[2018-01-18 21:02] kgriffs opened #1210 "Add Response.expires to set the Expires header to a datetime instance"

[2018-01-18 21:33] kgriffs commented on #1209
Indeed, this is an Nginx Unit bug since it does not conform to the spec. I've reported the issue.

[2018-01-18 22:11] kgriffs opened #1211 "Change Request.if_none_match to return a list of ETag"
The list should contain each ETag with quotes stripped. In the case of an asterisk, the result will be ``['*']``.

TODO: How to handle the `W/` prefix? I believe it can simply be ignored, since the recipient is supposed to always use the weak comparison algorithm regardless of this prefix.

[2018-01-19 03:01] kgriffs opened #1212 "Change Response.etag to surround the value in double-quotes"
...and document this as well.

(Note: breaking change)

[2018-01-21 21:43] farebord opened #1213 "Is it possible to disable (just for dev issues) Media cache?"
I'm making an API at this moment, and after make changes on the DB I wanna see results right away and not having to reboot falcon every time.

Is it possible to disable Media cache?

[2018-01-23 17:40] vytas7 commented on #584
``add_route()`` already takes custom *\*args* and **\*kwargs* that could be passed down to the handler.

Considering this and that there are already different methods to add routes, could it be cleaner to add a new method for this purpose? Extending routing API to become something like:

* ``add_route('/resources/{parameter}', resource)``
* ``add_alternate_route('/resources/{parameter}', resource,

[2018-01-23 18:28] vytas7 opened #1214 "Source code is unreadable when rendered in the new colour scheme"
Source code referenced by [source] links is largely unreadable as statements are rendered in white text on a very light yellow background.

For instance: http://falcon.readthedocs.io/en/stable/_modules/falcon/media/json.html#JSONHandler

![unreadable_source](https://user-images.githubusercontent.com/3430939/35293285-8de59134-0073-11e8-8f00-e00408378769.png)

[2018-01-24 12:09] ghost opened #1215 "testing.simulate_request allows not to modify the env"
The function "falcon.testing.client.simulate_request" of the testing module currently accepts multiple optional arguments that are written into the env, which is ultimately used in the simulated request. Other env options are fixed.

It would be great if this function would accept an environment created by testing.create_environ.

This way one could simulate e.g. ...

- ... requests from different

[2018-01-24 16:41] vytas7 commented on #1215
That is a very valid issue, +1 from me as well.

An possible ugly workaround, at least I have gone that way, would be to monkey-patch environment creation:

[code]

Then ``mock.patch`` ``falcon.testing.helpers.create_environ`` with this one.

[2018-01-28 21:54] MichaelYusko commented on #1210
@kgriffs Hello, I'm happy to solve the issue, but could you provide a little bit more details?

Thank you.

[2018-02-02 22:26] alysivji opened #1216 "Processing empty req.media results in 400"
The following code snippet results in a 400 when making a POST request with an empty body.

[code]

I would expect `req.media` to return an empty dictionary if the body is empty.

[2018-02-05 07:38] kaikaixinxi opened #1218 "printenv: write error: Disk quota exceeded"
i run my project with fc_run.py fc_run.cfg  , my  screen display the error information below:

[INFO]!bkill -J Pf33381c90ccbbc
Job <Pf33381c90ccbbc> is not found
[INFO]!bkill -J P7a1b7276c6771f
Job <P7a1b7276c6771f> is not found
[INFO]!bkill -J Pcd100ecb7ab653
Job <Pcd100ecb7ab653> is not found
Traceback (most recent call last):
  File "/YZGROUP/genewiz/public/app/FALCON-integrate/fc_env/bin/fc_ru

[2018-02-05 17:35] NordRagnarok opened #1219 "Same URL on different HTTP METHODS"
Hi

I noticed that when I have the same URL on different methods (HTTP) - it overrides the first
in the add_route function it states:
[code]

Being able to send same URLs on different HTTP requests is basic for a web server, should this be fixed? Or maybe it's fixed in a newer version? (running 1.2.0 and saw there is a 1.4.1 outside - but this segment is still the same in 1.4.1)

PS: All resources

[2018-02-05 23:47] bootrino opened #1220 "Simple way to allow all CORS / OPTIONS requests?"
I'm wanting to open the door wide to all CORS requests to my application.

I can see there is an additional Falcon/CORS middleware project but I'm hoping there is some simpler way to just open the door wide with a few lines of code and no need to worry about understanding and implementing the middleware and the various options and fine tuning that it provides.

Any suggestions for how to do this?

[2018-02-06 00:21] bootrino commented on #1220
Answering my own question:

[code]

[2018-02-06 10:55] NordRagnarok commented on #1219
This issue was due to my application routing schema - each HTTP method was treated as a handler (resource) class being passed a route and a function, so it resulted in same route for different resource classes - which the latter override the previous..
This issue was resolve on my part by constructing a class factory and generating resource classes with each handler class on_action method

[2018-02-06 10:56] #1219 closed

[2018-02-07 18:15] vytas7 commented on #1220
It seems you have coined a solution that fits your needs :smiling_imp:

Your question is otherwise actually answered in the FAQ [[1]](https://falcon.readthedocs.io/en/stable/user/faq.html#how-do-i-implement-cors-with-falcon), and the answer is really fairly similar to yours. Note the suggestion handles ``'OPTIONS'`` in a slightly different way (by telling which methods are supported instead of say

[2018-02-07 18:21] vytas7 commented on #1220
Also note that a simple to way to add unsophisticated permissive CORS under consideration to be included with Falcon 2.0: https://github.com/falconry/falcon/issues/1194

[2018-02-07 18:41] vytas7 commented on #1216
An empty body is, strictly speaking, not a valid JSON representation.

I do not think an empty dict is fitting in this scenario. However, one could maybe consider making ``req.media`` reduce to ``None`` in this case, as ``test.Request.json`` will start behaving in 2.0 (see the related discussion in, for instance, https://github.com/falconry/falcon/issues/1205 )

On the other hand, as said above, t

[2018-02-07 19:56] foresmac commented on #1216
I think there are a few ways to maybe change some behavior and make the framework a little more flexible in dealing with incoming request data. A solution here might use one or more of the following:

1. Don't allow/rely on the handler to raise `BadRequest`
1. set `req.media` to some consistent value (e.g. `None`) when the media handler can't return valid results.
1. Let the resource handler expli

[2018-02-08 02:34] kaikaixinxi commented on #1218
we find the answer, my home dir have 500M quota, but falcon will write some file in home dir , it exceed 800M , so it runs wrong.

[2018-02-08 06:37] vytas7 commented on #1218
Hello @kaikaixinxi !

I am pretty sure you have happened to report against a wrong project.

Judging by the errors and the paths reported, you are most likely using FALCON, https://github.com/PacificBiosciences/FALCON , tools for genetics.

Consider reporting the problem against the said project. This *Falcon* is a web framework.

[2018-02-09 15:09] farebord opened #1221 "Is it possible to disable Media Response caching?"
The big issue I have with that is that I can't disable it, and I need to. I've used response.body but it works like media, it caches the response after the first request. So: I have an admin panel an I need to moderate some things, also I need to remove or add some data from time to time. This media caching wont allow me to do so.

[2018-02-12 14:31] #1221 closed

[2018-02-12 14:31] #1213 closed

[2018-02-16 00:07] bootrino commented on #962
I got this error when returning a Python object instead of a json dump of an object.

[2018-02-20 16:04] marcusmercier opened #1222 "Perform same task for multiple users once with locking/caching"
**Is there a way to respond to the same, long running, CPU intensive task on the same endpoint/URL only once when there are multiple requests to it?** For Twisted web I had to implement custom queuing, locking, caching functionality to accomplish this with the use of threads. Maybe there is a better way to do this with Falcon?

_I recently came across Falcon framework to replace Twisted Web. I rea

[2018-02-20 21:38] foresmac commented on #1216
I just wanted to add that where this is a performance bottleneck, `req.stream.read()` could still be used when desired.

[2018-02-23 03:09] Camilo-HG commented on #469
Hi

I'm trying to implement POST request for uploading files.

I have used falcon-multipart in order to multipart/form-data, this allow me to retrieve my file in a cgi.FieldStorage() in which file is in binary format, but now, I need to write this file in a directory with the original extension.

This is the code I'm using.

app.py:

    import falcon

    from .files import Resource

    from fal

[2018-02-24 18:26] santeyio commented on #1194
I'll give this a shot

[2018-02-24 22:57] CaselIT opened #1224 "Add default file name in the StaticRoute"
Consider adding the ability to specify a default filename for a static route.

I'm not sure if it would be best to send the file or raise an `HTTPMovedPermanently` (or a `HTTPPermanentRedirect`).
Probably for performance reasons the redirect would be best (but in this case maybe `default_filename` should become `default_location`)

[2018-02-25 03:07] shimakaze-git opened #1225 "Translate document to japanese"
Hi, I’m a Japanese Engineer in Tokyo.
I’m using Falcon at work. I would like to translate the falcon documentation into Japanese, so my coworkers and other developers can use this great framework!
How can I go about getting started?

[2018-02-25 10:31] CaselIT commented on #1224
Thinking back at my use case, serving a single page application html file, the two alternatives are not the same, since by using a redirect the original url would be lost, and with it the location on the spa.

[2018-02-26 05:09] timc13 commented on #1224
There should be an overrideable default `index.html` that is served if the root path to the app is served.  This is how most static content hosting works.  No redirect logic necessary.

[2018-02-26 10:56] CaselIT commented on #1224
I'll try to implement it.
I was thinking about leaving the default route optional though.

[2018-02-26 19:57] foresmac commented on #1194
I don't think this method makes sense; you'd have to already have an `on_options` method that generates a non-405 response. I think we might have used a mixin or middleware for this on a project; let me see if I can dig up the code.

[2018-02-26 20:06] foresmac commented on #1194
Ok, yeah, we used a mixin like the following:
[code]

But the CORS middleware worked on `process_resource`, so it got routed to a valid view.

Then we check the origin domain against a white list (`ALLOWED_ORIGINS`) and/or a regex (`ALLOWED_ORIGINS_REGEX`) defined elsewhere (we use a standard `app/config.py` file).

[code]

[2018-03-06 20:05] TihonV opened #1227 "Wrong charset when uri is received"
Steps to reproduce:

1. Create api-server with one registered sink method.
[code]

2. Run server:
`gunicorn app:get_app()`

3. Make request with curl:
`curl -H "Content-Type: application/json;charset=utf-8" http://localhost:8000/old/Киррилица`

![2018-03-06 21-57-46](https://user-images.githubusercontent.com/5057658/37055106-80f47c6a-2189-11e8-861d-a7eed69819cf.png)

[code]

[2018-03-07 16:30] jcampanello opened #1228 "Calling API from inside Resource handler?"
Hi,
is there a simple way to call an API method from inside a resource Handler?
I'm implementing an API that has HATEOAS _embedded (which includes content for performance reasons). Ex:
`{ ... data ..., "_embedded" : { "/session" : { ... data for GET /session ... } } }
`
For what i can see, the testing classes have a way to emulate a WSGI call, but not sure if there is a way to make requests to the

[2018-03-08 22:01] CoreyCole opened #1229 "req_options.auto_parse_form_urlencoded converting string[] of length 1 to string"
WARNING: I'm a falcon noob. I have auto form parsing enabled:
[code]

I have a route that parses a JSON object via a POST request from my frontend
[code]

When I print out `req.params` in my `on_post` handler...
[code]
...I see
[code]

Is this the intended behavior? Or am I missing something / is there a different way I should be accessing `req.params`?

In the docs, Request.params is described:

[2018-03-08 22:18] CoreyCole commented on #1229
If this clarification helps, I'm using angular on the frontend passing my JSON params as [HttpParams](https://angular.io/api/common/http/HttpParams)

[code]

These are of type

[2018-03-08 22:37] CoreyCole commented on #1229
Ah, I think I understand. In the docs, Request.params is described:

The actual URL with the query params being passed looks like
[code]

So I guess `arr1` has only seen 1 value when the stream is parsed? This means it is not converted into a list? My hacky fix is:

[code]

Is there a more elegant solution to this?

[2018-03-08 22:48] cvitan opened #1230 "edit custom handler"

[2018-03-08 22:48] #1230 closed

[2018-03-09 17:52] vytas7 commented on #1229
I would say you did a fair investigation of this yourself.

If you only have a very limited amount of params with expected key names known in advance, another option is to use Falcon's ``get_param()`` and friends, including ``get_param_as_list()`` which seems to be of interest in your case.

For instance, if you saved the snippet below as ``test.py``, and ran it with ``gunicorn test:api``

[code]

[2018-03-09 18:00] CoreyCole commented on #1229
Ah, `get_param_as_list` is what I need to solve this most elegantly. Thanks!

[2018-03-09 18:00] #1229 closed

[2018-03-09 18:01] vytas7 commented on #1229
Another option would be not using ``auto_parse_form_urlencoded``, and parsing the URL-encoded payload directly.

Let us rework our example slightly:

[code]

[2018-03-12 17:39] santiago commented on #1122
Any progress on this?

[2018-03-13 14:53] Camilo-HG commented on #321
Hey, hi!

Any progress in this topic?

Falcon rocks! ... It would be great to have WebSocket support.

[2018-03-15 14:57] subesokun opened #1232 "Transform + stream responses"
Hi, I'd like to transform and forward an incoming stream as a response stream. My very naive approach transforms the incoming stream but sends it as bulk back to the client...

The request stream contains line delimited JSON Arrays
[code]

and the response stream should look like the following
[code]

Any idea on how I can send immediately every transformed line back to the client?

[code]

Thanks

[2018-03-15 17:44] vytas7 commented on #1232
Interesting question @subesokun !

I am afraid, though, the short answer is it in general not possible to force clients to read any response before the whole request is streamed. HTTP standard does not say a client, for instance, a browser, must listen to response before transmitting the full request.

And even if they do, a typical use case for this is to detect ``4xx`` or ``5xx`` errors early in

[2018-03-15 19:26] subesokun commented on #1232
Hi @vytas7, thanks a lot for your quick reply! Actually we're in control of both the server and the client and we've a Node.JS based prototype running (for both server and client) and there it works as expected. As soon as the first byte gets streamed back from the server to the client the HTTP header gets send as well with an undefined `Content-Length` as we don't know the length yet. I guess I'd

[2018-03-15 19:26] #1232 closed

[2018-03-18 06:02] branelmoro commented on #469
I have added changes in request.py in falcon framework to parse application/x-www-form-urlencoded and multipart/from-data.
I have raised pull request - https://github.com/falconry/falcon/pull/1233 it is not yet merged in master.
Check this - https://github.com/branelmoro/falcon
I hope this will make file upload and post parameters easy.

[2018-03-18 06:09] branelmoro commented on #418
I have added changes in request.py in falcon framework to parse application/x-www-form-urlencoded and multipart/from-data.
I have raised pull request - https://github.com/falconry/falcon/pull/1233 it is not yet merged in master.
Check this - https://github.com/branelmoro/falcon
I hope this will help access POST and GET parameters separately and we will be able to upload files as well.
Good thing a

[2018-03-23 09:14] nav-agarwal opened #1234 "Request media access fails for empty body when called twice"
I am using req.media to fetch post request's body. If I pass empty dictonary in json_data, calling req.media twice results in error message:

Bug is present in https://github.com/falconry/falcon/blob/master/falcon/request.py line 952. In case of empty dict as body, self._media will always return False. As falcon uses req._media cache for subsequent interactions, this will fail.

Correct behavior w

[2018-03-26 15:06] ogonbat opened #1235 "process_resource not raise errors"
Hi every one

[code]

this is a short code to reproduce the error
i have multiple middlewares and one of them is ValidateJSON
if i send an empty body, nothing happen, no error will raise by falcon.

i have failed something?
thanks in advance

[2018-04-01 03:45] phtdacosta opened #1237 "Did not find in the docs so I am asking here. How can I "abort/skip straight to the response" a request while in a middleware method like the "process_request/process_resource"?"

[2018-04-03 16:48] kgriffs commented on #1194
See also: https://github.com/falconry/falcon/issues/1220

[2018-04-03 16:49] #1220 closed

[2018-04-04 05:14] phtdacosta commented on #1237
Until now I made no good progress finding any solid solution. The only way to abort a request in middleware before it reach any endpoint (route function) is manually raising some exception like:

    def process_request(self, request, response):
        raise Exception('Will not let it reach any route!')

But this way is ugly as hell, and **will always send a response with the 500 Internal Server

[2018-04-04 13:03] nZac commented on #1237
Hi @phtdacosta! When you say "skip strait to the response" do you mean you want to skip all future middleware and go to the resources which that route points to, OR do you mean you want to not proceed any further?

If you would like to do the later, you might want to checkout out the available `HTTPError` exceptions. You can find them here: http://falcon.readthedocs.io/en/stable/api/errors.html

[2018-04-04 14:40] mxmader opened #1238 "support for HTTP 419 status code"
While this code is not officially (to my knowledge) part of an RFC / standard, it seems to have colloquial use / adoption on many Internet-facing web services.

Here's another framework who is considering this support (granted, the context is a bit different WRT falcon):
https://github.com/GetBlimp/django-rest-framework-jwt/issues/158

I'll post a basic PR to illustrate the request; no pressure to

[2018-04-04 15:47] #1037 closed

[2018-04-04 15:47] #1214 closed

[2018-04-04 16:49] phtdacosta commented on #1237
Thank you @nZac! That's exactly what I'm looking for. I want to say sorry for the simple question, but my background with web development in python was just using Flask, and there, just returning inside the function was enough to force the response.

For real, maybe with Flask it's more spontaneous for beginners, but with Falcon and it's proper classes is a lot more elegant and professional way to

[2018-04-04 16:49] #1237 closed

[2018-04-04 17:14] #1142 closed

[2018-04-04 19:54] singhrajesh8699 commented on #321
any update for web socket implementation in Falcon.

[2018-04-04 20:33] phtdacosta opened #1240 "There is any way to transmit an argument from the middleware function or hook function to the resource function?"
Sorry for another simple question, but _I looked at the middleware docs and did not find anything useful covering this subject. I'm also reading and trying to understand if the hooks docs have any information about this._ Thanks to everyone contributing to this amazing project, I hope to help whenever I can too.

[2018-04-04 21:36] mxmader commented on #1238
A bit more about my use case:

My team has built a REST API which uses the "Bearer Token" authorization model. I have various consumers, one of which is a client based on requests. That REST API will return various status codes depending on the semantics of the response to a given request which requires authentication and authorization:

HTTP 401 Unauthorized: when no token is given or an invalid/

[2018-04-04 21:38] mxmader commented on #1238
Note that the associated PR is posted for convenience and suggestion, not assertion. It's entirely reasonable for the maintainer to seek upstream standards body coverage before a change like this goes in. At a minimum, this issue will reflect the inquiry for historical record.

[2018-04-05 05:49] phtdacosta commented on #1240
I'm studying hooks and they seemed to be a reliable way to do what I want, _although I still can not do exactly what I want_, pass/feed some data from the hook (or middleware) to the resource class/resource function below them. I even tried to add a key into the request object but it do not worked yet too.

[2018-04-05 13:58] cnds commented on #1240
you can try to add data to req.env

req.env['data'] = your_data

[2018-04-05 17:24] phtdacosta commented on #1240
Actually, what I'm trying to do is to validate a "JSON body" after reading the req.stream.read() function, properly formatting the stream string into a dict type, (since the request object do not have a proper body attribute) to only then, pass the body-like formatted stream to the on_post() function of the resource.
This way I can reject a bad request before it go further into the resource and at

[2018-04-05 19:33] phtdacosta commented on #1240
Digging hard after some solution, I found that something useful but not quite easily to get at first sight, the body called stream is actually parsed into JSON on a request attribute called media if the encoding is correct. It actually do its job really well, although, back to my first question just for curiosity, there could be any good way to pass some data created in middleware or hook function

[2018-04-06 15:30] kgriffs commented on #1240
Hi @phtdacosta, let me know if I misunderstood your question, but the typical way data is passed around is via [req.context](http://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Request.context) and [resp.context](http://falcon.readthedocs.io/en/stable/api/request_and_response.html#falcon.Response.context). You can also simply add instance attributes to req and resp, althoug

[2018-04-06 15:49] kgriffs commented on #1206
@mattgiles I really like mujson and would consider using it if you can get it to Production/Stable status. It would be especially great if it could detect PyPy (by checking for the presence of ``sys.pypy_version_info``, for example) and modifying what it loads accordingly.

[2018-04-06 19:32] foresmac commented on #948
Really the problem is that [the documentation](http://falcon.readthedocs.io/en/1.4.1/api/api.html#falcon.API.add_error_handler) gives advice that you can't reliably follow and expect to work as it should. The reason is that `API.__init__()` calls `add_error_handler`, and so if you do as suggested in the docs, your custom exception handler for `Exception` gets called for everything because `HTTPErr

[2018-04-08 22:15] sciatro opened #1243 "Misleading doc string in JSON media handler"
Looks like the [JSON media handler's doc string](https://github.com/falconry/falcon/blob/3ba0412acee1eaddf36b9a35d9859fd43798e4a9/falcon/media/json.py#L11) (``"""Handler built using Python's :py:mod:`json` module."""``) is incorrect since ``falcon.util.json`` [could be ujson](https://github.com/falconry/falcon/blob/3ba0412acee1eaddf36b9a35d9859fd43798e4a9/falcon/util/__init__.py#L24).

Looks like

[2018-04-09 08:47] nav-agarwal commented on #1234
Any update?

[2018-04-09 10:48] ZelphirKaltstahl commented on #969
Here is a project which does almost what I need: https://github.com/piotrmaslanka/falcon-ratelimit/blob/master/falconratelimit/ratelimit.py
Only that it returns HTTP code 200 even when there are too many requests. So I will fork it and try to fix that by setting the HTTP status code in the case of too many requests.

[2018-04-09 19:55] foresmac commented on #948
I did something similar, which so far seems to work as expected, but it's not especially intuitive unless you understand that the handlers for `HTTPError` and `HTTPStatus` get called if an error handler raises one of those. The intent here is to forward all exceptions raised to Stackdriver:

[code]

Used the naked `raise` so that the original stacktrace is maintained (at least on Python 3.5+, IIRC

[2018-04-10 20:56] timc13 commented on #948
this has worked for me...altough I'm not sure exactly how.
[code]

[2018-04-10 22:57] CoreyCole commented on #1122
It's part of the version 2.0 milestone (40 open issues / 43 total). Is there any roadmap of the priorities for these issues?

[2018-04-17 15:52] #584 closed

[2018-04-17 22:12] Dotrox commented on #648
I use a sink and then extract the rest part with the follow code:
[code]
But this is ugly!

Also I need deal with a # symbol but this part is totally lost in the Request object.

[2018-04-17 22:16] philiptzou commented on #648
@Dotrox: There's no way you can capture the text after # symbol. It won't be submitted to the server by any browsers.

[2018-04-19 19:26] kgriffs commented on #1224
I think this could be a valuable feature to add to the framework, but before we proceed, I want to get crystal clear on our goals. I think we're actually conflating two different use cases:

**(A)** Serve a default file if the filename is not provided (ala the NGINX `index` directive)
**(B)** Serve a default file if a filename is given, but that file does not exist.

Re **(B)**, sites usually just

[2018-04-19 20:16] CaselIT commented on #1224
Thanks for the Feedback @kgriffs

My intent was a bit of a mix of the two:

The use case that i had in mind for this issue was a SPA, where regardless of the url that the user requests, the server always need to send the single html file with the application.

Maybe the name `default_filename` does not properly cover this use case. Maybe something like `fallback_filename` would be more appropriate

[2018-04-24 12:43] kgriffs commented on #1224
@CaselIT Thanks for the clarification. In that case, I like the suggestion to rename the kwarg to `fallback_filename`. We can always implement **(A)** another time if/when the community requests it.

[2018-04-24 22:28] CaselIT commented on #1224
I've thought of an alternative that maybe can be a compromise:
keep the name `default_filename` but specify with a boolean flag ( called `default_filename_absolute` in the table below for lack of a better name) if it should be relative to the path selected or absolute.
Something like:

| `default_filename` | `default_filename_absolute` | `prefix` | `directory` | `path` | file read |
| -- | -- | --

[2018-04-26 06:44] cboursinos commented on #321
Any update on this?

[2018-05-01 19:18] dave4jr opened #1248 "add_static_route CORS issue"
Hello and thank you in advance for your time. I'm using add_static_route to serve static files mainly for testing purposes. In some cases, I want to pull in static files on the front end with Javascript. Currently I'm using CORS middleware on our server and it works great, but does add_static_route bypass falcon middleware? I'm not seeing the CORS headers set in the response from my server. Any he

[2018-05-02 17:10] vytas7 opened #1249 "Insufficient color contrast of code samples in PDF documentation"
As reported on chat by @xakiy, code samples in documentation are hard to read due to very light text on white background when rendered in PDF format. A similar issue (https://github.com/falconry/falcon/issues/1214) has been resolved in 4eb5384 for HTML version by changing Pygments code style to ``monokai``. However, for some reason ``monokai`` dark background does not follow through to LaTeX outpu

[2018-05-07 03:52] xgfone opened #1250 "Move routing.map_http_methods into an instance or class method?"
I like `Falcon`, but the policy to map http methods. So I want to customize it, and I must override the method `add_route`, which is `WASTEFUL` and `EXPENSIVE`.

I think, `method_map = routing.map_http_methods(resource, suffix=suffix)` should be placed in an instance or class method, such as
[code]

Now, I only need to override the method `map_http_methods`, don't change or repeat the process in `

[2018-05-07 18:43] #1224 closed

[2018-05-07 19:03] kgriffs commented on #1248
Hi @dave4jr, the static routes do not bypass middleware components. Perhaps @lwcolton has some thoughts on what might be happening?

[2018-05-07 19:04] kgriffs commented on #1243
Good catch, we'll get that fixed!

[2018-05-07 19:13] kgriffs commented on #1215
This sounds like a reasonable feature to add. I will schedule it for 2.x. If anyone is interested in implementing this for 2.0 or 2.1, feel free to submit a PR and we'll take a look. Thanks!

[2018-05-07 20:37] kgriffs commented on #1235
Hi @ogonbat, it looks like the first check to see if the content length is 0 is preventing requests with empty bodies from reaching the line that raises the error. Here's an MCVE that I just tested and was able to get the expected 400 response from an empty POST:

[code]

[2018-05-07 20:56] kgriffs commented on #1234
Hi @nav-agarwal, thanks for the bug report. I was able to reproduce and verify the problem. The following demonstrates the fix:

[code]
I'll schedule this to be fixed in the next release.

[2018-05-08 02:39] xgfone commented on #1250
@kgriffs I have submitted a RP #1252 , please take a look. Thanks.

This is my overriding example,
[code]

It supports not only the original HTTP method mapping but also the new self-defined. For example,
[code]

@kgriffs I'm thinking whether we maybe use the following method instead of that in PR.
[code]

[2018-05-08 03:01] kgriffs commented on #1228
Hi @jcampanello, sorry for the delay in responding. There's no feature for internal routing currently, although you can certainly just call the on_* responder method directly, or factor out the logic to a third method. I'll schedule this as a possible feature for 2.x.

[2018-05-08 03:36] kgriffs commented on #1227
Hi @TihonV, sorry for the delay in responding. curl unfortunately doesn't handle non-ASCII characters very well. So by the time the path reaches Falcon it is already garbled. You can percent-encode the URL to work around this, or use a tool like HTTPie instead of curl. I also tested making a request to your sample app via requests running in a python REPL and it round-tripped the characters in the

[2018-05-08 07:36] vytas7 commented on #1234
Note that the fix does not work if the incoming JSON is ``null``, for instance, running something in line with

[code]

I guess there are two possible ways to tackle this:

* Use some private singleton object instead of ``None``
* Ignore this as a super edge case

[2018-05-08 08:50] nav-agarwal commented on #1234
@vytas7 : Agreed it wouldn't work with your example.

This is not super edge case. If you use middleware and validate your data against req.media and then pass req.media to library, this will hit every time.

One more approach would be to keep a flag if data has already been consumed from stream, don't read it again and return whatever is present in "media".

[2018-05-08 14:54] jcampanello commented on #1228
Kurt, never mind for the delay :-)

I actually took the code from the tests to implement API call with WSGI emulation. I think this provides for better modularity, otherwise a module implementing part of the API should know about other modules implementing other parts (granted, the API path is coupling, but could be passed as a parameter on handler creation).

The most important benefit of this ap

[2018-05-08 16:07] vytas7 commented on #1234
I meant sending null as JSON payload was an edge case in the light of the proposed solution, your report is otherwise very valid.

[2018-05-08 19:57] dorfsmay opened #1253 "Why is resp.vary type inconsistent?"
resp.vary setter expect a list but it's getter returns a string:

    resp.vary = 'blah'
    print(resp.vary) ==> 'b', 'l', 'a', 'h'
    print(type(resp.vary) ==> <class 'str'>

This is inconsistent and means that adding a header requires a string manipulation when it really should be as simple as `resp.vary.append('Origin')`.

Happy to create a PR for this, but it will break backaward incompatibi

[2018-05-08 23:21] klardotsh opened #1254 "Middlewares which don't need arguments can cause IndexErrors"
Python 3.6.5 (MacOS, however I originally discovered this bug on Python 3.6.2 + Alpine Linux).
Falcon 1.4.1

Sometimes, one may want a middleware simply as a pre- or post-handler for a request, but this handler may not actually care about what the request or response contains. Notable examples would be timers and/or loggers, but I'm sure there are plenty of others.

An example of such an applicati

[2018-05-09 03:55] kgriffs commented on #1225
Hi @shimakaze-git, I apologize for the delay in getting back to you. I think a lot of members of the community would appreciate a Japanese translation, and setting up the project docs for localization will set the stage for translating them into other languages as well.

That being said, this would be an ongoing project; before each release of the framework, I would need your help to go through th

[2018-05-09 04:26] kgriffs commented on #1216
I agree that it would be useful to be able to examine the request body when it fails to decode. But I'm not convinced that an error shouldn't be raised as well, since it _is_ an exceptional circumstance, assuming user-agents usually submit well-formed bodies (this hearkens back to the old return-code vs. exceptions debate). One possible solution would be to modify `JSONHandler` such that it raises

[2018-05-09 04:37] kgriffs commented on #1222
Hi @marcusmercier, sorry for not getting back to you on this until now. As you've probably found, Falcon does not currently support this out of the box. You might try bringing up the topic in https://gitter.im/falconry/user to see if any other community members have implemented something similar and would be able to share some insights.

[2018-05-09 04:37] #1222 closed

[2018-05-09 04:38] #1218 closed

[2018-05-09 04:39] #1110 closed

[2018-05-09 04:40] #1102 closed

[2018-05-09 04:41] #1068 closed

[2018-05-09 04:42] #1089 closed

[2018-05-09 04:46] #1022 closed

[2018-05-09 05:04] kgriffs commented on #1013
We now have three types of routes supported by the framework:

* Resources
* Sinks
* Static files

It may make sense after all to provide a way for middleware components to hook requests that end up matching any of the above, rather than only providing a way to intercept requests to resources.

[2018-05-09 05:05] #1033 closed

[2018-05-09 05:05] #1020 closed

[2018-05-09 08:38] carlodri opened #1256 "[documentation] waitress-serve command syntax"
In the [tutorial ](http://falcon.readthedocs.io/en/stable/user/tutorial.html) docs, the given waitress command is:

[code]

whereas it should be:

[code]

On my system (Win10x64) the first command errors out with:

[code]

[2018-05-10 01:19] kgriffs commented on #1253
Hi @dorfsmay, I'd love to get your help on this! It is indeed clunky and has actually been on my radar for some time. We can finally address it in 2.0, since we will can make breaking changes.

Since there are a few different ways this behavior could be implemented, it would be best if you first outlined an approach and shared it here for feedback from some of the main project contributors.

Thank

[2018-05-10 06:48] TheMushrr00m commented on #645
Hi ,
Is there any progress on this issue?
I like Falcon but i can't find an easy way to achieve this.

[2018-05-10 06:50] carlodri commented on #1256
@kgriffs PR is there!

[2018-05-11 21:46] kgriffs opened #1258 "feat: Override middleware list for a certain route, sink, or static route"
Example use case: Implement a health check endpoint that excludes an auth middleware but retains middleware that adds a trace id to `req.context`.

[2018-05-11 22:24] kgriffs opened #1259 "docs: Add a warning to the Request.path docstring re url encoding"
If the original path requested by the client was url-encoded, it will be decoded before being returned by `Request`'s `path` attribute. Therefore, if this attribute is to be used by the app for any upstream requests (say, when implementing a proxy), any non-url-safe characters in the path must be url-encoded back, before making the request. Not all HTTP client libraries handle this automatically.

[2018-05-11 22:28] kgriffs commented on #1258
Another use case from @adsahay_twitter on Gitter:

[2018-05-12 17:43] kgriffs opened #1261 "feat: Response.append_header does not include a space after the comma"
Append a single space after the comma in order to improve readability when debugging response headers for a Falcon app.

[2018-05-12 18:35] kgriffs commented on #578
I think we can mitigate much of the potential performance regression in doing this by not going through the mapping interface and just interacting with a standard library `dict` directly. I've prototyped the implementation and it seems to work reasonably well. Scheduling this for Falcon 2.0.

[2018-05-12 18:48] kgriffs opened #1262 "Rework Request.headers"
To make the `Request.headers` property more useful for the common use case of proxying requests to an upstream service, let's return a list of tuples instead of a `dict`. This is obviously a breaking change, but easily worked around by the caller simply instantiating a `dict` with the results.

Furthermore, we should take the opportunity to return capitalized headers vs. all-upper-case. We can use

[2018-05-12 19:04] kgriffs opened #1263 "feat: Modify all subclasses of HTTPError and HTTPStatus to accept a headers kwarg if it does not already"

[2018-05-12 19:11] kgriffs opened #1264 "feat: Inter-resource delegation"
There have a been a number of requests from the community for a feature to facilitate one resource calling into another, along the lines of [Flask's url_for()](http://flask.pocoo.org/docs/1.0/api/#flask.url_for).

What might this look like for a Falcon app, and should we even do it in the first place?

[2018-05-12 19:17] kgriffs opened #1265 "fix: Special-case Response.append_header to handle Set-Cookie"
When setting cookies directly (e.g., when proxying an upstream response with cookie headers), we must special-case Set-Cookie since the usual method of joining multiple header values with a comma is incorrect in that case.

I've got a prototype fix for this already, so I'll go ahead and work on a PR.

[2018-05-12 19:18] kgriffs opened #1266 "feat: Add a content_length property to Response to set the Content-Length header"
Useful for responding to HEAD requests when you aren't actually providing the response body.

[2018-05-12 19:27] kgriffs opened #1267 "Change the default value for RequestOptions.strip_url_path_trailing_slash"
Based on feedback I've gotten from the community, it appears that people generally expect the trailing slash to be preserved and can run into hard-to-debug issues when it is not, so let's toggle the default.

[2018-05-12 19:29] kgriffs opened #1268 "feat: Add an expires property to Response for setting the Expires header"

[2018-05-12 19:34] kgriffs opened #1269 "Add a headers property to Response"
Return a list of all headers already set for the Response. Don't return the internal data structure directly to avoid breaking the abstraction and enabling hard-to-debug problems in apps.

[2018-05-12 20:02] kgriffs opened #1270 "doc: Add a note to the Response.stream docstring re iterable w/ close()"
Add a note stating that if the stream is set to an iterable object that requires resource cleanup, it can implement a `close()` method to do so, which will be called upon completion of the request.

[2018-05-12 20:28] kgriffs commented on #1029
NOTE: It would be best to do this is a series of small-ish PRs so that we can review each change carefully before merging.

[2018-05-12 21:05] kgriffs opened #1271 "Add support for setting resp.stream to a requests.Response or urllib3.HTTPResponse object"
We already have support for streaming via a file-like project, but it is also common to fetch upstream resources via the requests library, and so it would be really helpful if Falcon supported this natively. Internally, the object can be tested to see if it is an instance of `requests.Response` or `urllib3.HTTPResponse`. These types can be optionally imported (and if the import fails, we know we n

[2018-05-12 21:17] kgriffs opened #1272 "All get_param_* helpers should support a default kwarg."

[2018-05-12 21:20] kgriffs opened #1273 "feat: Add a has_param() method to Request"

[2018-05-12 21:27] kgriffs opened #1274 "Change the default value of RequestOptions.keep_blank_qs_values to True"
At the same time, modify the `blank_as_true` kwarg of `Request.get_param_as_bool()` to default to`True` instead of `False`.

[2018-05-12 21:29] kgriffs opened #1275 "Add a new method, get_param_as_float(), to Request"

[2018-05-12 21:34] kgriffs opened #1276 "Change the default of the independent_middleware kwarg in API.__init__ to True"
`independent_middleware=True` tends to lead to behavior that is easier to reason about and less surprising.

[2018-05-12 21:40] #955 closed

[2018-05-12 21:41] kgriffs commented on #462
Related: https://github.com/falconry/falcon/issues/899

[2018-05-12 21:43] kgriffs commented on #462
@nZac I think it would be great to have a page added to the doc with sections for difference deployment scenarious and a TOC at the top. uwsgi + nginx would be a great first addition to that page.

[2018-05-12 21:44] kgriffs commented on #899
If anyone is interested in helping document this, please check out #462 and submit a PR. Thanks!

[2018-05-12 21:44] #899 closed

[2018-05-13 05:25] KingAkeem commented on #1276
May I work on this PR?

[2018-05-13 15:07] kgriffs commented on #1046
We could potentially add a new method, `get_cookie_values()` to handle this case. How else might this be designed? Happy to take suggestions.

[2018-05-13 15:26] kgriffs commented on #1199
I _think_ this work is done. Let me know if I missed something.

[2018-05-13 15:26] #1199 closed

[2018-05-13 15:30] kgriffs commented on #953
See also: #1236

[2018-05-13 15:33] kgriffs commented on #1147
Done

[2018-05-13 15:33] #1147 closed

[2018-05-13 15:36] kgriffs commented on #1120
On second thought, we may retain the ability to use a custom class so that app users can ease migration by setting it back to a dict.

[2018-05-13 15:41] kgriffs commented on #1028
(I'll take this one when the time comes.)

[2018-05-13 15:43] kgriffs commented on #1008
I've done some prototyping around this that looks promising. Stay tuned. :)

[2018-05-13 15:47] kgriffs commented on #1121
Duplicates #1008

[2018-05-13 15:47] #1121 closed

[2018-05-13 15:56] kgriffs commented on #1264
(Please comment below re a design proposal if you are interested in taking this on, thanks!)

[2018-05-13 19:01] nZac commented on #1028
@kgriffs do you need assistance with this or are you accepting support? Are there particular points of conversation you want to emphasize?  The README has "Fast", "Reliable", "Flexible", "Debuggable" as the tenants of the framework, would you want to highlight those?

I would be interesting in helping where it makes sense.

[2018-05-13 19:16] nZac commented on #1238
Werkzueg does not support it natively, but you can return any http code https://github.com/pallets/werkzeug/blob/e378a8f83d7549904abd7ae5b7ac53491a3c76cf/werkzeug/http.py#L141-L142

Bottle _implicitly_ supports it, however since httplib doesn't support it, it doesn't get mapped anywhere: https://github.com/bottlepy/bottle/blob/1de24157e74a6971d136550afe1b63eec5b0df2b/bottle.py#L4274-L4283

CherryP

[2018-05-13 19:54] nZac commented on #1046
Thanks for submitting this Gareth, I think this is a helpful request and I appreciate you taking the time to submit it as an issue.

I don't think this is something that should be supported as I think it breaks that key-value nature of HTTP Cookies. While the [HTTP cookie spec](https://tools.ietf.org/html/rfc6265#section-5.4) does not prohibit it explicitly, it does use the term `set` which, in a

[2018-05-13 22:41] mxmader commented on #1238
closed my PR (#1239) in favor of #1242.

[2018-05-14 02:05] nZac commented on #1264
Much of the way that `Flask.url_for` is implemented in Werkzueg- specifically in the [routing code](https://github.com/pallets/werkzeug/blob/e378a8f83d7549904abd7ae5b7ac53491a3c76cf/werkzeug/routing.py#L1701-L1792).

The basic premise within that code is to utilize the `Flask.url_map._rules_by_endpoint` to grab the rule that is mapped to that `endpoint` and use that to build a URL with the appropr

[2018-05-14 13:39] steven-upside commented on #1263
I'll grab this one

[2018-05-14 14:04] pshello commented on #1266
Taking a look at this

[2018-05-14 15:08] kgriffs opened #1281 "Make using Cython with Falcon easier"
Ideas:

* Specify cython with setuptools extras
* Ship manylinux wheel

[2018-05-14 16:30] #1263 closed

[2018-05-14 17:36] steven-upside commented on #763
I'll do this

[2018-05-14 19:07] steven-upside commented on #1272
I'll work on this.

[2018-05-14 19:32] #763 closed

[2018-05-14 19:37] steven-upside commented on #1268
I'll work on this.

[2018-05-14 19:47] steven-upside commented on #1029
I'll take a look at this.

[2018-05-14 20:32] jmvrbanac opened #1292 "Add Falcon docs to Dash"
To better support developers, we should get our documentation added to [Dash](https://kapeli.com/dash).

[2018-05-14 20:56] ozzzik commented on #1275
@jmvrbanac, was fixed in https://github.com/falconry/falcon/pull/1285

[2018-05-15 13:05] kgriffs opened #1296 "feat: Add a way for Middleware process_request() to indicate whether routing should proceed or the response should just be rendered immediately"
We can either set an attribute on `resp`, or simply support returning a truthy value to indicate whether or not the routing should be short-circuited. Other ideas?

Should we also do this for process_resource()?

[2018-05-15 13:56] kgriffs commented on #1250
Hi @xgfone, it probably makes sense to be somewhat conservative for now. We can wait and see if there are common use cases for which the new method is overridden, and then perhaps implement those in the framework over time. I'm looking at the PR now. Thanks for your help on this!

[2018-05-15 14:24] #1273 closed, assigned to nobody

[2018-05-15 15:02] #1267 closed

[2018-05-15 15:14] #1254 closed, assigned to nobody

[2018-05-15 16:06] #1266 closed

[2018-05-15 18:15] kgriffs commented on #1250
BTW, could you explain in a bit more detail how you are setting up your resource classes and how you need the routing to work? I just want to make sure I understand the use case.

[2018-05-15 19:54] #1268 closed

[2018-05-15 21:15] #1270 closed

[2018-05-15 22:51] jmvrbanac commented on #1238
We do try to keep relatively close to the widely accepted standards. Since the standards bodies haven't made a determination about the future of code `419`, we would prefer to wait on adopting this change until there is a direction indicated by the bodies. We can reopen this issue at that time.

In the meantime, Falcon currently allows the use of custom statuses e.g `resp.status = '419 Authorizati

[2018-05-15 22:51] #1238 closed

[2018-05-16 02:31] xgfone commented on #1250
Hi @kgriffs, I have rebased and modified it based on the new interface.

I mainly have two ideas,
1. Add the method `map_http_methods` to allow the user to override it to implement the self-defined method mapping.
2. The original function maps HTTP methods to methods `on_XXX()` of the resource. I think, in order to make the framework more flexible, it maybe allow the user to appoint the method nam

[2018-05-16 02:43] timothyqiu commented on #1264
Places I miss `url_for`:

* For a 201 response, the url of another resource is needed to set the `Location` header.

      POST /gists
      Status: 201 Created
      Location: https://api.github.com/gists/aa5a315d61ae9438b18d

* For a paged collection resource, the url of itself is needed to set the `Link` header or put them in the resulting response.

      GET /user/repos
      Status: 200 OK

[2018-05-16 02:51] xgfone commented on #1135
A good idea!

When using falcon, I like `int` as the status. But falcon does not support it, so I wrap it.
[code]

But, it's tedious. If falcon supports it natively, it's perfect!

[2018-05-16 04:52] xgfone commented on #1250
@kgriffs Just as you said,  it is best to make the new, override-able method a member of the router rather than `falcon.API`. Mapping the HTTP method should be the responsibility of the router, not `falcon.API`.

`CompiledRouter.add_route()` will be broken down, because the argument `method_map` is unnecessary.

I have done. Please took a look, and I need your thoughts.

[2018-05-16 05:06] xgfone opened #1308 "Add the method append_error_handler for falcon.API?"
`falcon.API` only has the method `add_error_handler`, which will insert the exception handler to the front. And `falcon.API` also adds the default error handlers for `falcon.HTTPError` and `falcon.HTTPStatus` automatically.

If the user want to add the error handler for `Exception`, it will ignore the default error handlers, which may not be what the user want.

By adding the method `append_error_

[2018-05-17 04:48] fgimian opened #1309 "Question: What WSGI server do you recommend with PyPy and does it outperform CPython in your testing?"
Hey there guys, firstly thanks for your awesome framework! 😄

I've been benchmarking Falcon on my end by running a WSGI server and using wrk to run some tests against a 'Hello world' endpoint.

What I'm finding is that CPython with gunicorn and Meinheld workers is by far the best option.  I have tested out PyPy with uwsgi and gunicorn (with various types of workers) and can't get anywhere near the

[2018-05-21 05:15] dave4jr commented on #1248
Thanks! @lwcolton, I know you are probably super busy, just wanted to see if you would by chance have any insight onto this? The response from add_static_route isn't setting CORS like the other endpoints I create (with the CORS middleware). Is there a reason for this that I'm not thinking about? Probably something obvious. Thanks for your time sir.

[2018-05-21 06:55] DmitriiTrofimov opened #1312 "Providing of real content-type to media handlers"
#1311 is solve followed problems:

- handling big media
- handling media accord to real content-type (if handler mapped to media type range like application/* or image/*) or content type parameters (like charset or boundary for multipart/form-data)

[2018-05-21 17:41] steven-upside commented on #1206
@kgriffs What specifically do you think is required to get `mujson` to Production/Stable status?

As indicated in the issue, `mujson` is very useful for me outside of falcon, and since I'm planning to add PyPy detection anyways--which you also expressed interest in--I figured it would make sense to see if I could take it all the way to `1.0`.

If you have a good idea of what's required to make it

[2018-05-22 00:09] fgimian commented on #1296
Yes please.  We would like this too so that we can have middleware that does caching and doesn't proceed to the actual resource if the response is already cached.

[2018-05-22 00:16] fgimian commented on #462
For Gunicorn, you can reference the official [Deploying Gunicorn](http://docs.gunicorn.org/en/stable/deploy.html) docs which I found very helpful recently.

I think it would be good to make a recommendation on which workers are recommended.  In my testing of a little hello world app, [meinheld](https://github.com/mopemope/meinheld) workers performed the best with Falcon.

[code]

I would really li

[2018-05-22 09:34] snobu commented on #1224
This isn't out on pip yet, am i right? Tried with --pre and i'm getting 1.4.1 from January. If you could push this commit as the new --pre that would be wonderful, thanks!

[2018-05-22 10:11] snobu opened #1313 "fallback_filename in api.add_static_route() always served as application/octet-stream"
When `fallback_filename` is defined,

[code]

`suffix` always comes up empty which results in the fallback file being sent over the wire as `application/octet-stream` (browser prompts for file download instead of rendering the HTML).

https://github.com/falconry/falcon/blob/master/falcon/routing/static.py#L109

The caveman-simple fix would be:

<s>

[code]
I guess this completely skips the normali

[2018-05-22 16:20] lwcolton commented on #1248
I'll look into this today

On Mon, May 21, 2018 at 12:15 AM, Dave Luke Jr <notifications@github.com>
wrote:

--
Sincerely,

Colton Leekley-Winslow
651-242-9559
lwcolton@gmail.com

[2018-05-23 02:36] timc13 opened #1315 "list all routes?"
Is there a way to list all routes from the default compiled router?

[2018-05-23 06:59] DmitriiTrofimov commented on #1234
Probably it decided in #1311

[2018-05-23 07:08] DmitriiTrofimov commented on #1274
Solved in #1316

[2018-05-23 07:45] fgimian commented on #462
Hope it's OK if I post another little tip I've learned here.  If you are deploying with Gunicorn, it's important that you configure logging to write to Gunicorn's error logger or it won't log correctly during deployment.

To make this easy, I add the handler to the root logger like so:

[code]

Perhaps the suggestion could then be that resources simply inherit this log level:

[code]

Or of course

[2018-05-25 16:17] CaselIT commented on #1224
@snobu I second that!

[2018-05-29 15:30] lwcolton commented on #1248
Hey I finally got a chance to look into this.  What's happening is falcon-cors uses the process_resource middleware method to add CORS headers because it allows over-riding CORS configuration on a per-resource basis.  Well when using static routes there is no resource and thus the other middleware methods are called but not process_resource.  Tl;dr falcon-cors currently does not work with add_stat

[2018-05-29 17:46] dave4jr commented on #1248
@lwcolton That makes total sense. Thanks for taking the time to look into this sir, much appreciated. If it's something you can point me in the right direction and I can submit a PR, let me know. If it's easier for you to just do it then totally understand.

[2018-05-30 09:48] kaldown opened #1319 "running falcon without wsgi"
How to run falcon app with no any wsgi ?
There is no example in documentation, and no hint telling is it even possible

[2018-05-30 09:57] DmitriiTrofimov commented on #1319
Maybe it help you https://docs.python.org/2/library/wsgiref.html#module-wsgiref.simple_server
[code]

[2018-05-30 10:10] kaldown commented on #1319
Thanks

[2018-05-30 10:10] #1319 closed

[2018-06-01 12:04] Sirtea opened #1320 "JSON validator - change exception class"
I found a little bit harder to override the exception thrown by falcon.media.validators.jsonschema.validate(). When I raise an instance of HTTPBadRequest is really easy to override it to get my custom error message.

Looking at the code it seems like the exception class is hardcoded, so it will always be the pristine HTTPBadRequest that comes with falcon, not mine, so the error is not myapi-compil

[2018-06-01 14:20] foresmac commented on #1274
I'm not sure I understand why a blank query param should default to `True`; this seems counter-intuitive, especially since most languages interpret an empty string as comparable to `False`, including Python itself.

[2018-06-01 17:01] DmitriiTrofimov commented on #1274
In issue context `True` is default value for option but not for empty value. If `RequestOptions.keep_blank_qs_values` is `True` then empty values will be provided to `Request.params`, when `RequestOptions.keep_blank_qs_values` is `False` consume empty values.

[2018-06-01 19:29] foresmac commented on #1274
I'm not 100% sure I understand your explanation, but whether blank values should be thought of as `True` for a boolean seems entirely separate from the idea of whether or not to retain blank values from a query string.

 It just seems to me like this is going to cause more confusion to link the two this way, especially if the query param itself is actually meant to be thought of as strictly true/f

[2018-06-02 05:03] DmitriiTrofimov commented on #1274
Sorry, I thought you were asking about `RequestOptions.keep_blank_qs_values`.

Empty values in bool context can mean that it present in the query parameters and legally represent them as `True`.

[2018-06-05 01:00] kgriffs opened #1321 "feat: Add a "default" kwarg to Response.get_header()"
This provided parity with Request.get_header()

[2018-06-05 15:22] carlodri commented on #212
+ for me as well (looks like I'm necrobumping...)!

[2018-06-05 15:35] TheMushrr00m commented on #1321
Hi, do you need help with this?
i want to help to improve this great framework :)

[2018-06-11 18:25] foresmac commented on #1175
@AnakTeka I have been using the following custom handler which has worked well for us.

[code]

[2018-06-11 18:29] foresmac commented on #1175
It expects the following convention for incoming JSON payloads with date/datetime fields:
- something that has `datetime` in the key will attempt to parse a valid RFC3339 text string into a Python `datetime.datetime` object
- something with `date` in the key will attempt to parse a valid ISO8601 date string into a Python `datetime.date` object
- something with `timestamp` in the key will attempt t

[2018-06-11 18:30] foresmac commented on #1175
A couple tweaks could make this work with datetime strings in other timezones, but we also enforce a strict UTC-only policy on the server side.

[2018-06-11 18:33] foresmac commented on #1216
@kgriffs This is what I came up with to pass along to the API constructor as `request_type`; this enforces reading `bounded_stream` to a `_data` attribute and reading it with the `data` property. I can adapt this to use an opt-in, but I wasn't sure what a good API for that would be.

[code]

[2018-06-12 07:38] TheMushrr00m commented on #1321
#1322 #

[2018-06-12 14:07] kgriffs opened #1323 "doc: Highlighted source washes out the syntax highlighting"
Example:

http://falcon.readthedocs.io/en/stable/_modules/falcon/redirects.html#HTTPPermanentRedirect

[2018-06-12 14:18] kgriffs opened #1324 "doc: Provide better guidance around exception handling"
I.e., inline with the responder, vs. with a custom error handler. Relevant transcript from Gitter:

Q.

[code]

A.

R.

[2018-06-13 20:50] foresmac commented on #1323
try adding the following line to `custom.css`:
[code]
`#333` Also works well, if you want more contrast between background and text, but it's harder to see that a particular block is highlighted.

[2018-06-13 20:55] foresmac commented on #1323
Maybe `#3f3f3f` is a good compromise between the two...

[2018-06-13 21:22] foresmac commented on #1324
I ran into a similar problem; it's a bit tricky to give very general guidance, because it depends on how you want errors to be returned. We ended up adding a custom error _serializer_ to address this:

[code]

Now, this approach works as long as you're using a media handler. If you wanted to be a bit more generic, you could use something like:
[code]

[2018-06-13 21:28] foresmac commented on #1324
Oh, I forgot to mention that status is already set by the [default error handler(s)](https://github.com/falconry/falcon/blob/1.4.1/falcon/api.py#L625-L655).

[2018-06-13 22:15] foresmac commented on #1324
No reason that a serializer couldn't set the status, though, now that I think about it.

[2018-06-13 22:19] foresmac commented on #1183
Doesn't look like this project has had any updates since 2016, and it's not a complicated library. But how often does one run into `q` values in an `Accept` header? Does falcon even really need what this ostensibly does? Couldn't we just pick the first match from `Accept` that falcon is configured to support? Honestly, I've only encountered a few APIs that support more than one serialization forma

[2018-06-15 21:39] foresmac commented on #1216
To @vytas7's point, maybe it should be:
[code]
Or something along those lines.

[2018-06-18 04:27] BenjamenMeyer commented on #837
I reviewed the code more, and I do think this is still necessary - again, focusing on being able to properly test the middleware for unit tests outside of the API invocation.

I like the idea of your manager object; though in reviewing the code (https://github.com/falconry/falcon/blob/master/falcon/api.py#L178) I'd probably try to move all the loops around the middleware invocation into the manage

[2018-06-20 17:38] JamesMessinger opened #1326 "How to get the numeric HTTP status?"
The `Response`, `HTTPError` , and `HTTPStatus` classes all have a `status` property, but it's a string (e.g. `"404 Not Found"`) which makes it difficult to do comparison checks (e.g. `if resp.status >= 400`).

**What is the recommended way of getting the _numeric_ status?**

There's a [`get_http_status()` utility function](https://falcon.readthedocs.io/en/stable/api/util.html#falcon.get_http_statu

[2018-06-21 04:52] DmitriiTrofimov commented on #1326
This is should also works:
[code]

Numeric HTTP status you can get something like this:
[code]
You may use custom response type with additional property `code` for extracting http code from `status`.

[2018-06-25 08:52] Akshay1213 opened #1327 "falcon.testing.simulate_post, didn't found any way to pass request.context variable, while mocking apis."
I am using context property in my API's
eg def on_post(self,req):
          doc=req.context['doc']
                  .
                  .
                  .
                  .
While writing Unit test cases I didn't find any way to pass context with variables. Or is there any workaround exist to test such methods

[2018-06-25 13:41] iron2414 commented on #1139
I have the same issue. I have a fresh ubuntu install and i installed the following things:
apt install python-pip
apt install python3-pip
pip3 install gunicorn
pip3 install falcon
And i modified the usr/local/bin/gunicorn file header to "#!/usr/bin/python3" so it will start my application in python3.
When i run gunicorn -c gunicorn_conf.py --reload test:app
i get the same error message. What am i

[2018-06-25 13:55] iron2414 opened #1328 "ImportError: cannot import name UserDict"
I have the same issue, what is described here:
 https://github.com/falconry/falcon/issues/1139

However i cannot seem to solve the problem. Could anyone tell me step by step what am i supposed to do when i have a fresh ubuntu install? I can't even import falcon.

Heres what i did on the fresh ubuntu:
apt install python-pip
apt install python3-pip
pip3 install gunicorn
pip3 install falcon
And i mod

[2018-06-26 20:45] TheMushrr00m commented on #1328
Can you share more info please? What's your OS version? Python3 version?
If you try to import falcon from an interactive shell

What's the output?

[2018-06-30 11:57] vytas7 commented on #1135
Resuming work on this!

[2018-06-30 16:18] kgriffs opened #1331 "perf: Revisit micro-optimizations"
Newer versions of 2.7.x and 3.x exhibit different performance characteristics vs. 2.6 and 3.4. Revisit micro-optimizations such as the following and adjust where it makes sense:

[2018-07-01 15:04] vytas7 commented on #1271
Note that at least ``requests.Response`` features the ``iter_content`` method (which automatically defaults to the equivalent of ``decode_content=True``, not sure if this is always desired though).

Could we alternatively start with a recipe in FAQ/documentation?

Something like the below seems to work for me on Python 2.7/3.5, but not tested in-depth:

[code]

Not the fastest proxy in the world,

[2018-07-03 13:03] jgirardet opened #1335 "add marshmallow validation"
Hi,
I use this for my personal use, like jsonschema validation but with the well known marshmallow library. The only trick is that I re-inject validated_data directly to the view via a "data" argument.

If you'are interested, I can do a PR for that.

thanks for falcon
Jimmy

[code]

[2018-07-03 13:07] jgirardet commented on #1320
You can rewrite the decorator.
Just copy past it and change HTTPBadREquest by MYHTTPCOmpliantBadREquest

or maybe propose a PR adding, an optional argument "CustomError" to the decorator.

[2018-07-05 08:16] somaz80 opened #1336 "Pybuilder and Falcon Test case"
Hi,
I  am facing an issue when running Unit test simulation POST from Pybuilder console. It seems that req.stream fails in parsing at API end.

[2018-07-07 20:57] kgriffs opened #1337 "Use raw=False instead of encoding='utf-8' for MessagePackHandler"
See also "Deprecating encoding option" and "string and binary type" in the msgpack README:

https://pypi.org/project/msgpack/

[2018-07-08 00:19] jgirardet opened #1338 "feature/design inject before_hook result in responder"
hi guys

Background
For now we can use data from hook via request.context. It's ok but it's verbose.
Falcon already use a lot dependency injection  like req or resp arguments.

proposal
The idea is to inject the return value off the hooks inside the responder.

[code]

implementation
the hook return a dict with the argument name and the value, wich is added to  responder inside the hook decorator

[2018-07-08 10:53] CaselIT commented on #1323
I think `#4f4f4f` would be better than `#3f3f3f` since it's has a bit more contrast but it's not as whashed out as `#666666`

[2018-07-09 16:46] #1312 closed

[2018-07-10 04:21] episodeyang commented on #648
Really need this feature.

[2018-07-11 13:22] kgriffs commented on #1055
After meeting with Amber (daphne) at PyCon I'm going to move forward with ASGI. Based on Andrew's talk, it seems that the spec has settled down and this is the best way forward without inventing yet another one-off async web stack (hooray!). To speed development, please donate. :) http://falconframework.org/#sectionSupportFalconDevelopment

[2018-07-11 13:30] kgriffs commented on #321
After meeting with Amber (daphne/twisted) at PyCon I'm going to move forward with ASGI. Based on Andrew's talk, it seems that the spec has settled down and this is the best way forward without inventing yet another one-off async web stack (hooray!).

My current thinking is to add at least basic routing support so you can register a websocket handler for specific URLs that will be fed events with t

[2018-07-11 21:41] jgirardet commented on #1335
HEre is a more complete version.
Schema is get by differents ways  : class definition, instanciation, decorator call. It  also retrieve the schema  via a callable `def my_callable(request)` .
Custom marshmallow options maybe passed  as kwargs to the decorator.

[code]

[2018-07-12 17:56] vishal-bala opened #1340 "Falcon's TestClient breaks when request headers contain unicode values in Python 2.7"
This is caused by internal validation checks in `wsgiref`, which assert that stored environment variables are of `str` type ([source code](https://github.com/python/cpython/blob/2.7/Lib/wsgiref/validate.py#L318-L320)).

When trying to write code that is both Python 2 and 3 compatible, it's common to use
[code]
However, this causes the TestClient to start breaking once any headers are passed with a

[2018-07-15 18:11] cglewis commented on #1034
I just did the same thing. That was painful.

[2018-07-15 21:01] jgirardet commented on #1034
Can't you use req.media ?

[2018-07-16 23:51] nZac commented on #1338
@jgirardet, you mentioned using `req.context`, however you can just add parameters to `req` to avoid the `["value"]` syntax if that is more preferable.

`Request.__dict__` was added in Falcon 1.3.0 as a part of some general cleanups. Find the relevant commit here: https://github.com/falconry/falcon/commit/b51d4e9a35692bc78264b56c14556654c07200cd#diff-8608936f256c7b35254ee64f862001b9.

I can't say

[2018-07-16 23:54] nZac commented on #1336
Hi @somaz80! We will need more information to help you. Some starter questions would be, what is the responder doing, can you share that code? Do you have any errors? Can you provider a working example?

It might be best to ask on the gitter.im channel (https://gitter.im/falconry/user).

[2018-07-17 00:05] nZac commented on #1327
Hi @Akshay1213! There is a way to set `context` prior, however you can't use the `simulate_request` methods to do it, you have to construct the `req` (and as a result the `resp`) from scratch and pass them to the responder.

Here is an example of doing that in the falcon tests: https://github.com/falconry/falcon/blob/master/tests/test_static.py#L82-L93

Normally `context` is set prior to reaching

[2018-07-22 18:34] mattgiles commented on #1206
@kgriffs and @steven-upside I added support for PYPY and bumped the status / version for `mujson`. I note that as far as I can tell PYPY should just be using the standard library -- but I may be ignorant of ways to get better performance from third party libraries when using PYPY.

[2018-07-25 18:49] Mumrau commented on #584
For those wondering how this has been implemented, the source code states:

[code]

Which basically means that you need to add it into your code this way.

`api.add_route('/route/', route_resource, suffix='whatever')`
And in your class simply add a responder with this signature:
`on_get_whatever(usual stuff)`

Awesome work guys, loving falcon!

[2018-07-27 17:52] p4g4nS commented on #1256
Hello, this is still not deployed ? Just encountered this issue in the tutorial...

[2018-07-31 16:57] jrgp commented on #321
Hi @kgriffs what are your thoughts on how https://github.com/jgelens/gevent-websocket does it as well as flask's integration? I might be wrong but I think the implementation described in this ticket is Python 3 only.

[2018-08-04 16:45] alysivji commented on #1210
Started to look into this, but looks like it has already been completed.

This issue is a duplicate of https://github.com/falconry/falcon/issues/1268 which was resolved by https://github.com/falconry/falcon/pull/1298

[2018-08-04 16:51] alysivji commented on #1261
Looks like this issue has been resolved.

[2018-08-04 17:03] alysivji commented on #1269
Looking into this issue.

[2018-08-07 10:33] navyad commented on #1337
PR raised [#1344](https://github.com/falconry/falcon/pull/1344)

[2018-08-08 17:08] kgriffs commented on #1206
@mattgiles awesome, thanks! AFAIK that's the way to go with PyPy.

[2018-08-12 02:38] mattgiles commented on #1206
@kgriffs I'm happy to throw together a PR which would make use of `mujson` to handle third party json support. But I am interested in your thoughts on two fronts.

First, whether to require `mujson` outright or just replace the protected imports of `ujson`. I see both sides of this one. All else being equal, the latter option would definitely break/impair builds that install `ujson` today but not

[2018-08-14 03:47] cnds commented on #1315
[code]

now you can get all routes from routes list

[2018-08-15 20:05] Daniel-M commented on #1248
Hello guys, what's the progress on this issue? I came across the same problem to serve static files, the CORS headers are not set in the response

[2018-08-18 04:36] BenjamenMeyer commented on #578
@kgriffs just a thought after catching up on this, but perhaps a good way to resolve this would be to add a proper to the Falcon app that users can set for what to use to create the dict. By default it set to `dict`, users can override with `CaseInsensitiveDict` if they want that, and an `LowerCaseOnlyDict` can be provided for HTTP/2 support.

This would...
- maintain the current status,
- allow u

[2018-08-20 17:35] mattgiles commented on #1296
Why wouldn't it be preferred to raise an `HTTPError` or `HTTPStatus`? Raising an exception is a really nice pattern for short-circuiting handlers and middleware.

[2018-08-21 17:56] vytas7 commented on #1296
@mattgiles raising an exception is very handy for short-circuiting request processing indeed.
However, there are both philosophic and technical reasons why it is not always the preferred way.

First, in Python (and many other languages) raising an exception signals that something unusual or unexpected has happened as opposed to the ordinary case. If, for instance, CORS middleware is rendering a re

[2018-08-21 18:00] vytas7 commented on #1296
A comment on the issue itself. It would feel very natural supporting a truthy value to indicate whether or not the routing should be short-circuited. However, we would need to find an alternate way (such as an attribute on ``resp``) if we further pursue https://github.com/falconry/falcon/issues/1047 .

[2018-08-21 23:35] mattgiles commented on #1296
@vytas7 totally. That's super reasonable, and makes sense on several counts. I was curious, and appreciate the thoughtful response.

To elaborate on my curiosity. I don't know if I agree that, in Python, exceptions are idiomatic only in cases where something has gone wrong. Python is also *unlike* many languages insofar as its exception handling can be used proactively to manage the flow of contro

[2018-08-22 00:05] dave4jr commented on #1248
+1

[2018-08-22 20:00] dave4jr commented on #1248
@lwcolton Hello sir, I know you are really busy and I totally get it, but this is starting to create an issue for us. Can you just give us an estimate on when you think this will be done? Being able to create JSON files and GET'ing them on the front-end would be really nice. Anyway help with this would be much appreciated.

[2018-08-22 20:11] Daniel-M commented on #1248
@dave4jr that's the same issue my team is having. We built a modestlty complex web application using falcon, we need to serve some GeoJSON data to to the front-end but our hands are tied. A workaround is to use another server to provide the files, but that's not how it should be, does it? If @lwcolton provides some insights on how to solve the issue, I'd spare some coding hours to work on that. I'

[2018-08-22 20:27] lwcolton commented on #1248
I know what needs to happen, the middleware needs to switch from using
process_resource to process_response and the tests need to be updated.
I'll sit down with it right now and see if I cant get this done tonight

On Wed, Aug 22, 2018 at 3:11 PM Daniel Mejía Raigosa <
notifications@github.com> wrote:

--
Sincerely,

Colton Leekley-Winslow
651-242-9559
lwcolton@gmail.com

[2018-08-22 20:54] lwcolton commented on #1248
Does someone experiencing this issue want to verify my changes work and
nothing else breaks for them:
https://github.com/lwcolton/falcon-cors/compare/fix-static-route

Otherwise I'm about ready to cut a release of falcon-cors.  Thanks everyone

On Wed, Aug 22, 2018 at 3:27 PM Colton Leekley-Winslow <lwcolton@gmail.com>
wrote:

--
Sincerely,

Colton Leekley-Winslow
651-242-9559
lwcolton@gmail.com

[2018-08-22 22:06] dave4jr commented on #1248
@lwcolton thanks so much sir. Looks like it's working for me. If you cut the release soon I can upgrade and try again with the new release.

[2018-08-22 22:28] Daniel-M commented on #1248
I can't test it at the moment, but I'm looking forward to the release

[2018-08-23 14:32] vytas7 commented on #1177
Closed by @MichaelYusko in #1310 .

[2018-08-23 14:32] #1177 closed

[2018-08-24 07:38] Mumrau commented on #1194
Will this still be added in falcon 2.0?

[2018-08-24 15:51] vytas7 commented on #1194
@Mumrau yes, that is the plan. Which could happen even quicker if someone wants to lend a hand and contribute :slightly_smiling_face:

[2018-08-24 15:59] Mumrau commented on #1194
I can't right now but I might give it a shot if nobody's doing it before
few weeks.

On Fri, Aug 24, 2018, 17:52 Vytautas Liuolia, <notifications@github.com>
wrote:

[2018-08-27 15:41] kgriffs opened #1347 "Rename HTTPRequestEntityTooLarge to HTTPPayloadTooLarge"
Per the final draft of RFC 7231, the reason phrase should be "Payload Too Large". Modify both the error class name and the reason phrase cited in the docstring.

[2018-08-30 06:19] vytas7 commented on #1313
Fixed in https://github.com/falconry/falcon/pull/1348 (see also https://github.com/falconry/falcon/pull/1314, https://github.com/falconry/falcon/pull/1325 & https://github.com/falconry/falcon/pull/1341).

[2018-08-30 06:19] #1313 closed

[2018-09-10 09:26] hadiasheri opened #1349 "Does falcon support pagination?"
Hi,
I need to paginate on response if a GET request.
However, I didn't find any option for pagination.
Could anyone help?
Thanks

[2018-09-10 09:56] vytas7 commented on #1349
Hi @hadiasheri !
Strictly speaking, responses cannot be paginated per se, data sets can.

However, Falcon is a fairly minimalist WSGI framework, which is not tied to a single data source or a database library.
There are actually some higher level frameworks that build upon Falcon trying exactly that:
https://github.com/falconry/falcon/wiki/Higher-Level-Frameworks
How does your project look like? M

[2018-09-10 11:48] hadiasheri commented on #1349
Thanks a lot @vytas7.
I will try your great recommendations.

[2018-09-10 23:12] CoreyCole opened #1350 "feat: add type information - mypy support"
As of [PEP 561](https://www.python.org/dev/peps/pep-0561/) it is now possible for packages to provide typing information, with different options of how to do so. I'm wondering what would be the preferred course of action to include these.

It seems we could start with [partial stubs](https://www.python.org/dev/peps/pep-0561/#partial-stub-packages) where we could define things that would be most he

[2018-09-10 23:44] CoreyCole commented on #1350
This is an example of a separate stubs package for numpy https://github.com/numpy/numpy-stubs

[2018-09-11 18:04] CoreyCole commented on #1350
I'm still new to using mypy and I realized today we already have typing information for falcon, I just didn't know how to utilize it:
[code]
This gives me what I'm looking for. I'm going to leave this open to get clarification on the current state of type information in the repository to see if there is help needed anywhere for it.

[2018-09-12 02:12] silver8ack commented on #1194
Is it just me, or does this not work with 1.4.1?

`
Traceback (most recent call last):
  File "main.py", line 12, in <module>
    middleware=[CORSComponent,]
  File "REDACTED/venv/lib/python3.6/site-packages/falcon/api.py", line 156, in __init__
    middleware, independent_middleware=independent_middleware)
  File "REDACTED/venv/lib/python3.6/site-packages/falcon/api_helpers.py", line 78, in prepa

[2018-09-12 14:24] mumrau opened #1351 "Resource level hook doesn't apply to suffixed methods"
Hello,

I believe the title of the issue is pretty clear, a @falcon.before hook wouldn't apply to a suffixed method (on_get_suffix) handler while it would perfectly apply to the classic legacy handlers (on_get, on_post,...).
Consider that piece of code:
[code]

The hooked_resource route (resource level hook) would have a functional hook, but the hooked_resource_suffix won't.
Nevertheless, the hook

[2018-09-12 16:45] vytas7 commented on #1351
Thank you for the detailed report! It seems this has been indeed overlooked when adding suffixed resources, well spotted.

We will take a look at this as soon as possible. If we suggested the preferred solution path, could you consider materializing the above into a PR?

[2018-09-12 20:42] CoreyCole commented on #1350
Are maintainers here ok with me leaving those stubs up and open sourced for others to use/contribute to?

[2018-09-13 11:58] codenoid opened #1353 "POST value converted to list when contain comma"
My code :

[code]
request :

`curl -d "text=sometime i feel better, and then idk why" http://localhost:8000`

logger :

[code]

[2018-09-13 12:00] codenoid commented on #1353
[code]

[2018-09-19 04:53] shehzi-khan commented on #947
I'm trying to develop a user management interface for my project using the following:

- Python 2.7
- falcon 1.4.1
- falcon-cors 1.1.7
- gunicorn 19.9.0

I'm testing the login page in Google Chrome initiated by ```run``` command in Pycharm Professional.

[code]

[code]
On login request I'm getting required response as given below:
```{"status": "Success", "message": "Session has been created succe

[2018-09-21 07:35] carlodri commented on #1256
for some reason this fix appears only in the `latest` branch of the docs: https://falcon.readthedocs.io/en/latest/user/tutorial.html

CC @kgriffs I guess also `stable` should be fixed

[2018-09-21 21:46] bkcsfi commented on #1353
does this help? https://falcon.readthedocs.io/en/latest/user/faq.html#id31

[2018-09-21 21:49] bkcsfi commented on #1353
maybe a bug in the docs, see https://github.com/falconry/falcon/pull/1354/commits/070d73b645384baf4789ddb23db2b263d9bb3750

[2018-09-25 09:12] carlodri opened #1355 "add falcon support to sphinxcontrib-httpdomain"
It would be truly helpful if an `autohttp` paser was added to [`sphinxcontrib.httpdomain`](https://github.com/sphinx-contrib/httpdomain) in order to automatically generate HTTP API documentation from `falcon` sources, similarly to what already exists for `flask`, `tornado` and `bottle`.

I'm just referencing here [this issue on `sphinxcontrib-httpdomain`](https://github.com/sphinx-contrib/httpdoma

[2018-09-29 20:39] safaozturk93 commented on #1347
I'll look at this.

[2018-10-01 11:20] kandziu commented on #1353
This is working good with `api.req_options.auto_parse_qs_csv = False` and issue can be closed.

[2018-10-01 13:15] #1353 closed

[2018-10-01 17:36] kgriffs commented on #321
@jrgp That interface looks similar to what we were thinking for Falcon. To keep things lean-and-mean, we likely won't implement any subprotocols out of the box, but we should ensure that it is straightforward to implement plug-ins/add-ons in that vein.

[2018-10-01 17:38] kgriffs commented on #1055
Just a quick update on this, a generous community member has offered to sponsor the ASGI HTTP and WebSocket work. I am going to create a new issue to track ASGI+HTTP.

[2018-10-01 17:43] kgriffs opened #1358 "ASGI+HTTP Support"
This will need to work with middleware, hooks, error handlers, media handlers, etc.

https://asgi.readthedocs.io/en/latest/specs/www.html

See also: #1055

[2018-10-01 17:45] kgriffs commented on #1358
I will take this one.

[2018-10-02 05:28] kandziu opened #1359 "Add http status on misdirected request"
421 MISDIRECTED REQUEST

The request was directed at a server that is not able to produce a response. This can be sent by a server that is not configured to produce responses for the combination of scheme and authority that are included in the request URI.

ref: https://httpstatuses.com/421

[2018-10-02 06:07] #1359 closed

[2018-10-03 22:02] pplanel opened #1361 "Install 2.0.0 via pip"
Cannot install latest version via pip, the latest release available 1.4.1. Any help?

[2018-10-03 23:35] pplanel commented on #1361
nevermind, i've installed with git+https://github.com/falconry/falcon.git#egg=falcon

[2018-10-03 23:35] #1361 closed

[2018-10-05 14:33] #1055 closed

[2018-10-05 14:36] kgriffs commented on #321
Just a quick update on this, a generous community member has offered to sponsor the ASGI HTTP and WebSocket work. Either myself or one of the other core maintainers will work on the implementation for Falcon 2.0.

[2018-10-08 18:58] kgriffs opened #1364 "Scope out the work involved in adding serverless env support"
(and decide whether we want to do this or not)

[2018-10-09 21:53] SpikingNeurons commented on #1008
@kgriffs What do you think of starlette which uses uvicorn that wraps upon uvloop?
https://www.uvicorn.org/
https://www.starlette.io/

[2018-10-13 19:32] kandziu commented on #1258
Hello @kgriffs, I think that  a functionality to handle a `process_request` before routing will be broken. Do you have any good idea how to resolve this issue?

[2018-10-14 15:04] suola opened #1367 "Prefer exact match without parameters to match with extra parameters."
If server supports both 'type/subtype' and 'type/subtype;param=foo', a request which accepts 'type/subtype' should be served with 'type/subtype'. Currently the extra parameter is not taken into account when determining the preference of the two types, and preference is selected by order of the types.

Relevant PR in mimeparse:

https://github.com/dbtsai/python-mimeparse/pull/36

[2018-10-16 15:29] julien-c opened #1368 "Router: support optional field expressions"
`/images/{name?}`

Any interest in a pull request for this? Thanks!

[2018-10-16 19:53] kgriffs opened #1369 "Deployment Guide: Gunicorn and Gunicorn+PyPy variants"
See also: #1280

[2018-10-17 13:27] dannyhajj opened #1370 "Accept nullable values as input in parameters in Request.get_param_as_*"
Currently, the `get_param_as_*` functions don't allow null values as input. I think there should be an extra parameter to those functions which we would use to allow null value as input.

Example, consider I have the following user resource:

[code]

I want to implement a `PATCH` endpoint which allows a frontend application to update one or more parameters. The `age` parameter is not required, and

[2018-10-17 14:56] sid22 commented on #1324
I would like to work on this issue.

[2018-10-17 18:10] Mumrau commented on #1351
@vytas7 Might we give this a little inertia? I don't wanna be a "pusher", but I'm using my ""PR"" (#1352) (quotes to underline the fact that this is just code, not a proper PR with regressions-tests and such) in production and it's working quite well, but I don't wanna fall behind master.

In addition, might this issue be flagged appropriately? I don't think I have the right to do that but it will

[2018-10-17 18:56] vytas7 commented on #1351
No worries, it is fine to bump this up since it is important to fix this bug in the new functionality, particularly if we go to the interim 1.5 release before 2.0.

Adding unit/regressions would help greatly, that is true. I have just not got the time to do that yet :grimacing:

Regarding falling behind master, you can always keep the PR updated by merging master into the branch ;)

[2018-10-18 03:45] anekix commented on #1370
@dannyhajj , Doing so would make the API more confusing. if you know a param might be `null` value, why call it with a function that returns an `int`?
Instead,

1. first get the value of `age` param
2. Check if its `null` ? if so do the actions you wanted.

a `null` value being returned in this case would also make someone hard to reason about it when the  function name is clearly `get_param_as_in

[2018-10-18 08:36] Mumrau commented on #1351
Oh I haven't heard anything about that possible "interim" release.
I'll try to give it a deeper look (maybe this week-end), I just got lost when trying to dig in _quickly_ in the tests code.

Yup, but to be honest, I'm building docker images and I would like to "not care" when building my images by just pulling master and being confident into The Work :blush:  .

[2018-10-18 13:51] nsonic001 opened #1371 "Why only '+' is converted to space and no other delimiters are taken care"
https://falcon.readthedocs.io/en/stable/user/faq.html#why-are-characters-in-my-params-being-converted-to-spaces

Why don't give options to handle delimiter needs to convert or not or which delimiters should be parsed to what value.

I can raise a PR if that is valid, As Pyramid doesn't convert '+' to space and all. Why should Falcon ?

[2018-10-24 01:12] johnnyman727 opened #1372 "Routes added to add_sink override static routes added with add_static_route"
Hi Falcon team,

Thanks for all your hard work. I ran into an issue today when I tried to make use of the `add_static_route` method.

Our project uses `add_sink` to implement a custom handler for requests with no corresponding handler. However, that `add_sink` function would gobble up any requests that we intended to be handled by the static route:

[code]
The case was the same whether the static

[2018-10-28 23:39] cykerway opened #1375 "doc: How to properly return different kinds of responses?"
The `Response` object has several fields that application authors can fill:

    media, data, body, stream, context

While I understand they are designed for different types of responses, it's not obvious from documentation how they conflict with one another and which has priority. I think the doc better adds some examples show different kinds of usage.

[2018-10-29 04:47] anekix commented on #1375
@cykerway . isn't it clear from the docs here? https://falcon.readthedocs.io/en/stable/api/request_and_response.html#response.
I can see all fields are very clearly defined.

[2018-10-29 05:45] anekix opened #1376 "jsonschema validation of a post request not working"
`jsonschema` validator is not working .

[code]
The above code seems to work fine when `address` param is missing in the request body.
request is sent using `POST`, **content-type** is `application/json`

[2018-10-29 07:01] cykerway commented on #1375
I can see the fields are defined, but the doc doesn't say *how they conflict with one another and which has priority*. Furthermore, it's not very clear what `context` is and how to use it.

[2018-11-05 16:29] tboch opened #1380 "Best way to cite Falcon framework in a paper"
What is the preferred way to cite the usage of Falcon framework in a scientific paper? A link to the home page? Or is there a reference paper?

[2018-11-06 00:13] vytas7 commented on #1380
Hello @tboch !
I believe this is still a bit of a gray zone, and it varies greatly between different journals / scientific societies.

If you are publishing in APA managed- or related journals, you might want to follow the APA Style [1].
Furthermore, MIT has some general advice on citing software [2]. I don't think we have a DOI for a publication presenting Falcon project though, at least not that

[2018-11-06 00:13] #1380 closed

[2018-11-08 19:06] kgriffs commented on #953
Note: This will be part of native HTML form post handling work that will have received a sponsorship to fund. @vytas7 will likely be overseeing this work stream.

[2018-11-08 19:09] kgriffs opened #1381 "Native HTML Form Posting Support"
Parent issue to track all the work related to this high-level feature.

## URL-encoded forms
* Decouple URL-encoded forms from params, handle as media https://github.com/falconry/falcon/issues/418
* URL-encoded media handler supported by default https://github.com/falconry/falcon/issues/1580

## Multipart forms
* WSGI multipart form media handler https://github.com/falconry/falcon/issues/953
* ASG

[2018-11-08 19:35] kgriffs commented on #1028
I'd be glad to have help with this one. 👍

[2018-11-16 01:56] kgriffs commented on #1381
See also:  #1236

[2018-11-26 04:56] codenoid opened #1385 "i love falcon"
[code]

[2018-11-26 04:56] #1385 closed

[2018-12-04 15:18] #1274 closed

[2018-12-07 09:13] mikeylight opened #1387 "Avoid python built-in function names."
After little discussion with @kgriffs in [falconry/dev](https://gitter.im/falconry/dev) channel, I decided to open ticket and follow-up it here.

Arguments which we will need to change[ line1](https://github.com/falconry/falcon/blob/master/falcon/request.py#L1161) , [line2](https://github.com/falconry/falcon/blob/master/falcon/request.py#L1232), these are just the ones I found.

cc @vytas7 @nZac

[2018-12-07 11:18] mikeylight commented on #1387
@vytas7 Hm, I found interesting paragraph https://www.python.org/dev/peps/pep-0008/#function-and-method-arguments

The paragraph says

And I agree with you, `min_valu/max_value` sounds better.

[2018-12-07 11:36] vytas7 commented on #1387
Reserved keywords ≠ builtins though. Reserved keywords are Python lexemes as the above mentioned **class**, **if**, **while** etc.

So there is (at least formally) nothing I could find in PEP8 wrt shadowing builtins with keyword parameters. Or furthermore, class method names, for that matter. From what I have seen, ``get`` / ``set`` is actually very common for method names among various caches, co

[2018-12-07 11:47] mikeylight commented on #1387
Yeah, in PEP8 nothing mentioned about builtins functions and etc. But in this case I agree with Raymond Hettinger, that all builtins functions and etc should be avoided.

Anyway, up to decide to you guys, it's just my opinion 🙂

[2018-12-07 21:21] kgriffs commented on #1387
I think we can take a pragmatic approach where we don't worry so much about things that are common/idiomatic (e.g., get/set), but then we do rename/avoid clashes in other cases. Scheduling for 2.0 since this work involves breaking changes.

[2018-12-08 09:44] mikeylight commented on #1387
I'll work on it.

[2018-12-10 18:34] #842 closed

[2018-12-13 05:47] #1340 closed

[2018-12-13 21:25] bpmason1 opened #1390 "almost a year since last version"
The lastest version of falcon, version 1.4.1, was released January of 2018.  That's almost a year ago.  Is there any intention of creating a new release in the foreseeable future?

[2018-12-18 12:30] btegs opened #1391 "Project direction for 2019"
Moving into 2019, here are a few things I'd like to see with this project:

1. Try to end Python 2 support in a future version. I know Falcon 2.0 may be too soon, but maybe 3.0 is a good start as Python 2.7 is in maintenance mode and [will not be maintained after 2020](https://pythonclock.org). Putting the project focus just on Python 3 will cut down on dependencies and developer resources. Maybe

[2018-12-18 17:09] #1337 closed

[2018-12-18 21:42] vytas7 commented on #1349
Closing this hoping you found or crafted an acceptable solution, and the feature request in *falcon-example* remains, but do not hesitate to reopen or create a new issue should you need further help on this!

[2018-12-18 21:42] #1349 closed

[2018-12-19 14:42] tribals commented on #1205
The parsing of request body is not so simple as it looks at first glance. For example, HTTP [spec says](https://stackoverflow.com/a/983458/4835578) that `GET` request _can_ have body, but it _shouldn't have any meaning_ (to the server).

Of what I'm definitely sure is that _accessing `req.media` shouldn't result in any exception raised_, be it empty or not. [1]

(I placed this statement on separat

[2018-12-19 14:44] tribals commented on #1216
The parsing of request body is not so simple as it looks at first glance. For example, HTTP [spec says](https://stackoverflow.com/a/983458/4835578) that `GET` request _can_ have body, but it _shouldn't have any meaning_ (to the server).

Of what I'm definitely sure is that _accessing `req.media` shouldn't result in any exception raised_, be it empty or not. [1]

(I placed this statement on separat

[2018-12-19 17:08] kgriffs commented on #1368
Sorry for the delay in looking at this; we are currently discussing this in https://gitter.im/falconry/dev

[2018-12-19 21:13] #1269 closed

[2018-12-21 19:21] kgriffs opened #1393 "Umbrella Issue: Better Docs!"
* More Tutorials
* Deployment guides
* Best practices for best performance
* Better description of benchmarks (and better benchmarks to begin with)
* What else?

[2018-12-21 19:30] kgriffs opened #1394 "[Roadmap 2019]"
### High Priority

We can not release 3.0 without completing these work items. Note that in the interest of keeping the 3.0 cycle as short as possible, we will aggressively postpone anything of Medium Priority or lower to 3.1+.

* ASGI+HTTP
* Native support for handling HTML Form posts
* Drop Python 2 support
* Drop Python 3.4 support
* Important breaking changes that didn't land in time for 2.0
*

[2018-12-21 19:33] kgriffs commented on #1394
[Added note about benchmark suite[

[2018-12-21 19:34] vytas7 commented on #1393
Maybe ready-made Docker containers and VM appliances to allow people evaluating / prototyping even quicker?

[2018-12-21 20:16] kgriffs commented on #1390
Hi @bpmason1, thanks for reaching out!

I apologize for the slow velocity this past year on the project. There were some things I had to take care of that temporarily reduced the amount of bandwidth I could devote to Falcon.

The good news is that we are currently driving hard toward a 2.0 release. Our velocity has increased a lot lately thanks to a couple of factors. First, I brought two addition

[2018-12-21 20:45] kgriffs commented on #1393
(See also: https://github.com/falconry/falcon/issues/1391)

[2018-12-21 20:54] kgriffs commented on #1391
HI @btegs, thanks for sharing your thoughts and feedback. I'll share my own $0.02 here, and let the other maintainers chime in at their discretion.

We are currently driving hard toward a 2.0 release (see also #1390), and we've actually already discussed keeping Python 2 for this release, but dropping support for it in 3.0. In fact, to accelerate the advent of 3.0, I am currently discussing with t

[2018-12-21 21:01] kgriffs opened #1395 "Drop support for Python 2"

[2018-12-21 21:02] kgriffs opened #1396 "Drop support for Python 3.4"

[2018-12-24 13:03] safaozturk93 commented on #1396
I'll look at this. 👍

[2018-12-27 13:18] vytas7 opened #1400 "Tox (including Travis) not testing cythonized variants"
As described in ``README.rst``, Falcon can be cythonized for ~20% performance gain (or actually even more). Installing Falcon from *sdist* into an environment with Cython does the trick:

[code]

However, this does not hold under Tox ``py27_cython`` and ``py36_cython`` environments, including runs in Travis, as the properly cythonized Falcon is shadowed by the local source directory. This could po

[2018-12-28 15:37] GabrielC101 commented on #1335
Should this be a hook or middleware?

[2018-12-28 18:45] vytas7 commented on #1335
@GabrielC101 it could be either or, Falcon leaves that choice for you:

* A hook applies only to a responder method, or a resource class (the latter may be a bit odd for since you probably do not want to validate ``on_get`` and ``on_post`` the same way, and you probably do not have the same schema for ``on_put`` and ``on_patch``)
* middleware applies to all requests, which would also require some

[2018-12-28 19:09] vytas7 commented on #1376
@anekix cool that you sorted it out!

I am closing this issue then, but I will check if we need a follow-up documentation issue: I understand the current [*See json-schema.org for more information on defining a compatible dictionary*](https://falcon.readthedocs.io/en/stable/api/media.html#validating-media) is not necessarily the most helpful for the user.

We have also create a new umbrella issue

[2018-12-28 19:09] #1376 closed

[2018-12-28 19:14] vytas7 commented on #1375
Thanks for this very valid suggestion @cykerway !

On a related note, we have also created an umbrella issue to stress the fact that we are striving after better docs: https://github.com/falconry/falcon/issues/1393

[2018-12-28 19:47] vytas7 commented on #947
(will do a short investigation on this one :microscope: )

[2018-12-28 20:17] vytas7 commented on #947
@shehzi-khan I can indeed reproduce your problem using the provided test case (I took the liberty to edit it a bit and fill in the missing methods -- **warning** -- my examples are solely for illustration purposes and do not represent sound web development practices). However, this is caused a bug in this test case, not by a bug in the framework itself: cookies are set on domains only, not ports.

[2018-12-28 20:33] vytas7 commented on #1004
@hhschu great that you found out the root cause.
We are thereby closing this issue, but do not hesitate to report any other problems you encounter using Falcon framework!

[2018-12-28 20:33] #1004 closed

[2018-12-28 20:38] vytas7 commented on #1355
That would definitely be nice to have.
Not sure we can spare the bandwidth to prioritize this right now, but contributors are very welcome on this one!

[2018-12-28 20:48] vytas7 commented on #1309
Hello Fotis!
And thanks for the tips on https://github.com/falconry/falcon/issues/462 !

There is an in-progress pull request by @nZac for https://github.com/falconry/falcon/issues/462 (), however we have reduced its scope to NGINX+uWSGI for now to quicker get something usable out.

PyPy+Gunicorn documentation has been split out to a new issue: https://github.com/falconry/falcon/issues/1369 . Need

[2018-12-28 21:22] vytas7 commented on #1327
Hello @Akshay1213 !
We are closing this issue hoping you have distilled a solution that satisfies your needs.

To summarize the excellent answer by @nZac above, ``simulate_request`` and its specialized variants ``simulate_get``, ``simulate_post`` etc are indeed meant for pseudo-E2E WSGI testing where these methods help you to prepare a simulated WSGI environment, which is then fed into the API mor

[2018-12-29 15:53] rafi commented on #1350
Would be lovely if falcon supported [PEP 561](https://mypy.readthedocs.io/en/latest/installed_packages.html#installed-packages)

[2018-12-29 23:50] vytas7 commented on #1336
Hello @somaz80 !
Have you had a chance to look at @nZac 's questions? Or have you maybe resolved the issue yourself?

[2018-12-29 23:57] vytas7 commented on #272
FWIW, the domain in question is, at the time or writing, for sale with *hugedomains.com* (at a lofty price though).

[2018-12-31 18:32] #1347 closed

[2018-12-31 18:52] #1387 closed

[2019-01-01 18:04] safaozturk93 commented on #1396
#1403

[2019-01-01 19:57] vytas7 commented on #1395
Tip: when doing this, consider revisiting (mostly commented out) ``functools.wraps`` usage in ``falcon/hooks.py``. These wrappers could potentially be enabled again if Python 2 support is dropped.

[2019-01-02 17:06] nZac commented on #1336
@somaz80, I am going to close this for now, if you can provide additional info please reopen it or hope on our gitter channel for assistance.

[2019-01-02 17:06] #1336 closed

[2019-01-02 18:21] vytas7 commented on #1328
Hi @iron2414 !
Are you still experiencing the described issue?

In addition to ideas by @TheMushrr00m , just to make sure, are you using ``virtualenv``, or just installing packages locally?

What do ``pip freeze`` and ``pip3 freeze`` say?

Also, if you are not using ``virtualenv``, note that newer ``pip`` versions (starting with 10.0.0 IIRC) do not play nicely with ``apt``-installed ones.

You may

[2019-01-04 17:20] kgriffs commented on #1393
Thanks! Added to the list.

[2019-01-04 17:51] kgriffs opened #1405 "Official Support for Python 3.7"
- [x] README
- [x] Docker images
- [x] Docs
- [x] Tox
- [x] Travis
- [x] setup.py

[2019-01-04 22:35] vytas7 commented on #1120
@steven-upside have you had a chance to look into this issue?

I am thinking to hack something myself if this is still desired for 2.0.

And I would strongly advocate retaining the custom class ability since I know that some users (read: me :slightly_smiling_face: ) have already adopted this functionality. It would be a no-op them.

[2019-01-04 22:48] vytas7 commented on #1234
Note to self: recheck if @DmitriiTrofimov 's changes fixed this (or enabled a cleaner fix).

[2019-01-04 22:49] vytas7 commented on #1215
This is done now, leaving the issue open as a checklist item to also mention this one in ``CHANGES.rst``.

[2019-01-05 15:34] kgriffs opened #1407 "doc: SQLAlchemy integration guide"

[2019-01-05 15:36] kgriffs commented on #1407
Example code copied from Gitter and posted originally by Nateyo:

[code]

[2019-01-05 16:21] vytas7 commented on #1407
**Note 1**: ``scoped_session`` is supposed to be a magical proxy abstracting away concurrent access troubles. If that level of magic is desired, there is probably no need to dereference this way: ``self.session_registry()``, instances of ``scoped_session`` already proxy everything (here, I had prepared ``hello.db`` in advance):

[code]

[2019-01-05 16:40] vytas7 commented on #1407
Note 3:
Not sure how common this pattern is, but streaming responses from the database might require special care in case database pools/connections/sessions are managed by middleware. Middleware is applied after responders, but before returning response to the client. If the response is streamed off a generator including database code, premature cleanup might interfere.

Consider talking about, a

[2019-01-05 17:01] vytas7 commented on #1407
Note that there is nothing wrong with the [bare metal example from the FAQ](https://falcon.readthedocs.io/en/stable/user/faq.html#how-do-i-manage-my-database-connections), provided that level of abstraction suffices for the given use case. Maybe that could be converted to an example as well?

[2019-01-05 17:16] Nateyo commented on #1407
Unless I'm mistaken, the [bare metal example](https://github.com/jmvrbanac/falcon-example/blob/master/example/db/manager.py) is doing a similar thing to the middleware originally posted:

In the db manager init:
[code]

Then whenever the session property is accessed:
[code]

From this sqlalchemy docs page it notes something very specific that the example project doesn't seem to do:

Though note th

[2019-01-05 17:31] #1234 closed

[2019-01-05 17:50] Nateyo commented on #1407
I could be wrong but I thought autocommit will only call commit() and not close() on the Session though, yea? Agreed it's fine for introductory, but the docs are pretty clear .remove() should be called when using scoped_session when the request or need for the session has ended.

Perhaps we could modify the docs to support examples for explicit session management, much like the [link you posted in

[2019-01-05 19:53] vytas7 commented on #1292
Just wondering how we would keep the documentation up to date, would it be a manual chore, or could this be automated somehow?

Or would we only publish upon major releases?

[2019-01-09 16:05] vytas7 commented on #1292
Note by @nZac

[2019-01-12 18:58] kgriffs commented on #1215
Usually I just review the commit log to make sure everything is enumerated in CHANGES.rst in the process of finalizing a new release, so it should be safe to close this.

[2019-01-12 19:00] #1351 closed

[2019-01-12 19:41] #421 closed

[2019-01-12 21:03] vytas7 commented on #1215
Aha, thanks, closing then!

[2019-01-12 21:03] #1215 closed

[2019-01-12 21:15] kgriffs commented on #841
[Implemented]

[2019-01-12 21:15] #841 closed

[2019-01-12 21:17] kgriffs commented on #1031
Upon further consideration, we have decided not to do this work, esp. in light of dropping Python 2 support in Falcon 3.0.

[2019-01-12 21:17] #1031 closed

[2019-01-12 21:25] kgriffs opened #1410 "Update Response:add_link() to support setting the crossorigin attribute"

[2019-01-12 21:30] kgriffs commented on #1265
I should have a PR up for this next week.

[2019-01-12 21:42] vytas7 commented on #1331
Since the example above originates from my HTTPStatus experiments, I will split some of the improvements off in a separate PR.

[2019-01-13 00:20] Nateyo commented on #1243
This looks completed and already in master. Just needs CHANGES.rst I guess?

[2019-01-13 14:31] vytas7 commented on #1243
It seems that this has been rectified in the linked #1303 .

It might need a yet another update after https://github.com/falconry/falcon/issues/1206 , but lets handle it in that issues depending on the decisions made.

[2019-01-13 14:31] #1243 closed

[2019-01-13 15:40] Nateyo commented on #1253
I'm going to take a look into this.

[2019-01-13 17:03] Nateyo commented on #1253
So this affects a lot of the headers because it involves header_property. I think maybe it's odd behavior when setting headers to immediately call the normalizer when setting. I'm not quite sure how to structure it yet, but would it be an ok approach to normalizer the headers dictionary before calling headers = self._headers in _wsgi_headers?

[2019-01-13 17:33] vytas7 commented on #452
A practical example how users can get confused (myself included :confused: ), because of the combination of this issue, https://github.com/falconry/falcon/issues/777 , and probably others.

As a user, I may want to style/customize all error responses from my API to look and feel the same.
This includes methods raised by the API and the router as well.

Currently, a potential solution could look li

[2019-01-13 20:32] Nateyo commented on #1253
I'm wondering if it's worth it to change how headers are handled in general. It appears there are all the set/get/append_header methods in response.py, but then we have these HeaderProperty properties that are available for what I assume are the more common headers(?) so that one can use response.vary vs. get_header("Vary")/append_header("Vary"). It seems having these two separate methodologies fo

[2019-01-14 17:44] kgriffs commented on #1253
I'm always open to new approaches, although we need to look carefully at (1) the performance impact on the new approach, (2) how the change in approach might impact the interface and semantics and make sure it is not too disruptive (if it is, we might need to try to shim old behavior of stagger the breaking changes across multiple releases), and (3) the maintenance burden of the new approach.

Any

[2019-01-15 03:45] nmcbride commented on #1358
Hey there kgriffs,

I was wondering what you thought the timeline on this would be? I have a project where I am going to use web sockets for real-time collaboration. I'm not trying to rush you or anything like that I know this release will include really big changes, but I'm currently writing the core api in falcon and trying to decide if I should use Sanic or something else as a microservice spec

[2019-01-15 07:46] s8uo7e opened #1412 "open-falcon demo 404"
ex: http://open-falcon.org/falcon-plus/doc/dashboard.html

[2019-01-15 17:59] vytas7 commented on #1412
Hi @s8uo7e !
I would risk a guess that this not the same Falcon we are talking here.

*This* Falcon: a Python Web framework, see also https://falconframework.org
*The other* Open-Falcon: apparently, a monitoring system: https://github.com/XiaoMi/open-falcon

To summarize, consider reporting the issue against https://github.com/XiaoMi/open-falcon instead.

cheers,
Vytas

[2019-01-16 17:14] NikolaJankovic commented on #1046
What's the consensus on this issue? I agree that it goes against best practice but it could still be helpful for some use cases. I could work on it this weekend but I'll defer to you guys on whether or not it should be adopted.

[2019-01-17 12:20] czelsa opened #1413 "How to implement redirection in auth_request?"
hi, I have a problem with the redirecting in falcon.
I have configuration in ngnix:
location / {
                auth_request /login_check;
               ...
}
location = /login_check {
               proxy_pass    localhost/login_check;
               ...
}

and I want to redirect to another page that will authenticate me (for example - I want to call some api)
def on_get(self, req, resp):

[2019-01-22 13:06] Nateyo commented on #1253
@kgriffs I think this is probably unlikely for 2.0 release, mostly because headers are involved all over the place so the PR will be pretty big. I've been tinkering and I have some questions:

- How tied down are we to the idea of `HeaderProperty`? I think its a slight violation of DRY that we have header mutation functions and then separate `HeaderPropertys `which define their own get/set/etc, re

[2019-01-22 21:13] #574 closed

[2019-01-26 18:20] vytas7 opened #1420 "Consider vendoring python-mimeparse"
As brought up on https://github.com/falconry/falcon/pull/1383 and discussions on Gitter, we may consider vendoring ``python-mimeparse`` dependency.

Normally, vendoring Python dependencies is just an unnecessary burden:
* Laborious process to keep integrating upstream fixes
* *Pip* is good at handling dependencies
* Redundant duplication of libraries if the application is also using them

However,

[2019-01-31 21:20] kgriffs opened #1422 "fix: Custom serializers not called for errors that inherit from NoRepresentation, OptionalRepresentation"
This is a breakout issue from https://github.com/falconry/falcon/issues/452 - It could be potentially breaking in the case that a custom error serializer is not prepared to deal with these additional error types.

[2019-01-31 21:22] kgriffs commented on #452
I think that for 2.0 we should certainly fix the issue where custom serializers are not always called (I broke this out as a separate issue here: https://github.com/falconry/falcon/issues/1422).

As for switching to always return a representation/body for errors by default unless explicitly forbidden by the RFCs, we should discuss that further and make a decision for Falcon 3.0.

[2019-01-31 21:32] kgriffs commented on #1391
Dropping a few links here for future reference:

* https://github.com/falconry/falcon/issues/1394
* https://github.com/falconry/falcon/issues/1393
* https://github.com/falconry/falcon/milestone/33

[2019-02-01 01:08] haiyanghe commented on #768
Hey does this still need a contributor?

[2019-02-01 21:13] soultech67 commented on #1405
@vytas7 is this something I can help with? I have a vested interest in 3.7.2 support...

[2019-02-01 21:16] vytas7 commented on #1405
Sure, you are very welcome to help!

See also the checklist by @kgriffs above, that may be helpful in which changes are needed.

[2019-02-02 07:54] vytas7 commented on #1331
Resolved in the referenced PR.

[2019-02-02 07:54] #1331 closed

[2019-02-02 18:50] vytas7 opened #1423 "Revise & clean up code examples and tutorials"
Go through existing code samples and code tutorials:
* Check code quality of other inlined code samples, could flake8-rst be used?

[2019-02-03 00:36] kgriffs commented on #1423
@vytas7  I think it would make sense to split this into two issues; one for critical stuff that is also quick enough to do for 2.0, the other for the remainder that we can assign to the 3.0 milestone.

[2019-02-04 22:57] vytas7 opened #1426 "WebDAV methods not supported"
Falcon defines supported HTTP methods in `falcon/constants.py`: supported are "usual" `HTTP_METHODS` and, in addition to that, `WEBDAV_METHODS`. However, only WebDAV versioning extension methods from RFC 3253 are supported, but not the "ordinary" WebDAV ones (i.e. from RFCs 2518 & 4918) like `COPY`, `LOCK`, `MKCOL`, `MOVE` etc.

Supporting only an extension, but not the core upon which that extens

[2019-02-05 19:34] bhargavrpatel commented on #1393
@kgriffs I have been using Falcon at work in Production and love it! I was currently working on a library and stumbled upon the Issues page, and eventually here. Please let me know how I can contribute. Since the list is large, should we go ahead and start taski-fying these?

[2019-02-06 01:31] #1192 closed

[2019-02-06 01:31] #1206 closed

[2019-02-06 01:46] kgriffs commented on #1253
Yes, and in fact we may have to push a few other things out as well in the interest of time. I'll go ahead and reassign the milestone.

The original idea of the header property was to provide a way to generate performant getters and setters without having to copy-paste code everywhere. However, things have indeed gotten a bit less elegant with the introduction of header manipulations on the values

[2019-02-06 03:48] Nateyo commented on #1323
@kgriffs what's the status of this? I've looked in Chrome/Firefox/Edge and the "highlighted" section appears to not be any different than any of the other code in the link you've provided. Additionally, updating with some of the above suggestions results in totally unreadable text:
`#4f4f4f`

I'm not sure if the docs changed in style since this issue was created, but I played around with some diff

[2019-02-07 09:24] RichardSimarmata opened #1429 "Can we make our own status code in falcon?"
Can we make our own status code in falcon?
in C# we can use HttpResponseMessage to generate status code , body and media type manually.

can falcon do something like that too?
Example :
621 Inactive Player

[2019-02-07 10:01] #1429 closed

[2019-02-07 15:22] tkang007 commented on #1256
Hi,

It might be this command:

waitress-serve --port=8000 look:app.api

[2019-02-07 17:51] vytas7 commented on #1120
Closing as the referenced PR has been merged.

[2019-02-07 17:51] #1120 closed

[2019-02-07 18:06] vytas7 opened #1430 "Remove deprecation warnings when using context dict interface"
Context type has been changed to a bare class in https://github.com/falconry/falcon/issues/1120 , allowing to set attributes on the context object instead of using dict interface. However, the class derives from `dict` for now, allowing applications to use the (now considered deprecated) dict interface.

Emit `DeprecationWarning`s every time `dict` interface is used, or at least when items are set

[2019-02-07 21:59] kgriffs commented on #1430
Under Python 3.7 option (1) seemed to be slightly less performant vs. (2) due to having to implement an initializer to create a dict object. Regardless, I think that (2) would be a better way to go in order to maximize compatibility with existing apps, and it would also be easiest to implement.

[2019-02-08 10:10] paneru-rajan opened #1431 "jsonschema.validate decorator removes docstring, encounter while using Sphinx"
The `jsonschema.validate` decorator does not have `@wraps(func)` which removes the docstring when applied to the methods  like `on_get`, `on_post` etc..
This is detected while creating docs with **Sphinx** on methods with the decorator `@jsonschema.validate`.

I have modified the decorator to this:
[code]
Just added `@wraps(func)` inside the function, and it start working...

References:
[https://

[2019-02-08 15:37] vytas7 commented on #1431
Hi @paneru-rajan !
And thank you for the report.

Since you have already solved the issue yourself, would you mind creating a pull request with your change?

[2019-02-09 16:31] vytas7 commented on #1405
@soultech67 have you had a chance to look at this?
I think this issue is important to get out for Falcon 2.0, so do not hesitate to ask for help, or you are constrained by time, could we join forces on this one?

[2019-02-09 17:18] kgriffs commented on #1323
I like the gray. It would be consistent with inline code example blocks in the docs.

[2019-02-09 17:20] vytas7 commented on #1323
I was going to say the last one -- yellowish. But knowing how "great" I am at graphical design, I have no problem going with my second favourite -- the gray.

[2019-02-09 19:40] kgriffs commented on #1296
I'll go ahead and take a stab at this.

[2019-02-09 22:39] vytas7 opened #1435 "Improve falcon-print-routes tool"
`falcon-print-routes` is a simple (albeit somewhat spartan) tool that may come handy to list API routes.
We could polish it, and expose more widely:
* Advertise it in the documentation (currently it is only mentioned in the `1.1.0` changelog)
* Make it aware of route suffixes, a new feature in 2.0
* Expose interface to be able to list routes programmatically (suggested by @CaselIT )
* Make it clea

[2019-02-11 02:14] Nateyo commented on #1046
This is an interesting part of [RFC 6265 - 4.2.2](https://tools.ietf.org/html/rfc6265#section-4.2.2):

   servers SHOULD NOT rely upon the serialization order.  In particular,
   if the Cookie header contains two cookies with the same name (e.g.,
   that were set with different Path or Domain attributes), servers
   SHOULD NOT rely upon the order in which these cookies appear in the
   header.

Ho

[2019-02-11 15:48] kgriffs commented on #777
Moving this to 3.0 in the interest of getting 2.0 out sooner.

[2019-02-11 15:56] kgriffs commented on #1292
(Scheduling for 2.1 since it requires stable 2.0 docs)

[2019-02-11 20:03] vytas7 commented on #1405
@soultech67 ping!
I am sorry if I am interrupting your work on this due to the imminence of Falcon 2.0. I'll try to quickly sketch something working provided there are no hidden rocks with 3.7.

[2019-02-11 22:33] vytas7 commented on #1423
Rescheduling all items except the most pressing one (hopelessly obsolete docs front page example) to 3.0, we won't be able to spare the bandwidth for 2.0.

A "quick fix" for the said example is proposed in https://github.com/falconry/falcon/pull/1438

[2019-02-12 15:33] #1420 closed

[2019-02-12 16:56] #1323 closed

[2019-02-12 18:50] vytas7 commented on #1431
Fixed by https://github.com/falconry/falcon/pull/1432

[2019-02-12 18:50] #1431 closed

[2019-02-12 23:14] #1390 closed

[2019-02-13 09:34] guozhihua12 opened #1445 "why name and value must check is_ascii_encodable in set_cookie ?"
![image](https://user-images.githubusercontent.com/13211288/52701458-3cf84380-2fb5-11e9-8e80-c18c52503c1f.png)
当我对cookie设置中文的时候，is_ascii_encodable会返回False。但是，cookie其实是可以设置中文的，不知道你们出于什么考虑，一定要求set_cookie的name和value是is_ascii。有人能跟我解释下吗？

[2019-02-14 06:40] Nateyo commented on #1445
It's directly from [RFC 6265 Section 4.1.1](https://tools.ietf.org/html/rfc6265#section-4.1.1)

If you follow the link for name as well the token is defined as any number of CHAR where CHAR is defined as ASCII characters.

[2019-02-14 06:45] Nateyo commented on #1435
I'll pick this one up!

[2019-02-14 07:41] vytas7 commented on #1435
Cool, I didn't expect anyone to pick this so soon 👍
Just a note: you may want to wait for this to land, or start off my branch -- it fixes a couple of bugs in this tool: https://github.com/falconry/falcon/pull/1399

[2019-02-14 15:32] vytas7 commented on #1405
Done in https://github.com/falconry/falcon/pull/1437

[2019-02-14 15:32] #1405 closed

[2019-02-14 15:49] #1265 closed

[2019-02-14 17:14] Nateyo commented on #1435
Sure I can wait, I know we are deep in 2.0 beta territory as well. I have fond memories of when `flask routes` came out, so this is a nice thing for me to work on while I'm still learning a lot about how falcon works under the hood. 😄

[2019-02-14 18:57] vytas7 commented on #1435
Well, as said, you don't really need to wait -- you can always just fork off my branch :slightly_smiling_face:

[2019-02-14 22:08] #1422 closed

[2019-02-15 20:29] fraser-lowndes opened #1448 "Modifying request.headers / request.accept in process_request"
I have a middleware which, for clients who won't or can't send appropriate headers, appends appropriate headers e.g. `GET http://my.api/image/resource/1 (Accept: */*)` gets translated into `GET http:/my.api/resource/1 (Accept: image/*)`. I do this in middleware by updating `request.path` and `request.headers["accept"]` however this means my `on_get` cannot make use of `request.accept` as the middl

[2019-02-15 22:08] vytas7 commented on #1448
Hi @fraser-lowndes !
If _really_ needed, one could just change that as nothing is truly private in Python. FWIW, particularly so after merging https://github.com/falconry/falcon/commit/793f30491dca86e62530ff1fb4126e9201e3ff12 . However, I am afraid the API was designed with treating these attributes as read-only in mind (hence a fat warning in the mentioned commit). Based on this, at least persona

[2019-02-16 09:58] fraser-lowndes commented on #1448
Hi @vytas7, thanks for the suggestions. Could you go over the reasoning for designing the request object as primarily read-only? I haven't used this framework much, but from my perspective it seems like shooting yourself in the foot as you lose a lot of ability for powerful routing / middleware.

[2019-02-16 13:31] vytas7 commented on #1448
Hi again @fraser-lowndes ,
I will let the original creator and project lead @kgriffs chime in on the original design.

That design makes sense to me as well: the incoming request is treated as input data, to which the response is rendered. Many popular web frameworks and servers, including the ubiquitous Nginx, adopt variations of it. You may of course ask about `path`, but that could be treated a

[2019-02-17 16:11] #1400 closed

[2019-02-17 18:30] fraser-lowndes commented on #1448
Thanks for the code example @vytas7, I didn't know about the `suffix` parameter. That's a good enough compromise. I would have liked the generic middleware, so I can keep my routes cleaner and have a single method (e.g. `on_get`) for determining the appropriate content type, but I appreciate that the speed and simplicity of falcon comes with some constraints / compromises. I'd like to leave this i

[2019-02-17 19:31] vytas7 commented on #1448
That's true, it is not in any stable release yet :grimacing:
However, we hope to get Falcon 2.0 beta out the door really soon, some time next week.

For the time being, you could install Git master directly, for instance, by using
[code]

[2019-02-17 20:20] fraser-lowndes commented on #1448
Okay, in the meantime I've changed the image URL to `/resources/1.png` which allows me to check the ending of `path` and go from there. I wish I'd have thought of this first, much simpler than any middleware or routing..

[2019-02-18 18:37] #1296 closed

[2019-02-19 08:06] vytas7 commented on #1445
To be fair, reading the source code, it may become quite obvious what it does, but one does not get that impression from the documentation.

I took the liberty of changing the issue title, and labeled it accordingly.

[2019-02-20 18:13] kgriffs opened #1450 "Add basic performance testing to the gate"
Create a basic performance test based on historical trends and add it to as a Travis job. We should consider failing the build in the face of a performance regression.

Our first pass at this can be very basic; we can always improve it over time.

[2019-02-20 18:23] vytas7 commented on #1450
Just a side note: I think this both a great initiative :+1:  , and at the same time a tricky task as Travis instances are known for rather wild fluctuations in throughput.

[2019-02-21 15:56] kgriffs opened #1452 "Modify Request.cookies to return all values for each cookie"
(Basically mirroring `get_cookie_values()`. Then, in 4.0 we may consider removing `get_cookie_values()`.)

[2019-02-21 16:18] kgriffs opened #1453 "Consider using black to normalize coding style"
See: https://github.com/ambv/black

[2019-02-21 16:40] kgriffs commented on #1453
(...as suggested by tribals and carlodri in the chat room.)

[2019-02-21 21:03] carlodri commented on #1453
thanks @kgriffs! My experience, albeit somehow limited (I'm not a professional programmer), is that black is really helpful in automating cleanness, readability and "pep8-ness" of your code, like set-and-forget-about-style.

[2019-02-22 07:17] tribals commented on #1453
Black has one major advantage: it stops (and prevents) people from arguing about coding style.

[2019-02-22 16:33] #1046 closed

[2019-02-22 16:33] #1107 closed

[2019-02-22 21:36] kgriffs opened #1456 "[Umbrella] Dynamic API configuration"
1. Have a way to add additional middleware outside the API initializer.
2. Provide a way to remove middleware.
3. Provide a way to remove routes.

[2019-02-22 21:38] kgriffs commented on #1456
Prior art/experiments re (1):

* https://gitlab.com/skosh/falcon-helpers/blob/master/falcon_helpers/middlewares/multi.py
* https://gitlab.com/skosh/falcon-helpers/blob/master/falcon_helpers/app.py#L35

[2019-02-22 22:04] kgriffs opened #1457 "Privatize helpers, etc. that really should only be used internally by the framework"
Falcon modules import a number of helper functions that do not begin with an underscore, although such functions are not meant to be part of the public API. Remedy this in the next major version of the framework (as it would be a breaking change).

[2019-02-23 14:31] vytas7 commented on #1457
(See also: https://github.com/falconry/falcon/issues/1176 )

[2019-02-23 21:53] #1211 closed

[2019-02-26 20:02] FabriceSalvaire opened #1460 "Quick start guide don't explain how to deal with errors"
First bad things that happen when using falcon is

* gunicorn don't boot the application
* something goes wrong in the application

Unfortunately the documentation doesn't give hints on` gunicorn -preload` and `API.add_error_handler`

[2019-02-26 20:28] Ei5enheim commented on #321
kgriffs, can you please let me know what is the tentative date for version 2.0 release? My project also requires web socket support in Falcon API.

[2019-02-27 22:50] vytas7 opened #1461 "Consider using an automated changelog management tool"
As our community continues to grow, the amount of changelog items such as new features, breaking changes etc continues to increase between releases, making the development version of documentation trail behind, as well as making aggregation of these a very laborious process before release.

We should consider demanding these items together with PRs (or directly thereafter in follow-up PRs), and us

[2019-03-01 13:08] maticzav opened #1464 "Update OpenCollective Bot"
Hey 👋,

Thank you for using the OpenCollective Bot. We are rolling out an update which introduces breaking changes. Please check out the new documentation, I am sure you'll love the update.

https://github.com/maticzav/opencollective-bot/tree/next

[2019-03-02 20:02] kgriffs opened #1465 "Remove Python 2 jobs from tox, travis (and migrate pep8, to Python 3.7)"
To Do

- [x] Coverage
- [x] Tox
- [x] Travis
- [x] Migrate pep8 tox job
- [x] Migrate pep8-examples tox job

[2019-03-04 03:47] benzid-wael opened #1469 "No data in request.stream.read()"
Hi,

I'm not sure if I'm doing something wrong or if it's a bug. My issue is that I POST send data to my resource, but the body is always empty

[code]

I tested the view with curl

[code]

I also tried `--data-raw` option and it's not working. In both case I'm getting the following logs

[code]

[2019-03-04 06:28] Nateyo commented on #1461
I'm all for making it part of the PR process and putting the onus on the PR creator. Should relieve the load on you core maintainers so all you have to do is verify the correct changes have been made to the log. I haven't used any of the above packages, but will look into using them for some projects at work. 👍

[2019-03-04 14:31] shimakaze-git opened #1470 "No response is returned when requesting POST in 2.0.0a1 version"
Hi, I might have found a bug on 2.0.0a1 version.

I tried this code on 2.0.0a1 version.
but, Processing stops on 'req.stream.read()', there is no response.

[code]

I executed this curl command.but, No response is returned.
[code]

[2019-03-04 15:22] tribals opened #1471 "Why can't we define routes with different field expression parameter names for same routes?"
I can't see any reason why I can't first define route with URI template `/users/{id}`, then with `/users/{user_id}/posts`.

I think that this constraint comes from ability to match URI template to responder, with right "path" parameter names. But It can be done even if the same param named differently in different routes.

How can I avoid such behavior?

[2019-03-04 15:24] tribals commented on #1471
The only thing needed to be done for successful routing is to keep consistency of param names in URI templates and responder methods signatures.

[2019-03-04 17:45] vytas7 commented on #1470
Hi @shimakaze-git !
I would like to claim that this is not a bug, but a breaking change in Falcon 2.0.
For performance reasons, we are no longer wrapping `req.stream` with `BoundedStream`. `BoundedStream` helps to normalize the behaviour across various WSGI server implementations, including somewhat glitchy ones.
This is documented together with other [breaking changes](https://falcon.readthedocs.

[2019-03-04 18:04] vytas7 commented on #1469
Hi @benzid-wael !
Unfortunately (or fortunately... :slightly_smiling_face: ) I cannot really reproduce your issue, be it a bug or anything else.

I have slightly modified your example, but that was mostly filling in the missing parts, as well as replacing your stream handling with [`resp.bounded_stream`](https://falcon.readthedocs.io/en/latest/api/request_and_response.html#falcon.Request.bounded_s

[2019-03-04 18:22] vytas7 commented on #1471
Hi @tribals !
I am no expert on just that part of Falcon, but as I understand the way the compiled router is built (see `falcon/routing/compiled.py`), routing logic is compiled into a Python-bytecode backed decision tree where nodes `/users/{user_id}` and `/users/{user_id}/posts` would share the same base node corresponding to `/users/{user_id}`.

As I understand you propose to lift this restricti

[2019-03-04 20:03] vytas7 commented on #1237
Hi @phtdacosta !
Sorry for a bit of necro-bumping, but I just wanted to let you know that this feature has been implemented in Falcon 2.0 in form of [Response.complete](https://falcon.readthedocs.io/en/latest/api/request_and_response.html#falcon.Response.complete).

At the time of writing, Falcon 2.0 is in alpha, and we are hoping to release the first beta really soon.

cheers
Vytas

[2019-03-05 03:59] shimakaze-git commented on #1470
Thank you for teaching me.I'll read the document properly.

[2019-03-05 04:00] tiffchad commented on #1448
Casual encounters

[2019-03-05 04:00] shimakaze-git commented on #1470
@vytas7
Thank you for teaching me.I'll read the document properly.

[2019-03-05 10:14] tribals commented on #1471
Unfortunately, I can't do such params mangling because I'm using generic resource implementation with different strategies, so I pass "path" param name(s) to strategy constructor and expect it to extract right param from responder's `**kwargs` based on expression paremeter name in URI template.

[2019-03-06 13:20] mastizada opened #1475 "No way to get POST data if json is posted as application/x-www-form-urlencoded"
Posting a json data with "`Content-Type: application/x-www-form-urlencoded`" header and can't get data from `req`. Tried `req.params`, `req.media` and `req.stream.read()` - all empty.

`auto_parse_form_urlencoded` is set to `True`.

cURL request:
`curl 'http://127.0.0.1:8000/' -H 'Accept: application/json, text/plain, */*' --compressed -H 'Content-Type: application/x-www-form-urlencoded' --data '{

[2019-03-06 17:45] vytas7 commented on #1475
Hi @mastizada !
Yes, it is very unusual to masquerade JSON as `application/x-www-form-urlencoded` indeed, but knowing it is a third party app, and not your choice, I will refrain from judgement.

The answer is that it should *just work* out of the box, unless I misunderstood anything.

Just set `auto_parse_form_urlencoded` to `False` instead (`False` should already be default in recent Falcon vers

[2019-03-06 17:47] vytas7 commented on #1470
No worries, let us know if you find any deficiencies in the documentation, we'll try to improve!

[2019-03-06 17:47] #1470 closed

[2019-03-07 02:12] mastizada commented on #1475
Thanks @vytas7 it works.

[2019-03-07 02:12] #1475 closed

[2019-03-08 22:43] kgriffs commented on #1393
@bhargavrpatel Welcome! For now we are still brainstorming a bit while we finalize the 2.0 release and wait for development to open on the 3.0 branch. That being said, I think we can start breaking down these ideas into issues soon and sussing out what should go in 3.0 vs. 3.1.

[2019-03-09 23:53] mikeylight commented on #1456
@kgriffs Hm, not bad proposals, with the first two, I totally agree, it will be helpful to add middleware outside the API initializer, but for the third one, I don't see any use case:) IMHO.

Anyway, I'll play with it.

[2019-03-11 12:26] waghanza commented on #462
I find the `gunicorn` + `meinheld` deployment very easy to set-up
@see https://github.com/the-benchmarker/web-frameworks/blob/master/python/falcon/Dockerfile#L12

[2019-03-11 21:19] jeroenherczeg commented on #423
I would also like to comment my use-case here:

I am building a github like url strategy, where the last part of the url is a path to a blob or tree.

`app.add_route('/repo/{owner}/{repo}/tree/{branch}/{path}', treeObject)`

would match the url /repo/nikic/PHP-Parser/tree/master/lib/PhpParser/Lexer
with the **path** param being **lib/PhpParser/Lexer**

`app.add_route('/repo/{owner}/{repo}/blob/{br

[2019-03-12 09:03] tribals opened #1479 "Test client fails when WSGI application is a generator"
Here is the test that proves it:

[code]

Here is [the link](/tribals/falcon/blob/feature%2Fgenerator-app/tests/test_testing.py) for convenience.

[2019-03-16 17:38] vytas7 commented on #1479
Btw, just to clarify, I've tested this myself, and this applies to all recent (or probably even all) Falcon versions, including the 2.0 beta, 1.4.1 etc.

Interesting find @tribals !

[2019-03-18 22:54] vikramarsid opened #1483 "How to handle client disconnection?"
Hello,

Using Nginx + Gunicorn(gthreads) + Falcon.
How should I detect if a client has disconnected from the API server?
Is there a way to handle client-side disconnection to cleanup upstream database jobs?

Thanks for the help.

Cheers.

CC: @vytas7

[2019-03-20 19:08] kgriffs commented on #1483
You could see if gunicorn triggers any of its [server hooks](http://docs.gunicorn.org/en/stable/settings.html#server-hooks) in that case, although that would depend on NGINX prematurely disconnecting from gunicorn rather than eating the response, which AFAICT is what happens by default (see also: http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_ignore_client_abort).

@jmvrbanac has a

[2019-03-22 10:43] madewild opened #1484 "Quadratic delay for large POST json requests"
For an NLP project (on RHEL 7.6, Python 3.4.9, Falcon 1.4.1), we send POST requests of several million characters to our microservices through gunicorn and falcon. I noticed there is a delay between the moment gunicorn gets the POST request and the moment our service starts to process it. Although nothing shows in the systemd journal, this delay is increasing quadratically with the size of the pay

[2019-03-23 21:58] vytas7 commented on #1484
Hi @madewild !
I am not completely sure it is just a Falcon issue, as it might be a combination of the interpreter (note that CPython 3.4 is soon EOL), the framework (Falcon), the WSGI application server (Gunicorn) etc. Do you have any front-end reverse proxy in front of Gunicorn, like Nginx?

FWIW, I could not reproduce the issue on CPython 3.5, Gunicorn 19.9.0 & Falcon 1.4.1.

I used the followi

[2019-03-25 08:25] madewild commented on #1484
Hi Vytas,

I confirm that I cannot reproduce the issue with Python 3.5, Gunicorn 19.9.0 & Falcon 1.4.1. So it was indeed a combination of old Python and old Gunicorn (we were using 19.7.1) causing this strange delay. Crazy that I had to enable IUS for that, RHEL7 is still stuck with Python 3.4! Thank you for your time...

Best,
Max

[2019-03-25 08:25] #1484 closed

[2019-03-27 18:59] vytas7 commented on #1469
Hi again @benzid-wael !
Have you had a chance to review my suggestions?

[2019-04-01 21:11] #1479 closed

[2019-04-03 16:30] mumrau opened #1489 "Trailing slash behavior doesn't match documentation"
Hello!

I want to raise a question about the way trailing slashes are handled. #1289 states that it sets the default `.req_options.strip_url_path_trailing_slash` to `False`, which is the behavior I noticed.

Nonetheless, in the documentation (namely [here](https://falcon.readthedocs.io/en/0.2.0/community/faq.html?highlight=trailing#why-are-trailing-slashes-trimmed-from-req-path)), it states that

[2019-04-04 11:04] vytas7 commented on #1489
Hi @mumrau !
And first of all, thanks for continuous testing the master branch/2.0 beta, contributing to 2.0, and for filing this discrepancy.

Just a note, the documentation you linked to is _very_ old. But the issue is nevertheless present in the current (development version) FAQ as well: https://falcon.readthedocs.io/en/latest/user/faq.html#why-are-trailing-slashes-trimmed-from-req-path:

One g

[2019-04-04 13:33] mumrau commented on #1489
Oh, yeah, I was surprised by the readthedocs appearance indeed, I thought it was old in appearance but not in content, which I didn't check cause I don't need much documentation anymore :tada: , except for the trailing slash behavior.

I mixed up `0.2.0` with `2.0.0` which is surprisingly not present in the menu yet, you need to go through `latest`, adding an href `2.0` could be useful as well, if

[2019-04-04 18:54] kgriffs commented on #1489
Nice catch, we'll get this fixed for rc1

[2019-04-05 23:40] kgriffs commented on #1489
Please take a look at that PR and let me know what you think.

[2019-04-06 17:01] #1489 closed

[2019-04-09 17:30] kgriffs commented on #1430
Let's move this to 3.1 until we decide how long we want to keep the mapping interface around.

[2019-04-09 17:39] vytas7 commented on #1469
We are closing this issue hoping that you have already resolved the problem, but not hesitate to reopen if this is not the case!

[2019-04-09 17:39] #1469 closed

[2019-04-09 17:50] kgriffs commented on #321
Hi, sorry for the confusion. Since I made that last comment, we decided to ship 2.0 first (RC1 is currently available on PyPI) so that we could drop Python 2.7 and 3.4 support in 3.0 and do a cleaner ASGI implementation.

3.0 development just opened on the master branch and we anticipate this milestone cycle to be significantly shorter than 2.0, with the primary focus being on ASGI and improved fo

[2019-04-09 18:24] kgriffs commented on #1358
Hi, sorry for the delayed response. We decided to focus on shipping 2.0 first (RC1 is currently available on PyPI) so that we could drop Python 2.7 and 3.4 support in 3.0 and do a cleaner ASGI implementation.

3.0 development just opened on the master branch and we anticipate this milestone cycle to be significantly shorter than 2.0 (i.e., 2-3 months instead of 12-14 months), with the primary focu

[2019-04-09 18:32] kgriffs commented on #1395
Just a heads-up, I'm starting work on this.

[2019-04-10 12:21] praveen-kalpavruksh opened #1491 "Falcon issue posting params unittest"
I am not sure what I am doing wrong but not able to post params during unit-test.
Below is my code.

[code]

When I receive call to api, I get `None` for `req.get_params('config')`. Any Idea?

[2019-04-10 13:30] lucasgnavarro commented on #561
@kgriffs #576, #973 they were merged. This can be closed I think...

[2019-04-10 21:06] kgriffs opened #1492 "perf(Request): Short-circuit path encode/decode when possible"
See if we can quickly determine if the following is required for a given path and short-circuit it when it is not (from `Request.__init__`):

[code]

See also this section from `falcon/testing/helpers.py`:

[code]

[2019-04-10 21:28] kgriffs commented on #1492
FWIW, one way to quickly check whether a string contains only allowed chars:

[code]

[2019-04-15 18:54] fraser-lowndes commented on #1448
@tiffchad I've just seen your comment, really curious what that's about... You created an account just to comment on this issue with that cryptic message? Weird. I'm gonna be trying to figure this out for ages...

[2019-04-18 01:54] popovvasile opened #1494 "No on_delete option"
I am trying to implement the DELETE request method. Seems like on_delete is not supported and the documentation says nothing about this.
It is especially confusing and frustrating to spend so much time trying to understand if such a basic option is supported at all.

[code]

[2019-04-18 02:42] jmvrbanac commented on #1494
Falcon supports all standard HTTP verbs so it should work just fine.
Here is an example of a resource that echos the JSON you give it on delete:
[code]
[code]

[2019-04-18 02:45] popovvasile commented on #1494
Thank you. My bad, I had a bug in the request. I would still update the docs regarding the "on_delete" option. I close the issue

[2019-04-18 02:45] #1494 closed

[2019-04-19 03:48] #1395 closed

[2019-04-19 03:48] #1465 closed

[2019-04-19 19:09] vytas7 commented on #1393
As mentioned by @amitvadhel on Gitter, another popular way to quickstart development that people turn to is Cookiecutter [[1]](https://github.com/audreyr/cookiecutter).

There is a Falcon recipe to it [[2]](https://github.com/dgarana/cookiecutter-falcon), but it is fairly outdated, we could consider submitting a new one (idea falls under _Fast prototyping_).

1. https://github.com/audreyr/cookiecu

[2019-04-22 08:26] Coykto commented on #1275
Maybe should be closed?

[2019-04-22 11:07] Coykto commented on #925
Would like to do it.

[2019-04-22 17:41] vytas7 commented on #1275
@Coykto indeed, this has been addressed in https://github.com/falconry/falcon/pull/1285

[2019-04-22 17:41] #1275 closed

[2019-04-23 13:21] sisp opened #1499 "Golang-inspired Falcon API"
I understand that Falcon aims to be a "no-batteries-included" modular and extensible web framework. Having worked with Golang's stdlib HTTP handlers and stdlib-compatible routers, I'm wondering about some of Falcon's design decisions.

1. **Routes**: Let's take, e.g., the [chi router](https://github.com/go-chi/chi). A stdlib-compatible request handler function is associated with a path (pattern) a

[2019-04-23 20:30] kgriffs opened #1500 "doc: Request ID logging"
Document in the FAQ or a tutorial how you can use a middleware `process_request()` method to generate a request ID (or extract one from an HTTP header if provided downstream ala tracing) and then add that to `req.context` so you can reference it later when you want to log it out. Alternatively, you can use something like `structlog` and bind the request id to an instance that you then pass around

[2019-04-24 18:48] kgriffs commented on #1500
Also, perhaps we need a more generalized tutorial or set of recipes for managing application state... See also: https://gist.github.com/kgriffs/ea37ede4480ac5e080018eed81d292af

[2019-04-24 18:52] kgriffs commented on #1500
See also: https://www.structlog.org/en/stable/getting-started.html#building-a-context

[2019-04-25 14:22] danielloader opened #1501 "Proxying requests - multiple HTTP methods"
_Originally posted by @vytas7 in https://github.com/falconry/falcon/issues/1271#issuecomment-401612434_

Having seen this quick implementation, is there a way to modify this to work with POST, DELETE and PATCH methods too?

Not having any luck trying to use a sink with multiple HTTP methods.

[2019-04-25 16:27] vytas7 commented on #1501
Hi @danielloader !
As also written on Gitter, sinks are method-agnostic, and all HTTP methods are routed to a sink. In my snippet I explicitly check that `req.method` is within the allowed methods, which is basically only `['GET']`.

Furthermore, note that my method name `Proxy.on_get` is a bit of a misnomer -- any callable would do. Sink names are **not** used to match HTTP verbs.

[2019-04-25 17:14] vytas7 commented on #1501
@danielloader I have updated my example to supports multiple methods: https://gist.github.com/vytas7/cf49d061894bbff66e63b1dd9500e2cb

Hope the updated snippet is more helpful this time.

[2019-04-25 18:00] danielloader commented on #1501
That's great, example works perfectly and shows some of the functionality in a clear way - all the examples I've been looking at assume on_get is all you'd ever want to proxy with a sink!

[2019-04-25 18:00] #1501 closed

[2019-05-05 21:40] jmvrbanac opened #1503 "feat: Support Non-standard HTTP methods"
To support porting legacy APIs with non-standard HTTP method names, we should allow the ability to extend our acceptable HTTP method list. It should be documented, that this is not a preferred usage of Falcon, but it's there to support porting odd edge-cases and legacy APIs.

[2019-05-05 21:43] nZac commented on #1491
Hi @praveen-kalpavruksh, I took a look at this and I am not running into the same problem. I have attached a functioning example.

[code]

Can you verify this is what you are trying to do? If not, can you provide an example?

[2019-05-05 21:46] nZac commented on #8
This is the old issue. New work is being tracked in #1051.

[2019-05-05 21:46] #8 closed

[2019-05-05 21:47] kgriffs commented on #1271
Updated gist: https://gist.github.com/vytas7/cf49d061894bbff66e63b1dd9500e2cb

I like the idea of starting a recipe section in the docs. Let's put this one in there as one of our first recipes. We should include examples showing how to do it with urllib3 as well as requests.

[2019-05-05 21:56] kgriffs commented on #1051
Based on discussions with other members of the maintainer's team during PyCon I think we have come to a rough consensus that our first iteration on this will simply output a simple scaffolding with inline comments showing where people can plug in their favorite libraries for config, logging, DB, etc.

[2019-05-05 22:39] kgriffs commented on #1500
OK, so I think the best approach here is to add a recipe to the docs (let's create a new recipes section in the docs) somewhat along the lines of the gist above but that focuses on per-request state. The config example probably belongs in a separate recipe.

[2019-05-05 22:48] kgriffs commented on #1281
(Re manylinux we can port the build script from the 2.0 branch.)

[2019-05-05 22:51] kgriffs opened #1504 "Remove Python 2 from classifiers list in setup.py"
Remove Python 2 from classifiers list in setup.py:

[code]

[2019-05-05 22:52] vytas7 opened #1505 "Ability to execute logic after the request is fully streamed"
Right now, the middleware method `process_response` can be used to post-process responses after they are routed and handled by responders.

However, in case response body is a stream, one may want to execute logic when the stream is exausted. We are already wrapping `req.stream` in some cases, so we could extend this to wrap `.close()` with code to execute the relevant method (`finalize_response`?

[2019-05-05 23:02] nZac commented on #143
We are there: https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Python/falcon

[2019-05-05 23:02] #143 closed

[2019-05-05 23:07] kgriffs commented on #1450
That's true. We'd probably have to spin up our own boxes.

[2019-05-05 23:10] kgriffs commented on #1176
[duplicate]

[2019-05-05 23:10] #1176 closed

[2019-05-05 23:15] kgriffs commented on #1407
Given that there are different approaches with different tradeoffs, we should probably include 2-3 in a new recipes section in the docs, but also include a disclaimer that there are other ways and maybe point them to certain areas of the SQLAlchemy docs or other resources for further reading.

[2019-05-05 23:19] kgriffs opened #1506 "Make testing resource methods easier by creating arbitrary req/resp"
It can be useful when you want to test a resource method in isolation to manually create a `Request` and `Response` object and pass them directly to the resource method.

[code]

There are some gotchas with manually creating the environ and it could be much easier.
- [ ] Provide a global method in `testing.helpers` which creates a `Request` and `Response` object.
  - [ ] Enable passing `json`, `bo

[2019-05-05 23:22] nZac commented on #153
@jasonab there is nothing to say you can't put a `config` attribute on the application.

[code]

[2019-05-05 23:31] nZac commented on #160
The home doc RFC is stagnant since 2017, so I don't think we will take it further.

[2019-05-05 23:31] #160 closed

[2019-05-05 23:31] kgriffs commented on #1261
[resolved]

[2019-05-05 23:31] #1261 closed

[2019-05-05 23:32] kgriffs commented on #1210
[closes]

[2019-05-05 23:33] jmvrbanac opened #1507 "Add a generic error handler that returns the application's default media type"
If a generic Python exception is raised while running in gunicorn. The user will see an HTML Internal Server Error even though the default media type is `application/json`. This is due to the exception getting raised to the WSGI server which is defaulting the output. We should gracefully handle this with the default media type. According to the the WSGI spec applications should `In general, applic

[2019-05-06 05:19] praveen-kalpavruksh commented on #1491
@nZac Thanks for the solution and your time. This is what I was doing as well but had a minor error on my side, eventually figured out.

[2019-05-06 05:19] #1491 closed

[2019-05-06 07:57] Coykto commented on #925
PR #1498

[2019-05-06 12:44] kgriffs commented on #1350
Now that we have dropped support for Python 2.7, let's move forward with adding type hints to Falcon's public interface directly via annotations.

[2019-05-06 12:46] nZac commented on #1227
Hi @TihonV, we haven't heard back from you so I am going to assume you have got it working on your side. If not, feel free to reopen this.

[2019-05-06 12:46] #1227 closed

[2019-05-06 12:48] nZac commented on #1235
Hi @ogonbat, we haven't heard back from you in a while so I am going to assume you got this figured out. If not, feel free to reopen.

[2019-05-06 12:48] #1235 closed

[2019-05-06 13:10] kgriffs opened #1508 "Implement support for specifying query string params in URI templates"
When adding a route, support the inclusion of query string params in the template string. We can take inspiration from RFC 6570 but we'll also want to support filters/validators. Parsed values for the params could either be passed via keyword arguments to responders (that default to ``None``) or be made accessible via the ``Request`` object (TBD).

[2019-05-06 13:12] kgriffs opened #1509 "Consider migrating from Gitter to Discord"

[2019-05-06 13:18] edmondb commented on #1504
I'll take this one...

[2019-05-06 13:25] nZac commented on #1460
Hello @FabriceSalvaire, thanks for submitting an issue.

We are thinking we should expand the quick start to demonstrate more features. The [more features](https://falcon.readthedocs.io/en/stable/user/quickstart.html#more-features) section of the quickstart has an example of a fully functioning app with error handling.

[2019-05-06 13:41] kgriffs opened #1511 "Improve contributing UX"
Let's see how much of this we can get done for 3.0. If necessary, we can push out some things to later milestones.

- [ ] Add ``skip_install = True`` to pep8 test environment in Tox
- [ ] Create PR template with a checklist
- [ ] Make communication channels (issues, chat) more visible in docs and README (move closer to top).
- [ ] Add some welcoming language for new contributors that is more promi

[2019-05-06 13:46] rmyers commented on #1500
I'm going to take this on.

[2019-05-06 13:56] edmondb commented on #1249
I think I can tackle this one...

[2019-05-06 13:56] screamingskulls commented on #1426
working on this

[2019-05-06 14:16] edmondb commented on #1249
Question @nZac, as of #1330 this was changed to `github` style rather than `monokai`. Which is preferred for this as I believe this negates #1214 ...

[2019-05-06 14:37] #1504 closed

[2019-05-06 15:00] csojinb commented on #1509
Oh! If you decide to do this, I have some experience with Discord administration and could help out!

[2019-05-06 15:04] vytas7 opened #1514 "Attempt ordering exception handlers by exception class inheritance"
At the time of writing, exception handlers are matched in LIFO order, i.e. when searching for an error handler to match a raised exception, and more than one handler matches the exception type, the framework will choose the one that was most recently registered.

In case one has many error handlers for classes potentially inheriting from each other, this may become very error-prone and confusing i

[2019-05-06 15:05] csojinb commented on #1507
I am taking a look at this

[2019-05-06 15:05] seanharrison commented on #1503
I'm tackling this one this morning.

[2019-05-06 15:15] seanharrison commented on #1503
I'll have a go at this one.

[2019-05-06 15:17] screamingskulls commented on #768
working on it

[2019-05-06 15:33] kgriffs commented on #1509
Just came across this: https://discordapp.com/open-source

[2019-05-06 15:33] vytas7 commented on #1509
Some issues/shortcomings with the Discord solution:
* Investigate if it is possible to show the chat content without needing to login -- our discussions are open and it is nice to be able to read without needing to login
* Gitter supports login with GitHub/GitLab auth

[2019-05-06 16:28] kgriffs opened #1519 "Filter test suite warnings output by wsgiref to non-standard HTTP methods."

[2019-05-06 16:40] Ciemaar commented on #1423
I'm going to take a look at this after lunch

[2019-05-06 16:41] kgriffs commented on #1051
P.S. - We should also provide a basic layout suggestion for a project in the docs.

[2019-05-06 16:46] kgriffs opened #1520 "Add a concise app layout suggestion to the docs"
(This could be extracted from the tutorial and would provide a nice reference to people who do not want to go through the entire tutorial.)

[2019-05-06 18:02] edmondb commented on #1249
As an update as I need to pick this up at a later time...

- __Note:__ The `github` style used with Pygments in the documentation configuration was something that was required and installed via `pip install pigments-style-github`.
- Trying to compile the LaTeX using `make latex` then `make latexpdf` gives me a Unicode error that is irrelevant to this issue in the first place. That unicode characte

[2019-05-06 19:24] csojinb commented on #1507
@jmvrbanac for #3 -- do you mean a recipe for overriding the handler?

[2019-05-06 19:52] kgriffs opened #1525 "Publish updated docs for Dash"
(This is a standing issue that must be done for every release. We should automate this at some point so we don't have to it by hand all the time.)

[2019-05-06 20:59] nZac commented on #1499
Hi @sisp, thanks for the suggestions, we love hearing about how other frameworks are streamlining development for their users.

Falcon has made some design decisions which enable related API requests to be logically grouped within the same resource class. With the recent changes to 2.0 we are able to support alternative route / path pairs on the same resource using suffix. See https://falcon.readt

[2019-05-06 20:59] #1499 closed

[2019-05-06 23:24] nZac commented on #1506
@hynek, is this close to what you were talking about during our open space regarding testing?

[2019-05-07 13:14] nZac commented on #1525
This has been moved to #473.

[2019-05-07 13:14] #1525 closed

[2019-05-07 13:53] vytas7 commented on #1511
Note that this is partially overlapping with https://github.com/falconry/falcon/issues/716

[2019-05-07 14:07] jmvrbanac commented on #1507
@csojinb Sorry, I should've called that "example" or something a bit clearer instead. The idea is that this is something people end up doing more often than we thought, so just having a code example showing how a user would go about doing this.

[2019-05-07 14:08] #1461 closed

[2019-05-07 14:09] nZac opened #1532 "Explore using basic functions instead of requiring classes"
Right now Falcon requires you to use classes to define resource handlers, like this:
[code]

The community (#1455, #1499) has asked to remove the class requirement and enable direct function support.
[code]

[2019-05-07 14:10] vytas7 opened #1533 "Automate aggregation of the contributor list for release"
Walk GitHub history since the given previous release treeish, and aggregate contributors' GitHub usernames if possible, otherwise pick their name and surname, in a similar fashion to https://falcon.readthedocs.io/en/stable/changes/2.0.0.html#contributors-to-this-release (this was done by @vytas7 by a mix of manual work and scripts in REPL).

The output would be appended or linked to the change lis

[2019-05-07 15:45] jxub commented on #1350
I could help with that. Do I work against the last tag (`2.0.0rc4`), checkout directly from master or otherwise?

[2019-05-07 16:20] pbjr23 opened #1534 "Middleware process_response function is missing parameter"
The `process_response` function used in the middleware in the [readme file](https://github.com/falconry/falcon/blob/master/README.rst) and on the [quickstart page](https://falcon.readthedocs.io/en/stable/user/quickstart.html) is missing the `req_succeeded` parameter, which was introduced in Falcon 2.0.0.

It's currently written as `def process_response(self, req, resp, resource):`, but should be `

[2019-05-07 16:53] csojinb commented on #1514
Since this is relevant to the other work I did with error-handling, I can dig into werkzeug and try to figure out what's going on there. Don't promise to finish said research though 😅

[2019-05-07 17:02] afs2015 commented on #1029
Are there any existing deprecated code I am missing? Otherwise I think this can be marked as closed.

[2019-05-07 17:48] csojinb commented on #1514
[Here](https://github.com/pallets/flask/blob/1dda032b00cb4f7a783e018a7c370ee88f15e797/flask/app.py#L1678-L1682) are the relevant lines in Flask for using the most specific handler available. They have some additional levels of categorization for blueprints, or storing handlers by code instead of exception class, which don't seem relevant for Falcon.

So, basically, the error handlers are stored in

[2019-05-07 19:13] nZac commented on #1051
@phoenix911 that is cool, thanks for sharing. I noticed you organized things around Falcon concepts (hooks, controllers, middlewares) instead of app/business concepts (user, account, etc) which then contain hooks/controllers/middlewares.

Just curious if you had thoughts structuring based on app concepts?

[2019-05-07 20:15] hynek commented on #1506
Yep, something like that! Just let me set context and body/json and I should be fine.

[2019-05-07 20:55] vytas7 commented on #1350
Hi @jxub !
And that sounds great!!

You check out directly from master :+1: .
The `2.x` series supports Python 2, and type annotations don't work there.

[2019-05-07 21:31] jxub commented on #1350
@vytas7 Perfect, thanks!

[2019-05-07 21:35] kgriffs opened #1538 "Better document the primary use cases for the sink feature."
Improve the docstring and/or add some recipes showing how to implement common use cases via Falcon's sink feature.

Use cases include:

- [ ] Creating a smart proxy (could be an API gateway, or something that optimizes or redacts responses from backend, etc.)
- [ ] Migrating to a new API iteratively. Falcon handles the parts of the API that have been implemented so far, while using a sink to proxy

[2019-05-08 03:28] #1464 closed

[2019-05-08 14:18] #1375 closed

[2019-05-08 14:41] #1500 closed

[2019-05-08 16:26] jxub commented on #1350
I've created a first PR to review the API class annotations (mostly for myself) at https://github.com/jxub/falcon/pull/1. I'm planning of getting rid of these type aliases on top in the api.py file ASAP. However, some types, like the handlers, have pretty complex signatures so I have to rely on the `Any` type as well.

[2019-05-08 18:06] csojinb commented on #1514
@vytas7 I might be misunderstanding the issue here... what is the problem with having handlers associated with more than one exception? Can't you just store that as `{Exception1: handle_exceptions_1_and_2, Exception2: handle_exceptions_1_and_2}`?

[2019-05-10 21:10] velovix opened #1541 "Sending local requests to an app"
I'm considering a batching solution similar to the one used by [Gmail](https://developers.google.com/gmail/api/guides/batch) and a few others. It involves providing a new endpoint (like /api/v1/batch) that takes a `multipart/mixed` request body that has individual API requests to other endpoints. As the writer of this batching endpoint, I need a way to send requests to my Falcon app based on the c

[2019-05-11 11:51] mikeylight commented on #1508
@kgriffs I'm happy to pick up this ticket.

[2019-05-13 19:59] vytas7 commented on #1514
@csojinb No, there is no problem per se, that is what my suggestion #2 is basically aiming at.
You could store expand that to handlers in a way you depict, however, if possible, for performance reasons it would be good to keep exceptions grouped in case they sort equal on the inheritance scale.

[2019-05-14 22:46] kgriffs opened #1542 "WSGI to ASGI migration guide"
Create a migration guide to help people port their WSGI apps to ASGI. Introduce a sample app and then walk people through the migration process using that app as an example. The app should model all the essential aspects of a real-world web service, including DB, file I/O, making HTTP requests upstream, etc. that one might need to take into consideration when porting to async.

[2019-05-15 11:05] wotulong opened #1543 "How can I get session id of a request?"
I want to log  request information, but how can i get the session id of a request?

[2019-05-16 09:01] laurent-chriqui opened #1544 "Routes with trailing slash do not work under default API Options"
Hello,

It seems when using the current default for api.req_options.strip_url_path_trailing_slash which is False, adding a slash at the end of a route doesn't work.

I think I found out what the problem is.

Here is the code I tried:
[code]

The finder_src compiled function is :
[code]
We see that the code generated for both routes is the same.
The path passed to this function when calling uri: "h

[2019-05-20 04:27] nZac commented on #1544
Hi @laurent-chriqui, thanks for submitting a bug report, we really appreciate when it includes code!

I am not sure I understand what you expect. Note that, `req_options.strip_url_path_trailing_slash` controls how the `Request` segments are determined,
not how routing works, they are independent ideas.

Consider a route `add_route('/home/', HomeResc())` and `add_route('/home/{param}, Dashboard())`

[2019-05-20 04:53] nZac commented on #1543
Hi @wotulong, Great question and one we get often...

It isn't on the main docs page yet, but we have a recipe that will be published. You can find the guide here: https://github.com/falconry/falcon/blob/023e5e3446dd16ff7743f8fe8558b37ec5ecd82a/docs/user/recipes/request-id.rst

I am going to close this for now, reopen it if you have more questions or this doesn't meet your needs.

[2019-05-20 04:53] #1543 closed

[2019-05-20 04:59] nZac commented on #1541
Hi @velovix, thanks for asking.

I can't give you a full rundown of what to do, I would need to know a bit more.

At first glance this sounds like you might want to restructure some things in your app so that you could do something like this:

[code]

Would something like that work?

Also, you might want to pop onto our Gitter Users channel, https://gitter.im/falconry/user, where it is much easier

[2019-05-20 05:04] #1534 closed

[2019-05-20 08:19] laurent-chriqui commented on #1544
Hi,

Thank you for taking this issue into consideration and for exposing the reasoning behind this behavior.

It would seem that changing the option `req_options.strip_url_path_trailing_slash` would not prevent the developper to define a route ending with a forward slash. I understand the tricky part about the routes such as `'/home/{id}'` but as you pointed it out, the problem remains when the op

[2019-05-20 13:43] nZac commented on #1544
That isn't the expected behavior from my perspective. `/home/{id}` is _more_ specific than `/home/` not less so overriding doesn't seem to be a good option.

Regardless, it seems to me you want the forward-slash character to have special meaning for the router, but it doesn't. The `/` character is just for delineating route parts and we [strip the trailing slash off](https://github.com/falconry/fa

[2019-05-20 15:39] laurent-chriqui commented on #1544
You are right that the documentation should be updated if things are left the way they are because the doc leads us to believe we have the possibility to define routes ending with a trailing slash ([here](https://falcon.readthedocs.io/en/stable/user/faq.html#how-does-falcon-handle-a-trailing-slash-in-the-request-path))

[2019-05-20 16:42] velovix commented on #1541
Thank you for your suggestion @nZac! This is what I would reach for as well if I had batch endpoints that correspond to each of my regular endpoints, so..

`/api/edit_thing` would point to `EditThingResource`
`/api/edit_thing/batch` would point to `BatchEditThingResource`

However, I'm not sure if this makes sense for the style of batching I'm attempting to replicate, where a batch request has a b

[2019-05-20 16:42] #1541 closed

[2019-05-23 01:27] Coykto commented on #925
PR #1498

[2019-05-23 06:25] #925 closed

[2019-05-26 12:21] tribals opened #1546 "In `Response.set_headers` method, when receiving mappings, check for interface compliance rather than concrete class"
There is plenty of ways to implement `dict`-like behavior. In general, it is not necessary to subclass `dict` directly.

We must give the developers stable interface if he/she wants to pass their own mappings. For example, famous `requests` implements their own case insensitive `dict`-like mappnig for headers. If I pass such headers to `set_headers`, code breaks because of this check:

https://git

[2019-05-28 18:36] stmcginnis opened #1547 "get_param_as_list failing to parse list as of 2.0.0 release"
There appears to be an issue with the get_param_as_list call starting with the 2.0.0 release. With the query string containing:

    'ids=5ced7dac61a1a1461b49d567,5ced7dac61a1a1461b49d568,5ced7dac61a1a1461b49d569'

using falcon 2.0.0 the following code returns a single result:

    ids = req.get_param_as_list('ids')
    LOG.error('"ids" param as list: %s', ids)

With 2.0.0:

    "ids" param as lis

[2019-05-28 19:26] stmcginnis commented on #1547
Tracked down to this being the cause:

https://github.com/falconry/falcon/commit/93cd3e6906e62a753621e87feaee2f3845a5696f

Have to agree with the bug report comments that this change is a little counter-intuitive. It's also not clear in the change log how this impacts other method calls, hence my reading through and not finding anything that looked like it would be the root cause for the issue I w

[2019-05-29 19:55] shimakaze-git commented on #1410
I'll do it myself because I think it's easy task.

[2019-05-29 22:07] alekhrycaiko opened #1548 "Resources should be able to support multiple hooks."
We've come across an issue where only a single falcon hook is applied at a given time; overriding previous hooks. It'd be great if resource endpoints supported multiple falcon hooks.

We also noticed that hooks are overriding each other silently. It'd be great if this was a noisier event (for developer convenience).

[2019-05-29 22:08] ryanisnan commented on #1548
:+1:

[2019-05-30 08:59] vytas7 commented on #1548
@alekhrycaiko @ryanisnan thanks for the bug report!

Could you provide an isolated example where this is happening? Are you applying hooks to the whole resource class, or its responder methods?

In either case we have quite extensive unit tests for applying multiple hooks, so there must be something non-trivial we missed there.

Thanks in advance!

[2019-06-02 12:21] fengyong opened #1550 "Adding many routes to CompiledRouter is slow (takes O(n^2) time)"
i have about 400 api route to add
falcon compiles method “find” each time and slower as the count grows
it slows down hug booting
does anyone else have same problem？
i made a patch to fix it，but not very elegent，
i wish there will be a better solution

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-03 06:46] KalidindiMounika opened #1551 "Falcon for multiple sessions"
I am unable to run multiple sessions at a time using Falcon API. How can I enable multithreading using falcon.
Please suggest me.

[2019-06-03 16:16] julioasotodv commented on #1358
+1 for this. If Falcon supported natively Async requests using ASGI, it would become my go-to framework for almost everything web-related.

[2019-06-04 16:17] Gorbus opened #1552 "Falcon app on AWS lambda ?"
Hi,

I have a little api working locally thanks to falcon and it can connect to my AWS RDS postgresql database. It is mainly a GET API as I already have the data I need in the database but need them to be accessible.

The code is not really relevant for the question except that I need to import two packages :

import falcon
import psycopg2

and I am using gunicorn to run it locally.

So far so goo

[2019-06-04 16:34] vytas7 commented on #1552
Hi @Gorbus ,
I have admittedly never tried this combination myself, but FWIW @jmvrbanac has done some basic protyping on Lambda :arrow_right: WSGI adapter for Falcon: https://github.com/jmvrbanac/falcon-lambda . Hopefully this could serve as inspiration!

Furthermore, do not hesitate to ask questions/share insights on our Gitter channels: https://falconframework.org/#sectionCommunity

Kindly,
Vyta

[2019-06-04 18:23] jmvrbanac commented on #1552
@Gorbus It's been awhile since I ran Falcon on Lambda as I'm no longer on a project that requires it these days. However, when I did, I was able to use the `falcon-lambda` package to handle most of the interaction issues. Here is a quick and dirty example of how you would hook it up in the lambda handler:

[code]
API Gateway Definition:
[code]

From there, I believe the biggest annoyance going for

[2019-06-05 06:43] Gorbus commented on #1552
Hey to both of you,

Thank you for your quick answer, I can see Falcon is a very nice and active community.

Unfortunately my knowledge in python and lambda are very low, I was hoping there would be a library that would do the hard work (including packaging) for me just as claudiajs does it for lambda in nodejs.

I guess I'll have to give up on the lambda solution and go for a vps or anything else

[2019-06-05 23:23] uriva opened #1553 "pylint fails on use of constants in falcon 2.0.0"
Running pylint on a file that imports falcon and uses various constants fails.

Example handler:
[code]

However it doesn't fail for stuff like `falcon.API`.

Any ideas?

[2019-06-05 23:43] kgriffs commented on #1547
Thanks for raising this issue. I'll schedule it for 3.0 so we can be sure to make a decision on this.

[2019-06-06 09:38] vytas7 commented on #1553
Hi @uriva !
`pylint`, particularly with its default settings, can be perceived as extremely picky and opinionated. Probably that has contributed to the rise of `flake8` (==`pep8` + `pyflakes`) popularity.

OTOH, I think I can see what `pylint` means in this particular case. We should probably define a proper `__all__` specifier for the `falcon` module, that specifies all the public constants and f

[2019-06-06 17:40] uriva commented on #1553
I couldn't agree more about pylint and its maintainers...

[2019-06-07 15:30] monsieurTut opened #1554 "Test described in tutorial fails"
I am completely new to falcon and decided to introduce myself to it by following the tutorial from the official documentation. Sadly, I am stuck in chapter [Refactoring for testability](https://falcon.readthedocs.io/en/stable/user/tutorial.html#refactoring-for-testability) because one of the test fails (while it shouldn't according to the tutorial)!

After refactoring `look/app.py` and updating `t

[2019-06-07 19:10] kgriffs commented on #1546
That makes sense. In fact, we could be even more lenient and just check whether the object implements `items()`. Regardless, the docs also need to be updated. We should also grep the code for `isinstance()` and see if there are other places that could use a similar treatment.

[2019-06-11 22:43] jceresini opened #1555 "Falcon returns HTML on unhandled exceptions"
When an unhandled exception is raised, falcon returns HTML. For a framework that aims to make writing APIs simpler, I would think it should never return HTML unless explicitly configured to do so. We were able to setup an error handler to solve the issue, but should the default behavior be to send either JSON or XML back for unhandled exceptions?

I'm using falcon version 2.0.0

Simple example:

[