[2015-11-26 23:30] lucifersteph commented on #657
@philiptzou Thanks mate I will check it now :)

[2015-11-26 23:30] #657 closed

[2015-12-01 20:49] yohanboniface opened #667 "Split create_http_method_map?"
The helper `create_http_method_map` does three things:
1. extract responders from a resource
2. add a default OPTIONS responder if not set
3. patch method map to add 405 responders for non supported verbs

This prevent from using the 2 and 3 when we don't need 1, for example when we take control over routing.

I suggest to split this helper in two, `create_http_method_map` in one hand, that would

[2015-12-01 20:59] #627 closed

[2015-12-01 21:10] yohanboniface opened #668 "Allow to customize not_found responder"
AFAIK, there is [no way](https://github.com/falconry/falcon/blob/5fcfbd7d095d88d88027047998850f3503300ab8/falcon/api.py#L499) now to customize the responder when a request has no registered responder.

I suggest registering this responder as falcon.API attribute (so it's easy to override it when inheriting from falcon.API) and/or allowing to pass it as init kwargs (of course defaulting to `falcon.

[2015-12-02 08:08] yohanboniface commented on #262
To be closed? :)

[2015-12-02 15:29] jmvrbanac commented on #262
@yohanboniface Yup! Thanks for bringing this up!

[2015-12-02 15:29] #262 closed

[2015-12-02 15:43] jmvrbanac commented on #552
I think we have an answer here, but I'll just toss in my two cents anyhow. Personally, I would run two separate servers. Usually, the scalability needs are different between your API and frontend. I would also say that the ideal tooling is different as well. Personally, most of my deployments involve using gunicorn for serving Falcon, but Nginx in front of it to handle TLS connections and any stat

[2015-12-02 15:43] #552 closed

[2015-12-02 15:46] kgriffs commented on #552
@jmvrbanac perhaps we should open a documentation issue to capture this for posterity?

[2015-12-05 04:58] majj commented on #616
It's works on Win 10 without cython

[2015-12-05 04:58] #616 closed

[2015-12-08 17:23] eric-tucker opened #672 "request.stream.read() returns the POST body wrapped in another set of quotes, thus cannot pass directly to json.loads (string is escaped)"
I honestly have no idea how the example given here:
http://falcon.readthedocs.org/en/latest/user/quickstart.html
works:

[code]

When I do request.stream.read() I end up with a string that is escaped:

[code]
This gives me something like:
[code]

I tried flask and I do not see this behaviour.  The JSON object returned by flask (calling request.json) is a perfectly acceptable JSON string that passe

[2015-12-15 05:15] lucidfrontier45 opened #673 "Accessing current application"
Does falcon provide something like `current_app` of Flask?
I need to add some global objects (DB e.g. connection object) to an instance of falcon.API and access them from `on_get` etc.

[2015-12-16 17:49] jmvrbanac commented on #673
For the example of working with a DB, I usually create a DB Manager class with my common interactions abstracted and then pass it in when I instantiate a Falcon resource. This usually makes the resource much easier to test because you're not having to manage external state for your tests.

[2015-12-17 17:40] bcthomas commented on #672
Hi @eric-tucker

I am not sure I understand your problem and without seeing the exact code you are running, it's hard to tell. However, I modified the quickstart falcon script you reference to add in some print statements around the code you mention.  I cannot recreate your symptoms (using either py2.7 or py3.5)...

[code]

[code]

[code]

modified script attached.

[testfalcon.py.txt](https://git

[2015-12-21 20:13] #544 closed

[2015-12-22 12:07] philiptzou commented on #564
@admiralobvious #647 has been merged. Please check if this fixed your problem.

[2015-12-23 13:30] yohanboniface commented on #16
I may work on this, if it's still on track.
Two questions:
- do you agree on keeping pytest facilities as a third-party plugin (as in https://github.com/yohanboniface/pytest-falcon) ?
- do you feel comfortable with this kind of function based tests: https://github.com/etalab/ban/blob/master/ban/tests/http/test_api.py?

Basically, I think such move should take two steps:
- switch to pytest as test

[2015-12-25 00:28] lucidfrontier45 commented on #673
thank you. I'm working on this way

[2015-12-25 00:28] #673 closed

[2015-12-25 16:15] michaelgugino commented on #668
I'm not 100% sure, but I think this is addressed with https://github.com/falconry/falcon/pull/655

[2015-12-25 16:20] yohanboniface commented on #668
@michaelgugino not sure either ;)
My point is to have a custom behaviour when a path is not found (not talking about some resource raising a 404). How would I achieve that with your PR?

[2015-12-25 16:28] michaelgugino commented on #672
@eric-tucker request.stream is a buffer object passed in by the WSGI server.  It is not necessarily json data that is waiting in that buffer, thus you should not expect it to print as clean json without first using json.loads().

Most likely, flask or other frameworks have implemented a method similar to
`body = request.stream.read()`
 `request.json = json.loads(body)`

falcon does not provide thi

[2015-12-25 16:48] admiralobvious commented on #564
@philiptzou it did indeed. Cheers!

[2015-12-25 16:48] #564 closed

[2015-12-26 00:09] michaelgugino commented on #668
When an error is raised, behavior can be overridden with `app.add_error_handler()` See README.md "A More Complex Example" https://github.com/falconry/falcon#a-more-complex-example

Otherwise, without that PR, a 404 response with an empty body will always be delivered.

[2015-12-26 01:41] eric-tucker commented on #672
It was a long time ago when i was looking at this (and I've since abandoned trying to get a python REST API running under WSGI due to issues with nearly every framework I tried) but from what I recall, I was simply constructing a dictionary object, passing to to the requests module as the json payload, and then calling my API endpoint.

What I would see on the other end was that the request stream

[2015-12-26 07:58] dderiso opened #677 "HTTPFound error"
falcon.HTTPFound('http://www.google.com/')
throws
AttributeError: 'module' object has no attribute 'HTTPFound'

[2015-12-26 08:11] dderiso commented on #677
this workaround solves it
[code]

[2015-12-26 15:33] bendemaree commented on #677
Not all HTTP status "shortcuts" are available in the top-level namespace; `HTTPFound` is [not among them](https://github.com/falconry/falcon/blob/master/falcon/errors.py).

You could try:
[code]

On `master`, `HTTPStatus` is [in the top-level namespace](https://github.com/falconry/falcon/commit/e0e391d422cbe45a3ef97f8f960a2e40a0a05c19):

[code]

[2015-12-27 17:09] bcthomas opened #678 "How to write a test for an empty body in a POST?"
Hi,

I'm trying to write some pytest tests for my falcon API. I'm using the following middleware for JSON translation:

[code]

I'm having difficulties figuring out how I can test the indicated block.  Does anyone have a suggestion/example?

What I have so far for testing this middleware is below, which sets up the resource and tests the first condition ("content length is 0")...
[code]

Thanks!

[2015-12-27 17:54] yohanboniface commented on #678
Humm, but how would you have an empty post body with content_length!=0?

*BTW a suggestion that may help: switch to pytest and https://github.com/yohanboniface/pytest-falcon, that exposes a (imho) simpler and cleaner test API.
See for example https://github.com/etalab/ban/blob/master/ban/tests/http/test_api.py*

[2015-12-27 18:01] bcthomas commented on #678
Good point - I'm just using the falcon example (I think that's where I got the JSONTranslator middle) and was thinking about how to cover it well with tests.  But I think empty posts are acceptable HTTP.

[2015-12-29 01:32] #612 closed

[2016-01-06 16:50] ourway opened #682 "HTTP Status code 429 implementation"
I need to use 'HTTP_429' (Too many requests) and seems it's not available.

example [echonest api](http://developer.echonest.com/api/v4/artist/search?callback=jQuery17107607511761598289_1452098787603&api_key=FILDTEOIK2HBORODV&format=jsonp&bucket=terms&bucket=biographies&name=jack)

It might be useful to add  `falcon.HTTPTooManyRequests` or something like this.

[2016-01-06 17:07] #682 closed

[2016-01-08 01:53] smcclstocks commented on #212
+1 as well

[2016-01-10 17:08] butla commented on #16
I totally think that testing without test classes (so essentially easy support for pytest) should be supported. @yohanboniface pytest-falcon looks cool, but I went with something really minimalistic and unopinionated with my project (with the thought of merging it into Falcon):

[code]
With the function above you can create helpers or partial functions that have some common defaults (encoding='utf

[2016-01-11 12:24] gnomeby commented on #617
Yes in falcon 0.2 comma and escaped comma (%2C) worked in the same way. In 0.3 it is not true anymore. But it is not bad because:
When you are going to use comma as the part of value, you escape it. When you are going to use comma as the separator in value, you not escape it. In most cases you don't need to escape commas at all.

[2016-01-13 10:47] Gesias commented on #639
I´m using repool connection pool and handle the inject & release with middleware. Works very well thus far.

[2016-01-13 11:11] yohanboniface opened #684 "Also convert '1' and '0' as booleans from query string"
I see that [tests](https://github.com/falconry/falcon/blob/master/tests/test_query_params.py#L194) specifically exclude `0` and `1` from valid values to be converted to boolean by `Request.get_param_as_bool` method.

I'd like to discuss this situation :)

I see no reason not to convert those values as they seem non ambiguous to me and there are a bunch of situations where 1 and 0 are de facto bool

[2016-01-13 12:00] Erve1879 commented on #684
+1 for supporting 1 and 0 for true and false.

It may not necessarily be standard (I'm not a Swift dev, so could be wrong either way), but I do see Swift apps sending 1 and 0 as ints for bool in HTTP GET requests.

[2016-01-13 13:36] swizzard commented on #684
I'm +1 on this also...FWIW, Facebook's Graph API also uses `1` and `0` for
true and false.

On Wed, Jan 13, 2016 at 7:00 AM, George Irwin <notifications@github.com>
wrote:

--
.

[2016-01-13 14:55] Gesias commented on #658
:+1: for this one, @yohanboniface your BaseCollection thing will have to do for now thanks for the tip!

[2016-01-15 17:31] yohanboniface commented on #469
I needed multipart support for a project of mine, so I moved out and packaged @kgriffs suggestion on a very simple plugin: https://github.com/yohanboniface/falcon-multipart

It works for my current use case and tests, but there is not guaranty it will work for yours ;)
Usually, multipart parsing is a black box I just need to call from outside, so I'm moving forward step by step. But hey, better th

[2016-01-15 18:31] alertedsnake opened #687 "resp.location double-encodes urlencoded strings"
I've got a URL which contains a url-encoded URL as a parameter, and when setting resp.location, that results in it being double-encoded:

resp.location = "http://something?redirect_uri=http%3A%2F%2Fsite"

This should result in:
Location: http://something?redirect_uri=http%3A%2F%2Fsite...

But what actually happens is:
Location: http://something?redirect_uri=http%253A%252F%252Fsite

I worked around

[2016-01-16 16:45] berlotto commented on #645
API Versioning will be a awesome feature in Falcon.

[2016-01-19 09:11] Gesias commented on #639
@MackYoel Sure thing, tried to write it down here but this Markdown syntax is killing me, will put up a public file instead for reference. Also, I´ve implemented the Remodel project also to have access to an ORM when needed. It does have a connection pool built in actually. I have both now because I like to have a bit of control.

[2016-01-20 01:35] RonRothman opened #689 "Missing Content-Type on 404 Response"
Greetings,

I've started [testing my webapps with wsgiref.validate](http://blog.dscpl.com.au/2015/05/returning-string-as-iterable-from-wsgi.html), and discovered that Falcon's 404 responses (and possible others) don't conform to the WSGI spec.  The `Content-Type` header is required but not present.

This script demonstrates:

    import falcon
    from webtest import TestApp
    import wsgiref.val

[2016-01-20 10:52] truyet opened #690 "How to add a uri template pattern and control it in resource?"
I have a example case:

resource:
import falcon

class Resource(object):

    def search(self, req, resp):
        resp.body = '{"message": "Hello world!"}'
        resp.status = falcon.HTTP_200

add resource to route
api = application = falcon.API()

api.add_route('/resource', Resource())

How to setup falcon while I request to uri: /resource/search -> redirect to function search in resource ?

[2016-01-20 20:25] kgriffs commented on #689
Hi @RonRothman, thanks for the report. I was able to reproduce this for 404 and 204, as well as a 100 (although strictly speaking, a WSGI app probably shouldn't ever return a 100 status). Based on my understanding of the HTTP RFCs, the Content-Type isn't strictly required in these cases, but I supposed it doesn't hurt anything if we want to include it in order to pass the wsgiref validator.

`falc

[2016-01-20 22:21] kgriffs commented on #469
@yohanboniface cool, thanks for sharing! Would you mind posting to the mailing list as well to help loop in more members of the community?

[2016-01-21 20:07] #588 closed

[2016-01-22 15:54] foresmac opened #691 "`api.__call__()` will call `process_resource()` even if routing fails"
Run into a strange bug that a middleware was failing, and traced it back to this unusual anomaly which we found in comments on `api.py`:

[code]

It's not documented in the middleware documentation that this is the behavior, but it also seems odd since every `process_resource()` would then have to start with `if resource is not None`. If routing fails, why not immediately raise `HTTPNotFound`?

[2016-01-22 16:01] foresmac commented on #639
We've been using a pretty simple middleware that works well for us since we do everything with stored procedures and don't use an ORM:

[code]

`database_connection()` is a pretty simple function that connects to a Postgres db using `psycopg2`, but it could basically be anything that returns a DBAPI connection object. Then we get a cursor for each resource and close the cursor after the response i

[2016-01-23 04:30] MackYoel commented on #690
It seems what you want is to manage your resources as a MVC pattern. If you understand the principles of REST architecture and still want to implement what you asked, you could do the following:
And of course I do not recommend you do it!
<pre>
class Resource:
    def __init__(self):
        self.methods = {
            'search': self._search,
        }

    def _search(self, req, resp):
        r

[2016-01-23 04:33] MackYoel commented on #690
It seems what you want is to manage your resources as MVC pattern. If you understand the principles of REST architecture and still want to implement what you asked, you could do the following:
And of course I do not recommend you do it!
<pre>
class Resource:
    def __init__(self):
        self.methods = {
            'search': self._search,
        }

    def _search(self, req, resp):
        res

[2016-01-23 04:50] MackYoel commented on #691
good point, but I can think that this behavior could help decide how to handle the situation, for example recorded in a log which are commonly URIS Requested and not founded.
However write <pre>if resource is not None</pre> in each process_resource seems annoying.

[2016-01-23 04:50] MackYoel commented on #691
Good point, but I can think that this behavior could help decide how to handle the situation, for example recorded in a log which are commonly URIS Requested and not founded.
However write <code>if resource is not None</code> in each process_resource seems annoying.

[2016-01-23 04:52] MackYoel commented on #691
Good point, but I think that this behavior could help decide how to handle the situation, for example recorded in a log which are commonly URIS Requested and not founded.
However write <code>if resource is not None</code> in each process_resource seems annoying.

[2016-01-26 02:22] rikuayanokozy commented on #654
[code]

The test is work fine with latest code.

[2016-01-27 17:22] kruchone commented on #684
+1 on that... I would also like to see the True and False python boolean types added as well (for use with the json module).

[2016-01-27 19:45] isaacmediacore commented on #678
I've found you can get an empty body by passing `body=bytearray()`.

[2016-01-28 03:07] asonnenschein opened #694 "How to pass POST params in test?"
Howdy!  I'm building a REST API w/ falcon and am trying to write a POST test that spoofs an HTML form and can't quite figure out what I'm doing wrong here.

In this example -
[code]
The test fails with this error:
[code]

If I pass the body in as a string literal instead of a dict(), I don't get any errors but the request doesn't parse out the body as params - I've got to parse the body manually v

[2016-01-28 03:23] asonnenschein commented on #694
OK, figured this one out - I had a look at the pytest-falcon code by @yohanboniface  and figured out what I was doing wrong here.  I didn't add the correct 'Content-Type' header and I didn't encode the body!

[code]

[2016-01-28 03:23] #694 closed

[2016-01-28 06:51] suhas-babyoye opened #695 "Falcon app running very slow on wsgi servers"
I apologise in advance if this is an inappropriate place to post this. I developed a falcon app using the wsgi simple_server and everything was working fine. I am using multiprocessing and I used a BaseManager implementation to keep some memory and objects available to all processes. When I started using production servers, I observed some very alarming drop in response times. I have tried using g

[2016-02-01 06:42] skymoney opened #699 "Http Error return JSON format"
in a middleware, If an Error is raised, always return xml format info to client,
so any settings to return json format info, or do I need to customize ?

[2016-02-01 14:50] MackYoel commented on #699
I am not an expert, but python-mimeparse do that for you, it chooses a content-type according to client request. So if you do a request in the browser and this raise an error, you will get a XML representation, but if you do the request through Postman Client or any client that Accept application/json, you will get a JSON representation.
However you can change the behaviour and do Falcon always us

[2016-02-01 14:55] skymoney commented on #699
yeah, I've already fix it by customizing a component to pre-check request,
Still, what you said is a good solution, thanks a lot.

[2016-02-01 15:03] #699 closed

[2016-02-02 23:14] thenano commented on #303
I'm also very keen on this feature, just wondering if there's a specific version I can use or a target release for it, and some documentation on how to use it?

Thanks!

[2016-02-02 23:15] kgriffs commented on #303
@lwcolton Can you give us an update?

[2016-02-02 23:19] soso25 commented on #628
Hello,

it 's been almost a day I try to run my function "regina.py", but I can not get this makes me errors like this:

import regina.py
Traceback (most recent call last):
File "", line 1, in
File "/Applications/PyCharm CE.app/Contents/helpers/pydev/pydev_import_hook.py", line 21, in do_import
module = self.system_import(name, args, *kwargs)
File "/Users/Sokhna/Documents/mgp-test-i11vf/regina.py"

[2016-02-03 16:13] kgriffs opened #701 "Add support for application/problem+json"
Consider adding experimental support for this in HTTPError:

https://datatracker.ietf.org/doc/draft-ietf-appsawg-http-problem/?include_text=1

Generally speaking, we need to start thinking about a nice way to label certain features as "experimental" to give them a chance to evolve according to community feedbacks and for RFCs on the standards track.

[2016-02-03 16:15] kgriffs commented on #689
I put of a proof of concept that includes a fix: #698

[2016-02-03 19:56] kgriffs opened #702 "Path segment in one route's URI template masks the field expression in another route"
The following test demonstrates the issue. The assertion fails since the resulting status code is 404, rather than 200. "/v2.0/thing" should route to `/{version}/thing` instead of `/v2.0`.

[code]

[code]

[2016-02-04 08:52] ahmedkamalabulinain opened #703 "How to use falcon with lighttpd?"
I'm using lighttpd on my server. I'm using cgi for one subdomain. However, i've been trying to configure the a subdomain for the server api such that it's api.dns.com. However, I can't seem to find any documentation on falcon that explains how to set it up with lighttpd.

I've tried to follow Flask's instructions with falcon, but everything I do seems to crash the other subdomains. But still, the

[2016-02-05 18:33] kgriffs commented on #628
@soso25 Just to be sure this isn't related to PyCharm, are you able to reproduce the problem by opening up a terminal command line and executing your app directly? If you have a module file that declares an instance of `falcon.API()`, you can self-host it to easily for a quick test, per this example:

https://gist.github.com/kgriffs/32768653b9173df00047

[2016-02-05 20:02] soso25 commented on #628
Thank you @kgriffs I think it's due to the Mac OS X  because I've fixed it by using Pycharm on Windows 8.1 and also changing Python version. On my Mac I have the 2.7.10 version. Until now, It seems to be OK with the 2.7.11 version on Windows.

Thanks

[2016-02-08 22:36] #621 closed

[2016-02-11 15:30] jgehrcke opened #704 "Passing max_age as float instead of int to set_cookie(), no cookie will be set"
When using `response.set_cookie()` and passing the `max_age` parameter as a `float` instead of an `int`, the cookie will not be set in the response (that's Python 3.4 and Falcon 0.3.0).

It's clearly documented in the docstring of the `set_cookie()` method that this parameter is expected to be an `int`, so I spotted the problem rather quickly after re-reading the docs. However, either a raising an

[2016-02-11 15:31] jgehrcke commented on #704
I'd also be happy to provide a PR if we decide to change this behavior.

[2016-02-11 17:12] wbaelen commented on #667
This sounds like a very good direction.

[2016-02-11 19:11] rose commented on #607
this is a problem again - looks like the fix was removed in 409194915f

[2016-02-12 20:27] ddxgz commented on #639
I've used `peewee` with Falcon in a small project, in a way like `Django`. Though it didn't bother me, I'd like to see some more examples.

[2016-02-17 17:09] #590 closed

[2016-02-17 17:45] kgriffs commented on #704
I don't think it would harm anything to simply convert it to an int. Happy to take a PR for this change.

[2016-02-17 17:57] kgriffs commented on #703
Hi @ahmedkamalabulinain, I personally haven't tried hosting a WSGI app with lighttpd. I did find this: http://werkzeug.pocoo.org/docs/0.11/deployment/fastcgi/

Another option is to proxy to uwsgi or gunicorn or [twisted](https://gist.github.com/kgriffs/4cca88ed635483930d21).

[2016-02-17 18:05] kgriffs commented on #695
If you are fronting simple_server with nginx you should be OK.

[2016-02-17 23:59] kgriffs commented on #691
It would be easy enough to skip `process_resource()` when no route is found. A sink could still be used to take action in that case, if desired. All that's needed is an `if resource is not None:` above [api.py#L181](https://github.com/falconry/falcon/blob/master/falcon/api.py#L181).

[2016-02-18 00:32] kgriffs commented on #690
As @MackYoel alluded to, what you have in mind is more along the lines of an RPC architectural style, as opposed to REST. The default router in Falcon was designed with REST in mind, with resources as the central focus, relying on a uniform interface of headers, methods (GET, POST, etc.), etc. to facilitate state transitions for those resources.

That being said, it is possible to use a [custom ro

[2016-02-18 03:50] foresmac commented on #691
@kgriffs This seems like a sensible change and I support it.

[2016-02-18 06:05] dukedougal opened #709 "Can Falcon dispatch to a callable based on any property of a request, not just request method (GET/POST etc)?"
accept headers, cookies, query strings, etc.

[2016-02-18 09:24] truyet commented on #690
Thanks @MackYoel

[2016-02-18 11:18] Miserlou opened #710 "CLI Interaction with Falcon?"
Is there a preferred method for interacting with Falcon from the CLI? Like django's "Mange.py" or Flask's Flask-CLI?

[2016-02-18 12:58] jgehrcke commented on #704
See PR #711. After more investigation, the cookie actually was set in the response, with the floating point value to max-age. This violates RFC 6265, so that the cookie parser I used (the `requests` lib) simply ignored the entire cookie.

[2016-02-18 16:03] kgriffs opened #712 "Add a tox env for building docs"
...and document in CONTRIBUTING.md and contribute.rst

Also consider adding a travis job to fail on doc errors.

[2016-02-18 19:00] MackYoel commented on #702
someone is working to fix this bug?

[2016-02-19 04:15] suhas-babyoye commented on #695
Thanks. I managed to get equivalent performance with gunicorn. Plus it has multiple process support too. I am using it with nginx for reverse proxy.

[2016-02-19 04:15] #695 closed

[2016-02-21 02:41] eukaryote commented on #578
I also would prefer case be preserved and was surprised by this.

[2016-02-23 22:32] fxfitz commented on #712
I can grab this.

To build docs right now, are you using just `make html`? Or `sphinx-build -b html <...>`? Or any special sauce?

[2016-02-23 23:57] luanalbineli opened #713 "Implement CORS"
Hi Falcon Team,

It's my first time using this API, and I'm having a problem with CORS.
I implemented it using a middleware with a process_request:

[code]

But when an error occurs (an internal server error, like a key beeing accessed not existing in the dict), my custom header (to allow CORS) is not sent with the response error (500).

Am I doing something wrong?

Thanks,
Luan.

[2016-02-26 00:35] dgonzo commented on #713
@luanalbineli not sure if you already found this but I've been tackling similar and found this:

[falcon-cors](https://github.com/lwcolton/falcon-cors)

With the reference implementation of CORS happening here:

https://github.com/lwcolton/falcon-cors/blob/master/src/falcon_cors/__init__.py#L230

@lwcolton appears to be doing a solid job.

[2016-02-26 10:53] luanalbineli commented on #713
Hi @dgonzo ,

Thanks for your reply.
I think that I did not explain my problem right. I used falcon-cors/custom headers, but the problem is when an error raises in the middle of the request process. For example, when I try to access a key in a dict without check if the key really is there, an error raises, and falcon does not give back the falcon-cors headers/custom headers of the response. Conseq

[2016-02-26 15:21] lwcolton commented on #713
@luanalbineli I think what @dgonzo meant is that I have released a semi-official falcon-endorsed CORS package to handle CORS.  Before asking for help from me or the falcon framework, you should replace your custom CORS code with the falcon-cors package.  Make sure to read the documentation.  If you are still having a problem afterwords I will be able to help you troubleshoot it.

[2016-02-26 17:39] luanalbineli commented on #713
Hi @lwcolton , thanks for your reply.

As i said, i used falcon-cors, but it gives me the same result: when an unexpected error ocurs, falcon does not append the access-control-allow-origin header in the response.

[2016-02-26 20:53] kgriffs commented on #710
Hi @Miserlou, I'm not aware of an equivalent in the Falcon ecosystem (yet). But I'd be happy to get behind a falcon-cli project if there's interest in the community.

[2016-02-26 21:07] swistakm commented on #713
@luanalbineli this is the common issue for any of the application-level implementations of CORS. Usually it does not make a problem for people since failed XHR request response is useless in the same way as a it is when proper `access-control-*` headers are missing. Usually people forget that if CORS headers are not added to error response too, it makes a lot harder to debug issues on the browser.

[2016-02-26 21:18] kgriffs commented on #687
Hi @alertedsnake, thanks for the report. I agree that `resp.location` should be smarter about this. Work on Falcon 0.4 is wrapping up, but I've scheduled this bug fix for the following release.

[2016-02-29 03:12] stevelle commented on #702
Adding that order of routes being added does not work around this. I just ran into this bug this week with the following

    app.add_route('/recipes/{activity}/{type_id}', ActivityResource())
    app.add_route('/recipes/baking', RecipeBakingResource())

[2016-02-29 20:42] kgriffs commented on #578
Prioritizing for 1.0

[2016-02-29 21:50] kgriffs opened #716 "Flesh out the contributor's guide"
CONTRIBUTING.md should be the TL:DR version of what is published on RTD. The former should include a link to the latter.

Content to include (in no particular order):
- Project philosophy and scope
- Voting / review process
- Your first PR
- Code coverage
- Every bug fix requires a regression test
- Design principles (both general ones, and Falcon-specific)
- Benchmarking and profiling
- Intellect

[2016-02-29 21:51] kgriffs opened #717 "Create an ecosystem guide"
Add an ecosystem guide to the docs. Should mention community add-ons, when something belongs in the core and when not, etc.

[2016-02-29 22:31] kgriffs commented on #418
For 0.4, I'm considering adding an an option to `RequestOptions` to enable/disable parsing form params as currently implemented. It would be disabled by default (breaking change, but easy to work around). Thoughts?

[2016-02-29 22:37] kgriffs commented on #418
To be clear, this would simply be a short-term measure while we sort out a long-term solution.

[2016-02-29 22:55] kgriffs commented on #709
Currently `API._get_responder()` looks up the responder  based on the path and HTTP method in the request. You could inherit from `API` and override `_get_responder()` to make it more flexible. Depending on what you need to do, a sink may also work.

[2016-02-29 23:05] kgriffs commented on #678
@bcthomas To force content-length to be non-zero when setting body to an empty string, you can explicitly specify Content-Length in the `hdrs` list that is passed to `self.simulate_request(...)`.

[2016-02-29 23:09] dukedougal commented on #709
OK.  Although it would be nice if it was kinda built in as a core feature without need to do sinks or overrides.

[2016-03-01 01:06] kgriffs commented on #672
Hi @eric-tucker, based on what I know of the source code, the Falcon framework itself doesn't perform any extra escaping on the incoming request body. Just to be sure, I ran the following app under Python 2.7 with Falcon 0.3:

[code]

Then I used requests to do a simple POST:

[code]

Meanwhile, the terminal running the app printed out the following:

[code]

I'm going to go ahead and close this f

[2016-03-01 01:06] #672 closed

[2016-03-01 01:16] kgriffs commented on #668
Just to clarify, before @michaelgugino's patch was merged, the framework would use a default responder when no route was found for the request. That default responder set the resp status to 404, rather than raising an error. With @michaelgugino's patch, the framework now raises an instance of `HTTPNotFound`. This can be caught using a custom error handler. I'm working hard to get 0.4 out the door

[2016-03-01 10:44] jf86 commented on #645
+1

I'm trying to figure out how to implement versioning in a clean way and I don't find any solution...
Any ideas?

[2016-03-01 20:21] michaelgugino commented on #703
Falcon is WSGI.  I would recommend taking a look at https://redmine.lighttpd.net/projects/lighttpd2/wiki/Howto_WSGI

[2016-03-02 22:29] kgriffs opened #719 "Add an option to RequestOptions to toggle parsing of form params"
Add an option to RequestOptions to enable/disable parsing form params as currently implemented. It would be disabled by default (breaking change, but easy to work around). This would mitigate the problems people have experienced re the request stream being automatically slurped when the POSTed content type is `application/x-www-form-urlencoded`.

This would not preclude working on a longer-term st

[2016-03-02 22:46] kgriffs commented on #667
Sounds reasonable. The second method might be called `set_default_responders` or similar.

[2016-03-02 22:47] kgriffs commented on #663
Thanks for the report! I scheduled this as a documentation fix for 1.0.

[2016-03-02 22:51] kgriffs commented on #654
I believe this is fixed now in master and will go out in the 0.4 release. Please reopen if you find this is not the case. Thanks!

[2016-03-02 22:51] #654 closed

[2016-03-02 22:56] kgriffs commented on #648
The regex approach may prove more flexible (afford more functionality). However, before moving forward I'd like to see some concrete examples of what types of use cases such a feature would serve, that isn't already covered by using a sink. Just to make sure we design this in the right way.

[2016-03-02 23:25] #689 closed

[2016-03-03 00:33] kgriffs commented on #702
I'm working on this. Hoping to get it in for 0.4.

[2016-03-03 16:12] kgriffs opened #724 "Fix doc warnings"
Doc builds currently issue a number of warnings. I think it would make sense to resolve those, and then add a Travis check that fails if any additional warnings are ever introduced.

[2016-03-03 16:43] #712 closed

[2016-03-03 20:41] kgriffs commented on #702
@stevelle, @MackYoel if you could try out #723 to see if it fixes the issue for you (without creating any new ones!), I'd love to get your feedback. Thanks!

[2016-03-03 23:22] kgriffs commented on #77
Superseded by #145

[2016-03-03 23:22] #77 closed

[2016-03-03 23:22] kgriffs commented on #645
I'd like to get a better idea of how everyone envisions their resource classes being implemented to elegantly support a versioned API, and then work back from that to see what additional affordances the framework might require to support that design.

Currently, you can do some things by implementing a middleware `process_request()` method that rewrites the path (based on a header or incoming path

[2016-03-04 00:21] kgriffs commented on #630
@philiptzou I think that design could work. But you're right, this would be a breaking change. Are there other interfaces in the framework that we should also consider changing along these lines, to be consistent?

Re performance, in this case the method is only called once, when `API` is instantiated, so passing in a tuple for that reason doesn't improve your app's performance. However, convertin

[2016-03-04 00:32] kgriffs commented on #644
@philiptzou Would you mind breaking out your last suggestion re "What You Set is What You Get" to another issue so we can discuss it separately?

As for whether these properties should support a single argument or a list of items, there are several interfaces in the framework that do this. So there would be some precedent for adding it in this case as well. However, I think that pattern may have b

[2016-03-04 21:09] #326 closed

[2016-03-05 00:42] #719 closed

[2016-03-05 23:54] berlotto commented on #645
For a while, I did this:
import all classes and create the objetcs for the endpoints, and after, create the routes:
/v1/<endpoint1>
/v2/<endpoint1.1>
Simple, but not mutch fast.

[2016-03-09 16:36] jf86 commented on #645
According to various resources that I've read, the recommended way to use API versioning is through Accept Header
http://www.troyhunt.com/2014/02/your-api-versioning-is-wrong-which-is.html
http://stackoverflow.com/questions/972226/how-to-version-rest-uris
http://www.django-rest-framework.org/api-guide/versioning/

[2016-03-09 16:49] #691 closed

[2016-03-09 16:52] kgriffs commented on #637
Based on @philiptzou's observations, it seems like moving this to a try..catch would make sense.

[2016-03-09 19:04] kgriffs commented on #635
Thanks for the report! Seems like a reasonable change.

[2016-03-09 21:10] #628 closed

[2016-03-11 16:33] #384 closed

[2016-03-12 16:16] davidbgk commented on #212
If someone copy-pasted the quickstart example and had issues with the transfer encoding header (like testing with Silk), you might want to replace:

[code]

by:

[code]

[2016-03-17 08:03] s-trooper commented on #321
just as info, it seems django going to solve wsgi related problems this way: http://channels.readthedocs.org/en/latest/asgi.html

[2016-03-21 15:03] vectorfrog commented on #469
@yohanboniface Thanks!  Your plugin is working great for me!

[2016-03-21 18:50] #702 closed

[2016-03-21 23:25] kgriffs opened #731 "Remove deprecated support for hooks that do not accept a requests argument"

[2016-03-21 23:58] kgriffs opened #732 "Rename the 'params' argument used in hooks and middleware methods"
The name is ambiguous and perhaps even a little misleading. Let's see if we can come up with a more specific name. The argument is a dict-like object containing field names and their values, as defined by a route's URI template.

We should be able to do this without breaking backwards-compatibility.

[2016-03-22 18:27] kgriffs opened #733 "Remove the deprecated testing base class"

[2016-03-22 22:48] kgriffs opened #734 "Port the remainder of Falcon's own tests to the new testing framework"

[2016-03-22 23:22] kgriffs opened #735 "Document the how and why of default responders"
...including how to customize error responses.

See also: https://github.com/falconry/falcon/blob/master/falcon/responders.py

[2016-03-24 16:17] qwesda commented on #578
`CaseInsensitiveDict` is also not an option because (as stated on their github page) `this implementation does not preserve original key case`. It also just lower cases the keys:

[code]

I think the options would be:

a) store name, value pairs in the `Response._headers` dictionary
b) have a separate `_header_names` dictionary

I would prefer *b* – or can somebody think of a better option.

I can

[2016-03-24 19:08] joarleymoraes opened #740 "Custom JSON-based HTTPError"
Hey guys,

I have been using Falcon for some REST-API projects. And I have the following use case I wanted an input from you guys. I would like to respond to clients custom json-based error messages as follow:

{
"error":"A error occurred"
"type":"database.error"
"code":13
}

I know I could build error responses from scratch (using a Middleware, for example), but it would be great if I could accom

[2016-03-25 20:56] #516 closed

[2016-03-26 14:50] momoneko opened #744 "Generate HTTP status string from status code"
Does falcon have any way of generating the status string from the status code?

I have to pass the status from a HTTP call to the requester, and I get only the HTTP status code, not the entire string. Having a way to generate the string from the status would make it way easier.

[2016-03-27 19:13] joarleymoraes commented on #635
I was able to verify this issue. Looking through the code, I noticed the reason is that  `process_response` is called before `_compose_error_response` in case of an HTTPError, so status hasn't been set by then:

[code]

To fix, I thought of checking the error type like this:

[code]
Here's the pull request #745

[2016-03-30 16:39] joarleymoraes opened #746 "HTTPMovedPermanently not found in module"
I'm trying to use:
`raise falcon.HTTPMovedPermanently(location)`

But I'm getting:
`AttributeError: 'module' object has no attribute 'HTTPMovedPermanently'`

I have seen that `__init__.py` imports everything from redirects.py:

`from falcon.redirects import *  # NOQA`

So I'm not sure why I have this issue. Any ideas ?

Thanks

[2016-03-30 16:45] joarleymoraes commented on #746
I'm doing the following as workaround:

[code]

[2016-03-30 17:04] kgriffs commented on #746
Hi @joarleymoraes, `falcon.HTTPMovedPermanently` was added in 1.0.0rc1, so perhaps it's a version problem?

[2016-03-30 18:08] joarleymoraes commented on #746
That's it. `pip freeze` gives me: `falcon==0.3.0`

Any plans for 1.0 be available through pip ?

Thanks

[2016-03-30 18:54] kgriffs commented on #746
The final release should be along in another couple of weeks, but in the meantime you can use `pip --pre` to pull down the RC. Hope that helps!

[2016-03-30 21:37] #746 closed

[2016-03-30 21:51] joarleymoraes commented on #746
Great, it worked. Thanks for this, @kgriffs .

[2016-04-01 04:22] MasterKale opened #747 "Submitting anything as the body of a `simulate_request` leads to empty AssertionErrors"
I'm trying to write a test for a resource but for some reason whenever I set a string for the `body` parameter in my `simulate_request` I see AssertionErrors from `wsgiref.validate`:

	  File "/home/me/Repos/falconproject/middleware.py", line 30, in process_request
	    body = req.stream.read()
	  File "/usr/lib/python3.4/wsgiref/validate.py", line 197, in read
	    assert_(len(args) == 1)
	  File

[2016-04-01 19:24] MasterKale commented on #747
I forgot to include my `TestCase`:

	import json

	import falcon
	from falcon import testing

	import app

	class TestLoginResource(testing.TestCase):
	    def setUp(self):
	        super(TestLoginResource, self).setUp()

	        self.api = app.api

	    def test_bad_credentials_get_401(self):
	        response = self.simulate_post(
	            path='/login',
	            body=json.dumps({'usern

[2016-04-01 21:52] kgriffs commented on #8
This can be a separate project under falconry.

[2016-04-01 21:53] #9 closed

[2016-04-01 21:53] #11 closed

[2016-04-01 21:53] #13 closed

[2016-04-01 21:56] #19 closed

[2016-04-01 21:57] #23 closed

[2016-04-01 21:57] #24 closed

[2016-04-01 21:57] #28 closed

[2016-04-02 01:22] MasterKale commented on #747
I figured out what the issue is, I'll issue a PR with fixes once I finish documenting it and writing tests.

[2016-04-02 06:42] Pressy commented on #687
Same issue  here.
Please try to fix it as soon as possible because we have planned to use it in production.

Till then, any solution to fix this issue is welcomed.
Thank you.

[2016-04-02 09:47] rr- opened #749 "Add option to opt-out from comma separated value parsing"
I'm porting a project to Falcon and I stumbled upon an issue regarding its parsing of CSV values inside URIs. Let's say I have filtering engine that accepts queries such as this:

    http://great.dude/api/cars?query=added:yesterday,today+spoilers:red

I obviously want to make `req.get_param('query')` return `'added:yesterday,today spoilers:red'`, and not `['added:yesterday', 'today spoilers:red']

[2016-04-03 00:46] warsaw opened #750 "router.find() cannot return None"
Contrary to http://falcon.readthedocs.org/en/latest/api/routing.html it seems like custom routers `.find()` method cannot return None.  AFAICT, `_get_responder()` unpacks `self._router.find(path)` without checking for a None return value and thus an exception occurs.  However, returning `(None, None, None)` seems to work.

I don't know if the docstring is wrong or the method.

[2016-04-03 01:01] warsaw opened #751 "Milddleware process_resource() requires four arguments"
Undocumented by http://falcon.readthedocs.org/en/latest/api/middleware.html a middleware component's `process_resource()` method requires a fourth argument which is the `params`.

[2016-04-03 16:07] rr- commented on #469
@yohanboniface can I combine JSON data with binary data in one POST request [as seen here](http://blog.marcinbudny.com/2014/02/sending-binary-data-along-with-rest-api.html) using your solution? If so, would you be so kind and provide some CURL+mini Python example?

[2016-04-05 23:00] kgriffs commented on #78
Superseded by #423

[2016-04-05 23:00] #78 closed

[2016-04-06 10:40] ysegorov commented on #266
@muodov I'm a bit late probably
here is a code snippet I'm using to send errors to self-hosted sentry
have no idea if it's the right way of handling unknown errors, but it works :)
and I'm still experimenting - `falcon` noob here
[code]
hope it will be useful for someone searching for `sentry` integration

[2016-04-07 02:27] gknight007 opened #752 "Falcon based project, falcons_nest"
Hi,

I love falcon, but I wanted something a little simpler, but with all the power.  So, I put falcon inside gevent, added some daemon code, dynamic class loaders and changed the way responses are done.  I would love your feed back on the project!

https://github.com/gknight007/falcons_nest.git

[2016-04-11 14:09] codezq opened #753 "How can do a internal request that like subquery in nginx or asynchttpclient in tornado?"
Maybe requests or libcurl or urllib?

[2016-04-14 23:08] kgriffs commented on #747
Fixed in #748

[2016-04-14 23:08] #747 closed

[2016-04-16 16:28] Gigi33 commented on #751
I think I ran into this issue as well. I tried to get the [more complex example](https://falcon.readthedocs.org/en/stable/user/quickstart.html#more-features) working and encountered the following error on any request:

[code]

Any hints on how I might resolve this?

[2016-04-16 21:56] kgriffs commented on #744
This isn't in the framework, but I think it would be worth adding. We'll need to note that there's a slight performance penalty for doing the conversion, but

I would suggest adding a utility function for this as well as a new property on the Response class that accepts just a code.

[2016-04-16 22:22] kgriffs commented on #750
Nice catch! I think the code should be changed to reflect this, with care taken to not break existing routers that may rely on the current bahavior.

[2016-04-16 22:55] kgriffs commented on #750
Take a look at my PR and let me know what you think. Thanks!

[2016-04-16 23:20] kgriffs commented on #751
@warsaw Looks like this slipped through the cracks. It was mentioned in the changelog, but the docs didn't get updated to reflect the new param. I'll fix this up pronto. Thanks!

[2016-04-16 23:21] kgriffs commented on #751
@Gigi33 This looks to be a separate problem with HTTPUnauthorized. Would you mind creating a new issue for this? Might be a breaking change that was not documented, but I'll have to dig into it further to be sure.

[2016-04-18 04:23] Gigi33 opened #757 "More complex example crashes on any request"
I tried to get the [more complex example](https://falcon.readthedocs.org/en/stable/user/quickstart.html#more-features) working and encountered the following error on any request:

[code]

[2016-04-18 20:01] warsaw commented on #750
I haven't tested it with the Mailman 3 trunk, but it looks pretty reasonable.  The only thing I couldn't tell was whether method_map would get set correctly when only `None` is returned, but I'm sure you're testing for that.

[2016-04-19 19:59] laura-chacon opened #758 "How to configure testcases to use my Middleware Components?"
Hi,

I'm a beginner in both Python and Falcon. This is my first project with Python and chose to use Falcon for it.

My `main.py` looks like this (I am using two Middleware Components, taken from the documentation):
[code]

My Resources do not set `resp.body`, but JSONTranslator does.

Here is my resource:
[code]

And this is my test suite:
[code]

The problem is that `body`, which gets printed, i

[2016-04-19 22:19] #751 closed

[2016-04-19 23:30] kgriffs commented on #757
I was able to reproduce the problem. The complex example was not updated to reflect changes since 0.3.

[2016-04-20 11:30] #758 closed

[2016-04-20 21:14] kgriffs commented on #32
No longer applicable

[2016-04-20 21:14] #32 closed

[2016-04-20 21:14] kgriffs commented on #33
Out of scope

[2016-04-20 21:14] #33 closed

[2016-04-20 21:16] kgriffs commented on #41
No longer applicable.

[2016-04-20 21:16] #41 closed

[2016-04-20 21:17] kgriffs commented on #44
There's `test_example.py` for the "more complex example" that can be run manually, but no automated tests. We should add those tests, and also see if there is a way to have a single source of truth for this code (rather than duplicating it across test_example.py, README.rst, and the docs).

[2016-04-20 21:18] #49 closed

[2016-04-20 21:20] kgriffs commented on #65
Now that we have middleware, this functionality would better fit there. May make sense as a standalone library vs. being part of Falcon core.

[2016-04-20 21:21] #73 closed

[2016-04-20 21:21] #76 closed

[2016-04-20 21:22] kgriffs commented on #79
This would require extending the URI templating schema to support query string params.

[2016-04-21 03:43] kgriffs commented on #96
Superseded by `testing.resource.capture_responder_args()`

[2016-04-21 03:43] #96 closed

[2016-04-21 03:53] kgriffs commented on #98
I know this is a very old issue, but I just wanted to comment real quick in case anyone else is searching for info on this. Falcon 1.0 takes about 10 MB for a small-ish API test, not using any additional libraries, and running under CPython 2.7.11.

[2016-04-21 03:53] #98 closed

[2016-04-21 03:53] kgriffs commented on #100
This has been superseded

[2016-04-21 03:53] #100 closed

[2016-04-21 03:54] kgriffs commented on #102
Minor support was added in the form of a helper method to check whether the clients accepts MessagePack.

[2016-04-21 03:54] #102 closed

[2016-04-21 13:43] #757 closed

[2016-04-25 16:38] #750 closed

[2016-04-25 23:31] #684 closed

[2016-04-26 00:47] kgriffs opened #763 "Normalize order of params for custom error handlers and custom error serializers"
The current order of params is inconsistent between the two types of callbacks:

`def my_error_handler(ex, req, resp, params)`

vs.

`def my_serializer(req, resp, exception)`

[2016-04-26 00:55] kgriffs commented on #740
Hi @joarleymoraes, there are a few ways you could approach this. The first one would be to raise a custom error type (or child thereof) and then serialize it with a [custom error handler][1]. Another approach would be to inherit from `HTTPError` but only use the fields from the base class that you need, adding additional ones in the child class. In this second approach, you would also need to impl

[2016-04-26 00:57] #115 closed

[2016-04-26 14:00] kgriffs commented on #119
Let's wait and see if anyone in the community requests this feature.

[2016-04-26 14:04] kgriffs commented on #122
The trick with cffi is that thunking across to C can offset any potential gains in performance. It would only be useful for chunks of code that consume relatively large amounts of CPU time.

Regardless, there may be an argument for just saying "use pypy" if you want things to go faster overall. 😄

[2016-04-26 14:09] kgriffs commented on #122
P.S. - Cython's "pure python mode" may allow us to implement some optimizations while retaining pypy compat. See also: http://docs.cython.org/src/tutorial/pure.html

[2016-04-26 14:10] #137 closed

[2016-04-26 14:11] #138 closed

[2016-04-26 14:14] kgriffs commented on #143
Or, at least, add to our own benchmark suite and compare against the "official" ones.

[2016-04-26 14:20] kgriffs commented on #148
We should work on this with an eye toward hooking it into our CI pipeline and keeping/graphing historical results on a website ala http://speed.pypy.org/

[2016-04-26 14:21] #150 closed

[2016-04-26 14:21] #151 closed

[2016-04-26 16:24] #704 closed

[2016-04-26 16:33] kgriffs commented on #153
Sorry for missing this question... just came across it while trying to get the Falcon issue tracker organized!

In case the info is useful to anyone, I'll just mention that Falcon isn't opinionated about how you configure your app; you are free to use ConfigParser, or directly load a JSON/YAML/TOML file. You can have a module that exposes a (get_config()) call and memoizes on first use to consolid

[2016-04-26 16:44] kgriffs commented on #160
If we do this, we should provide general affordances for generating a variety of API specs. I personally have mixed feelings about letting the code drive the spec, since that means the contract is fluid and prone to implementation errors, but this is something lots of people like to do, so should we support it anyway?

P.S. - I'm open to the idea of supporting the [home document proposal][1] out o

[2016-04-26 16:45] kgriffs commented on #168
[This has since been implemented.]

[2016-04-26 16:45] #168 closed

[2016-04-26 16:50] #177 closed

[2016-04-28 04:32] Gigi33 commented on #648
I ran into this issue and what surprises me that slashes pose problems in parameters even when URL encoded.
[code]
[code]
Is this expected behaviour?

[2016-04-28 19:12] rezaxdi opened #767 "skimage conflict ?"
Hi,

When I import io from skimage then the request (POST) freezes without any answer. Is there any solution to this ?

---------------------
Tested with uwsgi instead gunicorn and there is no problem, so the problem is from gunicron not falcon.

[2016-04-28 19:31] #767 closed

[2016-04-28 21:13] kgriffs commented on #178
I've refactored some of the tests already, but there are still others that could benefit from ddt.

[2016-04-28 21:24] kgriffs commented on #717
Probably makes sense to use GH wiki pages to make it easier for community members to edit lists of add-ons, frameworks, etc. For example, Yohan started this page: https://github.com/falconry/falcon/wiki/Plugins

[2016-04-28 21:28] #190 closed

[2016-04-28 22:01] #197 closed

[2016-04-28 22:23] kgriffs opened #768 "Add test for a path segment with a single embedded field"
For example: `/thing-{id}`. This could go in `test_uri_templates.py`.

[2016-04-28 22:26] kgriffs opened #769 "Add test for hyphens and other non-arg-friendly chars in URI template field names"
Currently we only check up-front in `add_route()` for field names that start with a digit or contain whitespace. This can lead to cryptic errors later on when requests are routed to responders.

[2016-04-28 22:31] kgriffs commented on #199
I know this issue is really old, but just wanted to close the loop. Falcon now supports templates such as:

`/conversations/conversation-{conversation_id}/todo-list-{list_id}/todo-{todo_id}`

I started another issue (#584) to discuss supporting alternative routes (such as a shortlink) for the same resource.

[2016-04-28 22:32] kgriffs commented on #209
Supersed by #584

[2016-04-28 22:32] #209 closed

[2016-04-28 22:42] kgriffs commented on #215
This has already been done.

[2016-04-28 22:42] #215 closed

[2016-04-28 22:45] kgriffs commented on #220
Combined with #148

[2016-04-28 22:45] #220 closed

[2016-04-28 22:47] kgriffs commented on #148
Pyramid is probably the next one to add. See also: #237

[2016-04-28 22:47] #223 closed

[2016-04-28 22:48] kgriffs commented on #227
This was implemented in Falcon 1.0.0

[2016-04-28 22:48] #227 closed

[2016-04-28 22:55] kgriffs commented on #231
Thanks, just closing the loop on this. It was fixed in version 0.3 of the framework.

[2016-04-28 22:55] #231 closed

[2016-04-28 22:55] kgriffs commented on #239
I believe this is fixed, but please reopen if that is not the case. Thanks!

[2016-04-28 22:55] #239 closed

[2016-04-28 23:00] #242 closed

[2016-04-28 23:01] #251 closed

[2016-04-28 23:10] kgriffs commented on #253
@butla version 1.0.0 of the framework includes a new testing framework. I think it's a good time now to write up a testing tutorial. It could be incorporated into the main tutorial, perhaps showing how to write a few tests along the way as different parts of the app are built up. I think a testing guide ala `doc/api/cookies.rst` would also be helpful.

If you happen to be at PyCon in Portland we c

[2016-04-28 23:11] kgriffs commented on #259
We should add checks for mailman, et al to our CI.

[2016-04-28 23:23] kgriffs commented on #260
Here's a proposal demonstrating how the new interface might work:

[code]

[2016-04-28 23:30] kgriffs commented on #267
Superseded by #548

[2016-04-28 23:30] #267 closed

[2016-04-28 23:34] butla commented on #253
@kgriffs Too bad I'll be half a world away :) Though I might still create a pull request with some docs and simple Pytest support. I've mentioned it in #16, but just now I'll finally have some time for "charitable" coding :)

[2016-04-28 23:40] kgriffs commented on #278
charset was added to default media types.

[2016-04-28 23:40] #278 closed

[2016-04-28 23:41] kgriffs commented on #280
This was fixed in version 1.0.0 of the framework.

[2016-04-28 23:41] #280 closed

[2016-04-29 16:55] kgriffs commented on #769
See also: `test_whitespace_not_allowed()` in `tests.test_uri_template` and `add_route()` in `routing.compiled`.

[2016-04-29 16:59] kgriffs opened #770 "Add a URI template / routing guide to the docs"
The docs don't fully explain URI templates, including comprehensive examples of what is and isn't allowed. I'd like to see a page in the docs that goes over this in detail, and just generally discusses routing features and best practices in one place.

[2016-04-29 18:10] enzzc commented on #769
Is this template supposed to be valid? '/repos/{org}/{repo}/compare/{simple-vs-complex}' (from /tests/test_default_router.py:140). `simple-vs-complex` is not a valid Python identifier.

[2016-04-29 20:13] kgriffs commented on #769
Good catch! That will blow up if it were actually passed as kwargs to a resource responder method.

[2016-05-02 06:55] bcattle commented on #407
@kgriffs I get the hang on `body = self.stream.read()` for well-formed JSON (an example being `'{"username": "test-username", "password": "password"}'`.

Instead calling `body = req.stream.read(req.content_length)` appears to have fixed the problem. It's apparently hanging indefinitely because it never receives EOF?

[2016-05-03 02:19] kgriffs commented on #281
I just did a quick check and this seams to be fixed in 1.0.0rc2. Please reopen if you find this is not the case. Thanks!

[2016-05-03 02:19] #281 closed

[2016-05-03 02:19] #287 closed

[2016-05-03 02:47] #290 closed

[2016-05-03 02:48] kgriffs commented on #294
Thinking about this again... should this be an add-on, or should form params and file uploads be part of the core framework? Either way, the functionality is needed!

[2016-05-03 02:50] kgriffs commented on #294
See also:

- #493
- #418

[2016-05-03 02:55] kgriffs commented on #298
Implemented in 1.0.0

[2016-05-03 02:55] #298 closed

[2016-05-03 02:56] kgriffs commented on #303
Released as a standalone add-on. See also:  https://github.com/lwcolton/falcon-cors

[2016-05-03 02:57] #303 closed

[2016-05-03 02:57] kgriffs commented on #306
Just use PyPy. 😄

[2016-05-03 02:57] #306 closed

[2016-05-03 02:59] kgriffs commented on #309
Superseded by #744

[2016-05-03 02:59] #309 closed

[2016-05-03 03:02] kgriffs commented on #319
We just need need to decide if this belongs in the core framework or would be better as an add-on package.

[2016-05-03 03:15] kgriffs commented on #321
Related: #582

[2016-05-03 03:17] kgriffs opened #772 "Would it make sense to support hosting falcon apps via aiohttp?"

[2016-05-03 03:20] kgriffs opened #773 "Look into supporting ASGI"

[2016-05-03 03:24] kgriffs commented on #325
I think we just need to document using req.context (or perhaps add a resp.context if that would make more sense...

[2016-05-03 03:25] #328 closed

[2016-05-03 03:28] kgriffs commented on #344
Related: with twisted.web.wsgi you can use crochet to do some things.

[2016-05-03 03:31] #350 closed

[2016-05-03 03:35] #351 closed

[2016-05-03 03:36] kgriffs commented on #352
Duplicates #122

[2016-05-03 03:36] #352 closed

[2016-05-03 03:43] kgriffs commented on #402
I'm going to go ahead and close this. Please reopen if `req.context` does not provide an adequate work-around.

[2016-05-03 03:43] #402 closed

[2016-05-03 04:34] warsaw commented on #319
I think I actually tried to post my implementation on the mailing list but I don't know if it made it through.  We have it working in Mailman 3.1 and it's wonderful!

[2016-05-04 18:59] sebasmagri commented on #344
Would be great to see a benchmark using [uvloop](http://magic.io/blog/uvloop-make-python-networking-great-again/)

[2016-05-05 04:47] bcattle opened #774 "Would it make sense to adopt a C-based HTTP parser?"
This is a little out of left field, but would there be any benefit in using a C-based HTTP parser? For example https://github.com/MagicStack/httptools is a python (3.5) wrapper around the node.js [http parser](https://github.com/nodejs/http-parser/blob/bee4817ebea0eaa592143c7825f5c96f040c84e4/http_parser.c) originally from nginx.

[2016-05-05 04:55] bcattle commented on #774
Oh I see this would lie below the Falcon layer, inside whatever server was calling (passing the WSGI environment to) the framework. Never mind.

[2016-05-05 04:55] #774 closed

[2016-05-05 22:14] kgriffs commented on #407
Thanks @bcattle for the report. What WSGI server are you using to host your app? I'd like to try reproducing it myself to help track this down.

[2016-05-05 22:17] #409 closed

[2016-05-05 22:17] #411 closed

[2016-05-05 22:19] kgriffs commented on #391
See also: #415

[2016-05-05 22:28] kgriffs commented on #417
As of Falcon 1.0.0, the framework will no longer automatically parse, by default, requests that have the content type "application/x-www-form-urlencoded". This allows the app to consume the stream itself, if desired.

Alternatively, the automatic parsing can be enabled, but a custom subclass of Request could be used to define a new `__init__()` that reads env['wsgi.input'] and then replaces it wit

[2016-05-05 22:40] bcattle commented on #407
I'm using [werkzeug](http://werkzeug.pocoo.org/docs/0.11/serving/):

    from werkzeug.serving import run_simple
    run_simple('localhost', 8000, app, use_reloader=True)

Internally, wekzeug is using [`BaseHTTPServer.HttpServer`](https://docs.python.org/2/library/basehttpserver.html#BaseHTTPServer.HTTPServer) from the standard library. I'm on PyPy 2.6.0 on OSX.

[2016-05-05 22:44] kgriffs commented on #422
According to https://tools.ietf.org/html/rfc2046#section-4.1.2 :

For example, RFC 7303 defines multiple charsets for the XML media type, e.g.:

[2016-05-05 22:47] kgriffs opened #775 "When serializing errors, respect charset, if any, specified in the Accept header"
Currently the framework always renders to UTF-8

[2016-05-05 22:49] kgriffs commented on #437
Subsumed by #420

[2016-05-05 22:49] #437 closed

[2016-05-05 22:50] #449 closed

[2016-05-06 01:40] joarleymoraes commented on #740
Thanks @kgriffs. I ended up implementing custom error handler together with a JSON-Translator middleware to prepare the response.

[2016-05-06 16:23] foresmac commented on #391
Is this a change that won't make it into 1.0?

[2016-05-06 16:24] foresmac commented on #391
I'm happy to try and adapt our solution into a patch if it's still possible to consider. Since it's a subclass of the existing HTTPError, I don't think it would technically introduce breaking changes.

[2016-05-06 16:27] foresmac commented on #391
I think that the concept of #415 could be included in such a patch as well. Main difference is that I clip off the status code for the title. Makes sense to use a default description, though I'd prefer to document a best practice to include your own description to give more useful error reporting.

[2016-05-10 03:09] kgriffs commented on #452
I agree that this behavior is confusing. It may make more sense to abandon `OptionalRepresentation` in favor of simply adding some additional error classes that don't change their semantics based on what kwargs are passed in. I.e.:

[code]

[2016-05-10 03:15] kgriffs opened #776 "Make the title and description optional for most error classes (non-breaking)"
For most error classes we can make the title and description optional without introducing a breaking change. For example, this:

[code]

Would become this:

[code]

The following classes could be modified in a non-breaking way:

- [ ] HTTPBadRequest
- [ ] HTTPUnauthorized
- [ ] HTTPForbidden
- [ ] HTTPConflict
- [ ] HTTPLengthRequired
- [ ] HTTPPreconditionFailed
- [ ] HTTPRequestEntityTooLarge
-

[2016-05-10 03:35] kgriffs opened #777 "Make error initializers more consistent"
This issue involves reworking error class initializer method signatures to be more consistent and predictable. Each `__init__` should order args and kwargs as follows:
1. Required, specialized args. Most error classes will not have any required args.
2. `title=None`
3. `description=None`
4. `**kwargs`

[2016-05-10 03:43] kgriffs opened #778 "Error title should default to HTTP status"
When the title is set to `None`, `HTTPError` should default to simply reusing the description passed in with the code in the `status` argument, i.e.:

[code]

[2016-05-10 03:49] kgriffs commented on #391
Thanks everyone for the comments. This issue is starting to get overloaded, so I've split it out into several work streams.

Making title and description optional, with a default for the title based on the status:

- #776
- #778

Reording initializer args to be more consistent:

- #777

 Please take a look and add any additional thoughts to these issues.

[2016-05-10 03:53] kgriffs commented on #391
@foresmac We may be able to get something in 1.1 as long as it isn't a breaking change. Would you mind creating a new issue re:

Then we can pick up the conversation over there. I'm going to go ahead and close this one (#391).

Thanks!

[2016-05-10 03:53] #391 closed

[2016-05-10 03:54] kgriffs commented on #415
I think it makes sense to make both title and description optional. If HTTPError receives `None` for the title, it will default to being the same as the status. Repeating the status in the description would not be necessary.

I've split this work into several issues to better track it. Thanks!

- #776
- #778
- #777

[2016-05-10 03:54] #415 closed

[2016-05-10 20:39] foresmac opened #779 "HTTPError should have a handle method to set resp.status, resp.body before middleware runs"
(This issue was moved from #391 per @kgriffs' [comment](https://github.com/falconry/falcon/issues/391#issuecomment-218052853).)

Following on the updates to `HTTPError` and subclasses described in #776, #777, #778, we have also found that the current error handling happens _after_ all the middleware has run. In other words, after all other middleware has run, the generic catch for `HTTPError`s set

[2016-05-10 21:33] kgriffs commented on #457
Closing the loop on this. The behavior is by design and unifies behavior for `val=1,2` and `val=1&val=2`.

[2016-05-10 21:33] #457 closed

[2016-05-10 22:30] kgriffs commented on #460
Let's make a decision on where this should live and finish this up in the 1.1 timeframe. I think it should either live as an add-on under Paul's GH account, or if he is not interested in maintaining it, maybe we can bring it under falconry.

[2016-05-10 22:46] kgriffs commented on #703
Consolidated into #462

[2016-05-10 23:25] kgriffs commented on #469
BTW, falcon-multipart has been added to a wiki page along with a few other goodies. Everyone's welcome to include their projects on this page: https://github.com/falconry/falcon/wiki/Add-on-Catalog

I'd like to have a design session around form parsing during the upcoming PyCon sprints. It may make sense to pull this functionality into the core framework, or at least make it possible to attach new

[2016-05-10 23:33] kgriffs commented on #471
Flagging this for documentation to provide clarity on how Falcon handles the incoming stream, how to parse it directly, and a few different approaches to buffering the data if that is required by the app.

[2016-05-13 08:21] Woolworths opened #781 "No OPTIONS Header support"
Most API frameworks automatically dispatch an OPTIONS header. This one doesn't so whenever you use any kind of AJAX, it just returns 204 No Content and does not dispatch the OPTIONS header with "Access-Control-Request-Method: POST"

[2016-05-17 23:38] natedub opened #782 "Response href headers are double escaped"
#135 makes an attempt to simplify things for developers, but unfortunately it actually breaks well-formed URIs by double escaping them.

I may never have noticed this were I not trying to pass a signed URI where the double escaping broke the signature. Signed S3 URLs that are double escaped definitely don't work!

Of course, the workaround is easy enough — just use `Response.set_header()` directly

[2016-05-18 02:25] kgriffs commented on #478
Consolidating to #423

[2016-05-18 02:25] #478 closed

[2016-05-18 02:26] kgriffs commented on #501
Looking at the linked issue, this should be fixed now on the Jython side.

[2016-05-18 02:56] kgriffs opened #783 "Add package and subpackage docstrings"
Add docstrings for `falcon`, `falcon.util`, etc. for use in `help()`.

[2016-05-18 03:06] kgriffs opened #784 "Should `falcon.HTTPNotAcceptable` support a format for listing available representations?"
Regarding _406 Not Acceptable_, RFC 7321 states in [section 6.5.6](https://tools.ietf.org/html/rfc7231#section-6.5.6):

[code]

Referring to [section 6.4.1](https://tools.ietf.org/html/rfc7231#section-6.4.1) we read:

[code]

[2016-05-18 03:20] kgriffs commented on #515
I suppose we could modify `falcon.API` to accept a name that would be checked against the Host header for every request. However, in theory HTTPS mitigates this attack already, since browsers perform hostname verification on the cert. But for other types of user agents, the story is mixed; historically, many HTTP client libraries have not enabled hostname verification by default. Perhaps this woul

[2016-05-18 03:42] kgriffs commented on #782
Hi @natedub, thanks for the report! I'm guessing all the `'%'` characters are being replaced with `'%25'`? urllib behaves in the same way, but that isn't to say Falcon can't be a little bit smarter about this. A fast heuristic would be to include `'%'` in the list of allowed characters. However, that doesn't handle the edge case of a URL containing a percent sign that isn't actually used for escap

[2016-05-18 03:51] lwcolton commented on #515
This should probably go in falcon-cors since it looks like this check is
required by the w3c's CORS spec
On May 17, 2016 10:20 PM, "Kurt Griffiths" <notifications@github.com> wrote:

[2016-05-18 03:52] kgriffs commented on #561
The following from #576 were never merged. Did this slip through the cracks?

* 428 Precondition Required
* 431 Request Header Fields Too Large*
* 511 Network Authentication Required

There may be other codes defined in `status_codes.py` that could use corresponding classes. Note that these should conform to the pattern outlined in #777.

[2016-05-18 19:31] kgriffs opened #785 "Make it easier to add custom attributes to slotted classes"
Users of the framework sometimes want to assign additional variables to the `Request`, `Response`, or other "slotted" classes. This can be allowed without hurting efficiency by adding a `'__dict__'` string to the `__slots__` declarations.

From the Python [data model docs](https://docs.python.org/2/reference/datamodel.html#slots):

I did a quick test and adding '__dict__' does not decrease perform

[2016-05-19 02:35] #520 closed

[2016-05-19 02:52] kgriffs commented on #545
Please reopen if this is still an issue.

[2016-05-19 02:52] #545 closed

[2016-05-19 02:57] kgriffs commented on #549
So far Falcon hasn't done much with the request body. I'm hoping we'll see some add-ons emerge from the community that help with that. I'm going to close this for now, but we can reopen later if we want to revisit the idea.

[2016-05-19 02:57] #549 closed

[2016-05-19 03:03] kgriffs commented on #555
Another option. This would override the default behavior of allowing all HTTP methods that have a corresponding on_* responder defined.

[code]

[2016-05-19 03:05] kgriffs commented on #574
Thinking about this some more, there isn't a lot of six that Falcon actually uses, so this work would be fairly simple.

[2016-05-19 03:08] kgriffs commented on #580
README.md has been removed

[2016-05-19 03:08] #580 closed

[2016-05-19 03:20] kgriffs commented on #619
Thinking about this, it may be helpful to do both. Tooling may wish to enumerate the resources, examining each for the routes associated with it. And people have asked for a way to know what route was matched for a particular request (see also #581).

We should try to do this in a non-breaking way first, if it isn't too ugly.

[2016-05-19 03:21] kgriffs commented on #581
Consolidated into #619

[2016-05-19 03:21] #581 closed

[2016-05-19 03:22] kgriffs commented on #600
This looks OK since the 1.0.0 release. Please reopen if you are seeing something different. Thanks!

[2016-05-19 03:22] #600 closed

[2016-05-19 08:33] muodov commented on #555
@kgriffs I like your suggestion. It feels more natural for people coming from other frameworks, since they have similar concepts.

[2016-05-19 13:56] swistakm opened #787 "Mac OS X wheel distribution for Python 3.3 broken on OS X 10.11.1 (python dist installed from Python.org)"
The `falcon-1.0.0-cp33-cp33m-macosx_10_10_x86_64.whl` installed on certain version of Python on OS X raises `ImportError` exception on falcon import.

This seem to affect only Python 3.3 distribution from Python.org that is built against 10.6 version of platform SDK. I haven't tried earlier versions of Python since I found it when updating test matrix for [graceful](https://github.com/swistakm/gra

[2016-05-19 23:20] #579 closed

[2016-05-19 23:21] #583 closed

[2016-05-19 23:21] kgriffs commented on #595
To further clarify, many of the docstrings quote the older RFC. I'd like to update those.

[2016-05-20 13:49] jf86 opened #788 "Since version 1.0.0 I can't get params from JQuery requests"
Hi,
My code works fine with v0.3.0 and JQuery v2.2.3 but since last falcon update I can't get params from POST/PUT/PATCH/DELETE requests.

Here is my Javascript code:

[code]

And my Falcon code:

[code]

Both print return empty strings with any request except if method is GET.
What I'm doing wrong?

Thanks in advance!

[2016-05-21 20:00] kgriffs commented on #606
There are times when you may want to perform post-processing regardless of whether an error was raised. But I can see your point about a need to be more selective in some cases.

One way we could support this would be by adding an additional middleware method, `process_successful_response()`. Thoughts?

[2016-05-21 20:26] kgriffs opened #789 "Implement get_param_as_dict()"
This helper would deserialize JSON into a `dict`. For example:

`thing=%7B%22name%22%3A%20%22value%22%2C%20%22another%22%3A%20%22field%22%2C%20%22some%22%3A%20%22thing%22%7D`

...would be interpreted by req.get_param_as_dict as:

[code]

[2016-05-21 20:30] kgriffs opened #790 "Detect percent-encoded list params that use the compact (comma-delimited) schema"
When the client percent-encodes the commas for a value in the query string, the framework always treats that value as a blob, rather than a list of strings. What we would like is for this:

`things=id1%2Cid2%2Cid3`

...to be interpreted as a list by req.get_param_as_list, i.e.:

`['id1', 'id2', 'id3']

We'll have to see if this can be done efficiently. If it can not be done without significantly r

[2016-05-21 20:36] kgriffs commented on #617
@yashmehrotra I think it would make sense to create a `get_param_as_dict()`. I broke this out into a separate issue (#789). Since a lot of users seem to be including JSON in their query strings, I think this is a relatively high priority.

The other work item was to improve detection of comma-separated lists. IMO this is lower priority. I broke it out into #790 and put it into the backlog.

BTW, I

[2016-05-21 20:36] #617 closed

[2016-05-21 20:48] kgriffs commented on #749
I think we can start by adding an option to `RequestOptions` to enable/disable parsing of comma-separated query string values. It can default to `True` for the sake of BC. For Falcon 2.0 we can consider changing the default to `False`.

For more fine-grained control I like the idea of passing options to `API.add_route()`. But perhaps we should wait to see if there is demand for that from the commu

[2016-05-21 21:16] kgriffs commented on #753
Hi @codezq, you can use the `requests` library along with gevent, or if you are hosting with twisted.web.wsgi, you can use the `crochet` library to perform requests via twisted. You might also try `aiohttp.wsgi` if you are on py3k.

[2016-05-21 21:29] rr- commented on #749
FWIW for time being, I ended up rolling own solution like this:

- Input parsing facilities within custom context class: https://github.com/rr-/szurubooru/blob/master/server/szurubooru/api/context.py
- Filling context class with user input inside middleware: https://github.com/rr-/szurubooru/blob/master/server/szurubooru/middleware/context_adapter.py#L54-L55

I don't think I currently need options

[2016-05-21 21:33] kgriffs commented on #779
It sounds reasonable to make sure a raised error is composed into the response before passing it along to middleware. Looks like we need to make sure `API._compose_error_response()` is called before https://github.com/falconry/falcon/blob/master/falcon/api.py#L214. But we need to be careful we don't introduce other bugs since the error handling logic is starting to get crufty (esp. when you consid

[2016-05-21 21:39] kgriffs commented on #788
Hi @jf86. This may be a consequence of a breaking change in 1.0.0 where Falcon will no longer automatically parse, by default, requests that have the content type “application/x-www-form-urlencoded”. There is an option to re-enable it:

[code]

See also: https://falcon.readthedocs.io/en/stable/changes/1.0.0.html#breaking-changes

If this is indeed the problem, I'll see if we can document this in t

[2016-05-21 22:06] yashmehrotra commented on #789
Hi @kgriffs, I would like to implement this feature, can you assign this issue to me.
Thanks.

[2016-05-22 11:57] yashmehrotra commented on #790
@kgriffs How about adding an extra keyworded argument `delimeter` to the `get_param_as_list()`, ie.
[code]

[2016-05-23 08:04] esmalifesum commented on #606
Yes, I think something like that would allow us more flexibility and let us avoid coding nonsense into middleware just to handle exceptions when there is already an exceptions handler. My team would definitely use your suggested method.

[2016-05-23 08:35] jf86 commented on #788
It works now! Thanks

[2016-05-23 15:17] kgriffs opened #792 "Document how error handlers can re-raise an error to ensure it is still handled"
I.e., in the case of an error logger.

[2016-05-23 17:33] kgriffs commented on #157
I think we can do this in a non-breaking way by making it optional and/or based on accept header. It can become the default in Falcon 2.0

[2016-05-23 17:39] kgriffs opened #793 "Add full support for application/problem (RFC 7807)"
Once the RFC is finalized, ensure the representation is up to date and make application/problem the default error representation.

[2016-05-23 17:42] kgriffs commented on #793
Note that along with this, we may modify the params that are passed to the HTTPError initializer to make it more straightforward to set application/problem fields.

[2016-05-23 19:35] bcattle opened #794 "URL route compile breaks when param name is changed"
Adding this route works:

    app.add_route('/v/{video_uuid}', endpoints.GetDeleteVideoEndpoint())

Adding the same route with a longer variable name produces an error:

    app.add_route('/v/{video_uuid_or_short_id}',  endpoints.GetDeleteVideoEndpoint())

The error is

For some reason the route that is failing is the route after the previous one

    app.add_route('/v/{video_uuid}/likes',   endpo

[2016-05-24 03:49] kgriffs opened #796 "Default OPTIONS responder does not set Content-Length to "0""
Per RFC 7231:

[2016-05-24 04:14] kgriffs commented on #781
I believe @lwcolton's [falcon-cors](https://github.com/lwcolton/falcon-cors) provides this functionality.

When a resource does not implement an `on_options()` method, Falcon uses a default OPTIONS responder that sets the Allow header. But the default responder does not detect a CORS preflight request, and so it will not respond with Access-Control-* headers.

[2016-05-24 12:04] Akcps opened #797 "newrelic integration with falcon"
Can anybody help in integrating newrelic with falcon framework? Has anybody tried it

[2016-05-25 11:25] Akcps commented on #797
After some deep dive into the code, found a way to integrate newrelic with falcon.

import newrelic.agent
newrelic.agent.initialize('newrelic.ini')
.
.
.
api = application = newrelic.agent.WSGIApplicationWrapper(falcon.API())

[2016-05-25 11:25] #797 closed

[2016-05-25 14:51] kgriffs opened #798 "Add flake8-import-order to the pep8 test and fix reported errors"
Note: Also pass `--application-import-names=falcon` to flake8

[2016-05-25 14:54] kgriffs commented on #36
Done. https://github.com/falconry/falcon/wiki/Who's-Using-Falcon%3F

[2016-05-25 14:54] #36 closed

[2016-05-25 14:55] kgriffs commented on #417
Combine with #471

[2016-05-25 15:00] kgriffs commented on #717
Just need to mention this wiki page somewhere in RTD. Also the "who's using Falcon" page.

[2016-05-25 16:09] kgriffs commented on #667
Note: If we can't do this in a non-breaking way, it will have to wait for Falcon 2.0

[2016-05-25 16:15] kgriffs commented on #677
falcon.HTTPFound is available as of version 1.0.0 of the framework

[2016-05-25 16:15] #677 closed

[2016-05-25 16:17] kgriffs commented on #668
Note: As of the 1.0 release, an instance of `HTTPNotFound` is raised.

[2016-05-25 16:30] kfir124 opened #799 "simple dev server?"
Hi I came across to this project and it looks like exactly what I wanted
My only problem is that the only way to locally test your app with this project seems to be installing gunicorn or uwsgi, its exactly what I will do in production but on my local PC I'm using windows.

and installing gunicorn or uwsgi on windows makes things a lot more uglier and unstable.
isn't there any way to run a simple

[2016-05-25 16:51] kgriffs opened #800 "Consider supporting per-route config options"
Example use case: #749

[2016-05-25 16:56] kgriffs commented on #749
We can start with a "global" option and add support for per-route options later as needed.

Regarding form validation rules, it may make sense to be able to attach arbitrary metadata/kwargs to a route that hooks or middleware could then use. Or the validation rules could just be specified directly in a decorators/hook declaration. Sort of like https://github.com/painterjd/stoplight.

[2016-05-25 17:09] kgriffs commented on #418
FWIW I'm planning a design session during PyCon (sprints or perhaps earlier in the week) to sort this out. Everyone feel free to ping me if you will be there and would like to join in.

[2016-05-25 18:05] yohanboniface commented on #799
@kfir124 see https://github.com/BaseAdresseNationale/ban/blob/master/ban/commands/server.py for an example

[2016-05-25 22:10] #420 closed

[2016-05-25 22:13] kgriffs commented on #578
@qwesda are you still interesting in taking this on? I'd like to learn more about you preference for (b) over (a). Thanks!

[2016-05-25 22:24] kgriffs commented on #578
P.S. It's interesting to note that HTTP/2 requires lowercased headers. I suspect it is an acknowledgement that allowing for case insensitivity leads to clients not always doing the right thing, with performance perhaps being a secondary concern (albeit a minor one).

[2016-05-25 22:32] qwesda commented on #578
option **a** would change the existing structure and possible introduce breaking changes wherever `_headers` is accessed. **b** would leave `Response._headers` as is.

With **b** the only changes would be at the points where headers are set (something like `Response._header_names[header_name.lower()] = header_name`), and where the headers are output (where instead of just using the `_headers ` key

[2016-05-26 06:40] kfir124 commented on #799
@yohanboniface  Thanks didn't know about that feature in python

[2016-05-26 06:40] #799 closed

[2016-05-26 20:36] yashmehrotra commented on #796
@kgriffs Can you tell me how to reproduce this bug ?

For the script below, I am getting the correct `Content-Length` ie "0".

[code]

Is there anything I am missing ? ( I am running the latest falcon dev version)

[code]

[2016-05-26 21:10] kgriffs commented on #796
Hi @yashmehrotra, thanks for taking a look! Perhaps the web server is adding that header? The framework isn't adding it per the repo below:

[code]

[2016-05-26 23:14] yashmehrotra commented on #790
@kgriffs Any updates on this ?

[2016-05-26 23:16] yashmehrotra commented on #796
@kgriffs You were right, the server I was using was automatically adding it. I have created a patch for this one at: https://github.com/falconry/falcon/pull/801

[2016-05-27 08:42] b0bbywan opened #802 "problem with redirections"
Hi

I'm trying to redirect a request (from POST to GET) to another page on another domain, but I'm always encountering the following error:

XMLHttpRequest cannot load mydomain.com/redirect_page. The request was redirected to 'theotherdomain/redirected_page', which is disallowed for cross-origin requests that require preflight

edit: I tried to use

[code]
or
`raise falcon.HTTPMovedPermanently('th

[2016-05-27 16:47] kgriffs commented on #787
Thanks for the report! For now, I went ahead and deleted the cp33 wheel to stop the bleeding. We'll have to look at using 10.6 for the cythonized builds in the next release.

[2016-06-02 17:21] ueg1990 commented on #637
I will be working on this :)

[2016-06-02 17:21] ueg1990 commented on #646
I will be working on this :)

[2016-06-02 17:21] ueg1990 commented on #778
I will be working on this :)

[2016-06-02 17:33] jessehudl commented on #798
Working on this...I hope

[2016-06-02 18:21] orcsly commented on #749
I'll look into this one.

[2016-06-02 18:21] painterjd commented on #782
Possibly related to #687

[2016-06-02 18:21] painterjd commented on #687
Possibly related: #782

[2016-06-02 18:53] ueg1990 opened #806 "Add minimum version for coverage module"
As recommended by Ned Batchelder, we should add a minimun version for coverage module.

[2016-06-02 19:17] csojinb commented on #501
Here is the original PR with a somewhat-hacky solution for getting the Jython tests to run, which may be useful if someone wants move the Jython tests to tox and rip out the existing solution. https://github.com/falconry/falcon/pull/488

[2016-06-02 19:33] #806 closed

[2016-06-02 19:41] sherwu commented on #744
I can take this!

[2016-06-02 21:35] #637 closed

[2016-06-02 22:46] painterjd commented on #687
Hi, @alertedsnake, @pressyfdo:

Thanks for reporting this issue!

I've been taking a fairly deep look at this and discussing with @kgriffs and others. I'm curious if you could fill me in with more details with the specific issue you are having. Specifically, I'm trying to understand why you might have an encoded URL from within your application (if the URL is coming in through Falcon in the usual

[2016-06-02 23:04] #798 closed

[2016-06-02 23:59] jmvrbanac commented on #614
Is this still relevant?

[2016-06-03 11:07] alertedsnake commented on #687
The URL I am assigning to resp.location is not encoded - it contains URL encoded parameters. This data is not coming in from something in Falcon that should have bit didn't decode it, it is something application specific that we are generating. As was stated in my example, it is a url which has a url-encoded url as a parameter.

Your suggestion is that I decode this data before setting resp.locati

[2016-06-03 11:10] alertedsnake commented on #687
Now that I look too, this is definitely the same issue as with #782 and was also broken by the solution to #135.

[2016-06-03 11:39] masellfoodpanda opened #817 "TestCase decode url returns string in python3"
When i create a test based on falcon.testing.TestCase or falcon.testing.TestBase and run simulate_request with:
[code]
i get the following error:
[code]

I think this is due to this https://github.com/falconry/falcon/blob/master/falcon/util/uri.py#L246
and this https://github.com/falconry/falcon/blob/master/falcon/request.py#L263

[2016-06-03 16:52] lindseybrockman commented on #423
I wouldn't mind looking into this!

[2016-06-03 16:53] painterjd commented on #794
Taking a look...

[2016-06-03 17:08] orcsly commented on #407
I'll have a look at trying to reproduce this one.

[2016-06-03 19:10] orcsly commented on #407
Just an update, have not been able to reproduce this with werkzeug with PyPy 2.4 on OSX.

@bcattle do you have a sample project that demonstrates this issue?  Thanks.

[2016-06-03 19:54] molund commented on #778
Note that HTTP/2 does away with the ‘reason phrase’

[2016-06-03 19:54] orcsly commented on #407
Actually managed to reproduce with werkzeug and having the auto_parse_form_urlencoded options set to True.

[2016-06-04 00:45] #782 closed

[2016-06-04 01:00] alertedsnake commented on #687
Ugh, cop out.

[2016-06-04 01:38] kgriffs commented on #687
Hi @alertedsnake, we are actually still looking at this. The issue was closed prematurely.

[2016-06-04 01:50] yashmehrotra commented on #817
@jmvrbanac I would like to take this issue.

[2016-06-04 22:15] yashmehrotra commented on #817
@masellfoodpanda I am unable to reproduce this error. I wrote a testing function
[code]

It didn't threw any error.
I am using `python3.4`. Is there anything I am missing ?

[2016-06-06 09:22] masellfoodpanda commented on #817
Ah, sorry. Seems i made double encoding in the report.

here is a test:
[code]

[2016-06-06 15:51] foresmac commented on #779
Perhaps the response object needs a standard property that collects errors as they are generated? Hrmmmmm, not sure what the best interface is for this, but it seems as though it would be really useful to have some way for middleware to be able to interact with and react to errors before an error response is returned to the client.

[2016-06-06 16:10] masellfoodpanda commented on #817
At the moment i need to monkey patch this like so:
[code]

[2016-06-07 00:00] lindseybrockman commented on #423
@kgriffs I was glancing through the suggested default filters list again and realized I'm not sure what "in" is :P

[2016-06-11 08:49] drayanaindra opened #825 "Falcon is possible to upload file ?"
Hello, i using falcon for develop API on my project. And i found problem when i try upload file like doc, rar, zip and etc. When i try upload file with image extension, its working.

falcon is possible to upload file with another extension except jpeg, png ?

thanks

[2016-06-14 17:05] masellfoodpanda opened #826 "TestCase wrongly unquotes"
According to specs https://www.python.org/dev/peps/pep-3333/#id39 only quote/unquote is used by uwsgi, this means that this is wrong: https://github.com/falconry/falcon/blob/master/falcon/util/uri.py#L221
patch for tests

[code]

[2016-06-14 23:19] jheld commented on #8
Is there still interest in doing something like this (yeoman/generator style or some sort of skeleton hello world code)? If so, there would have to be a falcon-based script/bin to handle this execution, and it would likely be either installed separately, or brought in under setup.py.

[2016-06-19 21:01] ueg1990 opened #830 "pep8 test failing due F405 and F401"
Currently, pull requests are not passing in Travis during 'tox -e pep8' due to two main issues:
1) F405: In falcon/requests.py (line 33), the following import is causing an issue:

[code]
Surprisingly, this is the only time an import is done in an file that is not __init__.py

2) F401: In line 4 of falcon/util/__init__.py (dunder init.py):

[code]

Is giving an error because of missing '# NOQA' as

[2016-06-21 14:46] ueg1990 commented on #826
According to the docstring for function decode in util/uri.py, the function is trying to model urllib.parse.unquote_plus which replaces '+' with ' ' (spaces).

[2016-06-21 15:10] ueg1990 commented on #826
Also, the decode function that you referred to in uri.py is only used for parsing query strings (https://github.com/falconry/falcon/blob/master/falcon/util/uri.py#L249) and according to https://en.wikipedia.org/wiki/Query_string, '+' is valid inside a query string and maps to spaces when decoding. This is my opinion

[2016-06-21 15:39] #830 closed

[2016-06-22 08:40] masellfoodpanda commented on #826
The thing is, that this decode function is also used in the TestBase. Were it is not doing the same thing as a uWSGI would do.

[2016-06-23 13:28] Vesuvium commented on #802
Hi b0bbywan,

from the error you are getting it seems like your problem is CORS being not enabled. See #713 and #303

[2016-06-23 13:51] nomorepanic opened #833 "Provide official documentation in other languages"
It would be nice if Falcon had docs also in other languages. I don't know if any one has actually translated the docs; links to translated docs could be added in a section e.g. [requests](http://docs.python-requests.org/en/master/) has links to translated docs in the sidebar

[2016-06-23 20:34] Vesuvium commented on #825
Unlike other frameworks Falcon does not provide extra tools for file uploads: it provides only the raw stream, but is up to you to extract (or detect) the file type and name from there.

[2016-06-26 16:38] EmilStenstrom opened #835 "Better way to get the port from the request?"
I'm in the process of porting an old bottle app to falcon. The first thing my app does is generate some api documentation and returns it as HTML. In the documentation I have clickable links that makes it easy to explore the api. Whether on localhost or on production I want the links to work, so I generate a "site" parameter that I prefix all links with.

In bottle this was:

[code]

In falcon the

[2016-06-27 21:13] kgriffs commented on #781
@Woolworths have you had a chance to look at falcon-cors to see if it does what you need?

[2016-06-27 21:27] kgriffs commented on #752
Hi @gknight007, thanks for the note! You might like to add a link to the wiki: https://github.com/falconry/falcon/wiki/Higher-Level-Frameworks

[2016-06-28 07:36] Woolworths commented on #781
@kgriffs I don't know what I was going on about.. The options header works fine :)

[2016-06-28 13:51] collateraldamadge commented on #606
Is there any progress regarding this issue?

I need to validate responses agains swagger schema.
When a falcon HTTP exception is raised in a responder or in process_resource middleware method (which raises HTTPBadRequest when request body is invalid), the status code of the response is still 200 when it comes to process_response.

At which point does falcon set appropriate response status and body

[2016-06-28 14:29] socek opened #836 "falcon.request.Request.get_header returning unicode"
I have very unusual architecture, so I will describe it first.
I have 2 applications: one is Falcon 1.0.0 and second is Django. All on python2.7
I need to test Falcon and Django together. So I'm using wsgi_intecept with requests.
So, I'm reating request.Session() which is leading thru wsgi_intecept to falcon. First request is creating me cookies. This works fine. But the second request is raising

[2016-06-28 21:34] BenjamenMeyer commented on #578
I think the import things here are and kind of summing up the conversation:

- enable app developers to access headers in a case-insensitive manner on the Request object
- enable app developers to get access to the header key from the Request object as the client provided them
- enable app developers to specify headers as they like to clients in the Response object

IIRC, Falcon already did that l

[2016-06-28 21:45] BenjamenMeyer opened #837 "Refactor Middleware in API to its own class"
This is a break out from https://github.com/falconry/falcon/pull/594

Essentially, I want to be able to unit test the individual parts of the middleware. Current implementation does not make this possible. PR #594 introduced a parallel class to the `srmock` called `smmock` to do this. The objection was that the middleware implementation in `falcon.API` might diverge from what is done for `smmock`

[2016-06-29 22:06] kgriffs commented on #781
OK, no worries.

[2016-06-29 22:06] #781 closed

[2016-06-29 22:12] kgriffs commented on #802
https://github.com/lwcolton/falcon-cors from @lwcolton should do the trick, but feel free to reopen this issue if that approach doesn't work for you.

[2016-06-29 22:12] #802 closed

[2016-06-30 00:50] kespindler commented on #344
@sebasmagri did you ever try to mash those two up together? falcon + uvloop is something i'd be interested to see documentation as well

[2016-06-30 05:39] socek commented on #836
Problem was not in the Falcon, but in the wsgi_intercept. Sorry for this.
https://github.com/cdent/wsgi-intercept/issues/39

[2016-06-30 05:39] #836 closed

[2016-06-30 18:41] kgriffs opened #838 "Add support for query string parameters in route templates"
We can borrow from RFC 6570 syntax and do something like this:

[code]

Note that all params would default to None if present. I'm assuming we would just pass these as kwargs to the responder method.

Filters could be specified by extending RFC 6570, i.e:

[code]

[2016-06-30 20:17] kgriffs commented on #423
@lindseybrockman  I honestly don't remember about "in", so let's just leave it out for now. However, we might want to add "uuid" since that is a fairly common way to specify resource IDs (in addition to "int").

I've split out the query string work into a separate issue (see also #838).

Here's what I was thinking regarding the contract for these filters...

Assume a sample template:

[code]

And

[2016-06-30 20:50] #789 closed

[2016-07-05 22:53] kgriffs opened #841 "Remove redundant naming in uri.parse_query_string() kwargs"
Remove redundant naming in kwargs. Change from this:

`def parse_query_string(query_string, keep_blank_qs_values=False, parse_qs_csv =True)`

to this:

`def parse_query_string(query_string, keep_blank=False, csv =True)`

[2016-07-06 05:31] sebasmagri commented on #344
@kespindler not yet, been swamped with some projects here. But I'm definitely interested on benchmarking against uvloop.

[2016-07-07 23:47] kgriffs opened #842 "Change the auto_parse_qs_csv Request option default to False"
It seems like more people use form-style lists than csv-style, so let's switching the default.

[2016-07-08 17:32] kgriffs commented on #423
Something else to think about: What is a good way to allow a filter to short-circuit a request with a specific error? For example, when parsing a UUID, if it is invalid, the filter may want to raise an instance of `HTTPBadRequest` instead of just returning `False` to indicate the segment wasn't matched/accepted, which would presumably result in a 404.

[2016-07-08 18:17] lindseybrockman commented on #423
@kgriffs ah, yes, I'll be sure to take that into account! I believe custom filter registration was also suggested.. I was planning on going ahead with that as well, unless that has also been broken out into a separate issue (like #838)

[2016-07-09 16:34] #749 closed

[2016-07-09 18:21] kgriffs opened #844 "Migrate to pytest"
Pre-work

- [x] Replace nose with the pytest runner

Files to Convert

- [ ] `test_wsgiref_inputwrapper_with_size`
- [ ] `test_wsgi_errors`
- [ ] `test_utils` (minus falcon.testing unittest pieces)
- [ ] `test_uri_templates_legacy`
- [ ] `test_slots`
- [ ] `test_sinks`
- [ ] `test_response_context`
- [ ] `test_request_context`
- [ ] `test_response_body`
- [ ] `test_request_body`
- [ ] `test_req_va

[2016-07-09 18:24] kgriffs commented on #16
Circling back on this. Something along the lines of what @butla proposed would be cool, albeit using the new requests-like testing framework. Should be pretty straightforward to make some free functions and then have class methods that wrap them for backwards compat.

P.S. - I created a separate issue (#844) for migrating Falcon's own tests.

[2016-07-09 18:26] kgriffs commented on #16
BTW, we should make sure we give an example in the docs of how to use a fixture to setup an api instance.

[2016-07-09 18:30] kgriffs commented on #744
[Merged]

[2016-07-09 18:30] #744 closed

[2016-07-09 18:34] kgriffs commented on #646
@ueg1990 Just following up to see how this is going?

[2016-07-09 18:37] kgriffs commented on #508
Ended up forking WelcomeBot after all: https://github.com/falconry/WelcomeBot

[2016-07-09 18:37] #508 closed

[2016-07-09 18:39] #178 closed

[2016-07-09 19:07] ueg1990 commented on #646
Hey @kgriffs, I already had a pull request for this: https://github.com/falconry/falcon/pull/832

[2016-07-10 11:28] butla commented on #16
That was exactly what I had in mind :) Oh, and a side note: Hug also has an implementation of [function-based Falcon testing] (https://github.com/timothycrosley/hug/blob/develop/hug/test.py#L38).

[2016-07-11 09:04] thomasgoirand commented on #844
Why not using testrepository and fixtures?

[2016-07-11 09:09] thomasgoirand opened #845 "Unit test failure when building 1.0.0 Debian package in Sid"
When building the Debian package of python-falcon 1.0.0 in Sid, I get the below failure:

======================================================================
FAIL: tests.test_req_vars.TestReqVars.test_client_accepts
----------------------------------------------------------------------
_StringException: Traceback (most recent call last):
  File "/home/zigo/sources/openstack/newton/python-falcon

[2016-07-11 16:09] #769 closed

[2016-07-12 18:40] lindseybrockman commented on #423
@kgriffs one more follow up regarding the return value of a filter indicating that it consumed all of the remaining segments: I just want to confirm that this means falcon would only support filters that consume either the first segment _or_ the entire rest of path (presumably after it's been re-built with `/` delimiters). Only verifying because I checked the functionality in bottle, and it looks

[2016-07-12 18:49] kgriffs commented on #423
@lindseybrockman I think custom filter registration would be good to do now, since that would help encourage a clean design. Regarding consuming any number of path segments, we could support it, but it may be something we put off for now since it would probably involve significantly more work in the router. But if we want to plan for that in the future, we could have filters return a number and ju

[2016-07-12 20:28] lindseybrockman commented on #423
@kgriffs I agree that putting off consuming only certain path segments can be done at a later time 👍 I'll look into returning numbers and see if that would be another possible way of having them fail fast instead of having the tree return `None` and then 404.

[2016-07-16 22:20] ministrike3 commented on #817
@yashmehrotra  If you aren't going to take this I'd like to take a look!

[2016-07-16 22:22] ministrike3 commented on #618
@kgriffs I'm interested in contributing; do you have any more information or ideas about this issue? I'm not 100% sure what im supposed to do// what the end functionality is supposed to be!

[2016-07-18 01:31] lvalladares opened #847 "make req object exception configurable"
The apis usually tend to have a pattern of response with certain defined parameters , as this framework focuses on the development of apis the req object should have some kind of parameter that allows the user to indicate the class of the exception to rise when an error such as invalid parameters occur.

In my case we tend to send a parameter called "status" with an internal code number and we can

[2016-07-18 11:02] yashmehrotra commented on #817
@ministrike3 Sure, have a go.

[2016-07-23 20:32] #778 closed

[2016-07-25 02:50] vit1251 commented on #825
You can use third-party parser

[code]

But I think that it is workaround.

[2016-07-27 15:27] pressyfdo opened #852 "Request object uri/url property returns wrong value"
When I send request to the uri/url `http://127.0.0.1/app/url`, the value returned by `req.uri/req.url` is `http://127.0.0.1/app/app/url` yet the application works perfectly.
When I look into the falcon's `request.py` file, it looks like the value of the `req.uri` is wrongly formatted.

I have posted the part where i guess it might had gone wrong below:

File: `request.py` - Line numbers 490, 491,

[2016-08-01 13:16] kespindler opened #853 "Split falcon-router into a separate library"
Have you considered splitting the falcon router into it's own library? I would love to use it in my (heavily-falcon-inspired) web framework: https://github.com/kespindler/albatross

Thanks for an awesome lib :)

[2016-08-01 13:32] kespindler commented on #794
@bcattle or @painterjd Did you ever resolve or determine the root cause of this bug?

[2016-08-03 10:35] vit1251 opened #854 "Add additional values on get_param_as_bool like ON, OFF"
Hello,

How about add to get_param_as_bool values

TRUE_STRINGS = [ ... , "on" ]
FALSE_STRINGS = [..., "off" ]

This is related to default value in checkbox on Internet Explorer.

Thanx.

[2016-08-03 23:40] kgriffs commented on #845
Hi @thomasgoirand, thanks for the report. That error is probably the result of installing the `mimeparse` package, instead of the `python-mimeparse` package. The latter is a better-maintained fork, and includes several bug fixes. `python-mimeparse` is the one that falcon's setup.py references. I may need to start vendoring it to avoid this problem in the future.

[2016-08-03 23:42] kgriffs commented on #787
Looks like this can be mostly avoided by building against the python.org dist. But I'll probably just not ship cythonized wheels for OS X going forward since the extra speed boost isn't really critical during development.

[2016-08-03 23:50] kgriffs commented on #16
OK, cool. I'd like to just have some basic py.test support in the framework out of the box, but others are free to create alternative, possibly more advanced solutions.

@butla did you have some bandwidth to implement this over the next couple of weeks? If not, I'd be happy to take it on. Just let me know. Thanks!

[2016-08-04 00:28] vit1251 opened #855 "How about cascade blueprint like flask"
When we make cascade application with API endpoint it may be very usable concept. How about implement this?

[2016-08-04 09:47] butla commented on #16
@kgriffs I'll probably won't have the time in this and the next month, so good luck to you :)

[2016-08-04 15:43] davidtavarez opened #856 "Falcon routes"
I'm wondering how do I implement routes like theses
![linear-router](https://cloud.githubusercontent.com/assets/337107/17408285/963975c2-5a38-11e6-9d35-0f3d5d18ae1f.png)

Do I have to create object for each routes?

[2016-08-04 17:12] vit1251 opened #857 "Regular expression route converter"
I have question about embedding regular expression in route object like it doing in flask.

Let's I show you example:

[code]

   ...

Could you have this or maybe a good idea porting Flask router to falcon system?

[2016-08-04 23:55] kgriffs commented on #16
Sounds good, I'll tackle it then. 👍

[2016-08-06 16:37] rr- commented on #856
I miss the ability to use `@route('/resource/{x}')` decorator.

[2016-08-06 18:19] benjohnde commented on #856
Seems like you are looking for something like https://github.com/stratoscale/hammock.

[2016-08-11 05:29] ayushidalmia opened #858 "How do we ensure only calls with HTTPs in falcon ?"
I don't find anything in the docs.

[2016-08-11 12:19] synic commented on #639
@foresmac: pretty new to falcon, but, from reading the code, I think that middleware might have a few bugs.  Since a new responder is not created for every request, your `cursor` object could be shared between two different requests (and users!).

It also seems to suffer from a race condition where the cursor can be in the process of being closed while another concurrent request tries to access it

[2016-08-11 14:55] benjohnde commented on #639
That is correct. You need to create a transaction, a scope or a session (whatever it is called) for one request.

An example middleware for using SQLAlchemy:

[code]

Cheers!

[2016-08-11 15:38] jmvrbanac commented on #639
Since SQLAlchemy provides support for connection pooling, I usually let it handle all of the connections for me and just use scoped sessions. When it comes to manually closing them, I usually only do that when I'm shutting down my API or handling errors. This page might help [Using connections-pools with multiprocessing](http://docs.sqlalchemy.org/en/latest/core/pooling.html#using-connection-pools

[2016-08-11 16:23] foresmac commented on #639
@synic That's not really a problem because we run Falcon in gunicorn, so each worker has its own process and each instance of falcon API has a single connection and processes a single request at a time. All I can say is with a busy API we never once found any evidence of a race condition.

[2016-08-11 16:44] benjohnde commented on #639
I am not deeply into falcon, when it comes to request handling. What I did read was the the following: http://docs.sqlalchemy.org/en/latest/orm/contextual.html#using-thread-local-scope-with-web-applications. If concurrency of requests can not be a problem, then it is unncessary to use a new fresh "Session" for each request (as my naive middleware does).

The approach to cleanly inject the dependen

[2016-08-11 16:53] foresmac commented on #639
Yeah, I mean, as far as I know a standard WSGI-based framework is not multithreaded. There are lots of different ways to run them, but our typical approach was to fire up `num_procs * 2` workers behind gunicorn, and that was behind nginx. So nginx handled request queuing, and gunicorn basically ran a copy of the falcon API in each worker. It's pretty easy to understand and reason about.

You could

[2016-08-12 18:24] kgriffs opened #864 "Reverse the order in which Request.client_prefers matches media types"
Currently, The iterable must be sorted in the order of increasing desirability. It would be probably be more intuitive to reverse that order, but note that this would be a breaking change.

See also: https://github.com/falconry/falcon/pull/823

[2016-08-14 11:39] vit1251 opened #865 "Implement post handling middleware"
How about implement post middleware for multipart and www-encoded body content in defautl falcon distribution.

[2016-08-14 11:40] vit1251 opened #866 "How about make get_params_* as method in class Params"
How about make class params for reusing on query string, post data and put data from middleware to make single interface for any user client data access?

[2016-08-15 21:26] #785 closed

[2016-08-15 21:51] kgriffs commented on #845
Going to go ahead and close this. Please reopen if you weren't able to resolve the problem.

[2016-08-15 21:51] #845 closed

[2016-08-18 18:46] ayushidalmia commented on #520
Can anyone point to anything useful related to swagger and falcon?

[2016-08-19 10:40] ayushidalmia commented on #219
Is this done?

[2016-08-19 10:42] sinwoobang commented on #219
Well, I didn't.

[2016-08-20 17:12] rvinas commented on #584
Is this functionality currently available?
From my point of view, it seems reasonable for a same resource to be able to handle more than one route. For example, I would prefer to handle `GET tickets/{num}` (retrieve ticket number {num}) and `POST tickets` (create new ticket) in the same class.

[2016-08-23 17:48] kgriffs commented on #687
@alertedsnake can you take a look at https://github.com/falconry/falcon/pull/869 to see if it resolves your issue?

[2016-08-23 22:08] alertedsnake commented on #687
Looks good! I should be able to actually test later this week, but the test cases in the PR cover my use case just fine.

Thanks for adding this!

[2016-08-23 22:08] #687 closed

[2016-08-23 23:36] kgriffs opened #872 "Change comma-delimited list rendering and parsing defaults"
Wherever we currently default to the comma-delimited list format for query string parameters (e.g, `thing=1,2,3`), change to defaulting to rendering and parsing only the more common HTML forms-style (e.g., `thing=1&thing=2&thing=3`).

[2016-08-27 17:02] lynxionxs opened #878 "Method set_cookie() not working, no errors, just blank"
The ```set_cookie()``` method is not working.
The example below never sets a cookie in the browser, its blank and no errors.

[code]

The ```resp.set_header("Set-Cookie", "xxx")``` works, but i cannot set multiple cookies with it.

[2016-08-27 17:24] #878 closed

[2016-08-28 19:17] #635 closed

[2016-08-31 18:34] TiberiumPY opened #884 "Question: Can you update metrics?"
On the official website, you're comparing CPython 2.7.9 with PyPy 2.5 . I think it would be great to compare CPython 2.7.12 with PyPy 5.4.1 (both are last versions). I think that PyPy got much better

[2016-09-03 20:58] frankwiles opened #885 "https://falconframework.org/ down"
Just an FYI it seems [https://falconframework.org/](https://falconframework.org/) is down.

[2016-09-05 11:17] pikkupr opened #886 "how to parse data from a post request when content-type is form-data"
I want to send form-data to the api, but I cannot find a way to parse that data. I am using python3 on ubuntu.

[2016-09-05 22:58] kgriffs commented on #16
Added new free functions and a pytest-friendly helper class for simulating requests, and an example in the module docstring showing how to employ them via pytest.

[2016-09-05 22:58] #16 closed

[2016-09-05 22:58] #787 closed

[2016-09-05 23:06] kgriffs commented on #779
I reworked the middleware handling logic (now merged to master) so that error handlers (including the default ones for HTTPError and HTTPStatus) will be called (and have the opportunity to set resp.status, etc.) before calling middleware process_response() methods. Give it a try and let me know if that helps!

[2016-09-06 01:11] kgriffs commented on #885
Thanks! It's back up now.

[2016-09-06 01:11] #885 closed

[2016-09-06 05:36] kgriffs commented on #606
Hi everyone, the middleware handling has been reworked such that the status code will now be updated before process_response is called. Please try the latest code from master and let me know how it goes.

I've also got a patch up to pass a flag to process_response() so that the logic can key off whether the request succeeded or not. Check it out and let me know what you think: #890

[2016-09-07 21:18] #595 closed

[2016-09-09 17:40] #606 closed

[2016-09-12 08:46] ksonj opened #895 "405 errros are not passed through custom error handlers"
I tried writing a custom error handler for `falcon.HTTPError` (to control the representation of failures) and realized that 405 errors were never passed to the handler.

This is probably due to [`method_not_allowed`](https://github.com/falconry/falcon/blob/master/falcon/responders.py#L43) not raising an exception (like e.g. [`path_not_found`](https://github.com/falconry/falcon/blob/master/falcon/r

[2016-09-12 15:13] #884 closed

[2016-09-13 05:36] houqp opened #897 "%2F is treated as / in routing"
As a result, the following two requests are matched by the same rule:

[code]

[2016-09-13 22:09] #895 closed

[2016-09-14 01:25] kgriffs commented on #407
Confirmed. I also was able to reproduce, but only when using run_simple(), not when manually pumping the requests via handle_request().

[2016-09-14 07:06] prateekkrjain opened #899 "Deploy Python Falcon app with Apache2"
I have developed an api using falcon framework (v1.0). Now, I want to deploy this api on apache2 server with mod_wsgi at amazon EC2 instance.

I'm running my app using wsgiref package on EC2 server.

[code]

When I call https://example.com:8000/, I don't get any response and also my server is not getting the request.

wsgi.py file contains:

`from test import app as application`

I've added follow

[2016-09-14 13:22] mfeitoza opened #900 "get_param_as_list incorrect return with comma-separated"
[code]

[2016-09-14 13:58] egorsmkv commented on #900
Use Python to parse:

[code]

[2016-09-14 15:04] mfeitoza commented on #900
Yes, i used this approach.

_But documentation says:_

[2016-09-14 15:24] mfeitoza commented on #900
The problem is with PyCharm.

In browser get_param_as_list works correct.

[2016-09-14 15:24] #900 closed

[2016-09-14 16:49] #619 closed

[2016-09-15 23:51] kgriffs commented on #897
Hi @houqp, the web server actually decodes the path before it makes its way into the WSGI callable (this is not unique to Falcon). The value is passed via the `PATH_INFO` variable in the [WSGI environ](https://www.python.org/dev/peps/pep-3333/#environ-variables).

Gunicorn includes a non-standard variable, `RAW_URI` with the original, percent-encoded string. uWSGI does something similar, but calls

[2016-09-16 18:28] #407 closed

[2016-09-19 05:46] houqp commented on #897
Thanks @kgriffs for the detailed response ;)

I agree this is not a falcon issue. For now, I will work around with the custom WSGI wrapper.

That said, it might be handy to ship with a builtin wrapper(disabled by default) that handles all the non-standard WSGI variables.

Another approach that flasks took is using URL converter [1], specifically, the path converter. However, this approach has its

[2016-09-19 05:46] #897 closed

[2016-09-23 01:05] lucidfrontier45 opened #911 "Use `inspect.signature` to allow type hint annotaitons in hook functions"
Type hint is useful to tell the signature of a function to ide or editor like PyCharm/Atom. When I add type hint to hook function, python raises the exception

[code]
[code]

The error message says `getargspec` does not allow annotations and suggests I use `getfullargspec`.
Checking the codes of `getargspec` and `getfullargspec`, I found they are both deprecated and we should use  `inspect.signatu

[2016-09-23 02:09] #646 closed

[2016-09-26 12:46] ladder1984 commented on #854
How about '1'/'0' ?

[2016-09-26 16:48] nicolinux opened #912 "How to *disable* Transfer-Encoding: chunked?"
I'd like to not have Falcon use chunked transfer encoding and set the Content-Length myself for a response header. I have tried to set and unset resp.stream_len but I still get chunked encoding.

[2016-09-26 16:49] nicolinux commented on #912
Wrong channel for asking questions. Better do it here:
https://groups.google.com/forum/#!forum/falconframework

Hm on the other hand, the google group is empty... Ok, so I am reopening here.

[2016-09-26 20:26] kgriffs commented on #886
Hi @pikkupr, if the data is encoded as `application/x-www-form-urlencoded`, you can use the [auto_parse_form_urlencoded](http://falcon.readthedocs.io/en/latest/api/api.html#RequestOptions.auto_parse_form_urlencoded) option to parse it.

Alternatively, you can manually read the body of the request and decode it via [falcon.uri.decode()](http://falcon.readthedocs.io/en/latest/api/util.html#falcon.ur

[2016-09-26 20:41] kgriffs commented on #886
P.S. - You may also want to check out this add-on: https://github.com/yohanboniface/falcon-multipart

[2016-09-26 20:43] kgriffs commented on #911
Hi, thanks for the report! We use getargspec in several places to facilitate backwards-compatibility. I think it would make sense to use `inspect.signature` instead on py3k.

[2016-09-26 20:47] kgriffs commented on #858
Hi, were you looking for something like #514

[2016-09-26 20:49] kgriffs commented on #865
We're considering this for a future release, but in the meantime please see also #886

[2016-09-26 20:49] #865 closed

[2016-09-26 20:51] kgriffs commented on #854
'1' and '0' have been implemented. We can add 'on' and 'off' as well, no problem. Thanks for the suggestion!

[2016-09-26 20:56] kgriffs commented on #886
See also: #825

[2016-09-26 21:15] kgriffs commented on #912
Hi @nicolinux, we just started using the google group, so feel free to post there. Regardless, re your question, the framework never attempts to set `Transfer-Encoding` since PEP-3333 forbids WSGI apps from setting hop-by-hop headers. When req.stream_len is not set, the framework will omit `Content-Length` from the response, which usually causes the WSGI server to chunk the response.

[2016-09-26 21:48] kgriffs commented on #835
Hi @EmilStenstrom, thanks for bringing this up. To improve parity with other libraries/frameworks, I propose making all three of the following changes:

* Add a new property, `Request.port`.
* Add a new property, `Request.netloc` that will contain the host as well as the port (if present). Note that "netloc" is consistent with the standard library's `urlparse()`. The value can be taken directly fr

[2016-09-26 21:51] kgriffs commented on #423
@lindseybrockman Just following up to see if you were still working on this? If you don't have the bandwidth, no worries, just let me know and we can reassign. Thanks!

[2016-09-27 05:49] EmilStenstrom commented on #835
Hi! All your suggestions sound good to me. Thanks for listening!

[2016-09-27 08:36] nicolinux commented on #912
Ok, thanks for the answer. I still don't have success with it. I have posted an updated question on the new Google group:
https://groups.google.com/forum/#!topic/falconframework/VRFeNCkfK4o

[2016-09-27 14:08] nicolinux commented on #912
Ok found the problem. It is not related to Falcon or Gunicorn. Nginx drops the Content-Length header if gzip is enabled because it compresses on the fly and thus can't know the file size beforehand. It then automatically adds Transfer-Encoding: chunked.

[2016-09-27 14:08] #912 closed

[2016-09-28 04:09] kgriffs commented on #817
The problem is that `create_environ()` is not tunneling via ISO-8859-1 under p3k. See: https://github.com/falconry/falcon/blob/master/falcon/testing/helpers.py#L131

The fix should be as simple as checking `six.PY3` and then performing `path.encode('utf-8').decode('iso-8859-1')`.

[2016-09-28 04:13] #783 closed

[2016-09-28 04:19] kgriffs commented on #618
Hi @ministrike3, I think we can start by simply defining some constants for common media types that app developers can use to set the default media type in `falcon.API()` or explicitly via `resp.content_type`.

BTW, you might like to do this as part of https://hacktoberfest.digitalocean.com 😄

[2016-09-28 04:32] kgriffs commented on #423
BTW, this could be a good way to score some points for https://hacktoberfest.digitalocean.com 🎃

[2016-09-28 04:46] kgriffs commented on #584
@rvinas It hasn't yet been implemented, but this could be a good project for https://hacktoberfest.digitalocean.com/ if someone is interested in tacking it on for Falcon 1.2.

[2016-09-28 04:48] kgriffs commented on #856
Hi @davidtavarez, it looks like you have the following REST resources:

* Park collection
* Park item
* Trail collection
* Trail item
* Map
* Reservation collection
* Reservation item

etc.

Each of these resources would be represented by a class and implement the HTTP methods that it supports. There's an open issue for implementing a way to combine the "collection" and "item" resources into a sin

[2016-09-28 04:49] #752 closed

[2016-09-28 05:16] kgriffs commented on #794
Unfortunately this is a leaky abstraction based on the router implementation. Adding `/v/{video_uuid_or_short_id}` overwrites the previous route for `/v/{video_uuid}`, so now there is just one route, `/v/{video_uuid_or_short_id}`. Then, attempting to add `/v/{video_uuid}/likes` causes a conflict because different names are used at the same level in the path hierarchy.

The workaround is to use the

[2016-09-28 05:22] bcattle commented on #794
Ah thanks @kgriffs for the explanation. That makes sense.

[2016-09-28 05:59] stiefel40k commented on #776
I got this as soon as we hit October 1st.

[2016-09-28 18:55] lindseybrockman commented on #423
@kgriffs woah jeeze, I really put this on the backburner 😖 It looks like the last bit of functionality I need to implement is filters on complex nodes! I'll dive back in this weekend and let you know if I need to hand the work off to someone else!

[2016-09-28 20:09] xyzones opened #915 "Raising errors from resource methods doesn't change status for other middleware"
this is related to #635, #877

looks like if we raise an error the response status remains 200 OK

[code]

I would expect that raising an error will set the right status in the response handler as well

[2016-09-28 20:19] xyzones opened #916 "if header is required resp.status remains 200 OK"
[code]
returns

[code]

however logging the resp.status to a file is 200 OK

[2016-09-28 20:49] xyzones commented on #915
never mind. had 2 different versions of falcon on the test environment

[2016-09-28 20:49] #915 closed

[2016-09-28 20:50] #916 closed

[2016-09-28 23:05] houqp commented on #366
I vote for add-on :) We are planning to use beaker for now. Do you have other recommendations?

[2016-09-28 23:23] kgriffs commented on #366
[Beaker](https://github.com/bbangert/beaker) seems like a reasonable solution. They claim to have "fast, robust performance", but you may want to do your own testing to make sure it meets your needs.

In Falcon 1.1 (currently in beta) you can now add additional properties to the `req` object, so you could use a Falcon middleware method to make the session a bit more accessible, e.g.:

[code]

[2016-09-29 01:41] codezq commented on #753
Thanks a lot! Now I use the `requests` library.

[2016-09-29 01:41] #753 closed

[2016-09-29 19:45] kgriffs commented on #779
Going to go ahead and close this. Please reopen if 1.1 doesn't meet your needs. Thanks!

[2016-09-29 19:45] #779 closed

[2016-09-29 19:46] kgriffs commented on #460
See also: #858

[2016-09-29 19:52] kgriffs commented on #853
Hmm, that's a possibility. @jmvrbanac what do you think?

[2016-09-29 19:58] kgriffs commented on #866
That could make sense, but we would need to benchmark to make sure the extra level of indirection doesn't significantly degrade performance (or if it does, try to offset that loss somewhere else). We have some parameter work scheduled for 1.2 so let's keep this discussion going and see what we can come up with.

[2016-09-29 20:04] kgriffs commented on #663
We should document this as well as see if we can have the router print a more helpful error message. See also #794.

[2016-09-29 20:08] kgriffs commented on #857
Hi @vit1251, we should be able to support this inside Falcon's own high-performance router as part of #423. The syntax might look something like this:

/user/{name:re:[A-Za-z0-9]+}

I'd love to get your feedback and help on reviewing the (up and coming) PR for this feature.

[2016-09-29 20:08] kgriffs commented on #857
(closing since this is covered by #423)

[2016-09-30 14:33] abompard opened #919 "DELETE methods don't parse the form parameters into their query string"
Commit b36ffe6 removed the auto-parsing of form parameters into the query string for requests other than `POST`. Commit da0eec2 re-enabled it for `PUT` and `PATCH` requests. In my app (Mailman3) I also have `DELETE` methods that use form data and are broken by this change.

Could you allow `DELETE` requests to auto-parse the form parameters too? Or do you have an alternative way to parse this data

[2016-09-30 18:53] kevin-leptons opened #922 "Why falcon did not make response more easy ?"
falcon use two way to create response

**Way 1: use res.body**

[code]

**Way 2: use req.context**

[code]

Why falcon did not make response more easy  by that way

[code]

[2016-10-01 06:12] #911 closed

[2016-10-01 06:42] #854 closed

[2016-10-01 06:56] #817 closed

[2016-10-03 16:47] kgriffs commented on #919
Hi @abompard, thanks for the report! We'll fix this; I certainly don't want to break anyone with a point release. 😄

[2016-10-04 08:54] masellfoodpanda commented on #817
Awesome, thank you @jmvrbanac and @kgriffs

[2016-10-04 15:09] #919 closed

[2016-10-04 16:43] pikkupr commented on #886
@kgriffs Thank you for your reply. It was helpful. Thanks

[2016-10-04 21:05] #776 closed

[2016-10-04 22:31] kgriffs opened #925 "HTTPNotAcceptable's title should overridable, and default to '406 Not Acceptable'"
This would make HTTPNotAcceptable more. consistent with other errors.

[2016-10-04 22:36] kgriffs commented on #925
Likewise for HTTPUnsupportedMediaType

[2016-10-06 19:21] lindseybrockman commented on #423
@kgriffs alrighty, working on some testing and clean up to prep for a PR. The last remaining issue was handling filters on complex nodes. You mentioned above that we may want to break it out into a separate issue. At first I thought I'd be able to tackle it, but it's been a little more time consuming than I thought it would be. Worst case scenario, I'll submit the PR with*out* support for that and

[2016-10-07 00:18] kgriffs commented on #413
We neglected to address this for the header property setters.

[2016-10-11 17:26] kgriffs commented on #663
see also #535

[2016-10-11 17:28] kgriffs commented on #663
TODO
[] Document in RTD
[] Improve error message
[] Investigate lifting the restriction

[2016-10-11 17:29] kgriffs commented on #794
consolidating into #663

[2016-10-11 17:29] #794 closed

[2016-10-12 18:47] #413 closed

[2016-10-13 12:47] pokidovea commented on #663
I have two urls:
[code]
It is necessary for me to specify different variable names. Why I have to specify the same name?

[2016-10-17 01:09] kgriffs commented on #253
FWIW, the 1.1 docs have some example code now (see also: http://falcon.readthedocs.io/en/latest/api/testing.html). But I'd still love to get someone's help with a testing tutorial if anyone can help out.

[2016-10-17 01:46] butla commented on #253
@kgriffs I think I could help. How should it be made? A "Testing" section after "Error Handling" in http://falcon.readthedocs.io/en/stable/user/tutorial.html?

Also, what should be in it? I guess I would show a simplest GET, POST with JSON body, POST with urlencoded params and an example of how to organize the application code to be able to inject mocks in the API objects.

[2016-10-18 08:01] fabregaszy opened #932 "Do API versioning by 'Accept' field in request header"
I have a requirement that need to route request to different resource class by the 'Accept' fields in the request HTTP header.

What I think is to write a middleware with process_request that parse req.accept and change the uri of the request. Then use route to route the "real" uri to different handlers.
But it seems that the uri of the request cannot be set directly.

Is there any elegant approac

[2016-10-18 16:56] kgriffs commented on #932
Hi @fabregaszy, have you tried setting `req.path = '/some/path'` in `process_request()`?

[2016-10-19 02:27] fabregaszy commented on #932
@kgriffs Hi, that's exactly what I do now for the solution. I wonder if there's more elegant way to do things like this. Thanks!

[2016-10-21 22:15] kgriffs commented on #253
Awesome, thanks! That sounds like a pretty good plan. You don't need to show how to do everything, but enough to point the reader in the right direction. Once someone has the big picture, they can refer to the testing reference docs to learn about all the different parameters supported by `simulate_request()`, etc.

It may also be useful to have a dedicated "testing.rst" similar to what we have fo

[2016-10-24 08:10] karmux commented on #922
I like the current consistent behaviour when response body has to be always string created by developer. In this way you are free to select your serializing tools (std json, marshmallow, dicttoxml etc). Letting Falcon to automatically serialize objects would be too much magic under the hood and this usually means also less flexibility in my opinion.

**return** would be nice to have though.

[2016-10-24 10:11] heckfi opened #933 "Add referer attribute to the request and response objects"
The Request and Response objects have various helper attributes that make working with headers easier. It would be nice if Falcon allowed for us to set the `referer` header via a helper attribute like `content_type`.

[2016-10-28 17:52] kgriffs commented on #826
Hi @masellfoodpanda, I don't think I quite follow what you are saying. When it comes to query strings, uWSGI does not decode them, but passes them raw through the WSGI environ dict. Falcon's framework also does not decode the query string, but passes it along unchanged to `falcon.API.__call__()`. At this point, the value is passed into `falcon.Request.__init__()` where it is finally decoded via `u

[2016-10-28 21:03] jasonab commented on #153
Has there been consideration of having a config dictionary on the application, a la Flask? I will admit it comes in handy there.

[2016-11-01 17:21] lindseybrockman commented on #423
@kgriffs unfortunately I haven't had much time to dedicate to this feature. I will continue working on it if I get a chance, but I'm more than fine handing off the remainder of the work to a new assignee.

[2016-11-02 08:01] yssoe opened #939 "How can I get the IP of the client?"
Hello,

I need to have the IP numbers of the client who is making requests in Falcon, I can't seem to find this, how can I do this?

Thanks for the help.

Cheers.

[2016-11-02 15:29] jmvrbanac commented on #939
Answering this even though it was closed as others might have the same question.
Falcon relies on WSGI to provide those values. Usually these can be retrieved via `access_route` or `remote_addr` on the Request object. https://falcon.readthedocs.io/en/stable/api/request_and_response.html#Request.access_route

[2016-11-02 15:29] #939 closed

[2016-11-04 16:30] kgriffs commented on #423
@lindseybrockman Thanks for everything you've done so far! Would you like to put up a WIP PR and then we can see if anyone else wants to take it and run with it?

[2016-11-04 17:43] jaddison commented on #423
@kgriffs said that I should comment on my use case here, to make sure it's covered in any subsequent fixes.

Given URI:

[code]

I'd like to `add_route()` a route that matches the above like:

[code]

such that `{params}` contains `a,6;b,45;text,hello` and `{source}` contains `http://www.test.com/photos/dcm_04334.jpg`.

I think a regular expression match is needed for the last bit?

[2016-11-11 23:06] w1z2g3 commented on #796
@kgriffs per https://tools.ietf.org/html/rfc7230

I think RFC 7231 really means: For HTTP code not include 1xx and 204, a server MUST generate a Content-Length field with a value of "0" if no payload body is to be sent in the response.

https://tools.ietf.org/html/rfc2616#section-9.2 mentioned 200 for OPTIONS, but RFC 7231 removed that wording. So we can return 204 as well as 200. But when they wr

[2016-11-11 23:31] kgriffs commented on #796
Hi @w1z2g3, that's a good insight. Logically, it would make sense to use 204 for an OPTIONS response when no payload is given, and in that case Content-Length should not be specified. Falcon is currently returning 204 as well as setting Content-Length, so we should probably either switch to 200 or remove Content-Length. Given that RFC 7231 specifically states that Content-Length should be zero, I'

[2016-11-12 22:02] sevazhidkov opened #947 "Improve set_cookie() documentation (and validation?) wrt domain name"
Hi!

My code is like:
[code]

```resp._headers``` shows cookie header, but when I make request, there is no cookie. Is it known problem?

I'm using Python 3.5 and last pip version of falcon

[2016-11-12 22:06] sevazhidkov commented on #947
Such functionality was earlier implemented on Flask and I didn't had such problem.

[2016-11-14 17:54] kgriffs commented on #947
Hi @sevazhidkov, This could be due to [the secure attribute](http://falcon.readthedocs.io/en/latest/api/cookies.html#the-secure-attribute). I know that setting this to `False` during development is tedious; one solution may be to introduce an application-wide option to the framework for setting this so it doesn't have to be done for each call to `set_cookie()`.

[2016-11-14 18:33] w1z2g3 opened #948 "No easy way to add generic Exception handler using add_error_handler()"
If I want to add a generic error handler to handle Exception, we cannot use add_error_handler() because it will override the falcon.HTTPError and falcon.HTTPStatus handlers. The only way I can think out is:

[code]

One suggestion is to expose _error_handlers as a property `error_handlers` and remove function add_error_handler().

[2016-11-15 15:24] jmvrbanac commented on #948
Generic handlers can be problematic. You've requested the handler to handle `Exception` and its sub-classes. Since `falcon.HTTPError` inherits from `Exception`, it's technically doing what it's suppose to. However, you can still do what you're trying to do. You just have to tell the handler to not mess with `HTTPError`. So something like:

[code]

Hope this helps!

[2016-11-15 15:41] w1z2g3 commented on #948
Thanks for the tip.

Not every exception will be handled by HTTPError:

[code]

I think people do need to setup a catch-all error handler. My workaround and your suggestion all seems a hack. As far as we have internal default values for _error_handlers, one add_error_handler() seems not flexible enough.

From interface's point of view, if we remove default values, only one add_error_handler() shou

[2016-11-16 11:29] sevazhidkov commented on #947
@kgriffs Even with secure=False it still don't work.
I want to note, that host domain and redirection domain is different (it's oAuth authorization)

[2016-11-20 06:49] gregj1 opened #950 "uwsgi, transformation_gzip and the content-length header"
I have a falcon instance running under uwsgi and nginx. I have enabled the gzip transformation to shrink responses sent from the falcon app.

After enabling this configuration, my application stops working. The network tab in chrome's developer tools shows the api requests as "incomplete". The response header shows the Content-Length of the uncompressed response.

Notes in [a ticket](https://githu

[2016-11-20 18:16] lwcolton commented on #294
Hey @kgriffs,

    I'm interested in seeing multipart file upload capabilities added to Falcon.  I think the main design decision is whether to use the multipart form parsing available in cgi.FieldStorage  or  write our own multipart form parser.  falcon-multipart uses cgi.FieldStorage so if that is acceptable to you, I think it would be pretty straightforward to add that to falcon.

[2016-11-21 10:44] AndreiRegiani commented on #922
@kevin-leptons Take a look at [falcon-jsonify](https://github.com/AndreiRegiani/falcon-jsonify), it's a middleware I just released to help with JSON requests and responses.

[code]

[code]

[2016-11-21 13:27] kevin-leptons commented on #922
@AndreiRegiani, I have viewed falcon-jsonify. I have idea to make it better: remove validators and let jsonschema do it. You must do one thing and do it as well: convert json data from request and to response

You it make sense

[2016-11-22 13:20] yisraell opened #951 "documentation: bounded_stream example incorrect"
[code]
should be

[code]

[2016-11-23 01:54] kgriffs opened #953 "Support multipart/form-data"
Depends on: #418

* Add support to `Request.form` for loading non-file control name/value pairs from a `multipart/form-data` request.
* Add a new property, `files` to `Request`. This should provide an interface for reading one or more files submitted via an HTML form post. We should look at the standard library, werkzeug, and bottle for inspiration re the implementation. There may also be some sta

[2016-11-23 01:56] kgriffs commented on #866
Closing in favor of #418 and #953. Please share your thoughts on those other issues. Thanks!

[2016-11-23 01:56] #866 closed

[2016-11-23 01:57] kgriffs commented on #886
See also: #953

[2016-11-23 01:57] #886 closed

[2016-11-23 02:01] kgriffs commented on #418
OK, for 1.2 I'd like to get this over the finish line. After looking at several different options, here is my proposal.

Implement a new design for accessing parameters, consisting of three additional properties on the Request class:

[code]

Note that accessing `form` for the first time triggers a read of the request body stream. It may be prudent for the framework to replace `req.stream` at that

[2016-11-24 22:24] admiralobvious commented on #713
@luanalbineli I know this is pretty old but we ran into that issue as well and came up with the following workaround of making your adding your own error_handler which correctly run our middleware and add CORS headers:

@swistakm That works if you're running your own load-balancer but we're using Google Cloud's HTTP L7 load-balancer which just swallows the 500s and return a 502 with Falcon's defau

[2016-11-25 21:43] AndreiRegiani commented on #922
@kevin-leptons I will take a look and consider `jsonschema`, thanks for the suggestion. If you have any other thoughts create an issue on [falcon-jsonify](https://github.com/AndreiRegiani/falcon-jsonify), it's a work in progress really, right now I'll push to pip compatibility to Python 3 and add some more improvements.

[2016-11-29 21:09] lwcolton commented on #713
@luanalbineli @swistakm   Sorry for my inadequate previous response.  It is not falcon-cors swallowing the error here, but falcon framework itself.  falcon-cors middleware processes CORS headers regardless of whether the resource raised an exception.  If an error handler has not been added to the falcon API, falcon will stop processing when an exception which is not an instance of falcon.HTTPError

[2016-11-29 21:36] lwcolton commented on #713
@kgriffs Ready to close this

[2016-11-29 21:51] lwcolton commented on #418
@kgriffs Looks great, super excited to get started helping with this.  Are you pretty firm on the attribute naming, or would you consider calling "qs"  "query" instead?   Also are you planning to have "qs_or_form" and "params" co-exist?   Or could we update params to use ParameterSource instead of adding qs_or_form?   Last question, do you have any issues with ParameterSource supporting dictionary

[2016-11-29 22:03] lwcolton commented on #418
@necaris Are you wanting to contribute ParamterSource and the additional items here?  Since you originally had a PR open for this issue just let me know what all you want to do

[2016-11-29 22:09] lwcolton commented on #953
@kgriffs To be clear are you asking for a new multipart form parser implementation, and not to re-use cgi.FieldStorage?  https://github.com/python/cpython/blob/2.7/Lib/cgi.py#L352

[2016-11-30 15:15] suhailars commented on #639
how can i handle request session(not db session ) in falcon ?

[2016-12-04 12:53] tyan4g opened #955 "only part of the api need to use auth middleware?"
I build apis .and some of them need the auth info and some of them don't need the auth info..
so how could I construct an auth middleware??
As the doc suggest,

so I guess I have to use hooks????or I should stick to middleware and detect the request.url in the middleware and check auth state or just use a hook,,,

I guess I need some general help on authentication and authorization??I already buil

[2016-12-05 20:09] randomphrase opened #956 "Interop with wsgiref.simple_server?"
Hi, I'm a newbie to wsgi in general and falcon in particular. However I'd like to clarify exactly what level of interop to expect when falcon is used with wsgiref.simple_server?

For example, the following is slightly adapted from the tutorial:

    import falcon
    import mimetypes
    import os
    from wsgiref.simple_server import make_server

    api = application = falcon.API()

    class Re

[2016-12-19 19:23] fastingsamurai opened #959 ""Field names must be valid identifiers" error when field is one character long"
I have a route that looks like: /blah/{t}

Upon upgrading Falcon to 1.1.0, adding this route results in the error in the title.

I have to assume that the regex used here is wrong:

[code]

It should be:

[code]

I love Falcon! Thanks.

[2016-12-20 02:56] hozn opened #960 "Support closing filelike response streams"
We ran into an issue wanting to provide a TemporaryFile (for e.g. very large file downloads) as a stream to the response.  These files would be removed when closed, but the iterator that Falcon uses does not expose a close method to close the underlying stream.

In short, I'd like to propose that the iterator implementation calls `close()` on the stream, if the method is exposed on the stream.

(I

[2016-12-20 11:54] miso-belica commented on #648
Hi, my use-case is to create microservice for CORS proxy like this `GET /api/v1/proxy/http://example.com/some/path/to/file.jpeg?width=300&heigth=100`. IMHO this is quite common case. Currently I am able to do this with *sink*.

[2016-12-20 14:18] jdno opened #962 "HTTPError in middleware results in AttributeError when parsing body"
Hi,

I am getting the following error when I try to access certain routes in my application:

[code]

I use a middleware ([jhildreth/falcon-jwt-checker](https://github.com/jhildreth/falcon-jwt-checker) to validate and decode JWTs, and the error is raised every time the middleware raises an `HTTPUnauthorized` error.

I spent some time with the debugger and found out that during the exception handli

[2016-12-20 15:34] advance512 commented on #210
Was this ever done?

[2016-12-23 14:21] mikebski opened #963 "Provide complete example of resource in documentation"
In the documentation, all of the resource examples show `on_get(self, req, resp)` methods only.  There is not a list of all the methods that can be implemented by a resource:

* on_get
* on_post
* on_put
* on_head
...

A basic list of all HTTP verbs and which methods they map to would be good to have in the documentation/quickstart since this is a key part of the framework.  The first explanation

[2016-12-25 20:39] rjrhaverkamp commented on #618
I did some basic work on this, I am not sure if this is what you mean.

I am working on also being able to set it via resp.content_type but I am not familiar enough with the codebase to do this, yet.

Let me now what you think! 🎉

[2016-12-26 10:04] rjrhaverkamp commented on #618
I just saw we already have resp.content_type.. So one could just do: `resp.content_type = falcon.XML` with my code now. I guess that is convenient enough right?

[2017-01-01 15:26] roeih-stratoscale opened #966 "Add an option to keep a trailing slash in the request path"
Right now in the "Normalize path" section in request.py, a trailing slash, if exists, is stripped from the request path (this was done as part of https://github.com/falconry/falcon/issues/48).
I suggest to make this stripping configurable by adding an option to RequestOptions, something like keep_url_path_trailing_slash (default True, as it is now), in order to allow to avoid stripping the trailin

[2017-01-03 03:06] johnlinp commented on #145
How about using `auto_parse_json` request option just like `auto_parse_form_urlencoded`? When Falcon supports more media types, just add more request options for them.

[2017-01-03 09:36] TomIsYourName commented on #180
I saw #418 still open, so the issue still remain?

[2017-01-04 17:21] sseg opened #967 "Proposal: pass request object to router.find"
It can be useful to make decisions about headers in the routing layer (e.g. for API versioning or media types). Having the full request available to the router allows the application to route requests based on any value of the WSGI request env.

To implement this kind of functionality currently requires putting routing logic into response handlers (after HTTP method resolution) or manipulating the

[2017-01-08 00:43] FFX01 commented on #963
Agreed. Documenting this would be a good idea. Falcon has a rather strange way of writing Resource classes in that methods do not explicitly return the response object. There is also the issue of explaining to people that they need to read `Request.stream` in order to get the body of the request.

[2017-01-12 11:54] sagarrshd opened #969 "Adding new feature : Rate Limiting(Throttling)"
Rate limiting(throttling) is an important feature every web framework should possess. Please consider adding it to your feature list.

[2017-01-12 19:32] androiddrew commented on #966
Sounds like you should submit a pull request.

[2017-01-13 03:21] jmvrbanac commented on #966
@roeih-stratoscale Thank you for bring this up and providing a great use-case for adding in this capability! As it sounds like you’ve already made some effort in putting together a fix, it would be awesome to see that in a PR. If you don’t have the time at the moment that's perfectly fine. This change sounds like a great starter project as well, so I’m sure someone else in the community could pick

[2017-01-13 11:43] lokeshmeher opened #970 "Doc site: On small screen height, sidebar ("Navigation") clips at bottom."
Using a laptop with 768 pixels height resolution.
![sidebar_clip](https://cloud.githubusercontent.com/assets/13870149/21928904/8a6fef78-d9b3-11e6-847f-af666a42c113.png)

[2017-01-15 07:54] roeih-stratoscale commented on #966
@jmvrbanac, I just wanted to know if this enhancement is interesting to anyone.Now that I know it is, I'll open a PR.

[2017-01-20 06:45] hoylen commented on #966
+1 since keeping the slash is important for signatures in OAuth 1.0 too. Not to mention someone might make the absence or presence of a trailing slash significant to their application.

I wonder if it would be better if the default behaviour should be to keep the slash, and the option is there to remove it? Obviously that would be a breaking change in behaviour, so happy with either behaviour.

[2017-01-20 15:43] kgriffs commented on #966
Thanks everyone, this is good feedback. We can look into changing the default for 2.0, but until then we'll need to avoid making any breaking changes.

[2017-01-24 01:02] kgriffs commented on #960
Sounds good, we'll take a look at the PR. Thanks!

[2017-01-24 15:44] kgriffs commented on #959
Fixed by https://github.com/falconry/falcon/pull/937

[2017-01-24 15:44] #959 closed

[2017-01-24 15:49] kgriffs commented on #423
@lindseybrockman just checking in to see if you are still working on this, or if you have some WIP code you would like to share for another contributor to pick up?

[2017-01-24 17:20] kgriffs opened #975 "Evaluate the design and implementation of middleware as a whole"
Things to discuss:

- Free functions vs. grouping in a class
- Quality of the implementation of independent execution
- ~~Defaulting to independent execution~~ already default as of 2.0+

[2017-01-24 17:54] lindseybrockman commented on #423
@kgriffs just opened a WIP PR for another user to grab! https://github.com/falconry/falcon/pull/976

[2017-01-24 18:33] kgriffs commented on #975
See also: https://github.com/falconry/falcon/pull/926

[2017-01-24 20:45] #835 closed

[2017-01-25 00:31] kgriffs commented on #966
Fixed in #972

[2017-01-25 00:31] #966 closed

[2017-01-25 07:44] EmilStenstrom commented on #835
Thanks! ❤️

[2017-01-25 19:07] kgriffs commented on #423
Thanks!

[2017-01-26 15:32] #970 closed

[2017-01-26 16:24] kgriffs commented on #969
Would this be better as a standalone package (ala flask-limiter) or built into the framework?

[2017-01-26 21:10] kgriffs commented on #418
@lwcolton thanks for taking this!

I'm open to other names, so "query" would be fine.

My main concern is backwards-compatibility. We can have `params` return something that is `dict`-like, but there's always the chance that we miss some edge-case behavior of a `dict` that breaks someone. It would probably be safer to convert `ParameterSource` to a `dict` (and memoize the result) that is then retu

[2017-01-26 21:25] kgriffs commented on #953
@lwcolton I'm not necessarily opposed to using cgi.FieldStorage but we should see if there are any advantages to forking code from werkzeug, for example.

[2017-01-26 21:26] kgriffs commented on #858
This is now available via https://github.com/falconry/falcon-require-https

[2017-01-26 21:26] #858 closed

[2017-01-26 21:40] kgriffs commented on #825
There's an add-on in the works for this here: https://github.com/yohanboniface/falcon-multipart

Also, we are discussing adding support directly into the framework: https://github.com/falconry/falcon/issues/953

[closing this in favor of further discussing on #953]

[2017-01-26 21:40] #825 closed

[2017-01-26 21:46] kgriffs commented on #145
FWIW, a few add-ons have cropped up to address this in terms of JSON:

* https://github.com/AndreiRegiani/falcon-jsonify
* https://pypi.python.org/pypi/falconjsonio/1.0.1
* https://pypi.python.org/pypi/falcon_json

I think it would make sense to have something basic that you get out of the box, and then either make it extensible or replaceable by 3rd-party add-ons for advanced use cases.

[2017-01-26 21:49] #788 closed

[2017-01-26 22:00] kgriffs commented on #471
Note: As of 1.0.0 form data is no longer automatically parsed by default.

http://falcon.readthedocs.io/en/stable/api/api.html#RequestOptions.auto_parse_form_urlencoded

Also note that we are working on a new interface for forms. Happy to get your feedback on these issues:

#418
#953

[2017-01-26 22:01] kgriffs commented on #460
Completed as: https://github.com/falconry/falcon-require-https

[2017-01-26 22:01] #460 closed

[2017-01-26 22:02] #703 closed

[2017-01-26 22:35] kgriffs opened #989 "Create a sphinx extension to link standard types, such as ``True``, etc."
Would be nice if it could just do a search for both Python and Falcon types, given ``SomeType``. That way, the docstrings still look nice (don't have to pollute with :class:`foo` markup).

[2017-01-27 03:19] jmvrbanac commented on #947
@sevazhidkov Is this still an issue for you? I’m having difficulty replicating the issue you’ve described. For me, the `set-cookie` header is coming through on both the cli and in Chrome. It makes me wonder if this is no longer an issue or there is another service between Falcon and your client that is stripping out the header. If you're still experiencing this behavior, could you provide more inf

[2017-01-27 15:43] #796 closed

[2017-01-27 20:20] kgriffs commented on #967
Hmm, interesting idea. Since `path` is simply `req.path`, you might just pass in `req` instead, e.g.:

[code]

If we make this a breaking change, it will have to wait for 2.0. Alternatively, we could introduce a new method that, if present, is called instead of find(), e.g.:

[code]

Alternatively, we could wrap `find()` with a shim when `search()` is not available, or use it directly when it is.

[2017-01-27 20:23] #960 closed

[2017-01-27 22:27] kgriffs commented on #951
Fixed by #940

[2017-01-27 22:27] #951 closed

[2017-01-29 15:38] sseg commented on #967
I'm in favour of branching within `_get_responder` as it reads simply and introduces very little overhead for both the default router and those implementing the new method.

There's a risk that whichever name is chosen for the new method could already be used in the namespace of a user's custom router. We could introduce a new keyword argument to the API class that allows users to specify which me

[2017-01-30 15:35] arindamchoudhury opened #997 "errors.HTTPInvalidParam(msg, name) when using dictionary in simulate_get"
Hi,

[code]
this works. But,

[code]

this gives following error:
[code]

demo code is available here: [https://github.com/arindamchoudhury/demo.git](url)
 Thanks,
Arindam Choudhury

[2017-02-01 10:53] gstrauss commented on #703
FYI: for WSGI under lighttpd 1.4.x: https://redmine.lighttpd.net/projects/lighttpd/wiki/HowToPythonWSGI

[2017-02-02 21:43] montao opened #998 "Worker timeout when posting between handlers"
I got a worker timeout when trying to do http from one handler to another in the same app. This was due to starting with only one worker, so it has be resolved.

[2017-02-05 20:01] phoenix911 opened #999 "[need info] add variable routes?"
I'm trying to make a url shortener for my app. Assuming i have thousands of shortened url with me with their respective full length url in my database, Is there any way to define one route (something like "/qwertyu") and route them to there respective URLs?

[2017-02-05 20:03] phoenix911 commented on #969
we can always use **exception falcon.HTTPTooManyRequests** to limit rate

[2017-02-06 07:05] phoenix911 commented on #999
never mind. Found the solution.

[2017-02-07 10:15] masellfoodpanda opened #1000 "Add REQUEST_URI to simulate_request"
When testing api the `REQUEST_URI` header in request is missing. But when running on uWsgi the header is present. Please add `REQUEST_URI` to the simulate_request methods.

[2017-02-07 10:19] #1000 closed

[2017-02-07 10:19] masellfoodpanda commented on #1000
Can use `req.uri` instead.

[2017-02-14 01:42] sseg commented on #967
This issue is resolved with: https://github.com/falconry/falcon/commit/ad583b9e170361bbc6258997ff11c69bc8ac081f, https://github.com/falconry/falcon/commit/572d3ac90792ec4751fae946126cb718bc221c36, https://github.com/falconry/falcon/commit/ee89b7c9ffcd373900a8c3e8090c6ed90e1f4631

[2017-02-22 06:46] Woolworths commented on #969
I would also want this, but it is absolutely not appropriate for a "bare metal" framework as it would require database i/o to work.

[2017-02-23 06:58] kornicameister commented on #997
@arindamchoudhury, tested this with **falcon==1.1.0** using your demo

[code]

what version of falcon did you use ?

[2017-02-23 07:08] kornicameister commented on #922
how does it go with

taken from [here](http://falcon.readthedocs.io/en/latest/changes/1.2.0.html)

[2017-02-23 07:28] kornicameister commented on #899
@pikkupr I've been recently working on adding support for [monasca-api](https://github.com/openstack/monasca-log-api) and it totally worked for me.

my apache configuration looked sth close to:

[code]

and, respectively, some proof:
[code]

[2017-02-23 07:29] kornicameister commented on #853
+1

[2017-02-24 04:43] jmvrbanac commented on #853
That is an interesting idea. I suppose it might make it more approachable to people. However, It would introduce a permanent dependency in Falcon. This would affect Debian and Ubuntu's `python-falcon` and `python3-falcon` packages unless we vendor it back into Falcon.

[2017-02-24 09:21] kornicameister commented on #853
I am not that much into deb packaging, but I guess that's not that much different from RPMs.
I'd built **python-falcon-router** and used that as dependency (both build and runtime, I guess) for **python-falcon**

[2017-02-24 16:42] jmvrbanac commented on #853
I doesn't look that different. It's not a big problem. I'm just mentioning it as introducing new deps can cause distro package builds to fail and we want to be good neighbors. If we did something like this, we should probably contact whomever builds those packages and make sure they're aware of the changes. Alternatively, we could vendor it; which makes our builds a little more complicated, but re

[2017-02-24 18:31] jmvrbanac commented on #853
@kgriffs perhaps this would be good candidate to add in for some of the changes we were talking about for 2.0? What do you think?

[2017-02-24 19:31] kornicameister commented on #775
Shouldn't possible fix refer first to **Accept-Charset**. AFAIK this is the default place where charset should be defined ?

[2017-03-01 08:24] hhschu opened #1004 "Cannot handle UTF-8 route"
When UTF-8 characters present in the route, either as part of a static URL or as a variable, Falcon has trouble handling requests.

In the case of static URL, for example `app.add_route('/foo/bar/測試', SomeResource())`, I get a 404 error when requesting this URL.

If I have a route `app.add_route('/foo/bar/{something}', SomeResource())` like this, sometimes I get a 400 and a message of _Invalid HTT

[2017-03-07 15:01] wangyugui opened #1005 "Circularizing and trimming is still needed for FALCON result?"
Circularizing and trimming is still needed for FALCON result?

If the input of FALCON is subreads, should there be no needs for Circularizing and trimming such as
https://github.com/PacificBiosciences/Bioinformatics-Training/wiki/Circularizing-and-trimming

[2017-03-07 15:03] wangyugui commented on #1005
please delete this issues.

It should be sent to https://github.com/PacificBiosciences/FALCON

[2017-03-07 22:38] embatbr opened #1006 "405 when sending PUT requests"
I defined a `on_put` method, 50% of the time the method is not allowed (I get the 405 and other times, the 200).

This is where I add the routes:

[code]

This is the base handler:

[code]

And this is the child class:

[code]

I am using Gunicorn 19.7.0. Am I doing something wrong? Shouldn't the method be allowed once I have a `on_put` defined?

[2017-03-07 23:08] embatbr commented on #1006
It seems that it was me being a noob. I haven't realized until now that I had executed some time the Gunicorn with **&**. The result: I had two Gunicorn processes running in background, and at least one of them with the older version, before the implementation of the `on_put`.

[2017-03-07 23:11] butla commented on #253
@kgriffs So I guess that after merging #934 this can be closed?

[2017-03-07 23:12] kgriffs commented on #253
Indeed, good catch! Thanks!

[2017-03-07 23:12] #253 closed

[2017-03-09 17:50] kgriffs commented on #1006
No worries, glad to know it doesn't seem to be a framework bug!

[2017-03-09 17:50] #1006 closed

[2017-03-14 22:17] macdjord opened #1007 "Feature request: get_param_as_datetime"
The `get_param_as_date()` function is useful, but what I need for my current use case is a date _and time_.

[2017-03-24 17:42] #1005 closed

[2017-03-25 20:20] arashsoheili commented on #955
The `@falccon.before()` hook is your best choice for this. Just decorate any route that needs the auth with it.

[2017-03-25 20:53] arashsoheili commented on #956
Add binary to your stream and it works in both cases.
`resp.stream = open(fullpath, 'rb')`

[2017-03-26 04:44] jmvrbanac commented on #956
To @arashsoheili's point, I believe this is a Python 2 vs 3 issue here. Your code should work perfectly fine under Python 2.7 as `bytes` is just a string in 2.7. However, in Python 3, bytes is actually a real concept which is why wsgiref is having a problem with your stream.

As a side note, Falcon should work under any server that supports the WSGI spec. Personally, I've only used Falcon under gu

[2017-03-26 06:29] #956 closed

[2017-03-31 16:03] btegs opened #1008 "Status on compatibility with asyncio/uvloop for Python 3"
The Sanic framework is currently gaining steam as a great Python 3 based framework running on uvloop. Since I use Falcon for Python 2 (PyPy), has there been consideration in tapping into uvloop for Falcon? Heck, even if uvloop is not installed or available (like lets say PyPy3 3.5), it takes advantage of asyncio.

I know that Sanic also uses aiofiles and httptools

[2017-04-03 09:29] Code-ReaQtor commented on #148
Why not add wheezy.web to the [metrics](https://falconframework.org/#Metrics)?

[2017-04-04 14:19] dirkschneemann opened #1010 "Simulate multipart/form-data file upload with Falcon's Testing module"
This simple Falcon API will take a `HTTP POST` with `enctype=multipart/form-data` and a file upload in the `file` parameter, returning the file's content to the caller:

[code]

To try this out, create a textfile with some content and send to the API via `curl -F "file=@sample.txt" localhost:8000`.

I would like to test this API now with Falcon's [testing utilities](http://falcon.readthedocs.io/en

[2017-04-04 16:08] golightlyb opened #1011 "[SOLVED] Middleware six/attribute error"
Installed falcon through pip(3) today, and tried to use a simple Middleware example from the Quickstart, with error.

**error.py:**

[code]

**Running `python3 ./error.py` gives.**

[code]

**Versions**

[code]

Many thanks for any help

[2017-04-04 16:10] golightlyb commented on #1011
import falcon

class TestMiddleware(object):
    def process_request(self, req, resp):
        pass

app = falcon.API(middleware=[TestMiddleware()])

Sorry - just realised. Didn't instantiate the class. Should be TestMiddleware**(),** not TestMiddleware.

Please mark as closed!

[2017-04-07 21:11] mcm opened #1013 "Middleware process_resource isn't called for sinks"
This may be intentional, but I couldn't find anything in docs to confirm that other than some discussion on #691... even there, though, it wasn't necessarily clear that this behavior's intentional.

If we have a process_resource method on middleware, it's not called when a sink is matched, since `resource` is `None` inside of `api.__call__`. Personally I would consider a sink to be a resource, but

[2017-04-09 20:02] #1011 closed

[2017-04-12 23:43] swistakm commented on #145
I see that this feature is constantly pushed to next versions without any agreement on how it could be designed. I was postponing the implementation of content negotiation in my [graceful](https://github.com/swistakm/graceful) project (see swistakm/graceful#13).

Since I am doing some major redesigns in my project I decided to give this problem a try and experiment a bit with different approaches.

[2017-04-21 03:44] fengfangqian opened #1020 "req.get_param It could not be parsed as JSON"
like the pic   ,the json format is right  why, it's bug??

![qq 20170421114153](https://cloud.githubusercontent.com/assets/3350372/25261988/bf8ce7ee-2687-11e7-8807-37e50ec240d8.png)
![qq 20170421114205](https://cloud.githubusercontent.com/assets/3350372/25261989/bf919776-2687-11e7-9a89-5383fbff67dc.png)
![qq 20170421114230](https://cloud.githubusercontent.com/assets/3350372/25261990/bf92ce20-2687-

[2017-04-21 05:19] joidegn commented on #1020
Try urlencoding the json before appending it to the url.

[2017-04-24 11:15] fengfangqian commented on #1020
how can i get post data?
i use req.get_param get the post data, must query_string

[2017-04-25 01:49] fengfangqian opened #1022 "how get the post data?"
hi,how can i get the post data,when i use req.context  but it return empty,so what can i use??

[2017-04-25 17:05] #713 closed

[2017-04-25 17:07] #967 closed

[2017-04-25 17:13] #792 closed

[2017-04-25 17:14] kgriffs commented on #418
Moving to Falcon 2.0 to allow us to make breaking changes.

[2017-04-25 17:18] kgriffs commented on #969
OK, sounds like it would be best to make this a standalone package, perhaps under the falconry org unless someone else would like to maintain it.

[2017-04-25 17:31] kgriffs opened #1024 "Improve support in Request for accessing proxied host and IP information"

[2017-04-25 17:32] kgriffs opened #1025 "Implement `__repr__` for main classes to aid in debugging"
Classes should include Request, Response, HTTPError, etc.

[2017-04-25 17:35] kgriffs opened #1026 "Add MessagePack support to the test client"

[2017-04-25 17:41] lwcolton commented on #418
Cool, sorry for the lack of activity I was working on some Node.js stuff
for a couple months but I am back on Python now at a shop that uses falcon
so still looking to contribute here

On Apr 25, 2017 12:15 PM, "Kurt Griffiths" <notifications@github.com> wrote:

[2017-04-25 17:42] kgriffs opened #1027 "Falconry auth package"
Authentication is a commonly-requested feature, and so I think it would make sense to have an officially-supported auth package under the falconry org. 3rd-parties can continue to create and maintain additional packages that provide additional features.

Must-haves:

- [ ] Basic auth
- [ ] Oauth2

Nice-to-haves:

- [ ] Role-based authorization (decorate resources or responders with required roles)

[2017-04-25 17:51] kgriffs opened #1028 "Give falconry.org a 2.0 facelift"
Redesign the website to let visitors know the framework is progressing, and to fix the eyesore that is the benchmark tables.

[2017-04-25 17:52] kgriffs opened #1029 "Remove all deprecated behaviors and shims"
Grep the code for "deprecated", etc. and remove relevant code/interfaces.

[2017-04-25 17:59] kgriffs opened #1030 "Token Bucket: Add Redis Backend"

[2017-04-25 18:20] kgriffs commented on #826
Please let me know if this is still an issue and we'll reopen.

[2017-04-25 18:20] #826 closed

[2017-04-25 18:26] kgriffs commented on #847
Hi @lvalladares, in your case would it be possible to use a [custom error handler](http://falcon.readthedocs.io/en/stable/api/api.html#falcon.API.add_error_handler) to receive the default exception type and raise a different exception instead? Or you could raise a custom exception type in the first place and use an error handler to serialize the error (setting req properties accordingly).

[2017-04-25 18:40] kgriffs commented on #852
Hi @pressyfdo, what web server are you using to host this app? Can you share your configuration? `Request.app` simply returns the `SCRIPT_NAME` WSGI environment variable, which is controlled by the server configuration. It looks like the server is including the base portion of the path (`app`) in both the `SCRIPT_NAME` and `PATH_INFO` WSGI variables, contrary to the WSGI specification.

You can se

[2017-04-25 18:52] kgriffs opened #1031 "Decode non-ASCII UTF-8 characters in the request path before routing (Python 2.6/7 only)"
HTTP/1.1 allows for non-ASCII characters to be included in URLs via UTF-8 percent-encoding. WSGI servers decode the URL to bytes, leaving a UTF-8 bytestring under Python 2.6/7 that must be decoded to a `unicode` string for proper routing, etc. when non-ASCII characters are present. This is a breaking change.

This means that req.path would now always be a `unicode` type, and we'll need to note thi

[2017-04-25 18:54] kgriffs commented on #1004
Hi @hhschu, to help me reproduce this, can you let me know what WSGI server and Python version you used in your tests? Also, when requesting the URL are you percent-encoding it first per the HTTP/1.1 specification?

[2017-04-25 19:07] hhschu commented on #1004
Python version: 3.6
WSGI by gunicorn version 19.6.0

And no, I later found out that I did not percent encoding my UTF-8 string first. After percent encoding, this works smoothly. Sorry for the trouble.

[2017-04-25 19:10] kgriffs commented on #1008
Hi @btegs, this is something that's been on my radar for a while, and I'm hoping to dig into async support during this year's PyCon sprint (anyone interested is welcome to join). The tricky bits are that (1) there is no async 'WSGI' standard to target and (2) we need to continue supporting WSGI alongside asyncio and twisted (I'd like to support both of those frameworks if possible) without forking

[2017-04-25 21:18] #999 closed

[2017-04-25 21:25] kgriffs commented on #1007
In your case, how is the date/time string formatted?

[2017-04-25 21:28] BenjamenMeyer commented on #145
@swistakm read through your proposal...quite interesting and very good write-up. Thanks!

One thing I would caution - let's not try to be too Smart about this. One reason I initially got introduced to Falcon was b/c the Pecan + WebOb framework we were using *was* being too smart and didn't allow us to do what we wanted to do as it had its own ideas, etc on how things should work which were not nec

[2017-04-25 21:30] kgriffs commented on #1022
Can you elaborate on how you are using `req.context`? Do you have a middleware component or a hook that is adding data to it?

Also, is the data being posted in the body of the request (`application/x-www-form-urlencoded`)?

[2017-04-25 21:53] kgriffs commented on #1013
Hi @mcm, I can see how a sink might be considered a resource in the abstract, but in terms of implementation, the former is universal responder method, while the latter is a collection of responders wrapped in a class. Therefore, a given `process_resource()` method would have to distinguish between the two.

I can think of a couple of ways we might handle this, but before we get into that, could y

[2017-04-25 23:24] lvalladares commented on #847
Yes, it should work. Thanks, I will try and come back if any problem happens

El mar., abr. 25, 2017 2:26 PM, Kurt Griffiths <notifications@github.com>
escribió:

[2017-04-26 06:05] navyad commented on #1025
I will be working on this.

[2017-04-26 14:48] ZeeshanSultan opened #1033 "Falcon Post Params"
[code]

The params is returned as an empty dict.

i've tried it with
`print json.dumps(urlparse.parse_qs(resp.stream.read())`

what's the fix to the real params attribute ?

[2017-04-26 15:42] bachrc opened #1034 "JSON load can't read req.stream on POST request"
As the title says, after my POST request, `json.load` seems that he can't read the `req.stream`. Here's my unworking code :

[code]

And here's what uWSGI returns me when I do my POST request :

[code]

I'm using the Chromium extension Postman to do my POST requests.

I actually tried a lot of things, and with this bribe of code, I can read the answer :

[code]

I'm not convinced of the efficiency

[2017-04-26 16:09] bachrc commented on #1034
Okay. So it seems that to use your example, you should be in Python 3.6, and I was in 3.5 . Lost 3 hours for this. https://docs.python.org/3/library/json.html#json.load

[2017-04-26 16:09] #1034 closed

[2017-04-26 17:32] kgriffs opened #1037 "Drop support for Python 2.6"
Remove any code needed to support Python 2.6, update docs, and remove package classifier.

[2017-04-26 18:00] kgriffs commented on #1033
Hi @ZeeshanSultan, you can use [RequestOptions.auto_parse_form_urlencoded][1] to configure the framework to automatically parse form params and merge them into query string params (if any) so that they are accessible via `req.params`.

[1]: http://falcon.readthedocs.io/en/stable/api/api.html#RequestOptions.auto_parse_form_urlencoded

[2017-04-27 14:08] macdjord commented on #1007
'yyyy_mm_dd_hh_mm_ss', I think. I can no longer check; I've changed jobs.

[2017-05-09 00:51] jmvrbanac commented on #847
Closing this for now. Please re-open this issue if you run into any problems.

[2017-05-09 00:51] #847 closed

[2017-05-09 00:54] jmvrbanac commented on #947
Closing this issue for now. Please re-open this issue if you run into any issues. Thanks!

[2017-05-09 05:18] jmvrbanac commented on #145
A lot of good ideas on this issue. This is a tough issue to address in a flexible enough way to solve a good percentage of use-cases. Over the next couple weeks, I'm going to be using a lot of the feedback and ideas here to help put together a solution. Keep your eyes out for a PR.

[2017-05-09 06:54] pressyfdo commented on #852
I use `gunicorn` application server to host this application.

For the url `http://127.0.0.1/app/url`,

The output after executing the above code is,

[code]

and for the `falcon` app with `gunicorn`, the value of `req.env` is,

[code]

[2017-05-09 11:32] cclauss commented on #1037
While doing this, it might be useful to add Python _3_.6 to the testing.  Those changes will touch all the same files.

[2017-05-09 18:30] gdude2002 opened #1046 "Multiple cookies with same name in request returns only one"
This looks like it could be relatively simple fix, but it would involve changing the cookie API a bit.

If my browser has two cookies set using the same name - let's call this `_csrf` for example - they are both sent to the server. This is the string returned by `req.get_header("Cookie")`:

[code]

However, only one of these is made available in `req.cookies`.

It would be preferable to have a met

[2017-05-10 19:17] kgriffs opened #1047 "Return an instance of Response from responders, hooks, middleware"
Let's explore the ramifications of having responders, hooks, and middleware methods return an instance of Response rather than simply editing `resp` in-place. Note that Hooks and middleware may choose to simply pass along an instance of `resp` that they receive.

[2017-05-11 00:38] #1025 closed

[2017-05-15 08:55] cnds commented on #1020
i think you need to try req.stream.read()

[2017-05-17 08:00] softgripper commented on #838
This is EXACTLY what I'm after.

I'm basically making my own server that wraps an external API, but does some processing on some of the functions, and is accessed by ajax so need to avoid CORS and my own caching.

I've added a route decorator and basically do this.

[code]

Then the URL I use in the super is

[code]
Of course the 'timestamp' param in the above example does not get passed, but for

[2017-05-20 00:38] jmvrbanac opened #1051 "Implement a Quickstart CLI"
Setting up a new Falcon API takes longer than it probably should. Also, quite a few newer contributors ask questions about how to start up and structure a new Falcon API project. While we have some documentation around this, it would be great if we make this much easier. This would be sort of like `sphinx-quickstart` only for Falcon.

[2017-05-20 18:26] jmvrbanac commented on #998
This sounds like an issue with your WSGI server configuration. How are you hosting your Falcon App? Gunicorn, uWSGI, wsgiref, something else?

[2017-05-20 18:50] jmvrbanac commented on #962
Sorry about taking so long in responding to this issue. I personally haven't run into this issue before. However it sounds like you're relying on a another middleware to convert your body dictionary as JSON. Out of the box, Falcon assumes the body is just string that can be encoded. So if you're not currently using a middleware to handle this, a simple `json.dumps(...)` should solve the problem.

[2017-05-20 19:39] kgriffs commented on #1020
Hi @fengfangqian, if you're passing JSON in the query string, you'll need to set the [auto_parse_qs_csv](http://falcon.readthedocs.io/en/stable/api/api.html?highlight=auto_parse_qs_csv#RequestOptions.auto_parse_qs_csv) option, e.g.:

[code]

For form posts (using `application/x-www-form-urlencoded`) you can either read and parse the body directly from `req.stream`, or set the [auto_parse_form_urle

[2017-05-20 19:41] kgriffs opened #1052 "Update the FAQ to talk about consuming a JSON query string value"
See also: https://github.com/falconry/falcon/issues/1020

[2017-05-20 20:30] yasek commented on #844
Hi!
I'm working over it right now. I've rewritten tests, doing cosmetic changes. I hope it'll be done this week: https://github.com/yasek/falcon/tree/feature/ddt_to_pytest

[2017-05-20 23:33] jmvrbanac commented on #955
It really depends on your use case. If you only have a couple of simple routes such as a healthcheck endpoint, then it's quite easy just to add simple conditional in your auth middleware's `process_request(...)`. If you need more expansive and/or granular controls, then I would either add an attribute to the resource and check it in the middleware `process_resource()` or use the hook/decorating op

[2017-05-21 00:13] jmvrbanac commented on #922
This is kinda a duplicate of #145. As a result, I'm going to go ahead and close this issue. On the positive side, we're in the process of making this easier in this PR: #1050 .

[2017-05-21 00:13] #922 closed

[2017-05-21 05:02] kgritesh commented on #1027
@kgriffs I would love to work on this. I recently wrote an authentication middleware called  [falcon-auth](https://github.com/loanzen/falcon-auth) and would love to hear your thoughts on how can i either make it better or if need be rewrite it according to what you have in mind.

[2017-05-21 08:07] kgritesh commented on #584
@kgriffs i have been using following pattern in my codebase to support both detail and list inside one resource

[code]

[2017-05-21 17:23] kgriffs opened #1054 "Start a falcon rate limiter project"
We're looking for someone who would like to help us start a falcon rate limiting project. Depending on performance, etc. we may be able to simply build on top of https://limits.readthedocs.io/en/stable/. The implementation should be flexible enough to support additional algorithms beyond moving window (whether or not that is implemented via limits), such as token bucket.

[2017-05-21 17:44] kgriffs opened #1055 "Spike: Investigate async options, create design proposals and proof of concepts"

[2017-05-21 17:44] kgriffs opened #1056 "Development server"
The updraft development server: https://github.com/falconry/updraft

**Desired Features**:
* Auto-reload
* Full pdb support
* Legible Tracebacks

**Notes:**
*  Should probably log out a note about this being a development server.

[2017-05-23 17:09] jmvrbanac opened #1059 "Investigate unifying the constants as enum or enum-like objects"
Currently we have a bunch of constants such as HTTP_XXX. We should investigate a more unified approach using enum-like objects (or a backward compatible enum library).

This should approached as a non-breaking change; unless it's targeted to 2.0.

[2017-05-23 21:25] jmvrbanac opened #1061 "Create an official Falcon stable PPA build for users of older distributions"
Some of older distributions are using quite old versions of Falcon. It would probably be good if we created a PPA containing the stable versions of Falcon.

[2017-05-24 00:26] jmvrbanac opened #1062 "Update website benchmarks for 1.2.0"

[2017-05-24 03:35] ofek commented on #1059
+1

I made a POC earlier that works on Python 2 & 3 [https://github.com/ofek/venum](https://github.com/ofek/venum). You don't even have to include it as a dependency as it's only 4 LOC.

[code]

[2017-05-24 06:13] #1062 closed

[2017-05-25 00:22] #933 closed

[2017-05-25 17:32] #844 closed

[2017-05-31 16:55] kgriffs commented on #145
Everyone, please take a look at https://github.com/falconry/falcon/pull/1050 and share your thoughts.

[2017-05-31 17:41] ulgens commented on #321
Any progress?

[2017-06-01 06:36] kgritesh commented on #1054
@kgriffs i would like to help out on this project. Do  I need to present some proposal first, or create a MVP and make a PR?

[2017-06-02 21:04] BenjamenMeyer commented on #145
@kgriffs overall I like it; I'd move away from the default value and add the abstract class for the handlers, but it looks promising.

[2017-06-06 10:44] fengfangqian opened #1068 "Why the post over the data will become a plus sign"
![image](https://cloud.githubusercontent.com/assets/3350372/26825522/f35107d4-4ae7-11e7-9f30-d19c397127ef.png)
![image](https://cloud.githubusercontent.com/assets/3350372/26825534/016a2e7c-4ae8-11e7-8c69-2dc51b4a2a15.png)

req.stream.read()

pelease help me thank you

[2017-06-06 11:25] ak64th commented on #1068
Because it's `urlencoded`...
Try post raw data

[2017-06-06 14:20] cnds commented on #1068
![capture](https://cloud.githubusercontent.com/assets/16872316/26833893/4e44146a-4b06-11e7-94b7-7d0758b752fd.PNG)

try this

[2017-06-10 06:49] kgritesh commented on #584
@kgriffs any comments on this?

[2017-06-10 06:50] kgritesh commented on #1027
@kgriffs did you take a look at  [falcon-auth](https://github.com/loanzen/falcon-auth). Does it look like something that can be used? I am more than happy to add OAuth2 and role based authorization support.

[2017-06-15 05:38] #145 closed

[2017-06-23 08:48] ajan1019 opened #1070 "How to compile Falcon using Cython"
I followed below steps when installing falcon

[code]
Everything went well.
But when I tried to do load test(Gatling) I can't find any notable difference between both.
Both(With Cython and without Cython) gives the same performance.

Do we have any way or log file to confirm that api is compiled by Cython.

[2017-06-23 11:05] tomchristie commented on #1008
Although it's a moving target, the work here http://www.uvicorn.org/ is definitely now getting towards a usable asyncio WSGI-equivalent interface, and a corresponding server implementation.

It'd be interested to consider if that callable interface could be integrated against Falcon's request/response cycle, and what API modifications would be needed (either side) in order to do so.

[2017-06-23 15:21] btegs commented on #1008
@kgriffs - How did the sprint at PyCon go this year?

[2017-06-23 15:24] jmvrbanac commented on #1008
@tomchristie I've been thinking the same thing. I've been meaning to carve out some time and try hooking up the two, but lately I've been caught up with work related projects. Hopefully, I'll have some time here soon to give it a shot. Great job on those docs btw!

[2017-06-23 16:05] tomchristie commented on #1008
No great hurry, just good to get the conversation rolling. I'm more than willing to lend a hand further down the line if that ends up being useful. The most obvious points of difference will be any API around streaming request/response bodies.

[2017-06-26 16:27] jmvrbanac commented on #1007
I believe this is resolved with #1053 and should be included in the next release.

[2017-06-26 16:27] #1007 closed

[2017-06-26 16:31] kgriffs commented on #1055
Let's try to come up with a POC that works with Tom's https://github.com/encode/uvicorn

[2017-06-26 19:34] jmvrbanac commented on #618
I believe this was tackled as a part of #1058 during the PyCon sprints and should be included in the next release (1.3).

[2017-06-26 19:34] #618 closed

[2017-06-26 21:59] jmvrbanac opened #1071 "Duplicated header entries in the docstrings for error classes"
Example: https://github.com/falconry/falcon/blob/master/falcon/errors.py#L77
This issue was noticed as a part of a PR review for adding in more error class types.
There should be only one entry for the headers argument in each docstring.

We need to go through all of the error classes and remove the duplicates.

[2017-06-26 22:00] kgriffs commented on #1071
Nice catch!

[2017-06-30 22:16] #1071 closed

[2017-07-21 05:48] ericxin1982 opened #1089 "I try to return request value but failed"
I post a {gender:'female', age:22, addr:'high tech'} to falcon, and I get_param addr, I can print, but when I set it back to resp.body,  from the postman output, it says Unexpected 'h'.

What is wrong, please help.

[2017-07-23 17:49] JamesRamm commented on #1010
@dirkschneemann

Here is how I test posting a zip archive to one of our endpoints.
The test function:

[code]

the POST handler:

[code]

As you can see, it actually uploads a file, rather than mocking it.
For using `file_wrapper`; Line 182 of `test_hello.py` in the falcon tests shows an example of using it. At the top of the file is the `FileWrapper` class.

My testing strategy here is broadly si

[2017-08-04 15:22] cnds commented on #1089
can you show us your detail error msg?

[2017-08-08 20:21] kgriffs commented on #1024
Implemented

[2017-08-08 20:21] #1024 closed

[2017-08-08 20:23] kgriffs commented on #423
Added initial support in 1.3. For the next release we still need to add `re` and `path` converters. These will need to use a different interface that allows for consuming more than one path segment. Also, these types of converters will be required to consume one or more complete path segments (no partial segments).

[2017-08-15 01:19] DE-HungVu commented on #740
I found an example. Allow me to post here for anyone who still looking for one:

from falcon.http_error import HTTPError
class MyHTTPError(HTTPError):
    def __init__(self, status, error):
        super(MyHTTPError, self).__init__(status)
        self.status = status
        self.error = error
    def to_dict(self, obj_type=dict):
        super(MyHTTPError, self).to_dict(obj_type)
        obj = s

[2017-08-15 01:25] vvvhung commented on #740
I found an example. Allow me to post here for anyone who still looking for one:

from falcon.http_error import HTTPError
class MyHTTPError(HTTPError):
    def init(self, status, error):
        super(MyHTTPError, self).init(status)
        self.status = status
        self.error = error
    def to_dict(self, obj_type=dict):
        super(MyHTTPError, self).to_dict(obj_type)
       obj = self.error

[2017-08-15 23:41] amirma commented on #1010
This is what I came up with based on what my Chrome does when I upload a file.

[2017-08-16 02:44] nZac commented on #219
@kgriffs I would be willing to help with this if there was a little direction for implementation.

[2017-08-18 15:51] kgriffs commented on #1070
Hi @ajan1019, if you pass `-v` to pip, it should show you the Cython output (look for lines starting with "byte-compiling".

It could be that other parts of your app are slow enough relative to the Falcon framework itself, that compiling just the framework with Cython doesn't make a noticeable difference. Profiling will help track down any slow algorithms or I/O that may need to be optimized

You

[2017-08-19 19:47] Mike667 opened #1102 "Can i create websocket connection?"
Can i create websocket connection without other applications?

[2017-08-19 23:19] #1070 closed

[2017-08-23 03:39] nZac commented on #219
I have an initial draft of a middleware available here: https://gitlab.com/skosh/falcon-helpers/blob/master/falcon_helpers/middlewares/statics.py

Is this something that should move into core or something that should move into the talons project?

[2017-08-23 16:05] kgriffs commented on #219
I think this is a common need that could be implemented without significantly complicating the core, so we should just bake it into falcon.API.

@nZac would you mind taking a stab at this? I like the general approach of the middleware POC above, but would like to see it integrated directly into falcon.API. A method can be added to allow for registering static routes:

[code]

The *file extension*

[2017-08-24 03:22] anekix commented on #1089
@cnds maybe you are setting to `resp.body` a dictionary? instead do like this:
[code]

[2017-08-24 03:25] anekix commented on #462
@kgriffs can I take this on me?

[2017-08-24 14:21] ericxin1982 commented on #1089
Thanks for your help, I would go get a try.

Thanks
Eric Xin

At 2017-08-24 11:23:01, "anekix" <notifications@github.com> wrote:

@cnds maybe you are setting to resp.body a dictionary? instead do like this:

import json
resp.body = json.dumps( {'gender':'female', 'age':22, 'addr':'high tech'} )

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitH

[2017-08-24 16:00] kgriffs commented on #462
@anekix go for it, thanks!

[2017-08-24 16:04] kgriffs commented on #1089
FWIW, 1.3 (final release in a week or two) supports serialization out of the box. See also: http://falcon.readthedocs.io/en/latest/api/media.html#media

[2017-08-26 05:17] jrgp commented on #321
I'm interested in using Websockets with Falcon as well.

[2017-08-29 21:22] kgriffs commented on #1102
Hi Mike, Falcon has so far been focused on HTTP use cases, so it does not support WebSockets. We are keeping an eye on the Django Channels effort to see where that goes and whether it would make sense for Falcon to also provide a unified protocol abstraction.

[2017-08-29 21:43] kgriffs opened #1107 "Optimize request cookie parsing"
In 1.3, the request cookie parser was changed to parse individual cookies so that malformed ones could be skipped, rather than giving up on parsing the entire header. However, this is significantly slower than parsing the entire header value in one shot, esp. since the SimpleCookie parser is rather inefficient.

We should be able to do better. We can start with the SimpleCookie code from the lates

[2017-09-08 02:31] carlwgeorge commented on #853
I maintain the Fedora and EPEL (RHEL/CentOS) packages for falcon.  It's not a big deal for me, I'll just submit a new package review for python-falcon-router if/when a split occurs.  Changing dependencies are a regular part of package maintenance.

[2017-09-10 23:10] jp99 opened #1110 "Send header and body in 1 packet?"
Hi,

it seems that when sending a reply to a post request, this reply is split into two packets ( a header part and a body part). Is there a way to force Falcon to put both parts in the same tcp packet?

I'm trying to implement a simple TR069 provisioning server, and the tested clients (Yealink and Grandstream) seem (as far as i understand from debugging) not to understand the reply when split int

[2017-09-11 10:26] iUwej commented on #1054
@kgriffs will this ship as  falcon feature or as an optional add-on?

[2017-09-14 02:39] santeyio commented on #1052
Hey @kgriffs, I'm a fan of the framework and would love to help out, thought I might be able to get my toes wet by doing some documentation -- would it be helpful if I sent you a PR for this?

[2017-09-14 07:29] pushshift commented on #321
+1 For any type of websocket functionality.  Would be great if we could find something workable.

[2017-09-15 16:33] kgriffs commented on #1052
Hi @santeyio, thanks for contributing! This looks like a great addition to the FAQ. 👍

[2017-09-15 16:48] kgriffs commented on #1110
Hi @jp99, unfortunately the WSGI specification prevents Falcon from having control over how the response is sent across the wire. Have you tried experimenting with different WSGI servers to see if there is one that can do what you need?

[2017-09-15 17:22] santeyio commented on #667
@kgriffs I can send a PR for this one -- it looks like no ones currently working on this issue, right?

[2017-09-15 17:53] kgriffs commented on #1055
As I've started looking into this, my first thoughts are to create an experience that shares the same interface across WSGI and uvicorn-style ASGI. For example:

[code]

[2017-09-17 06:37] santeyio commented on #667
@kgriffs would it be better if this `set_default_responders` method to take a `method_map` as an argument or a `responder` object?

[2017-09-18 09:32] Alfreddatui opened #1112 "req.stream.read(), the new file include the WebKitFormBoundary header, it makes my file corrupt"
this is my falcon code:

    def on_post(self, req, resp, email):
        local_path = create_local_path(req.url, req.content_type)
        with open(local_path, 'wb') as temp_file:
            body = req.stream.read()
            temp_file.write(body)

and the function of create_local_path is to make local_path become a directory_path/filename.ext
And after I checked the new file, it always corru

[2017-09-18 16:40] kgriffs commented on #1112
Hi @Alfreddatui, it looks like the server is receiving a `multipart/form-data` body.

Falcon does not currently support parsing files submitted by an HTTP form (``multipart/form-data``), although we do plan to add this feature in a future version. In the meantime, you can use the standard ``cgi.FieldStorage`` class to parse the request:

[code]

You might also try this [streaming_form_data](https:

[2017-09-18 16:44] Alfreddatui commented on #1112
Thanks!
Such an honour to be replied by the highest contributor of falcon.

Best Regards,
Alfred

[2017-09-19 01:44] jrgp commented on #321
Definitely. I have a use case for websockets + falcon I'd implement if support was there. I haven't gone the node route as I don't want to maintain two codebases for the same project.

[2017-09-21 06:27] vfaronov opened #1116 "Incorrect handling of commas inside a Forwarded header"
To implement [`Request.forwarded`](http://falcon.readthedocs.io/en/stable/api/request_and_response.html#Request.forwarded), Falcon splits the incoming Forwarded header on commas. Because of this, it cannot correctly handle forwarded-elements that contain a comma inside a quoted-string.

To reproduce, run the following `fwd_demo.py`:

[code]

under Gunicorn:

[code]

and send requests like this:

[

[2017-09-21 15:10] kgriffs commented on #1055
Related: #1055

[2017-09-21 17:23] kgriffs commented on #321
Hi everyone, I've started work on #1055 and so far [uvicorn](http://www.uvicorn.org) looks like a very promising (no pun intended!) avenue for adding WebSocket support to Falcon. I'd like to gather a few concrete use cases to help inform the design. If you can, please provide an overview of how you are using--or plan to use--WebSocket connections, including subprotocols (either IANA-registered or

[2017-09-21 22:27] pushshift commented on #321
@kgriffs,

Awesome -- thanks!  Quick question for you.  I understand from earlier in the conversation that you said Websockets uses the upgrade header in order for it to work correctly.  My question is whether SSE (Server Side Events) support within Falcon is doable currently?  My understanding is that SSE is more of a one-way channel from the server to the browser.

Does Falcon currently support

[2017-09-26 05:46] winglq commented on #648
same issue here. slash was url encoded

[2017-09-29 03:34] santeyio commented on #1107
Assuming no one else is working on this, I can take a shot at this

[2017-09-29 15:03] kgriffs commented on #667
Thanks @santeyio, I'll take a look!

[2017-09-29 15:30] kgriffs commented on #1116
Hi @vfaronov, good catch. Let's schedule this issue for the next release.

[2017-09-29 15:31] kgriffs commented on #219
Hi @nZac, just following up to see if you are still interested in taking this?

[2017-09-29 15:37] nZac commented on #219
Yea, sorry. Got busy. I will take a jab at this today.

[2017-09-30 00:25] kgriffs commented on #1054
@iUwej Probably as an add-on, but officially supported under the falconry umbrella.

[2017-09-30 00:26] kgriffs commented on #1054
@kgritesh It would be great if you could post a proposal here for community feedback.

[2017-09-30 00:40] kgriffs commented on #321
@pushshift The WSGI spec isn't really designed for things like SSE, but it should be possible with uvicorn/ASGI (see also: http://www.uvicorn.org/#streaming-responses). This would probably be an extension of #1055 since it is based on regular HTTP vs. WebSocket.

[2017-09-30 00:51] kgriffs commented on #584
@kgritesh I think that factory class is a reasonable approach. However, I would still like to build support for this sort of thing directly into the core framework since it is a common request. That being said, the built-in support should be entirely optional and allow for alternative approaches.

[2017-09-30 00:52] kgriffs commented on #1056
Let's pull this over from the other repo and merge it into core.

[2017-09-30 00:53] kgriffs commented on #462
Hi @anekix, just following up, were you still interested in taking this one?

[2017-09-30 00:55] kgriffs commented on #1051
Just a thought, but perhaps we could roll this into a "falcon-cli" that could start a development server, generate a QuickStart project template, and maybe even pull down templates from GitHub repos or something.

[2017-09-30 18:28] nZac commented on #219
@kgriffs I didn't quite get this done yesterday. What is your timeline for completion?

[2017-10-01 08:12] Alfreddatui commented on #1112
Hi, thank you for your help

I manage to get the data without the header by sending the data using object instead of formData. So using req.stream.read() will only read the data without the header.

[2017-10-01 08:12] #1112 closed

[2017-10-01 09:49] iUwej commented on #1047
This would have these responders, hooks, and middleware take a very functional approach. Objects that takes a req as params and have response as their out put.  ```(req: Request) => (resp: Response)```.  One can then begin exploring abstractions that would allow pipelining of these objects in a request cycle.

[2017-10-02 16:37] kgriffs opened #1120 "Consider changing context type to a bare class"
Consider changing from using a dict to a bare class and setting attributes on it, also removing the ability to use a custom class (since allowing for attribute-based access was the primary motivation for allowing the use of a custom context class in the first place).

I performed a few benchmarks under Python 2.7.13 and python 3.6.2 and discovered that using a bare class is actually faster in most

[2017-10-03 15:32] kgriffs commented on #1107
@santeyio that would be great, thanks!

[2017-10-03 15:34] kgriffs commented on #219
I'd like to get things wrapped up for a new release by the end of the month (October). Thanks! And don't forget to register for Hacktoberfest first so this can count. :)

[2017-10-03 15:35] kgriffs commented on #1107
@santeyio P.S. If you like, you might want to first register for Hacktoberfest so this will count towards that. 🎃

[2017-10-03 15:36] #856 closed

[2017-10-03 15:36] kgriffs commented on #1052
Fixed by #1111

[2017-10-03 15:36] #1052 closed

[2017-10-03 15:38] kgriffs opened #1121 "Experimental support for asyncio"
We'll probably want to label this as "experimental" in the first iteration since there will likely be feedback and perhaps immature dependencies.